[2021-08-16 13:22] vasilmkd commented on #2236
No, that's perfect. Thanks.

[2021-08-16 14:27] djspiewak opened #2238 "Parallel map2/map2Eval fails to short-circuit on error"
[code]

I believe the above hangs forever. It (correctly) aborts early if we invert the order of the operands.

The problem here is the implementation is done in terms of `Spawn[F]` rather than `Concurrent[F]`, meaning that it boils down to:

1. Start first fiber
2. Start second fiber
3. Join first fiber
4. Join second fiber

If the first fiber never returns, then we can't observe the completion o

[2021-08-16 14:51] armanbilge commented on #2238
Just a random idea, could you use `racePair` then join with the losing fiber?

Edit:

Ah, is this what prevents that?

[2021-08-16 14:59] djspiewak commented on #2238
Not quite. We *could* `racePair` but then we take on a lot of the performance costs of the old implementation. :-P I have a different idea actually involving separate supervisory fibers, though it *will* cost more than the current implementation. It will probably also cost more than using `Deferred`, but I'm not totally certain.

[2021-08-16 15:30] djspiewak commented on #2238
Confirming that the following test fails:

[code]

[2021-08-16 18:29] #2238 closed, assigned to djspiewak

[2021-08-17 23:32] vasilmkd opened #2242 "Document the behavior changes to `bracket/guarantee` between CE2 and CE3"
[code]

This line evaluates to `Left("Boom!")` on CE2 and `Right(42)` on CE3.

The short circuiting behavior of monad transformers w.r.t. `bracket/guarantee` has changed and we should explain it in the migration guide.

[2021-08-18 17:19] djspiewak opened #2244 "`timeout` eagerly creates `TimeoutException`"
This imposes a relatively significant cost (due to the stack trace construction) despite the common case where the timeout is *not* hit and thus the exception is not needed.

[2021-08-21 00:02] djspiewak opened #2251 "Sbt main process cancelation seems broken with timers"
#2250 illustrates a bit of an issue with the process cancelation in sbt when `fork := false`. For whatever reason, the fibers *don't* seem to be canceled entirely and the thread pools are not cleaned up. Needs verification and minimization.

[2021-08-23 09:10] monzonj commented on #173
Just wanted to drop here that I was using `IO.fromFuture(IO(future))` with http4s and was having deadlocks (during gatling tests with hundreds of concurrent requests, the `fromFuture` would hang and block any incoming request)

Using the solution here by @hilios instead of `IO.fromFuture` fixed it for me.

Not saying that `IO.fromFuture` has any problems, it is probably due to some wrong implicit.

[2021-08-23 09:14] vasilmkd commented on #173
@monzonj Are you running blocking code in the futures?

[2021-08-23 10:07] monzonj commented on #173
Hi @vasilmkd thanks for replying

Inside the future there is some IO, but even without any blocking the `IO.fromFuture` hangs. For instance:

[code]

I will try to create an isolated http4s app with this code to see if it's a real issue, or just the setup of my project.

[2021-08-23 10:11] vasilmkd commented on #173
If you can, please create a small app, note the versions of the libraries used (preferably a small sbt project) and we'll take a look. A reason why `IO.fromFuture` might lead to a deadlock is as I said blocking I/O or blocking actions inside the futures. `IO.fromFuture` brings the code that would be executed in the Future and executes it on the bounded thread pool of `IO`, and it might just happen

[2021-08-23 10:14] alexandru commented on #173
@monzonj this indicates to me that there's a concurrency issue — the difference between @hilios's solution and the official `IO.fromFuture(IO(future))` is that the later may not execute the future-producing task before hand. You might have an ordering issue.

What version of Cats-Effect are you using?

[2021-08-23 12:05] monzonj commented on #173
Hi

@vasilmkd Indeed I'm using `scala.concurrent.ExecutionContext.Implicits.global`

@alexandru  using http4s `0.21.26` which comes with cats-effects `2.5.1`

[2021-08-23 14:15] djspiewak commented on #173
@monzonj This definitely seems concerning! Would you mind opening a new issue and adding whatever details you can? It's particularly helpful if you can get anything approaching a shareable reproducer. My *guess* based on very little other than spidey sense is the same as Vasil's: it's probably some blocking operation within the `Future`, though Alex's hunch about a race condition is also possible.

[2021-08-25 00:00] djspiewak commented on #1029
Okay I'm pretty sure this is now tractable. I have a PoC for very low overhead tracking of suspended fibers. Task list to get this finished up:

- [ ] Merge @armanbilge's stuff so we don’t create conflicts (#2207)
- [x] Clean up my PoC and PR
- [ ] Merge @vasilmkd's timer stuff so we don’t create conflicts (#2252)
- [ ] Get Vasil to PR his magic on live fiber enumeration
- [ ] Write a thingy which

[2021-08-25 00:04] armanbilge commented on #1029
I think JS is tractable as well. We can copy in https://github.com/scala-js/scala-js-weakreferences/ under our own package and use a type alias to share the implementation. Then wherever the flag is to turn this on/off we also add a check if `WeakRef` is supported by the JS runtime. On Node.js we also have [signal handlers](https://nodejs.org/api/process.html#process_signal_events) and browsers wi

[2021-08-26 07:12] vasilmkd opened #2260 "The Mergify config for auto-merging dependencies is broken because of branch protections"
Ever since we added the branch protection for merging PRs to require an approving review before merging, the rule that automatically merges `scala-steward` dependency update PRs is now (understandably) broken.

I think we should just delete that specific rule.

@djspiewak

[2021-08-26 16:16] vasilmkd opened #2263 "The `LocalQueue` can starve the `batchedQueue`"
Thanks @adamgfraser for the reproduction.

[code]

[2021-08-27 16:50] #2263 closed, assigned to vasilmkd

[2021-08-27 19:33] djspiewak opened #2268 "Deprecate `interruptible(boolean)` and replace with `interruptible`/`interruptibleMany`"
By "deprecate" I mean "set to `private[effect]` and undo the currying". We need to maintain binary compatibility but we can break source compatibility with this change. The goal should be for `IO.interruptible(...)` to be equivalent to what `IO.interruptible(false)(...)` is *today*, while `IO.interruptibleMany(...)` should be equivalent to `IO.interruptible(true)(...)`. This change should also be

[2021-08-28 04:59] senia-psm opened #2269 "NPE in catsEffect3RuntimePingPong"
With the latest (3.2.4) version of cats-effect there is an NPE in catsEffect3RuntimePingPong benchmark, published by @djspiewak

I'm getting NPE (see below) on this fork (all other benchmarks removed, version updated) https://github.com/senia-psm/async-runtime-benchmarks.

Env:
 - Linux
 - openjdk version "1.8.0_302"
 - AMD Ryzen 5 2600 Six-Core

Log:

[2021-08-28 05:12] djspiewak commented on #2269
Oh that's fun. I noticed the first iterations passed; I'm assuming it's a bit inconsistent on when it fails?

[2021-08-28 05:19] djspiewak commented on #2269
My guess would be that there's a race condition in `drainBatch` which results in corrupting the batched queue. It's getting late so I can't dig into it today, but it seems probable.

[2021-08-28 05:38] senia-psm commented on #2269
@djspiewak yes, in this case there were 2 successful iterations. In some ceases it fails on the first iteration. I've failed to make a better reproducer - it's quite a heisenbug.

[2021-08-28 07:50] vasilmkd commented on #2269
This is my mistake. I have a fix incoming.

[2021-08-28 14:30] mpilquist opened #2271 "FS2 compilation failures due to change in signature of fromPromise"
#2237 changes `fromPromise` to take an `IO[Thenable[A]]` instead of an `IO[Promise[A]]`. As a result, fs2-io has 61 compilation errors when using expressions of the form `F.fromPromise(F.delay(somethingThatReturnsPromise))`. The compiler doesn't know the infer `somethingThatReturnsPromise` as a `Thenable[X]`.

[2021-08-28 14:54] #2269 closed, assigned to vasilmkd

[2021-08-28 14:55] djspiewak commented on #2271
I think we probably have to roll that change back. That's honestly unexpected. I'll take care of it.

[2021-08-28 17:06] djspiewak commented on #2269
Thanks for the reproduction, @senia-psm! These kinds of things are usually quite bonkers to narrow down.

[2021-08-28 18:03] #2271 closed, assigned to nobody

[2021-08-30 04:59] djspiewak commented on #1331
Can confirm (a year late) that Raas' opinion is correct: it is indeed a fairness issue, and fundamental to `TestContext`.

[2021-08-30 04:59] #1331 closed, assigned to nobody

[2021-08-30 10:51] alexandru commented on #1331
Hi, so what's the problem?

`TestContext` simulates an `ExecutionContext` that's manually triggered to execute all pending `Runnable` via `tick`, or to execute all pending delayed runables via `tick(300.millis)`. It has however limited utility, since in order to have `IO.sleep(300.millis)` complete, then somebody has to `tick(300.millis)` on the `TestContext`, which is the whole point of using it.

[2021-08-30 10:55] alexandru commented on #1331
NOTE — in order to simulate time passing in an automated fashion, another idea would be to do something like ...

[code]

What something like this would do is to advance its internal timer in 100 millis increments, eventually triggering all pending tasks.

Not sure if this is a good idea.

[2021-08-30 20:33] #1269 closed, assigned to nobody

[2021-08-30 20:35] djspiewak commented on #1076
This is done in series/3.x

[2021-08-30 20:35] #1076 closed, assigned to nobody

[2021-08-30 20:36] djspiewak commented on #1018
I'm going to say "no", it's not broken, though I've seen some odd stuff with timers (see #2251).

[2021-08-30 20:36] #1018 closed, assigned to nobody

[2021-08-30 20:36] #975 closed, assigned to nobody

[2021-08-30 20:37] djspiewak commented on #934
Duplicate of #2146

[2021-08-30 20:37] #934 closed

[2021-08-30 20:37] djspiewak commented on #587
This is really easy; let's just get it done. It helps Spark compatibility considerably.

[2021-08-30 20:38] djspiewak commented on #503
Since `MVar` is now deprecated in CE2 and doesn't exist at all in CE3, I think we can close this.

[2021-08-30 20:38] #503 closed

[2021-08-30 20:41] djspiewak commented on #1513
We should check to see if this is still an issue on CE3.

[2021-08-30 20:42] vasilmkd commented on #1076
We tried it during the development cycle of tracing for CE3 and it wasn't faster.

[2021-08-30 20:43] djspiewak commented on #231
IMO, since we now have an entirely new set of laws, none of which contain uncaptured vars, we can probably safely close this.

[2021-08-30 20:43] #231 closed

[2021-08-30 20:43] #1150 closed, assigned to nobody

[2021-08-30 20:45] djspiewak commented on #1090
I love that we tagged this "good first issue" and then somehow managed to miss the comment of someone asking for tips on how to go about it. Go us! :-/

Glancing at `Tracing.augmentThrowable` in CE3, it appears that this was addressed when enhanced exceptions were reimplemented on that branch. I don't see any obvious way that performance can be improved.

[2021-08-30 20:45] #1090 closed, assigned to nobody

[2021-08-30 22:12] alexandru commented on #231
You're cleaning up old issues I see 🤗

[2021-08-31 06:01] softinio commented on #523
Are we still having this problem?

[2021-08-31 06:14] gagandeepkalra commented on #587
Hi @djspiewak, is it okay if I attempt this one?

[2021-08-31 07:23] rintcius commented on #1269
Just thinking out loud: maybe snapshots can publish using another group or something, e.g. `org.typelevel.snapshot`?

[2021-08-31 09:33] geirolz opened #2280 "Feature request - IO.failed"
Sometimes (in the tests) can be useful to swap the IO and have the exception

`Future` provides a method named `failed`  that returns a `Future[Throwable]`

What do you think to add something similar in cats ?

For example:
[code]

[2021-08-31 09:36] #2280 closed, assigned to nobody

[2021-08-31 12:15] djspiewak commented on #1269
That would break eviction. ☹️ It's a really interesting idea though. Honestly, this is exactly what separate repositories are designed for, but Sonatype's artificial restrictions on their snapshots repo (and lack of a third option) basically ties our hands.

[2021-08-31 12:15] djspiewak commented on #587
Go for it!!

[2021-08-31 12:23] ixthe0 commented on #2244
hey @djspiewak, is it OK if I work on this issue?

[2021-08-31 12:29] vasilmkd commented on #2244
Go for it. Feel free to ask for pointers here or in the Discord.

[2021-08-31 16:05] djspiewak opened #2284 "Do more benchmarking on ScalaJS tracing"
It's important to convince ourselves that we haven't somehow entirely destroyed performance on scalajs. The benchmark results are *really* inconsistent and it would be immensely helpful if someone who understands V8 and some of ScalaJS were able to help out on this a bit, since it's difficult to explain the numbers we're seeing in #2207.

Running `hey` benchmarks on http4s-server and even perhaps

[2021-08-31 16:06] djspiewak opened #2285 "Disable tracing on fullOptJS without source maps"
This exact combination of configurations almost certainly represents a user who wants maximum performance and doesn't care at all about introspecting their code.

[2021-08-31 16:06] djspiewak opened #2286 "Document tracing on JavaScript"
Should be similar to the JVM tracing docs and in the same section. Basically we just need to know how to configure it, and users also need to be aware that it's there.

[2021-08-31 16:07] armanbilge commented on #2286
You can assign this to me.

[2021-09-01 03:31] #2146 closed, assigned to nobody

[2021-09-01 07:01] rintcius commented on #1269
Ah yes, maybe https://github.com/scalacenter/sbt-eviction-rules can be tweaked to fix that, but that's also not ideal.

Another thought is to publish snapshots to another repository (like github), which isn't synced with sonatype.

[2021-09-01 12:39] #2179 closed, assigned to nobody

[2021-09-01 14:26] #1335 closed, assigned to nobody

[2021-09-01 22:33] pdo400 opened #2291 "Worker starvation on AMD EPYC k8s cluster"
I have had a strange thing happen to a CE 3.2.1 / 3.2.5 service. In one particular k8s cluster out of many where we run this service, it often failed to become ready within our boot timeout. This cluster is backed by large AMD epyc nodes, and our service is configured to see and use 216 cpus.

In researching the problem, it seemed that only 1 or 2 cores would be active during startup, during which

[2021-09-01 22:34] pdo400 commented on #2291
[threaddump-amd-epyc-fibonacci.txt](https://github.com/typelevel/cats-effect/files/7094722/threaddump-amd-epyc-fibonacci.txt)
[threaddump-amd-epyc.txt](https://github.com/typelevel/cats-effect/files/7094723/threaddump-amd-epyc.txt)

[2021-09-01 23:14] pdo400 commented on #2291
This behavior was witnessed on a recent openJDK 8.

Interestingly, in the course of investigating this I realized that calls to `String.intern` were quite slow, and removing them solves the issue...

Edit:

Oh, my.

Inside these fibers it seems a library we use was doing things with java `ConcurrentMap` s.  These potential calls were removed along with the String.intern calls in the build that boo

[2021-09-01 23:29] pdo400 commented on #2291
Oh, my.  Inside these fibers it seems a library we use was doing things with java `ConcurrentMap` s.   🙃
These potential calls were removed along with the `String.intern` in the build that does not use a dummy fibonacci fiber.

[2021-09-02 06:42] vasilmkd commented on #2291
Sorry, I'm a bit confused, does removing the code that interracts with the `ConcurrentMap` and the `String#intern` calls cause the slow boot issue to go away?

[2021-09-02 14:38] djspiewak commented on #2291
Looking at the thread dumps, I'm pretty sure this is an intern issue. There are about 20 workers busy in each, all stuck in intern.

[2021-09-02 20:48] keynmol commented on #523
I believe @djspiewak is still manually updating version numbers in README like a **crazy** person.

Overall I very much agree with Ross that README is almost always a lie (unless someone updates it manually for every release, see **crazy** above).

This can be made a

a) touch smarter by using mdoc's [document variables](https://scalameta.org/mdoc/docs/installation.html#configure-site-variables-li

[2021-09-03 07:13] #2260 closed, assigned to vasilmkd

[2021-09-04 11:53] alexandru commented on #523
Document variables sound cool.

Another possibility, to keep the README in sync is to introduce a script that fails the build on version tags.

[2021-09-04 17:11] djspiewak commented on #523
PRs welcome on any and all of this. :-) Btw I'm willing to accept a README solution which involves badges for the "tired" and "wired" versions, just so long as they don't get confused by snapshots. I would love for this to be significantly more automated, because it really is tedious to go update the docs *and* go update the docusaurus main page with every release.

[2021-09-04 17:25] softinio commented on #523
I'll take this issue and give it a shot to automate if ok. PR coming soon. Thanks all !

[2021-09-04 18:06] vasilmkd opened #2304 "`HelperThread` gives up if there's no immediate work available on the pool"
Honestly, I was lazy. It's a legitimate bug that I caused because I cut some corners. I need to beef up the HelperThread mechanism to sleep while waiting for new work to arrive, work which might be late, but will eventually unblock the worker threads of the pool.

Identified in https://github.com/typelevel/munit-cats-effect/pull/124. There's a quick and dirty way to avoid the deadlock, which is to

[2021-09-05 00:25] pdo400 commented on #2291
Removing the `String#intern` makes things boot fast, yes.  But I am still puzzled as to why this cluster in particular is the only place we noticed this (something environmental making the intern calls extra slow?), and on the CE3 side, why starting the fibonacci fiber greatly increases throughput.

[2021-09-05 00:53] softinio commented on #523
Can someone give me quick run down on how cats effect and in turn the docs are released?

Looking around, it suggests it all manual from someone laptop and not via CI being triggered due to a tag. Unless I missed something.

Thanks.

[2021-09-05 01:57] djspiewak commented on #523
@softinio The hard releases are from a laptop so that the signing keys correlate (tag and artifacts). The site though is all on CI and is released continually.

Everything is from the **docs** branch, which has a pair of submodules: one for 2.x and one for 3.x. Those submodules refer to **series/2.x** and **series/3.x** respectively, and are updated by Dependabot roughly once a day. The dependabot

[2021-09-05 06:05] vasilmkd commented on #523
@djspiewak Maintainers have a way to force the discovery and update if necessary, through the GitHub website.

[2021-09-05 06:12] vasilmkd opened #2306 "Use more of the available memory of GHA runners"
Issue form of #2187.

[2021-09-05 21:44] armanbilge commented on #2236
Following revert in #2272, re-opening pending #2273.

[2021-09-06 19:30] djspiewak opened #2314 "Plan for `PolyfillExecutor`"
- [x] Get https://github.com/scala-js/scala-js-macrotask-executor publishing 0.1.0
- [x] Swap series/3.x to use it and remove its matrix-o-doom
- [x] Write some more documentation in the former project
- [x] Coordinate with @sjrd and @gzm0 final approvals
- [x] Release 1.0.0
- [x] Update cats-effect to use 1.0.0

[2021-09-06 23:36] vasilmkd opened #2317 "Clear the `tracingEvents` ring buffer when a fiber ends"
Feel free to ask me for pointers.

[2021-09-06 23:45] djspiewak commented on #2317
This is a pretty straightforward one! Requires touching the internals of `IOFiber`, but only in one very self-contained location.

[2021-09-06 23:50] vasilmkd opened #2318 "Remove `IOFiber#execute` because it is identical to `IOFiber#scheduleFiber`"
This should be very easy to do.

[2021-09-07 01:50] softinio commented on #523
So I have spend sometime to think about how best to solve the problem. The complexity here is the fact that release of the artifacts and the docs are completely decoupled, from what I understand.

So what I am thinking is we replace laptop releases with  to a [GitHub Release Tag based releases](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-relea

[2021-09-07 01:51] softinio commented on #523
Also what is the release version: https://search.maven.org/artifact/org.typelevel/cats-effect_2.13/3.3-7-579f468/jar

As its **not** released as a snapshot but a release on Sonatype.

[2021-09-07 04:10] djspiewak commented on #523
I'm pretty leery of CI releases in the context of OSS, specifically because the signing key is, in theory, the only thing that closes the trust loop between source and binary. CI releases necessitate a different key for tag signing and binary building, and only the former can be a strongly protected personal key on a physical token. However, I could be persuaded to go that route. I would need to s

[2021-09-07 05:15] djspiewak commented on #523
Oh, forgot to reply on the snapshot issue…

What we're doing right now is the least worst option. ☹️ The problem is that Sonatype doesn't allow versions which _don't_ and in `-SNAPSHOT` to be published to the snapshots repository. This sucks because that suffix is also given magical unstable semantics, and so can't really be used for much of anything.

The hash snapshots thus have to be published

[2021-09-07 09:56] seigert opened #2320 "`Spawn[F[_]].background(fa)` does not evaluate `fa` under `TestContext`"
It could be shown by a [simple test harness](https://scastie.scala-lang.org/bGCMtl8xR6exef5XRzug8Q) that
1. `IO.pure(1).start.map(_.join.flatMap(_.embedNever)) === IO(IO.pure(1))`, but
2. `IO.pure(1).background.map(_.flatMap(_.embedNever)) !== Resource.pure(IO.pure(1))`.

I believe that with test `Eq[Resource[F, *]` instance like `Eq.by(_.use(F.pure))` above should be equivalent. Moreso, `IO.pure(

[2021-09-07 10:41] vasilmkd commented on #523
If I can weigh in on the issue, I would like for things to stay as they are. I don't think we've missed updating the docs right after I release (I realize the docs are slightly out of date at the moment, but it has been a really hectic release cycle with two development branches at the moment, so I don't consider it to be a problem).

I very much appreciate Daniel's release method which signs both

[2021-09-07 13:42] rintcius commented on #523
Regarding the snapshot issue, Artifactory may also become an option soon https://jfrog.com/open-source/#artifactory2 which probably doesn't have the issues that github has.

[2021-09-07 13:47] mpilquist commented on #523
Publishing a hash to Sonatype Snapshots with a `-SNAPSHOT` suffix would be better. E.g. `3.1-24-92c750d-SNAPSHOT` in Sonatype Snapshots instead of `3.1-24-92c750d` in Central. The only downside is that someone could overwrite the SNAPSHOT but they'd need to do so without changing the git commit hash.

[2021-09-07 14:48] #1664 closed, assigned to nobody

[2021-09-07 14:56] #1112 closed, assigned to nobody

[2021-09-07 15:21] djspiewak commented on #2320
Pulling this into 3.3.0 to evaluate. I *suspect* the test harness is the problem (more specifically, the `Eq` as you called out), but this needs to be tracked down and evaluated.

[2021-09-07 16:13] milanvdm commented on #2317
Im trying to pick this one up.

I initially thought about changing the `IOFiber.tracingEvents` to a `var` and clear it together with all other internals in `def done`.

But then I was doubting the fact that other parts of the code would still need some reference to the `tracingEvents` even after an `IOFiber` has finished? If so, then my initial thought is probably incorrect.

[2021-09-07 16:17] ixthe0 commented on #2318
@vasilmkd mind if I take a look at this one?

[2021-09-07 16:18] vasilmkd commented on #2318
Go right ahead.

[2021-09-07 16:22] vasilmkd commented on #2317
@djspiewak Thoughts on this?

I initially envisioned it as adding a `clear()` method on `RingBuffer` which would be similar to the clear method on `ArrayStack`, but I guess I also don't mind changing the `tracingEvents` to a `var`.

Leaving up to Daniel.

[2021-09-08 01:28] #2236 closed, assigned to nobody

[2021-09-08 15:48] vasilmkd opened #2328 "Maven developer metadata expects emails, not Twitter handles"
https://search.maven.org/artifact/org.typelevel/cats-effect_2.13

Are people in favor of changing this? I am.

[2021-09-08 16:47] djspiewak commented on #2328
I'm fine either way

[2021-09-09 04:04] armanbilge opened #2333 "Event loop implementation?"
This has come up at least a couple times in different contexts and I think this would be a cool idea with some interesting applications. Plus @keynmol may have volunteered himself to take this on 😉

Why:
- JVM: `IO#unsafeRunSync` in single-threaded environments (e.g. AWS lambda) without the penalty of creating threads or shifting.
- JS: `unsafeRunSync` (!!) via a new "`TemporalSyncIO`" data type t

[2021-09-09 13:11] alexandrustana commented on #2268
I could pick this up if nobody minds.

[2021-09-09 13:21] djspiewak commented on #2268
Go for it! The only tricky part will be pleasing binary compatibility while you go about it. Always feel free to ask questions!

[2021-09-09 15:38] vasilmkd commented on #2304
Fixed in #2312.

[2021-09-09 15:38] #2304 closed, assigned to vasilmkd

[2021-09-09 17:40] vasilmkd commented on #2306
With `specs2` using the macrotask executor, and `ciFirefox` and `ciChrome` being generally very short, I don't think this is an issue anymore.

[2021-09-09 17:40] #2306 closed, assigned to nobody

[2021-09-09 18:06] #2328 closed, assigned to vasilmkd

[2021-09-10 13:06] #2318 closed, assigned to ixthe0

[2021-09-13 15:23] #2317 closed, assigned to milanvdm

[2021-09-20 12:08] fancellu commented on #1302
Scala native is now meant to work on Windows

https://github.com/scala-native/scala-native/pull/2370

[2021-09-20 20:38] #1678 closed, assigned to nobody

[2021-09-20 20:38] #2220 closed, assigned to nobody

[2021-09-21 14:09] #2244 closed, assigned to ixthe0

[2021-09-21 16:55] armanbilge commented on #2286
By in the same section, I assume you mean the same page? Do we want JS tracing to be its own section on that page ("btw here's how you do all this on JS") or should it be interleaved with the JVM docs ("here's how you do on JVM, here's how do you the same thing on JS")? I think it would be nice to interleave, and then maybe add a brief footnote-ish section explaining different ways to use `process

[2021-09-23 15:01] vasilmkd commented on #1029
JDK 17 most likely requires explicit `java` options for accessing `sun.misc.Signal`.

Edit: Rejoice. https://blogs.oracle.com/javamagazine/post/a-peek-into-java-17-continuing-the-drive-to-encapsulate-the-java-runtime-internals

Access to `sun.misc` classes continues to work.

[2021-09-30 07:28] Euse opened #2380 "Dispatcher[IO].use does not work with unsafeRunAsync"
### Versions
- Cats Effect: 3.2.9
- Scala: 2.13.0

### Description

When I use Dispatcher[IO].use and then perform an unsafeRunSync, code is executed correctly. Here's a working example:

[code]

But if you do the same with unsafeRunAsync nothing is printed on the console.

[2021-09-30 07:33] armanbilge commented on #2380
What are you changing to `unsafeRunAsync`? The inner (first) or outer (second) `unsafeRunSync`?

Because `unsafeRunAsync` doesn't backpressure, my guess would be that the dispatcher is being shutdown before the println executes.

[2021-09-30 07:43] Euse commented on #2380
[code]
Is at the end of the program. Dispatcher does not have unsafeRunAsync

So is this the expected behaviour? Because I don't see any mention to this in the documentation.

[2021-09-30 07:50] armanbilge commented on #2380
Thanks for clarifying!

Yes. This is the difference between synchronous and asynchronous computation.

Your first example works because `unsafeRunSync()` blocks (waits) until the `IO` completes, then your app terminates.

But, the second example using `unsafeRunAsync()` schedules the `IO` to run asynchronously and then returns immediately (without waiting), and your app terminates before the `IO`

[2021-09-30 08:13] Euse commented on #2380
Thanks for the explanation! I'm going to close the issue then!

[2021-09-30 08:13] #2380 closed, assigned to nobody

[2021-09-30 13:24] vasilmkd opened #2381 "Experiment with pinning worker threads to physical CPU threads"
Integrate the following library https://github.com/OpenHFT/Java-Thread-Affinity (most likely Linux only) and measure performance difference on a purely CPU bound benchmark (`WorkStealingBenchmark.alloc` might be a good candidate, or `ParallelBenchmark`).

I doubt that this issue has a clear road to being shipped as part of a Cats Effect release, but it would be a cool experiment nonetheless.

[2021-10-01 17:19] armanbilge commented on #2381
Out of curiosity, Is there a good way this could be implemented as an alternative runtime (i.e. as its own project)?

[2021-10-01 21:05] vasilmkd commented on #2381
The integration point of this experiment is not with Cats Effect (I only imagine that we would need to call a couple of library methods in the `WorkerThread/WorkStealingThreadPool` constructor methods to pin each thread to a certain CPU) but with the native libraries/OS/`sbt` setup prior to running anything, and whether or not that's doable or even worth it.

[2021-10-04 09:13] don41382 opened #2386 "Documentation: Dependency conflict resolution example not working"
Hi guys,

I am stucked with the exact example in the cats documentation (https://typelevel.org/cats-effect/docs/migration-guide#which-modules-should-i-use) on how to handle dependency conflicts.

My project shows me (almost) the same output as the documentation:

[code]

In the documentation it says: "Just update monix-catnap to a never version". The problem is, there is no newer version which sup

[2021-10-04 09:25] armanbilge commented on #2386
I'm afraid so, where "wait" would mean continue using CE2 and libraries compatible with it. Last I checked, monix itself is still only available for CE2, although that may have changed.

[2021-10-04 21:40] armanbilge opened #2388 "JS `TimeoutOverflowWarning`"
Reported by @tpolecat when trying to set a timeout to `Long.MaxValue.ns`

[code]

Apparently the maximum timeout on JS is 2<sup>31</sup>-1 ms. See https://stackoverflow.com/questions/12633405/what-is-the-maximum-delay-for-setinterval

One workaround from here: https://stackoverflow.com/a/62002839/1642693

Essentially, to schedule a task that schedules another task and so on, such that the delays a

[2021-10-05 12:29] don41382 commented on #2386
Hi @armanbilge,

Thanks for your support. We really wanted to use Doobie, but Monix is preventing it from happening. Such a shame. I was hoping there is another way, because it was explicitly quoted in the documentation. I guess, it's (currently) just a bad example.

[2021-10-05 12:29] #2386 closed, assigned to nobody

[2021-10-05 13:27] rossabaker commented on #2386
doobie-0.13.4 is built on cats-effect-2.x and should work with that Monix.

[2021-10-05 18:04] RafalSumislawski opened #2391 "Canceling uncancelable doesn't wait"
The in CE 2 (2.5.4) `BracketLaws#bracketCaseWithPureUnitIsUncancelable` states that `F.bracketCase(fa)(f)((_, _) => F.unit) <-> F.uncancelable(fa).flatMap(f)`, and yet the following to examples behave differently.

### TestBracketCase
[code]

Output:
[code]

When using `bracketCase` `cancel` waits for the `fa` to complete before it itself completes.

### TestUncancelable
[code]
Output:
[code]

Aft

[2021-10-06 04:11] armanbilge commented on #2201
Can we close this? Although we couldn't make it go away browser testing is a minor part of the suite now.

[2021-10-06 04:46] armanbilge commented on #2333
It occurred to me, another place this could be very useful is in fs2's sync compiler, which gets tripped up when used to run streams that need `Concurrent`. I think Ross suggested something like this in https://github.com/typelevel/fs2/pull/2650#issuecomment-930378990.

See:
https://github.com/typelevel/fs2/issues/2371
https://github.com/typelevel/fs2/pull/2650
https://github.com/typelevel/fs2/pul

[2021-10-06 09:22] milanvdm commented on #746
We have the same issue with cats-effect 3. Our use case is that we want to restart our application in certain cases.

[2021-10-06 09:37] vasilmkd commented on #746
@milanvdm Do you have a reproduction by any chance? I tried the one at the top of this issue, and it seems to work on `3.2.9`.

[2021-10-06 12:13] vasilmkd commented on #746
Ah I see, running with `fork := true` seems to show the issue.

[2021-10-06 12:46] vasilmkd commented on #746
The problem specifically is calling `System.exit(0)` from an uncancelable `IO` (in this issue specifically, this is bracket acquire).

[2021-10-06 14:52] milanvdm commented on #746
Im glad you found a reproduction and sad that I couldnt give one to you! Thanks! :) If you need any help, let me know!

[2021-10-06 15:05] vasilmkd commented on #746
@milanvdm You can work with me to set the expectations for this change. The issue is, as I said, observable when the main fiber of your application is generally uncancelable. Here's what happens.

Before the `IOApp` starts, Cats Effect registers a shutdown hook with the JVM. Any time Ctrl+C is sent, or `System.exit` is called, this shutdown hook gets triggered, which in turn cancels the main fiber

[2021-10-06 15:17] milanvdm commented on #746
This is a tricky one. Because purely based on expectations, a user would expect `IO(System.exit)` to stop the application from running.

One question: is there a specific reason the main fiber is uncancelable? Would it make sense to make it cancelable?

What about adding `IO.exit[ExitCase]`? This could be a specific case in the `runLoop` which triggers a proper shutdown of the main fiber. Although

[2021-10-06 15:22] vasilmkd commented on #746
The main fiber runs the `IO` that you give to `def run(args: List[String]): IO[ExitCase]`, and there's no point in putting restrictions as to whether it can be cancelable or uncancelable. For resource safety, you have to await the cancelation of any fiber, otherwise, you're leaking unclosed resources.

`System.exit` is magic, and calling it manually circumvents the `ExitCode`, because the app is l

[2021-10-06 15:27] milanvdm commented on #746
In our case, the fiber is running in the background. So the restart is triggered from a fiber running in the background of the main application. So I don't see a way to exit the app early that way with just an `ExitCode`.

[2021-10-06 15:35] vasilmkd commented on #746
Would something like this work? `fs2` has even better features like `SignallingRef` which can interrupt streams.

[code]

[2021-10-06 15:55] vasilmkd commented on #746
@milanvdm We will still iterate on this issue, I will probably add configuration for how long to await cancelation on shutdown (if at all) and this will still help you without having to modify your code (apart from the config). I will prepare a PR later tonight.

[2021-10-07 12:04] milanvdm commented on #828
Ive tried looking into this but very quickly hit a bump.

From what I can tell, a fiber-identity should be passed at least on the following functions: `Fiber.join`, `Ref.get`, and `Defer.get`.

To add this on the `Fiber.join`, seems to be possible with something as:
[code]

For `Ref.get`, it seems to be pretty tricky. Since it is written in terms of the `Sync` interface, I dont see any way to refa

[2021-10-07 23:20] vasilmkd commented on #1992
Caveats https://docs.oracle.com/en/java/javase/17/troubleshoot/handle-signals-and-exceptions.html#GUID-D8754420-3A1F-4D93-A877-1FE041E50081.

[2021-10-08 11:34] i10416 commented on #1127
Any other properties?
- cats.effect.cancelation.check.threshold
- cats.effect.auto.yield.threshold.multiplier
- cats.effect.logNonDaemonThreadsOnExit
- cats.effect.logNonDaemonThreads.sleepIntervalMillis
- cats.effect.tracing.mode

series/3.x
- https://github.com/typelevel/cats-effect/blob/series/3.x/core/jvm/src/main/scala/cats/effect/unsafe/IORuntimeConfigCompanionPlatform.scala#L22
- https://gi

[2021-10-08 11:42] vasilmkd commented on #1127
`cats.effect.tracing.exceptions.enhanced`, `cats.effect.tracing.buffer.size` in https://github.com/typelevel/cats-effect/blob/series/3.x/core/jvm/src/main/scala/cats/effect/unsafe/IORuntimeConfigCompanionPlatform.scala

[2021-10-08 11:53] i10416 commented on #1127
@vasilmkd Thank you.
I made PR to get todo list up-to-date https://github.com/typelevel/cats-effect/pull/2398 and going to send another PR to add documentation. I'm considering putting a doc page for system property in "Scaling and Tuning" section. What do you think?

[2021-10-08 11:57] i10416 commented on #826
Is this issue intentionally kept open?

https://github.com/typelevel/cats-effect/pull/839#issuecomment-615890630

[2021-10-08 12:11] vasilmkd commented on #826
No, most likely an oversight.

[2021-10-08 12:11] vasilmkd commented on #1127
Go for it @i10416.

[2021-10-08 16:37] armanbilge commented on #1127
We should also list the equivalent environmental variable names for the JS runtimes as well on this page, but only after they are released.

[2021-10-10 19:28] #2268 closed, assigned to alexandrustana

[2021-10-10 19:43] #2388 closed, assigned to armanbilge

[2021-10-10 20:28] #1127 closed, assigned to nobody

[2021-10-10 20:28] #1486 closed, assigned to nobody

[2021-10-10 23:44] djspiewak commented on #2391
Very unsurprising, I'm afraid. :-(

So this is a *very* long thread to pull on, but you can get an idea of just how long by perusing [this discussion](https://github.com/typelevel/cats-effect/discussions/1979). One of the enduring problems with CE2 is that it *doesn't* reliably wait on `cancel`, and that can be a source of some resource leaks in certain situations. CE3 corrects this entirely, thou

[2021-10-10 23:46] djspiewak commented on #2381
Very cool! A worthy experiment imo

[2021-10-11 05:00] #2314 closed, assigned to nobody

[2021-10-14 15:27] #2285 closed, assigned to nobody

[2021-10-14 15:28] djspiewak commented on #2201
I think this is good :-)

[2021-10-14 15:28] #2201 closed, assigned to nobody

[2021-10-14 18:51] RafalSumislawski commented on #2391
Does CE2 wait reliably for `Bracket`'s finaliser (#727) or `Bracket`'s acquire? Or is it more-reliable-but-still-unreliable? It seems to work in my tests, but maybe I just didn't hit the right edge-case.

Would I run into some known issues by using an implementation of uncancelable based on the one in `Bracket`
[code]
instead of the one in IO
[code]
?

[2021-10-17 17:00] djspiewak opened #2419 "Toss a comment on the "alley `Eq`" used to test `IOPar`"
It has to be error- and cancelation-oblivious because these are the cases in which `both` degrades to `race`. In the happy path, where both sides succeed (or only one side errors), the behavior is deterministic and testable.

[2021-10-18 01:00] #746 closed

[2021-10-18 01:41] djspiewak opened #2425 "`TraceSpec` is broken on WSLv2"
[code]

Not entirely clear to me why this is the case.

[2021-10-18 01:42] armanbilge commented on #2425
What is WSLv2?

[2021-10-18 01:43] armanbilge commented on #2425
Also I've been having similarly obtuse issues with traces in https://github.com/typelevel/cats-effect/pull/2413#issuecomment-944489932.

[2021-10-18 06:20] vasilmkd commented on #2425
Windows Subsystem for Linux version 2. It's pretty new, maybe only in Windows 11.

[2021-10-18 15:15] djspiewak commented on #2425
It's new but it's been in Windows 10 for about a year now. It's basically a more general version of WSLv1.

[2021-10-18 15:26] vasilmkd commented on #2425
Also, I'm assuming you're using a Linux JDK?

[2021-10-18 22:01] djspiewak commented on #2425
Yep!

[2021-10-20 20:56] ChristopherDavenport opened #2444 "Integration of MapRef into cats-effect"
`MapRef` is a fairly simple abstraction that is one of the most critical tools for more advanced concurrent state machines. I propose it move into cats-effect in std that way everyone can leverage it. The name is just what has been used, but its by no means the only name that could be used for it.

https://github.com/davenverse/mapref

[code]

This is then implemented for a variety of implementati

[2021-10-20 22:18] djspiewak commented on #2444
I vote "yes"!

[2021-10-20 22:26] vasilmkd commented on #2444
I'm in favor.

[2021-10-21 00:32] rossabaker commented on #2444
The bar is high, but he demos this like once or twice a week at work as the underpinning of something else.  The uses are real!

[2021-10-21 14:37] djspiewak commented on #2444
Motion is carried. PR so we can eagerly bikeshed?

[2021-10-21 15:04] ChristopherDavenport commented on #2444
I'll try to get it done as soon as I can. 😄

[2021-10-21 22:28] Baccata opened #2448 "Make dispatcher safer"
The current Dispatcher suffers from the following problems :

* algebraic product components of the effect are lost at the point of dispatch (WriterT's log)
* algebraic coproduct components (EitherT, OptionT) of the effect put the dispatch call at risk of never returning.
* self cancellation of dispatched computations prevent the dispatch call from ever returning

This last two points are pretty b

[2021-10-22 15:59] djspiewak commented on #2448
Isn't this isomorphic to `unsafeRunOutcome[A](fa: F[A]): Outcome[F, E, A]`?

[2021-10-22 19:34] Baccata commented on #2448
@djspiewak it is not, because what do you do with the effect once when you get a successful outcome ? You still have to run it through the dispatcher to get the value, and if the F[A] is `OptionT.none`, you're still f***d.

The outcome does let you detect cancellation though, but then what do you do with it ? You're in unsafe land with that information, so you need to make another dispatcher call

[2021-10-22 22:20] vasilmkd opened #2451 "Prefetching `TypeInterruptibleMany` in each and every fiber seems a bit much"
We can save 4 bytes per fiber by deleting this [line](https://github.com/typelevel/cats-effect/blob/06bc5c398c0a83be9d042ee03389b5ee0927ebeb/core/jvm/src/main/scala/cats/effect/IOFiberPlatform.scala#L28).

For anyone interested, here's the object layout of `IOFiber.class`:

[code]

[2021-10-22 22:22] armanbilge commented on #2451
Make it an even 100 :) that's a cool stat to quote

[2021-10-25 05:46] armanbilge opened #2461 "Move `setImmediate` docs to macrotask project"
This is a reminder to merge https://github.com/scala-js/scala-js-macrotask-executor/pull/28.

[2021-10-25 13:51] #2451 closed, assigned to nobody

[2021-10-27 19:30] iRevive opened #2472 "Unexpected finalization of uncancelable resource"
**Scala version:** 2.13.6
**Cats-effect version:** 3.2.9

**Minimal example:**
[code]

The output:
[code]

For some reason, a resource that has been marked as `uncancelable` always has `ExitCase.Succeeded` during the release stage. Even though it has been canceled or completed with an error.

`Resource.uncancelable[IO, Unit](_ => resource("uncancelable"))` has the same behavior.

[2021-10-27 21:04] vasilmkd commented on #2472
Thanks for the report!

[2021-10-28 10:51] vasilmkd commented on #2472
Some thoughts on this code.

I believe 3. makes sense to me. In terms of the "bracket" operation that `Resource` encodes, canceling the use of an `uncancelable` `Resource` should not signal to the `Resource` (its `ExitCase`) that it was canceled, so intuitively it seems correct to me that the `Resource` succeeded.

I do think that 2. is confusing. We probably have a bug there, but I will wait for

[2021-10-28 19:58] vasilmkd commented on #2425
Ah, this is actually a JS test failure. I couldn't reproduce it on WSLv2, Ubuntu 20.04, JDK 17, Node 14.18.1, both JVM and JS tests pass without issues.

@djspiewak Can you provide your setup please?

[2021-10-28 20:09] armanbilge commented on #2425
This test also runs in the browsers, try those?

[2021-10-29 08:16] vasilmkd commented on #2425
WSL is a headless environment, I doubt people install the browsers in it. I tried switching to Node 16, also no problems. This is on Windows 10. I cannot install Windows 11 due to hardware incompatibilities. If this is indeed a Windows 11 issue, @djspiewak you're on your own. 😆

[2021-10-29 17:06] djspiewak commented on #2472
Btw `IO.canceled` is an easier way to emulate cancelation. :-)

At any rate, the error suppression seems like a bug to me. The rest seems reasonable though. The semantics of `uncancelable` are such that it doesn't *prevent* cancelation, only prevents it from being observed until the end of the block.

[2021-10-29 17:08] vasilmkd commented on #2472
So a question here.

If a whole `resource` is marked `uncancelable` the end of the block is after the resource? What should the `ExitCase` be in that situation?

[2021-10-29 17:34] djspiewak commented on #2472
Either `Errored` or `Succeeded`.

[2021-10-29 17:35] djspiewak commented on #2472
I can confirm that the OP found a bug. In particular, it's the fact that `allocated` is not directly dual to `applyFull`, which results in the scopes being closed too soon. The solution is to create an `allocatedFull` which directly inverts. Chat thread where Fabio and I discussed the solution: https://discord.com/channels/632277896739946517/839263556754472990/903693244708298812

[2021-10-29 17:36] djspiewak commented on #2472
Also this test reproduces the issue:

[code]

Can also be reproduced without `use`. Really it's any time you're relying on scope extension beyond an `applyFull`/`allocated` nesting (an encoding which is used heavily in the `Async` for `Resource`, including in `uncancelable`).

[2021-10-31 10:00] LLCampos commented on #1838
Some feedback from someone who has been struggling to understand `Dispatcher`.

For example, the **Motivation section** basically says "this does what this other thing did in cats-effect 2" which is is not really useful for people who are not experienced in CE2. :crying_cat_face:

I think that having an example of a practical problem that can be solved with Dispatcher would be excellent!

And also

[2021-10-31 13:52] kubukoz commented on #1838
Personally I think none of the docs should refer to CE2 except the migration guide 😅

[2021-11-01 13:14] otto-dev opened #2484 "Document that Fibers can close over non-volatile vars"
:point_up:

The (hacky, non-FP) example I used to ask about this:
[code]

This loops over a Queue that contains `S => S`, which updates the state. I can then push `S => S` functions onto that queue, which will then be executed. Apparently the `state = f(state)` is not an issue here from a thread-safety perspective.

[2021-11-01 17:53] armanbilge commented on #2484
Yep, I remember finding out about this via word-of-mouth 😆

[2021-11-03 14:10] iRevive commented on #2448
I hit the dispatcher issue today.

The future created by the dispatcher hangs forever if `EitherT` has a left value (`EitherT.leftT(error)`).

Simplified example:
[code]

The output:
[code]

[2021-11-03 16:53] armanbilge commented on #2448
@djspiewak isn't this basically your example from https://github.com/typelevel/feral/pull/33#issuecomment-949795887?

[2021-11-04 18:54] #2286 closed, assigned to armanbilge

[2021-11-04 19:24] #2066 closed, assigned to nobody

[2021-11-04 20:18] otto-dev opened #2499 "Batches of fibers may be scheduled unfairly in compute-heavy applications"
This is the result of the following experiment:
- start `n` fibers
- each fiber has an `id`
- the fiber loops, infinitely incrementing an ID-bound value in a `Ref[IO, Map[String, Int]]`, where the `String` is the fiber's `id`, then yields with `IO.cede`.

The result is that the fibers that get started first get to do most of the incrementing (`n = 20`):

![image](https://user-images.githubusercont

[2021-11-04 20:27] vasilmkd commented on #2499
First of all, thanks for raising this issue. Is this on the `3.2.9` release?

We've actually made changes to these code paths which will be released in the `3.3` release. In the meantime, can you please use the following snapshot to repeat the experiment for the upcoming release? Thank you in advance.

[code]

Furthermore, can you please post some details of the machine that this was run on? CPU,

[2021-11-04 20:34] vasilmkd commented on #2499
This issue reminds me of this one https://github.com/typelevel/cats-effect/issues/1995.

[2021-11-04 20:41] otto-dev commented on #2499
That was on `3.2.9`, forgot to include that, sorry. `java-11-openjdk`, linux.

`3.3-393-da7c7c7` gives me a similar result (this is after 20 seconds, there is some variance among reruns):

![image](https://user-images.githubusercontent.com/44302748/140415924-cfae26b8-1864-4bbf-b40f-16bdb4066b26.png)

[code]

I've been running it in intellij and confirmed similar results in `sbt`.

[2021-11-04 20:51] otto-dev commented on #2499
Just out of curiosity, inserting `IO.sleep(0.nanos)` instead of `IO.cede` seems to make the situation fairer at the cost of throughput (~20%). Edit: replacing `cede` with `IO.blocking(())` gives me the same effect with 50%+ throughput.

![image](https://user-images.githubusercontent.com/44302748/140418045-809c3134-e0a1-4f04-8681-ac2ec4523ad5.png)

[2021-11-04 20:54] armanbilge commented on #2499
Now that's interesting 😅

[2021-11-04 20:56] djspiewak commented on #2499
Well, it's not really *that* surprising. Until we have something like #2252, `IO.sleep` results in a round trip through a different executor *and* a re-enqueue on the external queue.

[2021-11-04 21:16] otto-dev commented on #2499
This may be more detracting than helpful, but this is a result when replacing `cede` with `IO.blocking(())` (~50% original throughput, and no apparent preference for first Fibers)
![image](https://user-images.githubusercontent.com/44302748/140421140-81444ca2-e4c3-453c-bdce-747238b4738a.png)

[2021-11-04 21:30] vasilmkd commented on #2499
@otto-dev Can you maybe do a run with many fibers? Like a thousand maybe? I know it's a tall ask, but it would be of tremendous help.

[2021-11-04 21:55] otto-dev commented on #2499
No tall ask at all.

1000 fibers after 20 seconds:
![image](https://user-images.githubusercontent.com/44302748/140423566-a5712d3f-ae82-41fc-aa3b-6c1cb53ef805.png)

After 2 minutes:
![image](https://user-images.githubusercontent.com/44302748/140423977-fdd1145e-d81e-4a3b-95b4-57d98e98eae2.png)

Raw data:
https://gist.github.com/otto-dev/ceaa3ce765bcbfd267dc7abeb2754af0

So this issue is unlikely to

[2021-11-04 22:13] vasilmkd commented on #2499
@otto-dev Thank you for raising this issue, truly. We should have a longer form comment soon.

[2021-11-05 00:10] djspiewak commented on #2499
Okay so after some quick investigation, @vasilmkd and I are pretty sure we know what's going on here. **tldr: the pool isn't tuned for this type of scenario, by design**

Before we get into the results, just a quick bit of context. Work-stealing, by definition, trades *away* fairness to get higher throughput. That's just what it does. If you want perfect fairness, you need to have a single queue t

[2021-11-05 00:45] armanbilge commented on #2499
Always good reading 🤓 If you don't mind, I'd appreciate some expanded thoughts on the topic of compute-bound workloads, for those of us who care about such things (asking for a friend ;).

Just to clarify, what exactly does "sub-optimal" results mean in this context? That threads could be sitting idle? This is the real nightmare! Or, is it just lack of fairness.

And then, is using a work-stealing

[2021-11-05 01:03] vasilmkd commented on #2499
My 2 cents on this question. I would say, don't treat fibers like threads. Threads are expensive to start, expensive to join, are well behaved when they are few and pinned to a CPU core each. Fibers on the other hand, are cheap to start, cheap to join and the more you have of them, the better the performance and scheduling fairness that you get (i.e. are well behaved when you create lots of them).

[2021-11-05 01:09] vasilmkd commented on #2499
And none of this is final. Work stealing is still pretty new in effect systems, especially in Scala. We have so much to learn and tune and maybe we'll teach the runtime to tune itself one day, behaving more like a fixed thread pool on low loads and doing work stealing on higher loads. There are unfortunately too many other quality of life improvements that need to be implemented first, and docs to

[2021-11-05 01:19] otto-dev commented on #2499
Thanks for the reply! Interesting stuff indeed. For me the important thing was to understand when/if I can expect liveliness problems with an application. My takeaway is that you only ever run into this problem if you have absolutely no asynchronous operations in your application.

Changing the fiber creation to this:
[code]
is enough to get this work distribution over two minutes:
![image](https:

[2021-11-05 14:45] djspiewak commented on #2499
So the reason that `sleep` and `blocking` change the semantics here is they effectively remove the work-stealing pool's ability to optimize itself! More precisely, in both situations you're bouncing the fiber through a different execution context, which means that the returning continuations will come back through the external queue. The external queue is a single task source which all worker thre

[2021-11-05 16:46] armanbilge commented on #2499
Thank you, Vasil and Daniel for your responses! Much appreciated.

IIUC now, I think this sounded far scarier to me than it actually is, where "may" is more like _unlikely, but no guarantees_ and "sub-optimal results" refers to the lack of fairness and _not at all_ a diminished throughput. Which at least for me is my foremost concern in an app like that.

💯 I'm going to internalize this :) it's a

[2021-11-05 19:34] otto-dev commented on #2499
Thanks again to everyone for the helpful thoughts and responses! Very much appreciate the input on this question, amazing how this was looked into.

Conclusion in the end: It's not a bug, it's a feature! Cats Effect optimizes for throughput if there are purely synchronous compute-based tasks, where fairness does not matter. As soon as there is a request-response type scenario (anything async), it

[2021-11-05 19:59] otto-dev commented on #2499
Actually, that can't be the whole story, because I'm getting the fairness at no cost to performance!

The `blocking(())` call is not actually part of the Fiber, but precedes it: `IO.blocking(()) >> (loop(s"Fiber $i", ref)(0).start)`.

That's enough to create a reasonably fair work distribution, and in fact, with this version I'm seeing 10% more throughput on average (sum of all increments).

But I

[2021-11-06 20:14] otto-dev commented on #2499
I kind of got hooked on this as a learning experience and started hacking the codebase. This illustrates what's going on, in line with @djspiewak's explanation:

(`computeWorkerThreadCount: Int = 2`)
[code]
All the fibers get spawned on the same thread, and the idle threads (in this case, one), only steal one fiber each, and after that consider themselves busy.

I wonder if
- You could spawn fiber

[2021-11-06 21:09] otto-dev commented on #2499
Conceptually, would this be viable? I'm getting a fairish workload with about 10% more throughput quite consistently:
[code]

Round robin would be even better. Or would this need `scheduleExternal` (which defeats the purpose)? Docs on `scheduleExternal` would indicate that it is **_not_** required.

Does not take into account potential thread-safety concerns related to the queue. (Edit: WorkSteali

[2021-11-06 22:41] vasilmkd commented on #2499
The `WorkerThread#schedule` method is _only_ safe to use by the worker thread itself, due to how the `LocalQueue` is implemented. It is a single producer multiple consumer circular buffer, and only the owner thread is allowed to enqueue elements. Other threads are fine to dequeue from it (this is the stealing, which is around `WorkStealingThreadPool.scala:153`.

The pool is really tuned for high f

[2021-11-07 09:08] otto-dev commented on #2499
I've started off the PR process in #2514, but I'll still have to look into producing benchmarks for different scenarios firstly, and secondly whatever other contributing processes you may have.

[2021-11-07 22:06] jgoday commented on #1875
Hi, I'm interested in knowing/learning more about cats and cats-effects,
so I started to look after 'good first issue' tasks.

In this case, If I understand it correctly, you can use testkit outside cats-effect
but ticked execution method is defined inside the local cats effect tests subproject (cats.effect.Runners trait),
so there is no way to use from an external project

For example with a spec

[2021-11-07 22:16] armanbilge commented on #1875
@jgoday I didn't follow this PR closely, but you may want to take a look at https://github.com/typelevel/cats-effect/pull/2276 which reworked `TestContext`. I'm actually not sure if this issue is relevant anymore 😅

[2021-11-07 22:22] jgoday commented on #1875
Thanks @armanbilge, I will try to follow that thread about TestContext then !

[2021-11-07 22:45] armanbilge opened #2519 "Refresh `Dispatcher` scaladocs"
As of https://github.com/typelevel/cats-effect/pull/2515 they are a bit out-of-sync with the microsite docs, and possibly with the implementation (?).

[2021-11-08 08:29] LLCampos commented on #1838
We can close this one? https://github.com/typelevel/cats-effect/pull/2515 already merged.

[2021-11-08 08:30] armanbilge commented on #1838
And live! :)
https://typelevel.org/cats-effect/docs/std/dispatcher

[2021-11-08 08:30] #1838 closed, assigned to nobody

[2021-11-08 20:37] vasilmkd commented on #2519
I actually made a mistake w.r.t. the `Supervisor` sentence in the docs. It was correct in the PR and we need to restore it. The scaladoc for `Dispatcher` is correct.

You can find more details [here](https://discord.com/channels/632277896739946517/632278585700384799/907186574993809418).

[2021-11-08 20:45] armanbilge commented on #2519
What about my comment/confusion about completion vs cancellation of the submitted effects? Can we get additional clarity on that as well?

https://github.com/typelevel/cats-effect/pull/2515#issuecomment-962634856

[2021-11-08 20:46] vasilmkd commented on #2519
Can you please scroll to the bottom of the discussion I linked? Is that answer satisfactory?

[2021-11-08 21:00] armanbilge commented on #2519
Thanks. So can my take-away be that `Dispatcher` and `Supervisor` have identical behaviour wrt to this? I guess this is more an issue with the `Supervisor` docs, which say:

whereas the `Dispatcher` scaladocs say:

Can we say cancellation for Supervisor too?

[2021-11-08 21:08] vasilmkd commented on #2519
Short answer, yes, `Supervisor` is used to implement `Dispatcher`.

Long answer, you can imagine `Dispatcher` as a pure consumer of items produced by impure producers. There is a processing queue connecting the two. The producers are appending elements (in this case effects to be executed) on one end and the `Dispatcher` is popping them from the same queue on the other end. All of the effects that

[2021-11-08 21:10] armanbilge commented on #2519
Thanks. Awesome explanation.

[2021-11-08 21:31] armanbilge commented on #2519
Not completely sure if it's related, but I was reminded of https://github.com/typelevel/fs2/issues/2497. The common question being, should you finalize an effect that wasn't run and if so, how?

I actually think this might be the "right" behavior here, or "consistent", or something.

[2021-11-08 22:09] vasilmkd commented on #2519
In the end we might not need to actually change any behavior, just make the developer experience better through logging or something.

[2021-11-08 22:11] armanbilge commented on #2519
Idk if it's possible/makes sense, but an alternative API where closing backpressures until completion (rather than cancellation) could be interesting? It could reject new submissions, but wait until old ones are all done.

[2021-11-09 06:06] #2461 closed, assigned to nobody

[2021-11-09 06:54] djspiewak opened #2524 "Collapse `tracing` package into `cats.effect` to avoid bloating the FFI"
The fact that `tracing` is a separate package means that `TracingConstants` needs to be public. We can avoid that problem if we squeeze it into the `cats.effect` package, along with the other implementation details.

[2021-11-09 07:49] vasilmkd commented on #2524
`class TracingConstants` defined in Java will still need to be public in the `jvm` sources in order to be used from the `shared` sources.

[2021-11-09 08:19] vasilmkd commented on #2524
We now cannot use `class TracingConstants` in the `unsafe` package. This is frustrating.

[2021-11-09 08:19] vasilmkd commented on #2524
At this points, it's either `public class` or code duplication.

[2021-11-09 08:23] armanbilge commented on #2524
Or, becoming a flat-earther 😆

[2021-11-10 10:54] hughsimpson opened #2527 "NPE when running IOFiber"
I am occasionally seeing an error with cats-effect 3.2.9 that I can't yet reproduce locally. The following is the full stacktrace:

[code]

I'm not sure where `cats.effect.internals.Utils.setThreadTokenAndRefCount` comes from, or what's setting this off. Will continue make some attempts to minimise, but in the meantime the stacktrace makes it look like there's some error in the heart of cats-effec

[2021-11-10 11:02] vasilmkd commented on #2527
Ok, this is weird. We literally do not have an `internals` package, nor a `Utils.java` source file.

Can you please provide the operating system, any hardware specs and maybe even the classpath of the application. Thanks.

[2021-11-10 11:13] hughsimpson commented on #2527
Somehow that confirmation was everything I needed to nail down the actual culprit - newrelic. https://github.com/newrelic/newrelic-java-agent/blob/5882b996e14aabc1ef57661573dc539719bb906f/instrumentation/cats-effect-3/src/main/java/cats/effect/IOFiber.java#L33
That certainly explains why I'm unable to replicate it locally. Thanks very much for the 🦆 , I'll close this since it's clearly not a bug i

[2021-11-10 11:13] #2527 closed, assigned to nobody

[2021-11-10 11:14] vasilmkd commented on #2527
Can we be of any more assistance?

[2021-11-10 11:17] hughsimpson commented on #2527
I don't think so, thanks very much though. I'll raise an issue against new relic.

[2021-11-11 10:40] matil019 opened #2530 "Bring back IO#runAsync and friends?"
Nice to meet you!

I'm having a difficulty using Cats Effect 3 on Scala.js due to the change of the thread model.

Some JS functions such as [`Event.preventDefault()`](https://developer.mozilla.org/en-US/docs/Web/API/Event/preventDefault) have to be run synchronously or won't have any effect. In CE2, we can just use `IO` because it is run synchronously until a first async boundary. For example, if

[2021-11-11 11:00] vasilmkd commented on #2530
Hi 👋! Thanks for raising this issue.

Have you tried using the `IO#syncStep` method? It converts an `IO` to a `SyncIO` which when `unsafeRunSync()` will run the side effects of the `IO` until completion or until the first asynchronous boundary, if running the `IO` to completion isn't possible (imagine that this method can execute all operations which are shared by both `IO` and `SyncIO`). This met

[2021-11-11 11:12] matil019 commented on #2530
@vasilmkd Yes, I did try `IO#syncStep` but it doesn't solve the problem. In my use case, I have to run `IO` to its end no matter what. If I understand correctly, when an `IO` has any async boundaries, `IO#syncStep` returns a `Left` whose content is another `IO`, and I have to run it again (possibly with `unsafeRunAndForget`) or use `unsafeRunHere` designed in #2478 .

But it doesn't matter much; r

[2021-11-11 13:53] armanbilge commented on #2530
@matil019 I think @vasilmkd is right, actually `syncStep` is exactly what you need :)

That's right, except the `IO` will run as if it's a `SyncIO` until it _hits_ the first async boundary. So if you have an `IO`:
[code]
using `syncStep` will run steps 1 and 2 _synchronously_, and return a `Left` containing an `IO` for step 3. Then, you will need to use `unsafeRunAndForget` to complete the `IO`. H

[2021-11-11 13:53] vasilmkd commented on #2530
I would appreciate it very much if @japgolly can use their knowledge of the `scalajs-react` library to add some clarity to this discussion.

This is a genuine question. I would like to know exactly how the definition

[code]

is supposed to function as an `onClick` listener, when it only produces a _value_ (description of an action) and doesn't actually _do_ anything (the actual action), which kin

[2021-11-11 14:03] vasilmkd commented on #2530
The only way I can see this happening if the React interop looks like this (excuse the hand wavy syntax):

[code]

And the only reason why `e.preventDefault()` would have ever worked in this type of interop is if `unsafeRunAndForget()` ran the `IO` immediately until the first asynchronous boundary, which would have executed the `IO.delay(event.preventDefault())` before doing the rest of the IO (wh

[2021-11-12 14:32] armanbilge opened #2532 "`std.Env[F]` for cross-platform environment variables?"
Currently there is no JVM/JS cross-platform API for accessing environment variables. @bpholt and I wonder whether this might makes sense to include in CE3 `std`.

Why:
* `IOApp` already provides cross-platform command line args via a shim for JS. It doesn't seem too much of a stretch to also provide cross-platform env.
* We've actually already internally shimmed env for JS, to configure tracing et

[2021-11-13 10:29] LLCampos opened #2536 "Explain what a "FFI" is or use other term?"
The term "FFI" is sprinkled around the website and scaladocs, but is never explained. Googling doesn't help ([1](https://discord.com/channels/632277896739946517/632278585700384799/882933023530684467), [2](https://discord.com/channels/632277896739946517/632278585700384799/904304276833177641)).

I know this sounds like a small thing, but cats-effect is already full of potentially new concepts - intr

[2021-11-13 11:48] armanbilge opened #2537 "`Dispatcher` that backpressures on completion (not cancellation)"
Spinning out of https://github.com/typelevel/cats-effect/issues/2519#issuecomment-963620976, which will be closed shortly.

Not sure if this applicable to `Supervisor` itself.

[2021-11-13 11:58] armanbilge commented on #2536
I agree. From what I can tell, "FFI" is not a need-to-know like you say, but rather a quick/familiar analogy that's supposed to help _explain_ Cats Effect. You can see this dating back to the original [blog post](https://typelevel.org/blog/2017/05/02/io-monad-for-cats.html) introducing CE:

Except, for those of us who _don't_ readily know what an FFI is, we're left out in the cold. I'd vote to min

[2021-11-13 12:11] vasilmkd commented on #2519
Addressed in #2515 and #2535.

[2021-11-13 12:11] #2519 closed, assigned to nobody

[2021-11-14 20:29] djspiewak opened #2544 "Document JMX interfaces"

[2021-11-15 00:43] djspiewak commented on #1029
This is now complete. Still some refining to go, particularly on WSL and on hypothetical platforms where `Signal` is unsupported, but we're in good shape in HEAD.

[2021-11-15 00:43] #1029 closed, assigned to djspiewak

[2021-11-16 04:29] armanbilge opened #2551 "Fix stack trace filtering for Macrotask Executor"
This might partially be an upstream config problem, since it seems the source paths aren't the usual github permalinks.

[code]

[2021-11-16 20:32] armanbilge opened #2552 "`raceOutcome` is not tested (directly)"
... and laws/tests :)

Slipped a fix in here, but probably deserves its own PR:
https://github.com/typelevel/cats-effect/pull/2545/commits/bdc7429e6b333500a07d357b7dbe783f34aeee26#diff-5acd9e5b3bc8897d205aa4590f18c307679d41279ca72a125764900fffe9d568

Discord discussion:
https://discord.com/channels/632277896739946517/839263556754472990/910242079341412433

Related:
https://github.com/typelevel/cats

[2021-11-17 17:37] armanbilge opened #2558 ""are source maps just… really really really slow?""
Running the tracing example from the docs on Node.js with the exact same tracing parameters.
https://typelevel.org/cats-effect/docs/tracing#complete-code

[code]

With sourcemaps:
[code]

Without:
[code]

One idea is to provide tooling/utility that takes unsourcemapped exceptions + a sourcemap and provides sourcemapped exceptions.

[2021-11-17 17:40] armanbilge commented on #2558
Relevant to https://github.com/typelevel/cats-effect/issues/2284.

[2021-11-17 18:30] armanbilge commented on #2558
Another idea to try is loading source-maps into memory (instead of file access) as demonstrated here:
https://www.npmjs.com/package/source-map-support#options

H/t @ChristopherDavenport

[2021-11-17 19:43] armanbilge commented on #2551
Depends on:
- https://github.com/scala-js/scala-js-macrotask-executor/issues/33.

[2021-11-18 12:21] otto-dev commented on #2536
I ran into this - googled what FFI stands for while reading the docs, and still don't know to this day.

[2021-11-19 08:49] LLCampos opened #2563 "`race` behaves differently in CE2 vs. CE3?"
[code]

The above, using CE 3.2.9, hangs.

But I would expect it to finish, as is does in the 2.5.4 equivalent:

[code]

[2021-11-19 08:52] vasilmkd commented on #2563
Can you try `IO.interruptible(many = false)(queue.take())` in CE3?

This is a blocking queue and `take` can be interrupted, but we do not attempt it for `IO.delay` as it is a pretty expensive operation to do, and it is done the way it is for optimization purposes.

[2021-11-19 09:00] LLCampos commented on #2563
Ok, that works! Should a comment regarding differences in `.race` behavior be documented in the [Migration Guide](https://typelevel.org/cats-effect/docs/migration-guide)?

[2021-11-19 09:07] vasilmkd commented on #2563
The behavior of race has not changed. Cancelation is attempted, it's just that `queue.take` is not cancelable, it is _interruptible_ (by using `Thread.interrupt`, because `LinkedBlockingQueue` is a Java API). To do this, we have to set up a second fiber, to observe cancelation, run it in parallel, trigger interruption of a worker thread on our runtime, observe the interruption, recover from it and

[2021-11-19 09:09] vasilmkd opened #2566 "Missing scaladoc for `interruptible/interruptibleMany`"

[2021-11-19 10:27] #2563 closed, assigned to nobody

[2021-11-19 10:38] alexandrustana commented on #2566
I can try and fix this one :)

[2021-11-19 10:39] vasilmkd commented on #2566
Thank you!

[2021-11-19 20:08] vasilmkd commented on #2552
Removing this from the milestone because it is not a blocker and the fix is part of another PR.

[2021-11-19 20:10] vasilmkd commented on #1568
Closed with #2556.

[2021-11-19 20:10] #1568 closed, assigned to nobody

[2021-11-19 21:22] vasilmkd opened #2567 "Cats Effect 3.3.0 release checklist"
Things to complete before the release:

- [x] Merge `series/3.2.x` into `series/3.x` to get all the documentation changes from that branch.
- [ ] Release.
- [ ] Create a `series/3.3.x` branch.
- [ ] Switch the Cats Effect 3 documentation git submodule in `docs` to `series/3.x.`.
- [x] https://github.com/typelevel/cats-effect/issues/2569

[2021-11-21 17:59] alexandrustana opened #2569 "Update `cats-effect` depedency in `scalafix`"
After the `cats-effect` 3.3.0 release, we should change the snapshot dependency in `scalafix` to the 3.3.0 version.

https://github.com/typelevel/cats-effect/blob/051bc754837766e6d4ce5fab8d1ca12c13768603/scalafix/build.sbt#L60

[2021-11-22 19:36] #2566 closed, assigned to alexandrustana

[2021-11-22 19:44] djspiewak commented on #2567
IMO we don't need the `series/3.3.x` branch just yet. We can create that lazily when we have to make a change that moves us into 3.4.x territory.

[2021-11-22 20:18] djspiewak opened #2573 "Verify that 3.3.0 scalafix rules are picked up by Scala Steward"
Honestly I have no idea how to check this. @fthomas?

[2021-11-22 21:35] fthomas commented on #2573
The rule has been added to Scala Steward's list in https://github.com/scala-steward-org/scala-steward/pull/2270 and I just verified that `sbt scalafixEnable; scalafix github:typelevel/cats-effect/v3_3_0?sha=series/3.x` works. It should pick it up.

[2021-11-23 08:12] djspiewak commented on #2573
Thanks!

[2021-11-23 08:12] #2573 closed, assigned to nobody

[2021-11-23 08:34] djspiewak opened #2574 "MBean exception during shutdown of example"
[code]

Discovered this when running the `LiveFiberSnapshot` example with `; set Test / run / fork := true; Test / run` in the **testsJVM** project.

[2021-11-23 08:49] vasilmkd commented on #2574
Hell yes. Any idea what to do here?

[2021-11-23 18:12] #2574 closed, assigned to nobody

[2021-11-24 04:21] armanbilge opened #2580 "Provide within-process "public" API for fiber dumps"
For environments without signals or JMX ... that would be Windows/GraalVM and browsers?

[2021-11-24 04:21] armanbilge commented on #2580
"public" b/c @vasilmkd proposed the duck-typing trick.

[2021-11-24 04:24] armanbilge commented on #2552
The fix went through in https://github.com/typelevel/cats-effect/pull/2545, but we are still lacking laws/tests.

[2021-11-24 21:59] armanbilge commented on #2558
A follow up on this: my measurements used `node --enable-source-maps` which actually doesn't use source-map-support (see https://github.com/scala-js/scala-js-js-envs/issues/20, https://github.com/typelevel/cats-effect/pull/2582) so the comment above might not be relevant actually.

Also, I'm not sure if using the default source map functionality in Scala.js (which uses source-map-support) has the

[2021-11-24 22:28] djspiewak commented on #2552
Let's leave this issue open to track the lack of tests

[2021-11-26 23:52] hughsimpson commented on #2527
Forgot to post the linked issue 🤦 https://github.com/newrelic/newrelic-java-agent/issues/544

[2021-11-27 16:48] armanbilge opened #2586 "`System.exit(1)` vs `Runtime#halt(1)` for fatal exceptions in `IOApp`"
Continuing from:
- https://github.com/http4s/http4s/issues/5582#issuecomment-980693520.

[2021-11-27 17:27] djspiewak commented on #2586
We should be using halt. 😃 PR welcome!

[2021-11-27 18:05] armanbilge opened #2588 "`Console` on Node.js is underpowered and probably blocks"
This was first reported by @ChristopherDavenport in [Discord](https://discord.com/channels/632277896739946517/632278585700384799/900962949374550027).

1. `System.out.print` delegates to `console.log` which is standard JS but has various limitations. Node.js has a more featured `process.stdout`.
2. Furthermore, `process.stdout` is async so `console.log` on Node.js is almost definitely a blocking op

[2021-11-27 18:10] armanbilge commented on #2588
Btw, the reason I stalled on my branch is b/c `readLine` is fairly annoying to implement on Node.js. As with many things in Node.js `process.stdout` and `process.stdin` are stream-based and would be trivial to implement in fs2-io.js.

So here's an idea: maybe we should just deprecate `Console#readLine` on JS, since it's not supported on browsers anyway, and suggest users on Node.js use fs2-io inst

[2021-11-27 18:16] alexandrustana commented on #2586
It could try and fix this one if nobody minds 🙂

[2021-11-28 05:47] djspiewak commented on #2588
Should be possible to fix this in a binary-compatibly (but source-incompatible) fashion, but we would need to make the SJS version take an `Async` while the JVM one only needs a `Sync`. I wonder if that's okay…

[2021-11-28 05:55] armanbilge commented on #2588
Yup, that's exactly what I had in mind. Actually, whenever there are mismatched constraints across platforms I think this is a perfect case for capability traits like `Console` which lets you push these constraints to the edge of your app :)

We have a similar situation in http4s where JVM crypto only needs `MonadError` but JS crypto needs fullblown `Async`.
https://github.com/http4s/http4s-crypto

[2021-11-28 17:03] #2569 closed, assigned to nobody

[2021-11-28 19:27] djspiewak commented on #2588
I think that moving `Console.make` up into a `ConsoleCompanionPlatform` trait, then overloading the scala.js version to take an `Async` while marking the `Sync` version `private[std]` is probably the right way to go. That should give us what we need, and will properly produce errors on scala.js if we don't have an `Async` available.

[2021-11-28 19:29] djspiewak opened #2599 "Reorganize and fix core docs"
There's a lot of redundancy right now, particularly with the **Scaling and Tuning** section (which should be collapsed into **`IORuntime` Configuration** for the time being). We also need docs for `IO` and `Resource` at a minimum in that section, and probably also `IOApp`.

[2021-11-28 23:47] vasilmkd opened #2601 "Some IOAppSpec tests can be executed on all platforms"
Currently, most of the example `IOApp` tests are not executed on Windows, because it doesn't support proper interruption of processes through the `java.lang.Process` API. These tests are the ones calling the `Handle#term` method. However, some tests do not call this method and instead wait for the monitored app to finish by itself. These should be run on Windows too.

The solution to this issue lo

[2021-11-29 04:43] #2586 closed, assigned to alexandrustana

[2021-11-29 05:35] #2567 closed, assigned to nobody

[2021-11-29 14:58] TimWSpence opened #2606 "Duplicated fibers in fiber dump"
Running the following code:
[code]

on JDK 17 and pressing `Crtl-T` for a fiber dump yields the following:

[code]

Note that fiber `539c7a54` is duplicated as both active and waiting. I've re-run it a bunch of times and the output appears to be deterministic

[2021-11-29 15:04] armanbilge commented on #2606
Thanks for writing this up!

We discussed this on Discord so I think I have some idea what's going on here:
1. The duplication is of the main fiber, due to this change: https://github.com/typelevel/cats-effect/pull/2587/commits/9a212ed990f880c49d9072d0b6cedec97e8fd7ed. I assumed it would get de-duplicated, but there might be a bug in that code.
2. The traces themselves are not quite right. We need

[2021-11-29 15:07] djspiewak commented on #2606
Out of curiosity, why is `jdk.internal.reflect` even part of the stack trace to begin with?

[2021-11-29 15:09] armanbilge commented on #2606
I would guess that's how `main` is invoked on the newer JDKs. But IDK.

[2021-11-29 15:13] TimWSpence commented on #2606
Is there a reason why in `IOFiber` we don't use the fiber itself as the monitor key in `IOFiber` but instead instantiate a `new AnyRef()` and use that? I assume the problem here is that we've used different keys for the same fiber in `IOApp` and `IOFiber`

[2021-11-29 15:58] vasilmkd commented on #2606
@TimWSpence might be exactly right here.

This registration is coming from the `main` thread which is a foreign thread w.r.t. our runtime.
https://github.com/typelevel/cats-effect/blob/854dc9ed20dcc211527cf084a05776681ad6324b/core/jvm/src/main/scala/cats/effect/IOApp.scala#L283-L284

So we do have a situation of the same fiber being shown twice, because it is indeed registered with two different k

[2021-11-29 16:00] vasilmkd commented on #2606
I still am pretty sure that fixing the subtraction of `foreign` and `suspended` fibers in `FiberMonitor` will fix this though.

[2021-11-29 16:04] armanbilge commented on #2606
Yes, this is a general problem. I'm pretty sure that `evalOn`ing a fiber which then suspends will lead to the exact same outcome, since it will be registered with both the async callback and the opaque object used for `evalOn` registration.

See https://github.com/typelevel/cats-effect/pull/2587#discussion_r757802618:

[2021-11-29 16:07] TimWSpence commented on #2606
Yeah, I just opened https://github.com/typelevel/cats-effect/pull/2607 with a suggested fix. Thanks @armanbilge for demonstrating that it does fix a more general problem as well

[2021-11-29 16:10] TimWSpence commented on #2606
Confirmed with

[code]

that `evalOn` introduces the same problem and that the same fix works! 🎉

[2021-11-29 18:55] #2606 closed, assigned to nobody

[2021-11-29 18:55] armanbilge opened #2608 "`cats` anywhere in the package triggers filtering?"
See https://github.com/typelevel/cats-effect/pull/2607#issuecomment-981796860.

[2021-11-29 20:48] alexandrustana commented on #2608
I can attempt to fix this if nobody minds.

[2021-11-29 22:08] armanbilge opened #2610 "Introduce an `unyielding { ... }` construct"
Spinning out of https://github.com/typelevel/cats-effect/pull/2478#issuecomment-982030581. tl;dr, a way to prevent (auto?) cedes/yields for a region of the program.

[2021-11-29 22:38] djspiewak commented on #2610
I think it would probably also suppress regular cedes. So something like:

[code]

[2021-11-29 22:38] djspiewak commented on #2610
Also maybe `unceding` would be a better name. Or… something

[2021-11-29 22:51] armanbilge commented on #2610
`uncedable` :P

[2021-11-29 22:53] djspiewak commented on #2610
`undecedable`

[2021-11-29 23:07] japgolly commented on #2530
Hey @vasilmkd , sorry I missed your question here.

We don't have `def onClick(e: org.scalajs.dom.Event): IO[Unit]` in scalajs-react. Have a look at how `onClick` is used in [this example](https://japgolly.github.io/scalajs-react/#examples/hooks).

One could write `<.button(^.onClick --> IO(println("hello")))` in scalajs-react which is translated to something effectively like

[code]

So to work b

[2021-11-29 23:11] japgolly commented on #2530
scalajs-react also directly accepts `SyncIO` instances as event handlers. But that being said, the more synchronicity we can get from `IO` execution, the better.

[2021-11-29 23:22] vasilmkd commented on #2530
@japgolly Thanks for going into detail. Can you maybe confirm then that the default implementation of `preventDefault` in `scalajs-react` using Cats Effect 3 IO doesn't work properly because of the asynchronous execution?

[2021-11-29 23:28] japgolly commented on #2530
It's up to users wrap `e.preventDefault()` (for some event `e)` in whichever effect type they like. So users can do `Callback(e.preventDefault())`, `SyncIO(e.preventDefault())`, `IO(e.preventDefault())`, and then it's translated to JS using the `def dispatch` method on the implicit effect instances for the effect type. If a user types `IO(e.preventDefault())` it will be run using `unsafeRunAndForg

[2021-11-29 23:36] japgolly commented on #2530
Oh and btw, I'd be very happy to change scalajs-react if there's a better way to execute these effects. It would be a binary-compatible change so np, just let me know

[2021-11-29 23:38] vasilmkd commented on #2530
@japgolly Can users write an `onClick` handler in `SyncIO` while the other 99% of their application uses `IO` without major hassles?

[2021-11-29 23:40] armanbilge commented on #2530
I think if you want your `onClick` handler to do something async you'll need `IO`.

[2021-11-29 23:41] djspiewak commented on #2530
Actually if you change `action.unsafeRunAndForget()` to the following, it should resolve the issue for most users:

[code]

What we're kind of getting at is whether or not this should be made more convenient.

[2021-11-29 23:43] vasilmkd commented on #2530
Right, I very much support this, but IMO the logic cuts both ways. If people _want_ to execute something _synchronously_, they should really be reaching for `SyncIO`. I think that it's not a big leap to assume that those same users wouldn't reach for `scala.concurrent.Future` in that scenario. IMO, a part of this problem can be solved with better outreach and teaching.

[2021-11-29 23:44] armanbilge commented on #2530
@djspiewak except of course the danger of that is that is that we no longer have auto-yielding. Which might not be important for most uses as you say.

[2021-11-29 23:45] armanbilge commented on #2530
Yes, except how do you combine _both_? Say you want to do `e.preventDefault()` synchronously and then start doing some async stuff.

[2021-11-29 23:48] japgolly commented on #2530
I typically use `Callback` and `AsyncCallback` which are analogous to `SyncIO` and `IO`, but in practice it's very, very common that I mix sync and async effects in event handlers in my real-world webapps.

[2021-11-29 23:51] vasilmkd commented on #2530
Hot take:

A mix of synchronous and asynchronous execution is what I'm naming "synchronously starting the execution of an asynchronous effect", which is exactly Daniel's code

[code]

and its type is `SyncIO[Unit]`.

[2021-11-29 23:52] vasilmkd commented on #2530
Anything else is relying on implementation details.

[2021-11-29 23:54] djspiewak commented on #2530
What if we added a step limiter overload to `syncStep`? So basically allowing users to request a maximum number of synchronous steps before inserting an artificial yield.

[2021-11-29 23:55] armanbilge commented on #2530
I think it needs some rearranging to get that type, but it can only become `SyncIO` if you hide the start of an async effect inside of a `delay`. Which feels kind of wrong?

Yes, I like this idea 👍

[2021-11-29 23:56] japgolly commented on #2530
Yeah, the think the detail and new approach is fine.

Also, as an end-user without very detailed knowledge of CE, I personally think it'd be pretty cool to have a method that wraps `action.syncStep.unsafeRunSync().fold(_.unsafeRunAndForget(), _ => ())` so vote 1 from me for a convenience method 😊

[2021-11-29 23:57] armanbilge commented on #2530
And we come full circle 😉 that's what I proposed in https://github.com/typelevel/cats-effect/pull/2478.

[2021-11-30 00:00] vasilmkd commented on #2530
I'm not against a convenience method for this. I much prefer it over changing the execution model of `IO`.

[2021-11-30 00:03] armanbilge commented on #2530
I'd like to also use Daniels step-limiter idea, and ideally the convenience method can just grab it from it the `IORuntime`.

[2021-11-30 00:04] djspiewak commented on #2530
The convenience method is just a little scary because it's so profoundly different from the normal execution approach. Not saying it's a wrong thing to do, it's just really really different and it feels better to make it explicit so users can't get into this mode by accident.

[2021-11-30 00:05] armanbilge commented on #2530
I think it is much more dangerous on JVM than JS, and that's why I proposed we make the convenience method JS only.

[2021-11-30 00:07] djspiewak commented on #2530
`unsafeRunWithSyncPrefix`? I guess I'm semi convinced. Bike shed time.

[2021-11-30 02:03] djspiewak commented on #2530
What about `unsafeRunSyncToFuture(): Future[A]`? This gives you the same functionality as `unsafeToFuture`, except that it runs the prefix synchronously.

[2021-11-30 02:04] #2608 closed, assigned to alexandrustana

[2021-11-30 02:22] armanbilge commented on #2530
I do like that one :) in any case, it will need docs!

[2021-11-30 03:11] matil019 commented on #2530
Not every `IO`s can be created manually. For example, `fs2.Stream` seems to put actions behind an async boundary no matter what.

[`DataTransfer.items`](https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/items) must be used synchronously just like `e.preventDefault()`. I forgot the exact piece of code but something like `Stream.range(0, dataTransfer.items).evalMap(i => IO(dataTransfer.i

[2021-11-30 03:19] armanbilge commented on #2530
@matil019 how long is `dataTransfer.items`? Besides the initial yield, `IO` also implements auto-yielding which will interrupt an otherwise synchronous chain of `IO`s.

[2021-11-30 03:42] armanbilge commented on #2580
From this [discussion on Discord](https://discord.com/channels/632277896739946517/632278585700384799/915083372710232074) another use-case for this would be when creating a custom `IORuntime` outside of `IOApp` since neither mbeans nor signals are registered in that case.

[2021-11-30 04:30] matil019 commented on #2530
@armanbilge its length is the number of items dragged and dropped so it's variable. I experienced the problem even if the length is only 1.

If this relevant: I used to add `bufferAll` to collect all of the elements into buffer before encountering an async boundary. Here is a part of a concrete code, which worked fine in CE2 but not in CE3:

[code]

That said, if auto-yielding is a thing, I don't

[2021-11-30 04:41] armanbilge commented on #2530
Thanks for the details! Not immediately clear to me why it's not working for you, but I'm not an expert on how those fs2 apis are implemented and it's possible something changed.

Yes, `syncStep` does not do any auto-yielding. So I'm also not sure why it didn't work. Can you show how you were using `syncStep`?

Yep, we've created https://github.com/typelevel/cats-effect/issues/2610 with a proposal

[2021-11-30 04:58] djspiewak commented on #2530
Doesn't `Stream.eval` introduce an async barrier by `race`ing a cancelation effect against the main one? That might be old. Pinging @diesalbla for thoughts.

[2021-11-30 11:26] diesalbla commented on #2530
So, here is the code that "compiles" (in fs2 jargon) a `Stream.eval`, which is represented as an object of the `Eval` subclass of `Pull`, into the target effect type `F`: https://github.com/typelevel/fs2/blob/main/core/shared/src/main/scala/fs2/Pull.scala#L1027-L1036. It makes a call to the [`Scope.interruptibleEval` method](https://github.com/typelevel/fs2/blob/main/core/shared/src/main/scala/fs2

[2021-11-30 11:40] armanbilge commented on #2530
Thanks! @matil019 it seems `Stream` is not quite suitable in this case, although I wonder if you can just use `Traverse` :)

[2021-11-30 14:34] atnoya opened #2615 "Expose a tickFor(time: FiniteDuration) in TestControl"
In some cases the logic you are trying to test might not be adequate for manually ticking and advancing directly.

An simplified example:

[code]
If I want to test how many times `emit` is called in a given period of time, I would need to understand exactly how and when fibers are scheduled (not only in the `functionToTest` but also if anything is scheduled in `calc` or `emit`.

I would propose to

[2021-11-30 14:59] djspiewak commented on #2615
Maybe I'm missing something, but doesn't simply calling `advance` and then `tick` do very nearly what `advanceFor` does? The only difference I could see would be if there's some time interval less than the full advance wherein some new `sleep` is enqueued. Alternatively, this is a bit like `tickAll` but with a limit on how far you advance in time.

[2021-11-30 15:59] atnoya commented on #2615
Yes, this is exactly it :)

This is exactly the issue indeed, perhaps the example I provided is too simplistic. The usecase in which I have had to implement this helper function was for an e2e test of a fs2 streams app that pulls elements forever and pushes to a http endpoint in limited batches at a regular pace (there are several `IO.sleep` with different duration at different parts of the applic

[2021-11-30 17:54] TimWSpence commented on #2472
If nobody objects, I'm going to have a go at this. I haven't really dealt with `Resource` internals before so it should be interesting 😅

[2021-11-30 18:23] djspiewak commented on #2472
Give it a shot! :-) Really this is about implementing an `allocatedFull` that is dual to `applyFull`

[2021-11-30 20:39] djspiewak commented on #2615
What about `tickUntil`?

[2021-11-30 20:45] djspiewak commented on #2615
Actually `tickFor` is probably a better name for it. I think something like this?

[code]

[2021-11-30 22:23] atnoya commented on #2615
that's more elegant indeed, however, I tested this in my project and got a couple of issues:

- `nextInterval` can throw an `UnsupportedOperationException: empty.min` (I believe this happens if there is no next interval available, as in, nothing pending to be scheduled)
- `advance` throws an `IllegalArgumentException: requirement failed` if `next2` is `0`

This slightly modified version works:

[c

[2021-11-30 22:47] djspiewak commented on #2615
Oh derp. That's an oversight in the API. I believe you are correct and it probably should be fixed

[2021-12-01 04:56] matil019 commented on #2530
@armanbilge Thanks for suggesting a workaround. Giving up the convenience of `fs2.Stream` to run certain actions synchronously is a huge tradeoff, though. Also, if you mean returning `IO[List[A]]` instead of `SyncIO[Stream[IO, A]]`, I'm worried about the fact that the `IO` must be run with `syncStep` becomes invisible from its type.

P.S. would you still like me to post the real usage of `syncStep

[2021-12-01 05:15] armanbilge commented on #2530
@matil019 it's a bit tricky, but if you want to use `Stream` you can use the `Sync` compiler like this:
[code]
That way it will not use any `Concurrent` operations, and using `syncStep` will hopefully do want you want. Give it a try?

Note that using the `Sync` compiler has its own complications (e.g. https://github.com/typelevel/fs2/issues/2371), so this is a bit hacky ... unfortunately it seems

[2021-12-01 12:31] atnoya commented on #2615
If you are happy with the implementation suggested, It would be my first contribution to cats-effect, so i'll need guidance, but it doesn't seem too complicated and, perhaps, I can give it a go, wdyt?

[2021-12-01 18:10] armanbilge commented on #2580
[Another Discord discussion](https://discord.com/channels/632277896739946517/632278585700384799/915664387208020059), considering ideas to integrate fiber dumps with test suites via this API.

[2021-12-02 04:30] jilen opened #2620 "Some dumped fiber have no trace"
Run the simple app https://github.com/jilen/fiber-trace-loss (use `sbt runProd` to trigger app).
Can see following dumps
[code]

[2021-12-02 04:32] jilen commented on #2620
Those fibers exists even no http request has been sent, don't know what those fibers are.

[2021-12-02 04:42] armanbilge commented on #2620
@jilen mentioned on Discord, and I suspect too, that at least some of those fibers are "system" fibers, e.g. started by CE itself. For example creating a dispatcher will start a supervisory fiber, and IIUC even though the fiber was _started_ by code invoked by userland code, that fiber will only run CE code and thus its trace will always be omitted. This is like the two extra fibers in Node.js dum

[2021-12-02 05:06] jilen commented on #2620
Or at lease keep the last stack trace element

[2021-12-05 05:22] armanbilge opened #2628 "Indicate if fiber is completed in dump/toString"
If a fiber hasn't been GCed (either due to non-determinism or some strong reference) or we are directly calling `toString` on it, we should indicate if it is complete.

[2021-12-05 05:29] armanbilge commented on #2628
I think this is an easy one by adding a getter to `IOFiber` to check for `DoneR` indicating the fiber is complete.
https://github.com/typelevel/cats-effect/blob/2ad8b8024eb1beb4e5d6e9746dcfbd47d8ff1d02/core/shared/src/main/scala/cats/effect/IOFiber.scala#L992

Then, update all the places printing fiber status (fiber dump and toString) to use this info.

[2021-12-05 07:41] lurenhaothu commented on #2601
Hi! I would be happy to help with this issue!

[2021-12-05 18:24] armanbilge opened #2630 "`IOApp` and leaked fibers"
While testing https://github.com/http4s/http4s/pull/5657 on Node.js we encountered a strange "bug": the `IOApp` would terminate, but the Node.js process _wouldn't_. The same program terminated normally on JVM.

[With the help of fiber dumps](https://gist.github.com/armanbilge/496dbe8e0ce7d77466f5429c500175fd) 😁 we were able to identify some leaked fibers. The app wasn't _blocked_ per-say (`IOApp#r

[2021-12-05 20:44] armanbilge commented on #2630
Some discord discussion: https://discord.com/channels/632277896739946517/839254871646404638/917150285179289650

Here's an idea, albeit opinionated: if `IOApp` gets to normal exit and there are still live fibers in the fiberbag, to do a fiber dump before exiting to complain about these leaks. This would work best with https://github.com/typelevel/cats-effect/issues/2628, and of course should be sup

[2021-12-05 20:46] armanbilge commented on #2537
One possible flaw with this idea is that if you start a never-completing fiber (e.g. a server) with dispatcher and don't have any way to cancel it, then unless your dispatcher cancels it on close are you are stuck :)

[2021-12-07 10:53] iRevive opened #2634 "[3.3.0] Performance regression"
_This issue was originally created in fs2, so version numbers below refer to fs2_.

I've observed a performance degradation in some scenarios on **3.2.3** version.

The throughput on small byte streams remained the same.
The throughput on bigger byte streams is decreased roughly by ~20%.
The memory allocation decreased by 10-15% on bigger byte streams.

See the benchmarks below for more details.

[2021-12-07 10:57] armanbilge commented on #2634
I wonder if this is related to https://github.com/typelevel/fs2/pull/2734. Would you mind trying with these versions?
before: `3.2-111-594f8fe`
after: `3.2-124-832c161`

[2021-12-07 10:59] iRevive commented on #2634
@armanbilge I was thinking about this change as well.
Sure, I will rerun benchmarks against these versions.

[2021-12-07 11:47] iRevive commented on #2634
@armanbilge not much of a difference 🤔

#### 3.2-111-594f8fe

[code]

#### 3.2-124-832c161
[code]

#### 3.2.3

[code]

[2021-12-07 11:59] armanbilge commented on #2634
If you have bandwidth to bisect further, you can use the [`--first-parent`](https://git-scm.com/docs/git-bisect#Documentation/git-bisect.txt---first-parent) option to get only merge commits and use the hash to look up the version in maven:
https://repo1.maven.org/maven2/co/fs2/fs2-io_2.13/

[2021-12-07 12:01] iRevive commented on #2634
@armanbilge I will experiment with different versions during the day

[2021-12-07 12:01] armanbilge commented on #2634
Thanks!

[2021-12-07 12:52] mpilquist commented on #2634
Nothing really jumps out when looking at the diff between v3.2.2 and 594f8fe. Most likely culprits:
- https://github.com/typelevel/fs2/pull/2720
- Upgrade to CE 3.3

[2021-12-07 16:30] yatesco commented on #1715
I volunteer to _read_ the dependency injection page as I am not even in a kitten in this ecosystem yet (but I do know a bunch about DI ;-))

[2021-12-08 12:44] iRevive commented on #2634
Indeed, my project depends on `cats-effect-std`, hence `IO` comes from the `fs2` package.

fs2 `3.2.2` with cats-effect 3.3.0 shows the same throughput as `3.2.3`.

Thank you for your help and sorry for wasting your time.

[2021-12-08 12:53] mpilquist commented on #2634
Not a waste of time at all, thanks for reporting! It would be good to understand what's causing the slow down in cats-effect. My guess is that this is the overhead of tracing but that's a total guess.

[2021-12-08 12:56] vasilmkd commented on #2634
Cats Effect 3.0.0 did not have tracing. It came with 3.2.0. The latest `fs2` 3.2.3 should be on CE 3.3.0.

[2021-12-08 12:57] mpilquist commented on #2634
Can you try the benchmark with the system property `-Dcats.effect.tracing.mode=none`? More details here: https://typelevel.org/cats-effect/docs/tracing#configuration

[2021-12-08 13:08] iRevive commented on #2634
I'm running benchmarks on a different machine so numbers differ from yesterday.

## fs2 3.2.2

### cats-effect 3.2.9 without tracing

[code]

### cats-effect 3.2.9 with tracing

[code]

### cats-effect 3.3.0 without tracing

[code]

### cats-effect 3.3.0 with tracing

[code]

## fs2 3.2.3

### cats-effect 3.2.9 without tracing

[code]

### cats-effect 3.2.9 with tracing

[code]

### cats-effect 3.

[2021-12-08 13:10] armanbilge commented on #2634
Thanks for the update!

~~Can you repeat this experiment with tracing disabled?~~

Sorry, actually no. I think you want to compare fs2 3.2.2 with CE 3.2.9 and CE 3.3.0, both with tracing disabled.

[2021-12-08 13:34] iRevive commented on #2634
@armanbilge I've updated the comment above

[2021-12-08 13:36] armanbilge commented on #2634
@iRevive Thanks! For the fs2 3.2.2 / CE 3.2.9, I assume that was with tracing? Can you run those with tracing disabled too? (same option)

[2021-12-08 14:07] iRevive commented on #2634
@armanbilge yeah, the difference is caused by tracing.

I've updated my comment with extra benchmarks. Seems I covered all possible combinations.

[2021-12-08 14:12] armanbilge commented on #2634
Thanks for all your efforts, and sorry for the confusion. I think these are the 4 combinations we need:

- [ ] fs2 3.2.2 / CE 3.2.9 / tracing enabled
- [ ] fs2 3.2.2 / CE 3.2.9 / tracing disabled
- [x] fs2 3.2.2 / CE 3.3.0 / tracing enabled
- [x] fs2 3.2.2 / CE 3.3.0 / tracing disabled

You've done one of the first two, but I'm not sure which (I assume with tracing enabled, because that's the defa

[2021-12-08 14:24] iRevive commented on #2634
@armanbilge done, see the updated comment https://github.com/typelevel/fs2/issues/2746#issuecomment-988800286

[2021-12-08 14:25] armanbilge commented on #2634
Awesome, thank you! 😁 let's have a look..

[2021-12-08 14:59] djspiewak commented on #2634
Looking at the time Delta, this seems about in line with what I would expect for tracing code which is mostly compute bound: about a 25% difference. Fully compute bound would be about 30%, more than likely.

The really interesting thing here is that GC time though. The tracing benchmark hit fewer GC iterations but still took almost twice as long. I wonder if that means that we could optimize traci

[2021-12-08 15:22] nikiforo commented on #2634
[code]

[2021-12-08 15:31] djspiewak commented on #2634
Thanks to the tabular formation, it's easier to see that I'm probably wrong on the compute bound but. Notice how tracing enabled/disabled makes very little difference on 3.2.9, but it matters a lot on 3.3. That suggests the fiber dump mechanism is primarily at fault. Absolutely fascinating.

Can you open an issue on CE for this? I think this is a meaningful performance regression.

[2021-12-08 15:32] armanbilge commented on #2634
We can transfer this one actually.

[2021-12-08 15:36] vasilmkd commented on #2634
https://github.com/typelevel/cats-effect/pull/2368#issuecomment-925306033

[2021-12-09 19:31] etspaceman opened #2636 "joinWithUnit for Fibers"
We have `joinWithNever`, in which a cancelled fiber is suspended and never finished. This mimics the behavior of CE2 from what I understand.

I would like to see a `joinWithUnit`, in which a cancelled fiber's result is ignored. Something like this:

[code]

[2021-12-09 19:35] etspaceman opened #2637 "Queue: take for more than one record"
FS2 Queue's had methods that would allow you to take a chunk of records, which were really convenient. The behavior would be that we would run the `tryTake` method until N was hit, or None was returned. I would like to see the same in the Cats Effect queue. Something like this:

[code]

[2021-12-09 19:39] armanbilge commented on #2637
Related?
- https://github.com/typelevel/cats-effect/pull/2164

[2021-12-09 19:40] etspaceman commented on #2637
It was related, yes, though that PR was messy and not well thought through. 😅

[2021-12-09 19:40] armanbilge commented on #2637
Seems it might be worth a take 2 then? :)

[2021-12-09 19:41] etspaceman commented on #2637
Absolutely! I opened this issue after discussing w/ @djspiewak offline in a related matter, just to track the effort.

[2021-12-09 19:43] armanbilge commented on #2637
Hmm, looking at back that PR it seemed there was some overlapping scope with fs2? I think I proposed an fs2-solution for this in https://github.com/typelevel/cats-effect/pull/2164#issuecomment-903209604.

[2021-12-09 19:49] etspaceman commented on #2637
Maybe!

[2021-12-09 19:56] armanbilge commented on #2636
I think for this to work you'd need need an implicit `ev: A <:< Unit` (i.e., the `Fiber` itself has to be of `Unit` return type. Edit: `Unit <:< A` actually 🤔

[2021-12-10 09:28] esgott opened #2639 "Add peek method to Queue"
The original `fs2.Queue` had a `peek` method on its interface. The `Queue` in Cats Effect doesn't have this. It would be good to add it, as it makes the migration to Cats Effect 3 easier.

[2021-12-10 18:33] rpiaggio commented on #2634
We seem to be hitting this issue particularly hard in Scala.js (dev environment), with a performance degradation by a whole order of magnitude. For example, an iteration over ~100 IO calls which took between 1 and 2 seconds in `3.2.9`, now takes around 30 in `3.3.0`.

So far, I've been unable to avoid the issue by setting `process.env.CATS_EFFECT_TRACING_MODE="none"`. Even though it's set when the

[2021-12-10 18:59] armanbilge commented on #2634
@rpiaggio thanks for reporting and sorry for your troubles. Yes, unfortunately tracing does have a far more severe impact on JS than JVM for reasons we are still trying to understand. This is why it is only enabled in development mode. Which browser are you using?

However, setting `CATS_EFFECT_TRACING_MODE` as you've done _should_ for the most part disable it, I'm not sure why that's not working

[2021-12-10 19:03] armanbilge commented on #2634
@rpiaggio one idea, to check that `CATS_EFFECT_TRACING_MODE` is working—can you raise an exception from inside CE and report the stacktrace? If it's enhanced then that means tracing is still enabled.

[2021-12-10 19:03] rpiaggio commented on #2634
@armanbilge Thank you for the links.

Chrome Version 96.0.4664.93 (Official Build) (x86_64)

Thank you!

[2021-12-10 19:25] rpiaggio commented on #2634
Good idea. I tried your suggestion and I'm actually not getting enhanced stacktraces.

This is what I get when setting `CATS_EFFECT_TRACING_MODE: "none"`:
![image](https://user-images.githubusercontent.com/1895643/145630262-368a79c2-2fba-4c54-86c3-1499682fee6b.png)

vs what I get when not setting `CATS_EFFECT_TRACING_MODE`:
![image](https://user-images.githubusercontent.com/1895643/145630321-43b16

[2021-12-10 19:28] armanbilge commented on #2634
Aha, that is helpful. So now that we've confirmed tracing is off, you _are_ definitely still seeing a significant performance regression? That is concerning!

[2021-12-10 19:49] vasilmkd commented on #2634
The `FiberAwareEC` is still being constructed in this case because presumably Chrome supports weak maps? If yes, then we have a lot of wrapping and unwrapping of `Runnables` and it needs to be measured.

I would be really surprised if that's a 15x regression though, that doesn't quite seem right.

[2021-12-10 19:56] armanbilge commented on #2634
Ah, @vasilmkd is right, my bad 😅 we need one more conditional there to check if tracing is disabled. Thanks, this is an easy fix!

[2021-12-11 01:38] etspaceman commented on #2637
After thinking about this more, I think this should live in cats-effect. A user shouldn't have to make an FS2 Stream to get more than 1 record from a queue.

[2021-12-11 14:08] vasilmkd commented on #2637
I propose that we break compatibility here and do this properly, if possible.

[2021-12-12 19:09] armanbilge commented on #2637
I don't have enough experience to know when it's ok to break bincompat, so I err on conservatism especially as CE3 gets more established in the ecosystem. So 👎 but happy to be overriden by someone who knows better :)

OTOH, can we implement these as implicit syntax?

[2021-12-12 19:12] armanbilge commented on #2637
Also linking to https://github.com/typelevel/cats-effect/issues/2639 which would need some breaking changes I think.

[2021-12-12 19:13] vasilmkd commented on #2637
Yeah, #2639 cannot be done without breakage, unfortunately.

[2021-12-12 19:15] armanbilge commented on #2637
Well, you could "cheat" by taking something out and putting it back to implement peek.

Edit: nope, nevermind, there's no control over head/tail.

[2021-12-12 19:16] vasilmkd commented on #2637
That's not a concurrently safe solution. Please don't give people ideas. 😆

[2021-12-12 19:17] armanbilge commented on #2637
I mean, "peek" is funky too when there's concurrency. I.e. there's no guarantee that you can take what you just peeked. So I am a bit dubious about that.

[2021-12-12 19:18] vasilmkd commented on #2637
`cats-effect-std` was put together haphazardly and without much thought. It has a lot of growing up to do. Also think about how `Resource` is going to evolve. I don't know. I dislike `std`, it was an afterthought.

[2021-12-12 19:49] SystemFw commented on #2637
I disagree with this and I think you're being far too harsh (including to yourself).

Potentially, yes. The discussions in this wave of feature requests are good.

_If_ Resource is going to evolve. The importance of having stable `std` is far greater than relaxing constraints here and there.

It certainly wasn't an afterthought, we debated both the general strategy of a `std` module and the specif

[2021-12-12 19:58] vasilmkd commented on #2637
Thanks @SystemFw and sorry. To everyone offended by my previous comment, I apologize. I don't think `std` is bad as an idea or that it shouldn't exist. I feel that not enough care was put in (starting from me, I have written a lot of code for it) to make the implementation more flexible in terms of evolution. I see it as a personal failure and every feature request that I read reminds me of it.

[2021-12-18 14:04] yanns opened #2663 "Contention on Map when using IO.unsafeToFuture()"
From https://discord.com/channels/632277896739946517/632278585700384799/921743315169325087

In a project based on `Future`, we introduce `IO` step by step. We use `IO.unsafeToFuture()` for interoperability.
I can observe the following locking:

<img width="772" alt="Screenshot 2021-12-18 at 13 35 46" src="https://user-images.githubusercontent.com/51669/146643621-5bc88393-80b5-4c11-8733-e5c75dabb4c

[2021-12-18 14:18] armanbilge commented on #2663
Thanks for the detailed write up! Just repeating a couple notes from Discord for anyone reading the issue here:
1. The `SynchronizedMap` here is used for tracking fibers for the new "fiber dump" feature introduced in 3.3.0. So, the easiest way to remove this overhead is simply to disable diagnostics with [`-Dcats.effect.tracing.mode=off`](https://typelevel.org/cats-effect/docs/tracing#configuratio

[2021-12-18 14:47] vasilmkd opened #2664 "Make the `WorkStealingThreadPool` be an `IORuntime`"
The inheritance is yet to be determined properly.

1. The `WSTP` is a compute pool.
2. The `WSTP` has good support for blocking, and we can cache the threads that were used for blocking, similar to a cached thread pool.
3. We already want to give the `WSTP` scheduler capabilities.
4. This will solve the situation where creating a `WSTP` needs a forward reference to the runtime it is in.

I will wo

[2021-12-19 07:42] djspiewak commented on #2634
So I *think* that we're probably putting just a bit more strain than we should be on the GC. This doesn't show as problematic in our benchmarks since we don't stress the heap too much, but in scenarios like the one in OP it becomes more problematic. A 20% hit for a feature which is intended to be lossless in terms of performance is a bit too much, IMO. At the very least it would merit allowing som

[2021-12-19 07:50] djspiewak commented on #2637
Philosophically, I'm okay with std being a bit less "pristine" than what we have in core or especially kernel. Cats Effect is a relatively long-lived and stable project, which means that the way in which it is used is going to shift over time, and so any "standard utilities" are going to ultimately age out of common use while new ones come in. We can either decide to just not have anything at all

[2021-12-19 08:59] vasilmkd commented on #2634
We can always replace the `WeakHashMap` with your original idea, I don't think the thread locality is the problem.

`WeakHashMap` does allocate on every use and does a bit of management on every access (to remove expired keys) and both of these things are not something we ideally want. Another alternative is to develop our own weak hash map with features that are more desirable for Cats Effect, li

[2021-12-19 15:34] yanns commented on #2663
This is such a good feature - difficult decision to disable it.

OK I see.
Our application is heavily based on `Future` and only a small portion on it is using `IO` to enable to progressive migration.

As a main execution context, mainly used to run `Future`, I don't see that `WorkStealingThreadPool` can work here.

`scala.concurrent.impl.ExecutionContextImpl.DefaultThreadFactory` is able to detec

[2021-12-19 15:42] armanbilge commented on #2663
Good news, `WorkStealingThreadPool` supports this 👍

`WorkStealingThreadPool` exposes similar metrics as MBeans, would that work for you? See the "Fiber Runtime Observability" in https://github.com/typelevel/cats-effect/releases/tag/v3.3.0

[2021-12-19 15:50] yanns commented on #2663
I see now that `cats.effect.unsafe.WorkerThread` extend `scala.concurrent.BlockContext` 👍

Oh yes, this can be a way to achieve that. I'll have a look. Thanks!

[2021-12-19 17:21] djspiewak commented on #2634
@vasilmkd This would need some measurement, but *if* I correctly understand the way the GC works, `WeakReference` itself is more the problem. I actually wonder if we can batch the weak references to avoid having one per fiber.

I mostly brought up the thread locality because, if we don't leverage the GC to perform the cleanup, we have to find some other way to solve the problem of an `IOCont` resu

[2021-12-19 17:36] vasilmkd commented on #2634
I don't see how `WeakReferences` can be avoided and/or not be 1:1 with what you're trying to hold in a data structure. If you don't use a `WeakReference` and you still hold a reference to an object, then that reference is strong and the object is not eligible for collection.

[2021-12-19 19:22] armanbilge opened #2667 "Make `Resource#allocatedCase` a public API"
Introduced in https://github.com/typelevel/cats-effect/pull/2617, but hidden so we could get those fixes into 3.3.x.

[2021-12-20 03:16] #2530 closed, assigned to nobody

[2021-12-20 09:44] alexandrustana commented on #2667
I could try and fix this one

[2021-12-20 10:11] vasilmkd commented on #2667
Make sure to target `series/3.x`.

[2021-12-20 15:35] vasilmkd commented on #2634
@iRevive If you could try the following snapshot, that would be amazing. Thank you.
[code]

[2021-12-20 16:24] iRevive commented on #2634
That's what I got today:

[code]

[2021-12-20 16:26] vasilmkd commented on #2634
What about the throughput results? The GC time is lower with the fix.

[2021-12-20 16:31] iRevive commented on #2634
The `3.3-87-1d1f0f` is roughly 5% faster than `3.3.0`.

[2021-12-20 16:43] vasilmkd commented on #2634
How does that compare to `3.2.9`? Is that still not sufficient?

[2021-12-20 20:07] djspiewak commented on #2615
@atnoya Sorry for the delay in getting back to you! Had a really busy few weeks. You should definitely jump on this if you're interested! Contributing isn't too fancy: just make a fork, push your change to a branch, and PR it back to `series/3.x` (the default base). Make sure to run `sbt prePR` before you push to avoid annoying scalafmt issues.

[2021-12-20 20:08] #2472 closed, assigned to TimWSpence

[2021-12-22 12:04] iRevive commented on #2634
I did several measurements yesterday. I've increased the measurement time to decrease the margin of error for the score.

`-` - without tracing, `+` - with tracing:

[code]

The GC time is lower with the fix. And the `3.3-87-1d1f0ff ` works slightly faster when tracing is enabled (~2-3%) compared to `3.3.0`.

From what I see, enabled tracing affects throughput of the library by ~15% on `3.2.9` and

[2021-12-23 15:23] armanbilge opened #2684 "Create benchmarking infrastructure for JS (and Native?)"
(This issue is not directly about Cats Effect, but highly relevant to it.)

The lack of benchmarks for JS came up again recently wrt https://github.com/typelevel/cats-effect/pull/2673. Daniel and I had a discussion about this on [Discord](https://discord.com/channels/632277896739946517/839263556754472990/922321465720860703) and I wanted to write some notes/braindump.

Firstly, although there is [s

[2021-12-29 05:43] #2667 closed, assigned to alexandrustana

[2021-12-29 13:34] ronanM opened #2697 "`forceR` success behavior ?"
Why success behavior of `a !> b` is different from `a *> b` ?

[code]

[2021-12-29 15:59] vasilmkd commented on #2697
This is not unique to `WriterT`, something similar should also be happening with `StateT`. @djspiewak Can we do anything? I'm not sure if there's any room for improvement here.

[2021-12-29 15:59] armanbilge commented on #2697
The implementation of `forceR` for `WriterT` is given here:
https://github.com/typelevel/cats-effect/blob/c73512576734177d477bf0530910b56d72da3ed0/kernel/shared/src/main/scala/cats/effect/kernel/MonadCancel.scala#L794-L797

Which does discard completely the result of the left `WriterT`.

Assuming that `forceR` is a "primitive" of `MonadCancel` (i.e., an abstract member because the implementation c

[2021-12-29 16:14] ronanM commented on #2697
Naively I thought that `a !> b` <=> `a.attempt *> b`, but it's definitively not the case.

This operator may need more documentation/:warning:warnings:warning:.

[2021-12-30 01:14] djspiewak commented on #2697
It absolutely needs more documentation. The discard of the left context is intentional, but it's certainly a bit weird. There was some really arcane reason why this had to be the case which escapes me at present, but iirc if you change it the laws will start failing.

[2021-12-30 01:14] #2697 closed, assigned to nobody

[2021-12-30 07:34] ronanM commented on #2697
`ignoreLeft`/`discardLeft` may be more informative ?

[2021-12-30 12:49] armanbilge commented on #2697
I think it's worth noting that this problem of lost side-effects is specific to the `WriterT` monad transformer (and `StateT` as Vasil points out). The side-effect of "writing" is abstracted in Cats MTL as [`Tell`](https://typelevel.org/cats-mtl/mtl-classes/tell.html) (and state as [`Stateful`](https://typelevel.org/cats-mtl/mtl-classes/stateful.html)) which I believe you should be able to impleme

[2021-12-30 18:12] ronanM commented on #2697
On my project, my _"stack"_ is `Fx[_]` defined like this :
[code]
And I use Cats MTL `Chronicle[CIO, LogTree]` to have a tree-like _"logging"_ accumulating informations about nested executions of functions (message, result, timings, user informations, etc.).

With my `Fx[_]`, the `forceR` behaviour is not obvious.

[2021-12-30 19:19] djspiewak commented on #2634
The newly-released 3.3.2 includes the fixes tested here. One thing I would really like to do is figure out why tracing *disabled* has more overhead in this release than in previous ones. We'll leave this issue open to track that problem.

Regarding the increase in overhead with tracing *enabled*, I think we can definitely continue to iterate on that case, but I expect that the scenario described i

[2021-12-30 19:45] iRevive commented on #2634
@djspiewak thank you for the details.

According to the  [StreamDecoder L56](https://github.com/typelevel/fs2/blob/main/scodec/shared/src/main/scala/fs2/interop/scodec/StreamDecoder.scala#L56), `socket.reads.through(streamDecoder.toPipeByte)` should operate on a chunk rather than a single byte.

On the other hand, StreamDecoder [reevaluates](https://github.com/typelevel/fs2/blob/main/scodec/shared

[2021-12-30 19:51] djspiewak commented on #2634
I think that's a good idea! This should also result in less backtracking in scodec. It's tricky though because you have to try to predict the "right" chunk size. Hard to give good advice here without seeing your problem space, but accumulating into larger chunks is definitely what I would try, particularly if it can be done on the *sending* side rather than on the receiving side.

[2021-12-30 19:58] nikiforo opened #2704 "version 3.3.1 doesn't properly terminate on error in SBT"
build.sbt
[code]

Main.scala
[code]

[code]

Expected behavior: IOApp completes with error, sbt is usable
Actual behavior: IOApp completes with error, sbt starts consuming all available CPU(up to 800% on my PC)

After I change `ce3` version to `3.3.0` the problem disappears.

[2021-12-30 20:05] vasilmkd commented on #2704
I'm pretty sure https://github.com/typelevel/cats-effect/pull/2600 is the culprit. I'll investigate. Thanks for the report. Upgrading to `3.3.2` won't help either, just FYI.

[2021-12-30 20:32] vasilmkd commented on #2704
CE3 `3.3.2` crashes sbt `1.6.x` completely using this `IOApp`.

[2021-12-31 00:47] djspiewak commented on #2704
Confirmed this locally. Working on confirming the culprit, though I strongly suspect Vasil's hunch is correct.

[2021-12-31 01:24] djspiewak commented on #2704
This is absolutely wild, honestly. Taking a thread dump while the VM is firing up all the cores shows exactly… zero active threads. Like, everything is parked. The only real hint is that the WSTP isn't shutdown, because its worker threads are all still alive (just parked).

[2021-12-31 01:53] djspiewak commented on #2704
I think what we're actually seeing here is a bug in sbt. Working around it is going to be very subtle and annoying, because it's effectively requiring us to detect that we're running within sbt, unforked, and then impose a different termination semantic not only on the application but upon the worker threads and runtime.

In the interim, if anyone is hitting this, `run / fork := true` should work

[2021-12-31 04:23] djspiewak opened #2706 "Errors raised in unforked `IOApp`s terminate sbt 1.6.x"
Simple reproducer:

[code]

When `run` unforked in sbt 1.6.0, this will print the error and then terminate the sbt runtime. I believe this is happening because sbt 1.6.0 isn't suppressing `System.exit` in the same way that previous versions did, which results in VM termination. We can resolve this by using `throw` instead of `printStackTrace()` etc, but that has other problems for exit codes on wo

[2021-12-31 06:03] #2630 closed, assigned to nobody

[2021-12-31 23:02] #2704 closed, assigned to nobody

[2022-01-01 20:29] djspiewak opened #2720 "`FatalErrorUnsafeRun` test is now nondeterministic"
Rarely failing with this error:

[code]

I think this is happening because of the interruption handling on the workers, creating a race condition between the initiating exception and the interruption which results.

[2022-01-01 23:28] armanbilge opened #2722 "live fiber snapshot test is flaky on JVM"
ubuntu-latest, 2.13.7, graalvm-ce-java11@21.3

https://github.com/typelevel/cats-effect/runs/4681567043?check_suite_focus=true#step:9:3480

[code]

[2022-01-03 06:51] #2637 closed, assigned to nobody

[2022-01-03 10:25] LLCampos opened #2727 "Document most common failure modes when using `Dispatcher`"
For example, I'm constantly hitting "dispatcher already shutdown" issues, and I always get really confused on why. Some troubleshooting docs would be great.

[2022-01-03 21:09] ornamental opened #2728 "Memoized effect hangs for `Concurrent` instances of monad transformers"
The default implementation of `memoize` inherited by `OptionTGenConcurrent`, `EitherTGenConcurrent`, `IorTGenConcurrent`, and `WriterTGenConcurrent` does not take the contexts added by the corresponding transformers into account.
For `OptionT`, `EitherT`, `IorT` this results in freezes.
For `IorT` and `WriterT` this results in data loss.

Example:
[code]

`memoize` has to be overridden accordingly

[2022-01-04 06:28] armanbilge commented on #2532
For anyone who needs this today, @ChristopherDavenport just microlib-ed the implementation in https://github.com/typelevel/cats-effect/pull/2650.
https://github.com/davenverse/env

[2022-01-04 11:30] nikiforo commented on #2704
In my case it didn't help. I downgraded to 3.3.0

[2022-01-04 14:20] durban commented on #2728
I don't think it has to be overridden, it just needs to be more careful; see #2729.

[2022-01-04 15:58] djspiewak commented on #2704
@nikiforo Does 3.3.3 resolve the issue? It actually surprises me that `run / fork := true` doesn't fix it, since the problem is very specific to Sbt's thread cleaner, which in turn only exists in unforked runs.

[2022-01-04 20:59] nikiforo commented on #2704
Using `> run / fork := true`
The code consumes all CPU on sbt v1.5.5 for:
* "org.typelevel" %% "cats-effect" % "3.3.1"
* "org.typelevel" %% "cats-effect" % "3.3.2"

Using `> run / fork := true`
The code kills sbt v1.6.0 for:
* "org.typelevel" %% "cats-effect" % "3.3.1"
* "org.typelevel" %% "cats-effect" % "3.3.2"
* "org.typelevel" %% "cats-effect" % "3.3.3"

On sbt v1.5.5, ce version "3.3.3" issue

[2022-01-04 21:09] vasilmkd commented on #2704
Sbt 1.6.0 is not actually killed, it just lacks the code to trap System.exit (i.e. it's a feature, not a bug).

[2022-01-04 21:55] toddburnside opened #2730 "`Uncaught TypeErrror` in browser console after upgrading to 3.3.3"
After upgrading from 3.3.2 to 3.3.3 I started seeing error messages in the browser console on startup. The message is of the form `Uncaught TypeError: f$1 is not a function`.

One of the lines of code in the callstack is
[code]
With the line above it is:
[code]
This looks similar to this line of code from #2707: https://github.com/typelevel/cats-effect/blob/614e98982602263d1447f3a9975be84bb4c23a67

[2022-01-04 22:59] armanbilge commented on #2730
Thanks for the report! I suspect the changes I made in https://github.com/typelevel/cats-effect/pull/2707 as well.

Just to clarify, is the application completely breaking? Or is it just the error message in the log. I want to make sure we can catch this sort of thing in CI.

For browsers users of CE, it should be fine to stay on 3.3.2 until this is fixed; the only changes in 3.3.3 were affecting

[2022-01-04 23:01] toddburnside commented on #2730
Ah, yes, I should have clarified. Everything appears to be working correctly - there is just the message in the log. Thanks.

[2022-01-04 23:04] armanbilge commented on #2730
Aha, good to know :) thanks for the fast reply.

[2022-01-05 01:47] armanbilge commented on #2730
Sorry, I'm going to need help reproducing this :) I tried a few easy things:

[code]
[code]

But neither of these seems sufficient to reproduce in Firefox anyway.

[2022-01-05 01:51] toddburnside commented on #2730
I'm probably not going to get a chance to look at it tonight, but I'll try to reproduce it in the morning.

[2022-01-05 04:16] rossabaker commented on #2532
Environment variables can be set within the current process on a POSIX system.  Java doesn't provide that in a public API, but I don't see why JNI couldn't do it, or Scala Native if we ever supported that.  If the point is to be cross-platform, it's absolutely an effect.  (For more prior art, so does Haskell.)

[2022-01-05 04:43] rossabaker commented on #2532
Another reason it's an effect is that it can throw a `SecurityException` on the JVM.

[2022-01-06 05:38] toddburnside commented on #2730
It took awhile to isolate it, but it appears the problem is related to our use of `vite` in our pipeline. Vite is providing a `process` that seems to be interfering with Cats Effect's use of `js.Dynamic.global.process` via `hardExit`.  I think #2707 just uses it in a few more places and we just happened to hit the problem now. This doesn't seem to be a bug with Cats Effect, so I think this issue c

[2022-01-06 05:46] armanbilge commented on #2730
Thanks for the update and your efforts to track this down! I'd still like to try and fix this if possible. I wonder if we need another `Try` somewhere to gracefully swallow this error. Actually, I think I know what is wrong... this was helpful, thanks :)

[2022-01-06 06:28] armanbilge commented on #2730
For the record, this was not specific to `vite`, it was a bug in CE, and completely my bad :) easy fix tho.

[2022-01-06 07:19] toddburnside commented on #2730
Happy to have been of some assistance. I'm also glad it was an easy fix. I published your PR locally and the error no longer occurs. Your fix make sense.  👍 It seems obvious in hindsight, doesn't it. 😄

[2022-01-06 07:23] armanbilge commented on #2730
Ah, perfect, thanks for confirming! I was able to make a reproducer for CI, so never again. It was obvious, sorry to send you down the rabbit hole 😅 🤦

[2022-01-06 07:26] toddburnside commented on #2730
No worries. Thanks for the fix. :)

[2022-01-06 07:39] armanbilge commented on #2722
Nope, not just graal.

ubuntu-latest, 2.13.7, adoptium@11

https://github.com/typelevel/cats-effect/runs/4724298794?check_suite_focus=true#step:9:3480

[code]

[2022-01-06 12:24] cquiroz commented on #2730
Cool, thanks @armanbilge, it seems relying on `process` is going to be problemmatic in browsers in general?

[2022-01-06 14:08] armanbilge commented on #2730
@cquiroz yes, `process` is a tricky one. We mostly use it so that `IOApp` on Node.js can behave like the JVM: command line args, signal handlers, exit hooks, etc.

But, `process.env` specifically has become a sort of pseudo-standard across web frameworks as well:
- https://create-react-app.dev/docs/adding-custom-environment-variables/
- https://webpack.js.org/plugins/environment-plugin/
- https://

[2022-01-06 14:15] #2391 closed, assigned to nobody

[2022-01-06 16:59] djspiewak commented on #2722
Well at least it's not just Graal…

[2022-01-06 19:05] #2722 closed, assigned to nobody

[2022-01-06 19:06] #2730 closed, assigned to nobody

[2022-01-06 20:39] bilki commented on #2333
Not sure whether it could be the solution for this use case, but I'm posting it, as we discussed on discord: while trying to work with some Java frameworks, like QtJambi or LWJGL, sometimes it's required for certain functions to be run on the main thread.

A workaround could be to execute what's needed to be run on the main thread _before_ entering the `IO` context, then proceed with the rest of t

[2022-01-06 20:52] djspiewak commented on #2333
Crazy idea, but what if you could do something like `.evalOn(IO.mainThread)`?

[2022-01-06 20:58] bilki commented on #2333
Yes, I was thinking exactly about that approach (best solution imho because of the fine granularity) when I faced the problem, but I didn't know if that could be achievable, or what the implications to the rest of the program would be even if that `IO.mainThread` existed 🤔

[2022-01-06 21:10] djspiewak commented on #2333
I mean, it's doable in a couple different ways. The really easy one is made pretty clear by @vasilmkd's changes in #2724. While the application is running, the main thread is just chilling out in a `queue.poll`, waiting for the results. All you have to do is make it possible for that queue to contain a `Runnable` as well as the final results and then push through something that wraps it up as an `

[2022-01-07 05:35] #2728 closed, assigned to nobody

[2022-01-07 17:23] bilki commented on #2333
Makes sense, the main thread is something closely related to the application entry point, so I'd expect to only be able to access it from within an `IOApp`, or the actual Scala application `main`. I've also seen that you drafted a PR implementing this approach (that was fast!).

[2022-01-07 17:53] ritschwumm commented on #2333
@bilki it's not just the main thread, with e.g. AWT (and by extension, swing) you sometimes need to run things synchronously in the event dispatch thread

[2022-01-09 00:43] #2706 closed, assigned to nobody

[2022-01-09 00:45] #2636 closed, assigned to nobody

[2022-01-10 10:11] geirolz opened #2742 "Wrong stack trace with timeout"
Given the following code, I get a `TimeoutException` for 15000 millis that is right BUT the stack trace take me to the line of `t2` instead of `t3`
I was expecting that the stack trace takes me to the timeout exceeded

[code]

While if I add a timeout at `t1` i get the same exception but the stack trace bring me to `t1`
[code]

If there aren't nested timeout i get the right stack trace
[code]

The

[2022-01-11 16:49] mattroberts297 opened #2745 "NonDaemonThreadLogger and SBT 1.6.x"
Using SBT 1.6.x the `NonDaemonThreadLogger` appears to print out SBT-related threads. Reproducible:

Main.scala
[code]

build.sbt
[code]

project/build.properties
[code]

Output:

[code]

I suspect this issue is now observable due to this SBT change: https://github.com/sbt/sbt/pull/6665. Though when I attached a debugger to SBT 1.5.x I observed that the `NonDaemonThreadLogger` is terminated before

[2022-01-11 16:53] djspiewak commented on #2745
Yeah I think this has always been an issue, just not observable. The `NonDaemonThreadLogger` shouldn't be run in an unforked sbt `run`. It just doesn't have any meaning in that context, *and* it's not useful anyway because sbt's thread cleaner will take a wrecking ball to all of that anyway. Seeing as we now have the ability to detect this scenario, we just shouldn't run the logger in that case.

[2022-01-12 04:56] #2745 closed, assigned to nobody

[2022-01-12 10:08] jmgimeno opened #2748 "App + cats-effect hangs on 3.1.0 but works fine in 2.13.7"
This code
[code]
hangs with Scala 3.1.0 after printing only "Hello"
[code]
but works perfecty with Scala 2.13.7
[code]

[2022-01-12 14:36] mattroberts297 commented on #2745
Thank you @djspiewak and @vasilmkd 🙇‍♂️

[2022-01-12 20:18] djspiewak commented on #2748
Try using `def`s. I'd be willing to bet this is caused by the issues with `MethodHandle` linking to `null` during class load.

[2022-01-12 20:26] SethTisue commented on #2748
I'd also be interested in knowing if the problem goes away if you avoid using `App`. `App` is not recommended in Scala 3, as per https://docs.scala-lang.org/scala3/reference/changed-features/main-functions.html

[2022-01-12 21:47] djspiewak commented on #2748
I suspect that, if you avoid using `App`, the source of the problem will actually become a hair more obvious. Or you can just push the `val`s into the body of the `main` method (which is effectively what Scala 2 is doing with the same code but Scala 3 is not), and that should *also* resolve the deadlock.

[2022-01-13 07:01] jmgimeno commented on #2748
Yes, if I create a regular `main` method instead of extending `App`, it works perfectly

Changing the definitions of `hello` and `world` from `val` instead to `def` also solves the problem in Scala 3.1.0 even when using `App`.

[2022-01-13 16:25] djspiewak commented on #2748
Sweet! So this is definitely the `MethodHandle` concurrent initialization issue then. It's actually part of the JVM itself and not really anything that either Scala or Cats Effect can address. In fact, you can reproduce this issue using bare Java.

[2022-01-13 16:25] #2748 closed, assigned to nobody

[2022-01-16 04:08] djspiewak commented on #2742
This is very interesting! Can definitely confirm this is a bug.

[2022-01-16 04:39] djspiewak commented on #2742
Okay, I figured this out. It has to do with the way that we're keying traces. `full` tracing mode *should* have avoided the issue, but that appears to have some other issues that need ironing out.

The problem is that the first one wins on determining the call site for the `flatMap` inside of `timeout`. Anything starting with the `cats.` package is filtered out, which is why the trace lists your s

[2022-01-16 04:47] #2720 closed, assigned to nobody

[2022-01-17 13:51] bastewart opened #2761 "Tracing mode JVM parameter changed without notice in `3.2.0`"
The configuration to control tracing mode was changed in [3.2.0](https://github.com/typelevel/cats-effect/releases/tag/v3.2.0). Specifically in f1c5e8df8d894f3c2268acb1a1a8bba63291126c of #2147. This wasn't really highlighted in the release notes at all, only being mentioned indirectly.

`cats.effect.stackTracingMode` -> `cats.effect.tracing.mode`

I'd be surprised if I am the only person who had

[2022-01-17 16:46] djspiewak commented on #2761
The main reason we didn't highlight this further was the fact that tracing didn't exist at all in Cats Effect 3.1.x and 3.0.x, so in a sense it was considered part of the compatibility breakage between 2.x and 3.x, but I think we can definitely do a better job of bringing it forward. I do think the new parameter name is better, but we could potentially issue a warning if the old parameter exists?

[2022-01-17 16:52] bastewart commented on #2761
I definitely agree the new name is better! Personally I think a warning on startup that the name was renamed would be sufficient. Backwards compatibility for the old flag (with a deprecation warning) seems a bit over-the-top as I can't imagine you'd ever want to throw an exception if the old flag is detected (in the next major release), so a warning is the best that can be done ever.

Maybe also h

[2022-01-17 17:46] #2532 closed, assigned to nobody

[2022-01-19 15:40] djspiewak opened #2762 "Experiment with starvation detecter"
Idea shamelessly stolen from Akka. Starting a background fiber in `IOApp` which does something like this would be an interesting thing to explore:

[code]

Coefficients should be tunable.

The idea here is pretty simple: just try to wake up and run an action once per second and make sure that the drift on this execution is within acceptable bounds. If it takes too long for the runtime to pick up t

[2022-01-19 17:31] nikiforo opened #2763 "timeout and product aren't resolved on Resource[F, *] for ce3+scala_2.12"
Minimization:
* fork project: https://github.com/nikiforo/ce3res
* launch sbt
* sbt:ce3res> compile
* Notice that the project compiles
* sbt:ce3res> + compile
* Notice
[code]

Additional info:
* `tupleLeft` isn't resolved as well
* `product` works in ce2 for scala_2.12

[2022-01-19 22:17] djspiewak commented on #2763
You're missing `-Ypartial-unification` in your `scalacOptions`. :-) That's why it doesn't compile on 2.12. When I add that option, your reproduction `+compile`s successfully.

[2022-01-19 22:17] #2763 closed, assigned to nobody

[2022-01-20 18:32] durban opened #2766 "Random.javaUtilConcurrentThreadLocalRandom not thread-local"
I think that `cats.effect.std.Random.javaUtilConcurrentThreadLocalRandom` might call a `ThreadLocalRandom` from the incorrect thread. Its unlikely this would cause any problems on OpenJDK, since there *every* `ThreadLocalRandom` is the "same", but... it's still not allowed, and who knows what other JVM-s might do.

I think this could happen in the following way. Inlining a few things, what it does

[2022-01-20 18:37] vasilmkd commented on #2766
That is a valid point and should be fixed. Feel free to open a PR.

[2022-01-21 13:32] armanbilge opened #2767 "(Eventually) Revert #2473"
https://github.com/typelevel/cats-effect/pull/2743 was an ugly workaround for https://github.com/lampepfl/dotty/issues/14240 which is getting an upstream fix in https://github.com/lampepfl/dotty/pull/14318. So when we finally update to Scala 3.?.? we should be able to revert it. Unfortunately, IIUC the problem is in our published artifacts, so a user updating to a newer Scala 3 would not be suffic

[2022-01-22 19:12] djspiewak commented on #2766
This is actually a great first issue. Fixable just by collapsing the two `delay` blocks together. Please target the `series/3.3.x` branch!

[2022-01-22 19:16] djspiewak opened #2768 "Allow `Dispatcher` to be configured for single-producer scenarios"
Right now, `Dispatcher` somewhat pessimistically assumes that you will be using it from multiple producers simultaneously, and the actions you're enqueuing might be very lengthy. This forces its implementation to stripe internally, as well as `.start` every action it is given, both of which sacrifice ordering properties entirely. Additionally, this adds some extra overhead relative to what we theo

[2022-01-22 22:02] djspiewak opened #2771 "High-performance `Queue` implementation"
We can up-level the performance on `Queue` by about an order of magnitude by taking an `Async` constraint instead of `Concurrent`. However, the ecosystem relies on being able to use `Concurrent` since it's a much weaker constraint. Thus, we need to do a `match` on the runtime type of the typeclass. If it's `Concurrent`, we use the existing implementation; if it's `Async`, we use the higher perform

[2022-01-22 22:05] djspiewak opened #2772 "Special-case more specific runtime types in derived typeclasses"
In each of the derived typeclasses (e.g. `Concurrent` for `EitherT`), we should `match` on the runtime type of the `F` constraint and try to provide the more specific runtime type if at all possible (e.g. if the `F` constraint is `Async` and not `Concurrent`, then we should instantiate an `Async` for `EitherT` and return *that*, preserving the runtime specificity). This is needed to ensure that #2

[2022-01-25 20:42] majk-p opened #2778 "Laws testing with Arbitrary[IO[A]] from TestInstances"
I've been recently playing around with migration to CE3. Some of my libraries provide algebras that are law tested. Some of them are meant to be used against `IO`, thus the laws were also tested against it. In CE2 I would use `cats.effect.laws.discipline.arbitrary._` and as [discussed on Discord](https://discord.com/channels/632277896739946517/632278585700384799/934073351050231828) the right repla

[2022-01-25 22:55] djspiewak commented on #2778
This is related to #2615, which notes that `nextInterval` raises an exception in some cases. At the very least, fixing that should help narrow down what's going on here.

[2022-01-26 09:34] majk-p commented on #2778
Thank you! This indeed seems related. On my fork I've modified `nextInterval` slightly:
[code]
Now I end up with this kind of error:
[code]
Looks like the runtime would sometimes face tasks that should be finished in the past already. Obviously `advance` allows only positive duration (perhaps it could accept zero?). Should we in this case just return zero duration? Or perhaps it's a bigger issue?

[2022-01-29 09:58] PiotrBosak commented on #2766
I allowed myself to try to fix the issue. I hope that's fine with @durban .

[2022-01-29 10:20] durban commented on #2766
@PiotrBosak Sure, absolutely :-)

[2022-01-29 16:11] armanbilge commented on #2766
Btw this would have been another possible application of https://github.com/typelevel/cats-effect/issues/2610.

[2022-01-30 21:29] arashi01 commented on #1302
That has now been remedied also.

[2022-01-30 21:34] armanbilge commented on #1302
@arashi01 Yes, this has been on my mind :) we still need the Typelevel ecosystem to be built for Native/3 which is currently blocked at https://github.com/typelevel/scalacheck/pull/868. The problem is supporting Native requires jumping to Scala 3.1, see discussion about that in https://github.com/typelevel/cats/pull/4016. But, hopefully once https://github.com/lampepfl/dotty/pull/14156 arrives in

[2022-01-31 23:14] timshen24 commented on #2536
So what does FFI really stand for?

[2022-02-01 15:51] #2588 closed, assigned to nobody

[2022-02-01 15:51] djspiewak opened #2797 "Fix scaladoc formatting issues"
It appears that scalafmt is pretty aggressively breaking a lot of scaladoc. We need to go back through and fix it, then probably wrap in `noformat` to prevent it from breaking again.

[2022-02-01 20:30] geirolz commented on #2742
Sorry for the late reply @djspiewak, thank you for your detailed explanation.
The real problem is that when you have several timeouts with the same duration could be difficult to understand which one is expired(this is the problem we had in prod and the reason behind this ticket)

[2022-02-01 21:02] djspiewak commented on #2742
I expected as much, but one thing kind of puzzles me: even if the last trace frame is deceptive, wouldn't the previous trace frames be a little more illustrative? That doesn't hold true in the OP example, but a production codebase is unlikely to just consist of a whole bunch of `timeout` calls.

[2022-02-01 23:25] geirolz commented on #2742
In our case we have an engine that executes some steps ( like saga orchestrator pattern ), each step has a max timeout in the engine while each step action is defined as `IO` so, in some case, we have timeout inside the step action.

That step action sometimes is a composition of multiple `IO` that could have an inner timeout.
So, in case of timeout exception, we have a stack trace that brings us

[2022-02-05 14:48] ybasket commented on #2772
I had a look into this and before going through all files, I wanted to ensure I got things right. This runtime `match` is to be done for every type class that's a subtype of the one we're asked to derive, right? So `Async` & `Temporal` when deriving `Concurrent` (obviously only for monad transformers that can implement the stronger type class at all)? Asking because #2771 mentions only `Async` as

[2022-02-05 17:45] #2797 closed, assigned to nobody

[2022-02-05 18:16] djspiewak commented on #2772
That's the pattern exactly! Really sucks, tbh, because it bloats up the boilerplate quite a lot, but the results are really nice. Also I would most definitely keep the `GenTemporal` case, just for consistency, though I can't think of a scenario where we would leverage it (at least for the moment).

[2022-02-06 23:59] otto-dev commented on #2536
By now I know it's **Foreign Function Interface**. However, from what I can see, the term is not used true to definition, or at least used very loosely.

An FFI bridges the barrier between two different programming languages (according to Wikipedia, Python, PHP, Go, stackoverflow etc). E.g. `C` bindings in `Python` or `Go`. In Cats Effect, however, it merely bridges the gap between different API's

[2022-02-09 02:34] armanbilge opened #2816 "`Thunk.asFunction0` is broken in Scala 3 nightly"
This was identified in https://github.com/lampepfl/dotty/pull/14395#issuecomment-1033279665, apparently due to https://github.com/lampepfl/dotty/pull/14295.

[2022-02-09 02:48] armanbilge commented on #2816
of type () ?=> T and is a pure expression, we avoid (2) and (3), i.e. we
pass e directly instead of () ?=> e.apply().

This reads to me a lot like the optimization that Scala 2 has and that Scala 3 was previously lacking as identified in https://github.com/typelevel/cats-effect/issues/2225. But I don't understand why our trick broke.

[2022-02-09 03:33] djspiewak commented on #2816
Yeah I'm perplexed as well. I think this merits some more experimentation. We should try to figure out what's going on so we can give them feedback before they release. At a minimum, the fact that this is detectably different between versions of Scala 3 is frustrating, since it means that *our* users on one or the other version will have a significantly degraded experience.

[2022-02-09 03:40] armanbilge commented on #2816
[code]

#### 3.1.3-RC1-bin-20220207-74c2954-NIGHTLY
[code]

#### 3.1.1
[code]

Not sure if we can really read anything into it.

[2022-02-09 03:44] armanbilge commented on #2816
Yep, this is what got my attention too. Is there no way to check the Scala 3 version at runtime and use that to choose an implementation?

[2022-02-09 04:16] armanbilge commented on #2816
I tried restoring the original Java-based workaround from https://github.com/typelevel/cats-effect/pull/2226, but the test still fails.
https://github.com/typelevel/cats-effect/blob/6d59eeb3b0c0ec5ce76dea79295fd4c351093237/core/jvm/src/main/java/cats/effect/ThunkImpl.java#L24-L29

So it must be that the thunk is being wrapped earlier than it used to be?

[2022-02-09 04:24] djspiewak commented on #2816
I think we may have to do some bytecode dumpster diving to figure this one out.

[2022-02-09 04:50] armanbilge commented on #2816
Decompiled Java is about as much as I'll tolerate 😤

[code]

#### 3.0.2
[code]

#### 3.1.3-RC1-bin-20220207-74c2954-NIGHTLY
[code]

[2022-02-09 05:50] djspiewak commented on #2816
Uh. That looks like a regression honestly. Unless im misreading the above, it would seem that the change is causing unnecessary wrapping of the thunk.

[2022-02-09 06:51] vasilmkd commented on #2816
This should be enough to file an issue upstream, no?

[2022-02-09 06:58] djspiewak commented on #2816
Let's dig into the raw bytecode first, but it is very suggestive of a bug upstream. It honestly looks like the compiler is doing the opposite of what Martin's change was intended to achieve.

[2022-02-09 18:35] armanbilge commented on #2816
Putting aside the performance regression (which FTR my benchmarks were unable to pick up), I realized that actually this change doesn't break tracing. The relevant test for that continues to pass.
https://github.com/typelevel/cats-effect/blob/4f01f5f3509f1f80f9ae9f39ac346ea350c2c908/tests/shared/src/test/scala/cats/effect/tracing/TracingSpec.scala#L35-L42

Even more interesting, actually you could

[2022-02-10 08:07] Krever opened #2818 "CommutativeApplicative[IO.Par] not available by default"
[code]
is required for
[code]
to compile, which is probably fixable as long as `c.e.IO` is concerned and not a generic `F[_]`

Creating issue per to discord request :)

[2022-02-10 11:54] armanbilge commented on #2816
One more observation: what _has_ changed in the compiler is actually the original 2.13->3 regression that caused us to introduce `Thunk.asFunction0` in the first place.

If I restore the code to how it used to be:
[code]

These are the test results:

#### 3.1.3-RC1-bin-20220207-74c2954-NIGHTLY
[code]

#### 3.0.1
[code]

Essentially, there's been a sort of flip-flop.

In the code:
[code]

In 3.0.2,

[2022-02-10 16:39] djspiewak commented on #2816
This is the bit that I think constitutes a regression. Definitely the improvement of the "thunk to `() => A`" behavior is very very welcome.

Realistically, we're probably going to have to upgrade to the latest Scala 3 in order to force call sites into this particular pattern, otherwise tracing breaks.

[2022-02-10 16:41] armanbilge commented on #2816
Why would tracing break?

[2022-02-10 16:42] djspiewak commented on #2816
Doesn't the `asFunction0` trick cause the tracing to be misassociated and/or uncached?

[2022-02-10 16:44] armanbilge commented on #2816
Hmm. I wouldn't say "misassociated". It does break somewhat the caching, but that actually improves the accuracy as I noted above.

[2022-02-10 16:45] armanbilge commented on #2816
FWIW neither @vasilmkd nor I have been able to pick this regression up in benchmarks yet.

[2022-02-10 17:12] djspiewak commented on #2816
I'm pretty sure this is because the JVM inlining is quite good, particularly in those cases. It's possible that it's good in all regressed cases but I'm not entirely convinced that it would be, and at the very least, it seems implausible that *more* wrapping is *better*. :-)

Oh so the trick is unnecessary on the nightlies, but it doesn't in and of itself break anything? I was concerned that we ne

[2022-02-10 17:15] armanbilge commented on #2816
It's better for accurate cached tracing :P

The trick has been unnecessary in Scala 2 all along and we've been using it anyway. The only reason it would break is if one day `thunk` is no longer a `Function0` behind-the-scenes.

[2022-02-10 17:16] djspiewak commented on #2816
LOL yes, but I'm more worried about general performance.

[2022-02-10 18:02] #2818 closed, assigned to nobody

[2022-02-12 19:54] #2772 closed, assigned to nobody

[2022-02-23 15:42] Daenyth opened #2836 "Add TestControl page to documentation"
Currently the only documentation is in the scaladoc. It really deserves a page on the website

[2022-02-23 15:50] armanbilge commented on #2836
Like this page? https://typelevel.org/cats-effect/docs/core/test-runtime

[2022-02-23 16:33] Daenyth commented on #2836
Hah yes, that's the one - I didn't notice it in the sidebar because I was looking for `TestControl`.

[2022-02-23 16:33] #2836 closed, assigned to nobody

[2022-02-24 17:33] djspiewak commented on #2816
@armanbilge Do we need to make any adjustments on our end for this? Or is this just suppressing the test?

[2022-02-24 17:41] armanbilge commented on #2816
Yes, I think it's just a matter of suppressing tests. We were testing more than we need to establish that tracing is working correctly, and fortunately there is no regression there.

Arguably, the ThunkSpec was actually testing that lambdas passed to delay are not de-optimized, and rightfully failed. This is unrelated to the correctness of tracing but a meaningful regression nonetheless.

[2022-02-24 17:51] ghostbuster91 opened #2842 "Missing information about failing background fibers"
Tested against 3.3.0 and 3.3.5

Following code doesn't print any information about the fact that an exception was thrown in one of the fibers.

[code]

I would expect it to print some information to stdout/stderr. It would be even better if there was a way to customize that information.

For example in zio there is a `Plaform` object that contains an error reporter which can be customized by the u

[2022-02-24 22:17] armanbilge commented on #2842
Btw, I wondered if there's some way to make a `Supervisor`-like thing to help with this situation as well (possibly in addition to dealing with it at the runtime-level). It seems like this is exactly the kind of thing to supervise 😉

[code]

[2022-02-24 22:55] ghostbuster91 commented on #2842
I must admit that it crossed my mind to check whether the `Supervisor` doesn't have any kind of option for that. I like that direction :)

[2022-02-27 19:25] armanbilge commented on #2333
@ritschwumm actually it seems like it is already possible to run tasks on the AWT event dispatch thread without any changes in CE.

I see there is a method [`SwingUtilities.doLater`](https://docs.oracle.com/javase/8/docs/api/javax/swing/SwingUtilities.html#invokeLater-java.lang.Runnable-) that causes a `Runnable` "to be executed asynchronously on the AWT event dispatching thread."

So all you need

[2022-02-27 20:14] djspiewak commented on #2333
`doLater` was actually a motivating example behind `evalOn`

[2022-03-01 09:59] ShahOdin opened #2851 "mock start time in cats-effect-testkit?"
i understand how the tick mechanism evolves the time and it's pretty neat. It doesn't look like I can mock the time at the start of the program tho. is that not possible/desirable?

[2022-03-01 16:38] durban commented on #2766
This was fixed by #2784.

[2022-03-01 16:38] #2766 closed, assigned to nobody

[2022-03-01 16:38] Daenyth commented on #2851
Begin the test with a `Clock[IO].sleep(startTime)`, you just need a `FiniteDuration` for the epoch timestamp of `startTime`

[2022-03-01 16:47] ShahOdin commented on #2851
thanks @Daenyth

Thats not quite what I meant. Let's say I have a bunch of records and I have an interface that looks at the time, and it filters the list and gives you the records with a timestamp within say 1 day of the current time. I want to test that time-based functionality.

currently I have a hardcoded record and hardcoded clock with matching times. I was hoping to be able to refactor my t

[2022-03-01 19:14] Daenyth commented on #2851
The `sleep` should work fine as long as you are executing the code with `TestControl` - see the [test runtime](https://typelevel.org/cats-effect/docs/core/test-runtime) docs on that.

Using the `IORuntime` it provides, you can write your test like:

[code]

[2022-03-02 21:25] djspiewak commented on #2842
Btw I realized that we do have an obvious place to put this: the compute `ExecutionContext`. In fact, it's already there. We don't have a good way of *modifying* it, but it does exist and we simply don't use it on fiber termination. This should be fixed, and we should add a better way of adjusting the handler.

[2022-03-03 00:47] armanbilge commented on #2610
It this the same idea as `tokio::task::unconstrained`?
https://docs.rs/tokio/latest/tokio/task/fn.unconstrained.html

[2022-03-03 12:35] ShahOdin commented on #2851
ah so the TestControl starts with the time being epoch! makes sense! Excellent. thanks can confirm it works.
minor thing.

[code]

should be:

[code]

[2022-03-03 15:14] djspiewak commented on #2610
Nice catch! Yes it is.

[2022-03-03 18:03] djspiewak opened #2855 "Generalize `timeout` and friends to take a `Duration`"
Right now, every flavor of this method takes a `FiniteDuration`, which is *correct* but less convenient. We should expand them to `Duration` and silently degrade to identity when it's `Duration.Inf`. This can be done trivially on `IO` because of contravariant expansion, but it might requires some bincompat shenanigans on `Temporal`.

[2022-03-03 18:04] djspiewak opened #2856 "Report mask status in fiber dumps"
There's two forms this could take. First, when a fiber is `WAITING`, it would be really helpful to know if it's masked. Second, we could get really wild and capture mask status on trace frames, which we could then visually report in some way in the trace itself. This might be helpful.

[2022-03-03 18:06] Daenyth commented on #2855
I'm not sure if this can be done in a bincompatible way, or at least it might require some trickery.
Any downstream implementors of `Temporal` etc would be unable to instantiate if the signature changed in the interface to become wider, because they'd still have the narrower signature

[2022-03-03 18:08] armanbilge commented on #2855
I'm pretty confident it can be done, but I have not really thought about it. Happy to help anyone along :)

[2022-03-05 22:43] armanbilge commented on #2628
https://github.com/typelevel/cats-effect/pull/2829 has some follow-up work to do :)

[2022-03-06 16:34] #2851 closed, assigned to nobody

[2022-03-07 08:03] t3hnar opened #2858 "IO.syncStep leads to double execution"
Hey guys,
I found which seems to me a critical bug during migration of codebase from ce2 to ce3

The code below prints `hello` twice, I would expect `hello` to be printed once.

[code]

[2022-03-07 08:39] armanbilge commented on #2858
Thanks for the report. Unfortunately so far I'm unable to reproduce. Would you be able to provide a more self-contained example? E.g. an `IOApp` or an application with a `main` function. Also Scala and CE version would be helpful, thanks!

[2022-03-07 08:40] armanbilge commented on #2858
FTR, my two attempts to reproduce:

### IOSpec

[code]

### scala-cli
[code]

[2022-03-07 08:48] t3hnar commented on #2858
Java: 17.0.1
Scala: 2.13.7
cats-effect: 3.3.6
Chip: Apple M1 Max

[code]

[2022-03-07 08:49] armanbilge commented on #2858
Thanks! Are you able to reproduce this without scalatest? I wonder if it's a problem with the scalatest integration.

[2022-03-07 08:52] t3hnar commented on #2858
Here is a snippet without `scalatest`
[code]

[2022-03-07 08:55] armanbilge commented on #2858
Aha, fantastic. I was just able to reproduce.

[2022-03-07 15:45] djspiewak commented on #2816
@armanbilge I'm going to leave this open to track any adjustments to the unit tests.

[2022-03-07 20:29] #2858 closed, assigned to armanbilge

[2022-03-08 07:28] armanbilge commented on #2816
I just tried `3.2.0-RC1-bin-20220307-6dc591a-NIGHTLY` which includes https://github.com/lampepfl/dotty/pull/14628, and both `ThunkSpec` and `TracingSpec` are passing without modifications.

Let's get these tests re-enabled in the Scala 3 community build and we can close here.

[2022-03-08 08:12] iRevive commented on #2628
I wasn't able to work under some circumstances.
I am still willing to finish this task.

I will filter out completed fibers from the dump.

[2022-03-08 08:15] vasilmkd commented on #2628
@iRevive I follow you on Twitter and I know what you're referring to. I'm so sorry. Please take all the time in the world you need. We appreciate your work immensely. Thank you.

[2022-03-08 14:04] Daenyth opened #2865 "UUIDGen does not use Random[F]"
_Originally posted by @rossabaker in https://github.com/typelevel/cats-effect/issues/2852#issuecomment-1059801110_

Given this, we probably want to offer a `Random[F] => UUIDGen[F]` implicit that's higher-priority than the `Sync`-based one, and consider deprecating the `Sync` instance, or at least making it *explicitly* summoned rather than implicit so the user has to opt-in to using the less-safe

[2022-03-08 14:09] armanbilge commented on #2865
Actually, I interpreted that point differently. Rather, that UUID generation should be treated as potentially blocking.

I'm not sure we want to offer a `Random[F] => UUIDGen[F]` instance, either implicitly or possibly at all. The Javadoc for `randomUUID` say:

Given that `Random[F]` has no cryptographic guarantees, it wouldn't really be the same thing.

[2022-03-08 14:36] ChristopherDavenport commented on #2865
1. You want the sync one. Use cryptographic random. Second random has a time component in randomness on the jvms creation which we would need to account for.
2. Newer versions of the JVM are better behaved. This was a java 7 problem.
3. There is a time to avoid JVM implementations, I don't think this is the place to do so.
4. Upgrade your jvms

[2022-03-08 14:38] Daenyth commented on #2865
So in that case, this is a question of, do we use `F.delay` or `F.blocking`? (or `interruptible`?)

[2022-03-08 14:42] ChristopherDavenport commented on #2865
We do not want to use blocking on new versions which are not blocking.

[2022-03-08 14:44] Daenyth commented on #2865
Do we want to do any runtime tricks to pick an implementation based on jre?

[2022-03-08 14:55] armanbilge commented on #2865
Do we even support any of the bad JVMs?

[2022-03-08 16:14] rossabaker commented on #2865
`SecureRandom.nextBytes` may still block on JDK17, and it's still even synchronized for some `SecureRandomSpi`.  `UUID.randomUUID`, depending on platform and configuration, will still eat your face.

[2022-03-08 20:59] #2816 closed, assigned to nobody

[2022-03-09 03:42] armanbilge commented on #2865
Yeah, I think we should just wrap this in `F.blocking` and be grateful that the WSTP can running blocking ops in-place now. `F.interruptible` seems like overkill.

[2022-03-09 05:25] rossabaker commented on #2865
While `UUID.randomUUID` is blocking, we can do better:

* Try to create a `SecureRandom.getInstance("NativePRNGNonBlocking")`.  `"NativePRNG"` appears to be equivalent on `nextBytes` on Unix, but that's platform specific.
* Until Java 9, there's still a mutex, but [a pool](https://github.com/f4b6a3/uuid-creator/blob/dbc54155c6cb2893eff99876b75ead20382fe331/src/main/java/com/github/f4b6a3/uuid/fact

[2022-03-09 05:59] djspiewak commented on #2865
`blocking` is a method on `Sync`. :-)

[2022-03-09 17:34] rossabaker commented on #2865
I couldn't remember which and the docs say:

I should have looked at the API!

[2022-03-10 20:52] MrKustra94 commented on #2639
I may take it :)

[2022-03-10 20:54] armanbilge commented on #2639
Thanks, much appreciated! Unfortunately I'm not sure if it's possible to implement this one in a backwards-compatible way, see some commentary in https://github.com/typelevel/cats-effect/issues/2637#issuecomment-991954088.

[2022-03-11 11:45] iRevive opened #2871 "MBean `BlockedWorkerThreadCount` can be negative"
I found that `BlockedWorkerThreadCount` can be negative:
<img width="674" alt="Screenshot 2022-03-11 at 13 33 20" src="https://user-images.githubusercontent.com/6395483/157860091-1d36cc83-a175-4dc7-bd16-d2c02470e5c0.png">

The counter is defined in `WorkStealingThreadPool`:
https://github.com/typelevel/cats-effect/blob/3f4afca16d64c35c969dc26ca77f11df68ba26e8/core/jvm/src/main/scala/cats/effect/un

[2022-03-11 13:13] vasilmkd commented on #2871
That's a bug I introduced when adding blocking support directly in the work stealing pool. Probably it can be found in this PR https://github.com/typelevel/cats-effect/pull/2687/files#diff-39be61d66e2d383880df331b0680d708076fbb70eb5e265a3950806b55782e4a. Sorry I don't have a more precise location for a fix. I will take a look.

[2022-03-11 18:13] armanbilge commented on #2333
I think we're pretty much set with this. Besides https://github.com/typelevel/cats-effect/pull/2732, my original "why"s no longer seem important.
- JVM: the WSTP can now run blocking ops without shifting and will soon have timer capabilities as well. So, even in single-threaded environments getting onto the WSTP immediately is almost definitely optimal.
- JS: `TemporalSyncIO#unsafeRunSync` is pret

[2022-03-11 18:13] #2333 closed, assigned to nobody

[2022-03-12 04:27] #2871 closed, assigned to nobody

[2022-03-13 04:04] armanbilge commented on #2610
Another thought about this ... in JS land, can't we very nearly cheat with:

[code]

[2022-03-13 04:49] djspiewak commented on #2610
Is that the promises-based one? If so then yes, that would basically work. :-P

[2022-03-13 05:01] armanbilge commented on #2610
Yeah 😆 for this to work it assumes that you are currently on some macrotask-based executor.

But the thing is, all the instances that I've wanted `undecedable` is specifically to do stuff like registering callbacks before I/O events start triggering. I.e. it's less about preventing ceding altogether, and more about preventing ceding with respect to I/O.

So this would exactly achieve that semantic

[2022-03-13 18:34] #2628 closed, assigned to nobody

[2022-03-15 11:02] iRevive commented on #1881
In my active project, I have a scenario where it's necessary to wait till all fibers are completed before closing the resource.

Once https://github.com/typelevel/cats-effect/pull/2854 is merged, we will have `parallel` and `sequential` Dispatchers.

Does it make sense to have something similar for `Supervisor`?  For example, `Supervisor.await` and `Supervisor.terminate`?

[2022-03-15 12:25] armanbilge commented on #1881
I previously suggested https://github.com/typelevel/cats-effect/issues/2537, although maybe a duplicate of this issue :)

[2022-03-17 04:52] djspiewak opened #2879 "Restore `SyncIO` serialization tests on Scala 3"
…once we upgrade to a Scala 3 version which includes lampepfl/dotty#14686

[2022-03-17 04:54] #2291 closed, assigned to nobody

[2022-03-17 04:58] #587 closed

[2022-03-17 05:12] #2425 closed, assigned to nobody

[2022-03-18 00:23] ChristopherDavenport commented on #2865
Did anyone confirm this is a still a problem on newer jvms. Its my understanding this is fixed on newer jvms.

[2022-03-18 01:45] rossabaker commented on #2865
In practice, usually.  On Unix, starting with Java 9, if `/dev/urandom` is readable, and nobody altered the default providers from `SunEntries`, yes.

In edge cases, certainly not:

* There is still a [mutex around thread-unsafe instances](https://github.com/openjdk/jdk/blob/002e3667443d94e2303c875daf72cf1ccbbb0099/src/java.base/share/classes/java/security/SecureRandom.java#L760).  Most are thread

[2022-03-18 01:47] armanbilge commented on #2865
Cool, the immediate fire is out as of https://github.com/typelevel/cats-effect/pull/2880. We can keep this issue open to implement Ross's ideas in https://github.com/typelevel/cats-effect/issues/2865#issuecomment-1062567227.

[2022-03-18 01:57] armanbilge opened #2882 "Make `UUIDGen` more performant"
As of https://github.com/typelevel/cats-effect/pull/2880 it delegates to `Sync#blocking`.

Some ideas in https://github.com/typelevel/cats-effect/issues/2865#issuecomment-1062567227 to improve the status quo:

[2022-03-18 01:57] armanbilge commented on #2865
Eh, scratch that. I say this issue has done its course. Created https://github.com/typelevel/cats-effect/issues/2882 to track the performance improvements.

[2022-03-18 01:57] #2865 closed, assigned to nobody

[2022-03-18 11:06] timbertson commented on #512
I followed the threads, it looked like the MonoidK instance was [added](https://github.com/typelevel/cats-effect/pull/588) but then [removed](https://github.com/typelevel/cats-effect/pull/594).

I'm not sure what the SemiGroupK solution is referring to (is that the same idea as MonadK?), but I couldn't find any simple way of doing this with ce3.

[2022-03-18 11:52] armanbilge commented on #512
@timbertson hmm, maybe like this?
[code]
https://scastie.scala-lang.org/1rQyz1fuTpSkSIX65zARpg

[2022-03-18 14:47] djspiewak commented on #512
Wow, that was a trip down memory lane…

Okay so the `MonoidK` instance for `Fiber` was unlawful for two reasons, one of which is fundamental the other of which is simply a function of CE2. The latter reason (the lack of a reasonable `empty`) is now resolved because of `IO.canceled`, though it still isn't quite as simple as racing `join` and calling it a day. The fundamental unlawfulness is much mo

[2022-03-19 03:03] timbertson commented on #512
Thanks for the responses. I was worried that `reduce` idea would only race the first two initially, but then I remembered how `IO` works ;)

I still think it'd be a nice addition to the API since it's conceptually similar to `race`, and although it's not super complex I wouldn't say the implementation above is obvious. I'm porting from Monix where it's called `raceMany`, but Monix is admittedly mo

[2022-03-19 04:06] armanbilge commented on #512
We have methods `parSequence` and `parTraverse`, I feel like a "`raceTraverse`" could fit in alongside them.

[2022-03-19 15:28] djspiewak opened #2886 "Optimized async unbounded `Queue`"
Using the same trick (and same primitives) that we used in #2885 for `bounded`, implement an `unbounded` queue for `Async[F]`. This should essentially be two `UnsafeUnbounded`s glued together: `takers` and `values`.

[2022-03-19 15:30] djspiewak opened #2887 "Optimized circular buffer async `Queue`"
Using the same primitives implemented in #2885, implement a higher performance `circularBuffer` for `Async[F]`. This will probably require some fiddling with `UnsafeBounded` to allow it to run in overwrite mode rather than simply failing whenever the cursors run over each other. It would be worth referring back to jctools to make sure that we don't violate any invariants on the array of sequence i

[2022-03-19 15:33] djspiewak opened #2888 "Implement an optimized `Queue.synchronous` for `Async[F]`"
The new, optimized `Queue` implementation(s)(from #2885) don't support queues of size 0. The fact that the existing `Concurrent` versions *do* is actually kind of interesting and weird. In a lot of ways, `Queue.synchronous` is a very different data structure from `Queue.bounded`. It should be possible to implement it using a pair of queues, `UnsafeUnbounded[(A, Right[Nothing, Unit] => Unit)]` and

[2022-03-19 15:35] djspiewak opened #2889 "Implement platform-specialized `Queue`s for ScalaJS"
This is probably super-easy because you just don't have to worry about concurrency at all. Given an `Async[F]`, you can do a stupid-simple `UnsafeBounded` and `UnsafeUnbounded` from #2885 that should run faster on JavaScript than the JVM versions (which have to guard a lot of complex multi-threaded cases).

The main problem is that we probably *shouldn't* do this until we have benchmarking infrast

[2022-03-19 15:37] djspiewak opened #2890 "Implement optimized `tryTakeN` for async `Queue.bounded`"
Following up from #2885, it should be possible to implement a very fast `tryTakeN` by porting `drain` from the jctools `MpmcArrayQueue`. This should result in a pretty dramatic optimization of Fs2's `Channel`, which is at the heart of a lot of programs now.

[2022-03-19 15:40] armanbilge commented on #2889
Linking to my benchmarking proposal in https://github.com/typelevel/cats-effect/issues/2684.

[2022-03-19 15:42] armanbilge commented on #2684
Btw, this effort can be re-used for Native (which also has shimmed JUnit like Scala.js did). Ideally this project could one day live under @portable-scala maybe.

[2022-03-19 15:45] djspiewak opened #2891 "Improve async `Queue` optimization by special-casing mpsc scenarios"
Most practical use-cases of `Queue` are multi-producer, single-consumer (mpsc), but since the API doesn't *guarantee* this, we have to pessimistically allow for multi-producer, multi-consumer (mpmc) cases. Mpmc queues are very complex and have certain performance implications which are theoretically worse than what you can do in single-consumer scenarios.

We should explore optimizing for single-c

[2022-03-19 16:10] djspiewak commented on #2284
Requires #2684

[2022-03-19 16:10] #1992 closed, assigned to nobody

[2022-03-19 23:52] wjoel commented on #1881
Thanks for linking this, I had been incorrectly assuming that `Dispatcher` would wait for tasks to finish, and I think it's part of the confusion mentioned in https://github.com/typelevel/cats-effect/issues/2727 (but there might be more to it).

[2022-03-20 04:49] rossabaker commented on #2882
http4s/http4s#6138 is another hidden instance of this problem.  Maybe what we really need is a way of safely and efficiently generating random bytes.  UUIDGen, and this http4s use case, could both build on that.

[2022-03-20 05:07] armanbilge commented on #2882
Yes, I've wondered if we need a `SecureRandom[F]` type class that extends `Random[F]`. But btw, at what point does this start scope-creeping outside of CE3? If we get a `SecureRandom` it will need a JS implementation, which gets into [bobcats territory](https://github.com/typelevel/bobcats/blob/fbaebfe60a9faf3870c51faa8d5d5f224bf7428c/core/js/src/main/scala/bobcats/unsafe/SecureRandom.scala#L27) w

[2022-03-20 23:58] armanbilge commented on #2882
Ross has demoed his proposal in https://github.com/http4s/http4s/pull/6165.

[2022-03-21 00:10] djspiewak commented on #2882
I rather like Ross' proposal.

[2022-03-21 03:47] rossabaker commented on #2882
I reformed it a bit to add the pool.  This is a win when we get caught in a mutex, which we always will in Java 8.  In Java 9, if we have a non-blocking but threadsafe instance, we probably don't want that pool.  But detecting thread safety is [super gross](https://github.com/openjdk/jdk/blob/4df67426ed02f18af0757897acb28b636a317a91/src/java.base/share/classes/java/security/SecureRandom.java#L229-

[2022-03-24 03:50] rossabaker opened #2902 "Random.javaSecuritySecureRandom doesn't link on Scala.js"
[code]

Compiles, but doesn't link.  Probably should be in a platform trait?

[code]

[2022-03-24 04:17] armanbilge commented on #2902
It's a scala-cli thing, you need to use a double colon in both positions.
[code]

[2022-03-24 04:26] rossabaker commented on #2902
Still fails to link.  Also, the linked http4s failure isn't scala-cli.

[2022-03-24 04:44] armanbilge commented on #2902
Ah right, no `SecureRandom` on Scala.js.

[2022-03-24 14:20] armanbilge commented on #2902
Rather than remove this method from the JS API, we can implement it like I did in bobcats.
https://github.com/typelevel/bobcats/blob/fbaebfe60a9faf3870c51faa8d5d5f224bf7428c/core/js/src/main/scala/bobcats/unsafe/SecureRandom.scala

[2022-03-24 14:48] bplommer opened #2903 "`Async.fromCompletableFuture` should block if cancelation fails"
`Async.fromCompletableFuture` has a [cancel operation](https://github.com/typelevel/cats-effect/blob/a045918379d69c699e8d7b47e6d81dc112aa1eb1/kernel/jvm/src/main/scala/cats/effect/kernel/AsyncPlatform.scala#L45) that completes after calling `cancel` on the underlying `CompletableFuture`, but if the cancelation fails then `CompletableFuture.cancel` will immediately return `false` - fiber cancelatio

[2022-03-24 16:28] rossabaker commented on #2902
I can't opine on how "secure" that is, but this linker error is a blocker for http4s-0.23.  If it seems right to the scripters, it would be much appreciated.

[2022-03-24 16:33] rossabaker commented on #2882
Would `SecureRandom` have any additional methods, or just a marker trait that it's, like, secure and stuff?

I can imagine a marker trait being useful, so a random client can express that it needs something stronger.

[2022-03-24 16:33] armanbilge commented on #2902
Let me have a look at the http4s issue, but we should be able to unblock it without needing changes here.

[2022-03-24 16:39] armanbilge commented on #2882
I was thinking marker trait. I see the JDK `SecureRandom` adds a couple additional methods like `getAlgorithm`, no idea how useful those are.

https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/security/SecureRandom.html

[2022-03-24 16:41] rossabaker commented on #2902
I think @armanbilge found a solid workaround, but I'd still call this a bug in CE.

[2022-03-24 16:43] rossabaker commented on #2882
I have found `getAlgorithm` nice for debugging.  The `next` would be great, because I already needed bits instead of bytes, and had to go from bytes back to bits.  But Java's not going to give us that.

[2022-03-24 16:44] armanbilge commented on #2902
Regarding its "security" the idea is to delegate `nextBytes()` to

- browsers: https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRandomValues
- Node.js: https://nodejs.org/api/crypto.html#cryptorandombytessize-callback

Node.js offers an async version, but we can't easily use it here without rolling our own implementations for ... everything :)

[2022-03-24 17:33] vasilmkd commented on #2902
If you can get a fix in CE, I am set up to make a release.

[2022-03-24 17:34] armanbilge commented on #2902
Yeah, if we can land https://github.com/typelevel/cats-effect/pull/2904 that one definitely deserves a patch and this can ride-along.

[2022-03-24 17:35] vasilmkd commented on #2902
Let's do it.

[2022-03-24 18:10] rossabaker commented on #2902
I started sketching a `SecureRandom` algebra, which would be great before we surface it in http4s, but maybe too new and shiny an idea to commit to in Cats-Effect.  I'll see if I can finish a draft and see what people think.

[2022-03-24 18:28] ChristopherDavenport commented on #2902
How does this differ except having less methods from `Random`?

[2022-03-24 18:29] armanbilge commented on #2902
@ChristopherDavenport see also discussion in https://github.com/typelevel/cats-effect/issues/2882#issuecomment-1077815720.

[2022-03-24 21:10] armanbilge opened #2909 "Add tests to `RandomSpec`, audit `Random` for platform-specific methods"
See https://github.com/typelevel/cats-effect/pull/2906#issue-1179909799.

This is similar to the `Console` issues in https://github.com/typelevel/cats-effect/pull/2604. _However_, in that case the method _would_ link and only fail at _runtime_.

In this case, these methods would not link _at all_. So arguably we could completely remove them from the JS side without breaking binary-compatibility: t

[2022-03-25 08:48] iRevive commented on #1881
If I understand use-cases correctly, there are several directions `Dispatcher` is trying to cover:
1) Materialization of an effect. Meanwhile, monad-transformers should be handled in a specific way  https://github.com/typelevel/cats-effect/issues/2448
2) Execution strategy: sequential or parallel
3) Release strategy (basically, depends on the `Supervisor`): terminate pending fibers or backpressure

[2022-03-25 21:34] #2903 closed, assigned to nobody

[2022-03-25 22:50] armanbilge commented on #2882
Btw, another good reason to implement `UUIDGen` in terms of our own `SecureRandom` is that at least on Scala.js, the `UUID.randomUUID()` method is _not_ cryptographically secure. Actually that seems like a pretty serious issue...

https://github.com/scala-js/scala-js/blob/058532aa8c504b76431b40e3e1b51b2cdef87643/javalib/src/main/scala/java/util/UUID.scala#L139

[2022-03-25 23:00] djspiewak commented on #2882
Uh yes, that's a relatively serious issue.

[2022-03-25 23:49] djspiewak opened #2915 "Swap `Queue#tryTakeN`'s signature to `F[List[A]]`"
I don't think the `Option` really serves any purpose other than increasing boxing. We can still do this because it hasn't been released yet!

[2022-03-26 02:17] djspiewak opened #2916 "Add `Spawn` syntax for `race` and `both`"
Should be able to do something like `fa.race(fb)` and similarly with `both`, just like we can with `IO`.

[2022-03-26 09:53] #2902 closed, assigned to armanbilge

[2022-03-26 15:19] leusgalvan commented on #2916
Hi guys. Am I missing something or we can already do this? https://scastie.scala-lang.org/uq23EFWFQLCW5aL924lRDw

[2022-03-26 15:59] #2915 closed, assigned to nobody

[2022-03-26 17:41] djspiewak commented on #2916
Uh. Weird. It seems that we can. I tried it in another context and it didn't seem to be working. Thank you!

[2022-03-26 17:41] #2916 closed, assigned to nobody

[2022-03-26 22:38] djspiewak opened #2920 "Harden `Queue#take`'s cancelation properties"
`take` must have the property such that it either does not remove the element, or it removes the element *and returns it*, even when canceled. Thus the whole thing must be uncancelable aside from an atomic `poll` (when semantic blocking is needed). Without this property, it is possible in rare race conditions to cancel a `take` and lose data.

Applies to both the existing `Concurrent` queue and th

[2022-03-28 04:28] peter-jerry-ye opened #2923 "trait AllSyntax has non-class parent: val <none>"
Hi,

I was trying the cats effect today and I wrote a simple piece of program:
[code]

and the compiler crashed with:
[code]

Could anyone help me out, please? Thank you.

P.S.
The dependencies were:
[code]
with Scala 3.1.1, sbt 1.6.2

[2022-03-28 06:56] djspiewak commented on #2923
Well that seems fun. I'm guessing this is a bug with unpickling the tasty generated by the 3.0.x compiler? Pinging @smarter

[2022-03-28 09:42] smarter commented on #2923
I can't reproduce this (also I'm in the middle of writing my thesis and can't really respond to every bug report on my own, sorry)

[2022-03-28 09:58] peter-jerry-ye commented on #2923
Hi,

I retried to reproduce it and it seems might have something to do with the JDK.

With sbt 1.6.2 (GraalVM Community Java 17.0.1), the problem doesn't exist.
With sbt 1.6.2 (BellSoft Java 18), the problem exist.
With sbt 1.6.2 (Oracle Corporation Java 17.0.2), the problem exist.
With sbt 1.6.2 (Oracle Corporation Java 18), the problem exist.

[2022-03-28 10:16] smarter commented on #2923
I suggest opening an issue at https://github.com/lampepfl/dotty/issues, but please provide a github repo and step-by-step instructions for reproduction.

[2022-03-28 10:19] peter-jerry-ye commented on #2923
Ok. In that case I shall close this issue unless the relation with cats-effect is found.

[2022-03-28 10:19] #2923 closed, assigned to nobody

[2022-03-29 09:05] scf37 opened #2926 "Dispatcher allocation can hang forever"
cats-effect 3.3.9
In my project, second unsafeRunSync always hangs. When reproducing on Scastie, it either passes or hangs on first unsafeRunSync.

[code]

https://scastie.scala-lang.org/65NZvvNKQcGfd8okMNNQMA

[2022-03-29 11:01] ghostbuster91 commented on #2842
Somehow it didn't get closed automatically :thinking: Closing as it was resolved.

[2022-03-29 11:01] #2842 closed, assigned to nobody

[2022-03-29 11:13] vasilmkd commented on #2926
Can you please test if this is happening in 3.3.8 or maybe some other version too? It would be nice to find out if this is a bug for some time (possibly since the beginning) or a regression in the latest release. Thanks!

[2022-03-29 11:25] scf37 commented on #2926
On Scastie I tested 3.0, 3.1, 3.2, 3.3.0, 3.3.9

[2022-03-29 12:03] vasilmkd commented on #2926
Reminds me of https://github.com/scala/bug/issues/9076.

[2022-03-29 12:40] armanbilge commented on #2926
Yup, pretty sure it's this problem:
https://fs2.io/#/faq?id=why-does-stream-evaluation-sometimes-hang-in-the-repl

[2022-03-29 13:00] scf37 commented on #2926
It fails on 2.13.8. Also, originally it hung up in large project combined with other `Resource`-s. All those `unsafeRunSync`-s are just to reproduce the bug.

(Un)fortunately, minimal example within sbt project works as expected.

[2022-03-31 13:24] armanbilge opened #2927 "`IO` swallows fatal errors on JS"
First reported in https://github.com/disneystreaming/weaver-test/issues/503.

[code]

[code]

Interestingly, this _doesn't_ happen when using `IOApp`.

[code]

[code]

[2022-03-31 13:27] armanbilge commented on #2927
Woah. If I change the `unsafeToFuture` to `unsafeRunAndForget` then I get this:

[code]

It's completely swallowed 🤯

[2022-03-31 13:36] armanbilge commented on #2927
Further minimized: replace `IO.delay` with `Async[IO].catchNonFatal` and it throws. `IO.delay` and `Async[IO].delay` swallow.

[2022-03-31 13:40] armanbilge commented on #2927
... and turns out it's nothing to do with JS. On JVM the error seems to be swallowed as well, except we don't get the subsequent `println`s like on JS.

[2022-03-31 14:10] armanbilge commented on #2927
Actually. Is this a problem in the executors? Like this part:

https://github.com/typelevel/cats-effect/blob/4d8e933c64aec4cd42d3d7b9ab043705b638a0a9/core/jvm/src/main/scala/cats/effect/unsafe/WorkStealingThreadPool.scala#L500-L502

https://github.com/typelevel/cats-effect/blob/7eed52984ac674d5a50e32bf880b33202847dd46/core/js/src/main/scala/cats/effect/unsafe/PolyfillExecutionContext.scala#L34-L35

[2022-03-31 14:23] armanbilge commented on #2927
I was confused about this, since these are not equivalent. A correct replacement is `IO(Async[IO].catchNonFatal(...)).flatten` which does swallow.

So, not sure about JVM. But definitely something weird going on in JS.

[2022-03-31 14:28] djspiewak commented on #2927
I think this might be related to the changes we made to adjust the WSTP to be more generic. The logic related to catching and transporting fatal errors shouldn't trigger on other runtimes, but it appears that's exactly what is happening

[2022-03-31 14:33] armanbilge commented on #2927
Hmm. I thought I'd checked, but I checked again now. At least the JS problem appears to be a regression introduced in 3.2.0.

[2022-03-31 14:58] armanbilge commented on #2927
Ok, bisected down to 468af80708b7753f5cb2eac3a61f15954f0b19db. Ping @vasilmkd 😇

[2022-03-31 18:36] djspiewak commented on #2927
This is being caused by `onFatalFailure` assuming that `Thread#interrupt()` works on all platforms. It doesn't work on Scala.js, so `onFatalFailure` ends up *returning* `null`, which is then treated as a result in this case. That's where the `null` in `Right(null)` is coming from.

We probably need to rethrow here rather than relying on interruption unless our `interrupted` flag had been set to `t

[2022-03-31 19:04] armanbilge commented on #2927
Related Scala.js PR:
- https://github.com/scala-js/scala-js/pull/1910

[2022-03-31 22:55] durban commented on #2920
Should the guarantee be that code like this never loses the item:

[code]

So even if `tsk` is cancelled, it must either not remove the item from the queue, or else it must save the removed item "somewhere".

It seems that currently code like this can indeed lose the item. I think (one possible) reason is this line in `take`:
[code]
This runs when cancelling `take`. It simply removes the `Deferred

[2022-03-31 23:42] durban commented on #2920
Okay, so "_the whole thing must be uncancelable aside from an atomic poll_" seems to be already true, if I'm reading it correctly. It is also not enough.

I think what would need to happen in this case is that when the fiber running `q.offer` removes the deferred, it also atomically (with the removal) must make the fiber running `poll(q.take)` uncancelable. I don't know if that's possible with the

[2022-04-01 13:46] armanbilge opened #2928 "Be more reassuring about cross-platform semantics"
(My summary/analysis of this [Discord discussion](https://discord.com/channels/632277896739946517/632278585700384799/959425239773769728).)

After we've worked so hard to preserve cross-platform semantics, at least I have forgotten that apparently this is surprising for users. When the expectation is that Scala.js support is second-class, users may doubt whether certain things work or various advic

[2022-04-01 13:50] armanbilge opened #2929 "Improve docs for using `IO` outside of `IOApp`"
(My summary/analysis of this [Discord discussion](https://discord.com/channels/632277896739946517/632278585700384799/959425239773769728).)

We push `IOApp` hard, with good reason.

However, if you want to use Cats Effect to build a library/module/component whatever that can be called from the outside world then `IOApp` is not an option. So perhaps we need a section describing good patterns for thi

[2022-04-01 13:56] armanbilge opened #2930 "Be more explicit about "magic" in docs examples"
By "magic" I mean `import`s, `implicit`s, etc. By explicit, I mean that e.g. even if none are necessary, maybe call that out. If they are canonical, say that too. "This is the one-and-only and therefore _is_ the right one for you " :)

Quoting @davesmith00000:

https://discord.com/channels/632277896739946517/632278585700384799/959431282088103987

[2022-04-01 14:08] armanbilge commented on #2929
Relevant quote from @davesmith00000

https://discord.com/channels/632277896739946517/632278585700384799/959434688668262440

[2022-04-01 14:22] davesmith00000 commented on #2928
Thanks @armanbilge.

Just to clarify a little (I was the other party in the discussion):
It's not surprising that `IO` itself is semantically the same - that is point after all. 💯
It's surprising (to me at least) that the runtime and invocation of an CE based programme should be expected to be treated the same way. You could expect to run a Node.js app fairly similarly to a JVM app. It's slightly

[2022-04-01 15:32] armanbilge commented on #2928
Thanks for the helpful clarification @davesmith00000! :)

Out of curiosity, is it equally surprising to you that you can write a pure Scala.js browser application that does `def main(...)`? Why/why not?

I think that basically the idea of `IOApp` is that anywhere you would normally write a main method, you can use `IOApp` instead. Of course, if you _wouldn't_ write a main method then `IOApp` is no

[2022-04-01 15:37] armanbilge commented on #2929
While writing https://github.com/typelevel/cats-effect/issues/2928#issuecomment-1086044308 I was also reminded that feral is an example of this: you can't use `IOApp` inside of a serverless lambda.

[2022-04-01 16:14] davesmith00000 commented on #2928
I'm certainly aware that you can do that, Indigo and Tyrian both worked that way for a long time. In practice I don't know how often you would want to do that. My experience is that you reach a certain level of complexity and you suddenly need more control over how the app starts in the browser than a simple call to `main` allows.

Absolutely, but because `IOApp` has all that stuff in it, trying t

[2022-04-01 17:13] davesmith00000 opened #2931 "Consider adding notes for different kinds of users"
Following a discussion on Discord, it was suggested (by @djspiewak) that I could raise an issue about missing docs. Please feel free to reject / re-write as you see fit. This is a bit of a brain dump.

@armanbilge has opened issues https://github.com/typelevel/cats-effect/issues/2928, https://github.com/typelevel/cats-effect/issues/2929, and https://github.com/typelevel/cats-effect/issues/2930 whi

[2022-04-01 17:15] djspiewak commented on #2920
Going to write some more here in a bit, but to be extremely concrete, this is the test which I'm pretty sure fails right now and what I feel like we need to pass:

[code]

[2022-04-01 18:32] durban commented on #2920
Yeah, okay, I believe my pseudocode is the same as the important part of that test. And I can confirm, that an item can become "lost" that way.

I think this is a really difficult problem. I try to describe it with an example: `q` is an initially empty queue, and we have 3 fibers:

- fiber A executes the `poll(q.take).flatTap { save it somewhere... }` part
- fiber B executes `q.offer(x)`
- and fib

[2022-04-01 18:59] djspiewak commented on #2920
Okay, philosophy time. Proactively paging @SystemFw for rebuttal.

In a MPMC queue, *ordering* and fairness are not properties which are strongly defined. Ordering with respect to what? If you have two producers which generate values A and B close together in time, then it's really unclear which one is actually "first". Of course, the queue data structure forces us to pick a winner here, so we say

[2022-04-01 20:21] SystemFw commented on #2920
I've been thinking about this for some days actually, and  I'm almost convinced :) , especially if the argument is made in general, and not just for the purpose of implementing `Channel` on top of `Queue` (which is of course nice to have as well). In particular

is a very strong argument, and in some ways similar to the argument I made for `poll` in the `Semaphore` + `Queue` scenario.

I'm also ge

[2022-04-01 22:57] armanbilge commented on #2920
Question: is there no relevant prior art on this issue? If not, I assume it's because the CE cancellation model is so original? Like, what does everyone else do 😅

[2022-04-01 23:16] djspiewak commented on #2920
This is a great summary, and it goes directly to where I think the distinction in definitions lies. I would define ordering as the following *pair* of things:

- The order in which elements are processed relative to the order in which they are produced
- The order in which consumers are notified relative to the order in which they are registered

These are both, fundamentally, the same problem. In

[2022-04-02 05:25] djspiewak commented on #2927
I wasn't able to reproduce this. :-(

[code]

Did this with the following test:

[code]

The first assertion fails, but I think that's spurious. Commenting it out, the second assertion *passes*, meaning that the `sadness` println isn't being hit.

[2022-04-02 09:36] armanbilge commented on #2927
Huh.

[code]

[code]

I uploaded the JS if you want to see for yourself. `scala-cli package i2927.scala` to generate it.

https://gist.githubusercontent.com/armanbilge/bd1a9d1c196f47fa7d6f7764906a3749/raw/9423b9112555ddf7265c49e9552e90050cad01f3/i2927.js

[2022-04-02 10:39] danicheg opened #2933 "The current state of `Dispatcher` contentions"
This issue is a follow-up from the discussion https://github.com/http4s/http4s/pull/6212.
`Dispatcher`'s scaladoc [contains](https://github.com/typelevel/cats-effect/blob/27307cfe6cd9ea3cb230a8f9be5e16f624a914cd/std/shared/src/main/scala/cats/effect/std/Dispatcher.scala#L40-L42) advice to create instances of it as often as possible to prevent possible contentions (very roughly speaking). Is it sti

[2022-04-02 19:37] djspiewak commented on #2927
@armanbilge Would you mind taking a look at my `bug/fatal-error-continuation` branch (on my fork)? I'm trying to get it baked into an automated test and I'm not sure if I've messed up the harness somehow.

[2022-04-02 19:40] djspiewak commented on #2933
This desperately needs better documentation :-(

The tldr is that a single global dispatcher is completely fine if you don't care about sequentialization, especially since #2876. However, one dispatcher per request is also fine and arguably *better* if you either care about sequentiality, or if you know a priori that you only have a single producing thread, but only once #2854 lands.

[2022-04-02 21:27] wjoel commented on #2933
I think the "cancel all side effects when the `Dispatcher` instance goes away, even if the user asked us to just run and forget about them" aspect of `Dispatcher` is part of it. It makes sense for `Supervisor`, but it's surprising behavior for `Dispatcher`, and I suspect it's the main reason for https://github.com/typelevel/cats-effect/issues/2727

Consider this example.
[code]

To me (by now, aft

[2022-04-02 21:39] djspiewak commented on #2933
I want to add some more configuration to `Dispatcher` (#1881). Honestly, #2854 decently opens the door to doing this, since it adjusts the construction API. Backpressuring rather than canceling on completion is definitely a thing we should allow for, and maybe even default.

[2022-04-03 00:05] armanbilge commented on #2927
@djspiewak you are missing an `h.awaitStatus` in the spec, like the one above :)

https://github.com/typelevel/cats-effect/blob/ab2a21e680b65c652abd3b5669b985c580cf262d/tests/jvm/src/test/scala/cats/effect/IOAppSpec.scala#L209-L220

[2022-04-03 00:47] djspiewak commented on #2927
Ooooooh. Duh

[2022-04-03 17:35] djspiewak commented on #1881
Here's what I think we should do. Now that we have `parallel` and `sequential` constructors, I think we should enrich them with some configuration parameters which configure whether lifecycle termination awaits or cancels the inner tasks. Names to be bikeshedded. In practice, this *probably* means that we should also add the same functionality to `Supervisor`, and in fact it's probably the same co

[2022-04-03 21:28] durban commented on #2920
_Regarding decreasing fairness:_ in my opinion, it's probably fine. As far as I understand #2885, actual FIFO semantics are not broken. An intuitive "fairness" is decreased (hopefully only slightly).

FIFO semantics are not broken, because registration is unobservable in the current queue API. So in this example:

[code]

The two `take`s are actually racing. There is no ordering between the 2 regi

[2022-04-04 08:27] wjoel commented on #2926
It's not `Dispatcher` which is the problem, it's `cats.effect.unsafe.implicits.global` and `.unsafeRunSync()`. This can hang after printing `1`:
[code]
https://scastie.scala-lang.org/AdxtHcz9RN68WO43bmYJtQ

[2022-04-04 16:20] djspiewak commented on #2926
Is there any way we can reproduce this using a `def main`? Scastie and all REPLs have weirdness associated with initialization which could be at play here.

[2022-04-04 19:49] scf37 commented on #2926
Probably can be 'fixed' by using the same implementation for IOApp and unsafeRunXYZ. Current situation of completely different implementations for seems to be identical tasks is weird.

[2022-04-04 23:19] djspiewak commented on #2926
How so?

[2022-04-05 07:35] iRevive commented on #1881
I would like to work on this one. If no one else picked this task up.

[2022-04-07 09:39] armanbilge commented on #1618
@patseev I don't think I noticed a PR connected to this issue. Since it sounds like you got it to work, would you be interested in submitting a PR? Thanks! :)

[2022-04-07 09:39] #2927 closed, assigned to nobody

[2022-04-07 09:44] armanbilge commented on #2909
Marked this one first-good-issue :) the key part is adding tests to `RandomSpec`. They don't have to be fancy at all, they just have to call each of the methods to sure that they compile/link correctly on both JVM/JS.

The tests will help us figure out which methods don't work on JS. Once we identify what those are, we can create a plan how to fix that.

[2022-04-07 09:52] armanbilge commented on #2178
Ah, we've had a couple PRs proposing similar things. None of which got merged 😅

- https://github.com/typelevel/cats-effect/pull/2482
- https://github.com/typelevel/cats-effect/pull/2827
- https://github.com/typelevel/cats-effect/pull/2828

The good news is, you can workaround this by using `IO#syncStep`. Even though it's not guaranteed by the type signature, in practice the `SyncIO` returned shou

[2022-04-07 09:52] #2178 closed, assigned to nobody

[2022-04-07 10:05] SystemFw commented on #1459
@cb372 Hey Chris, actually I was thinking about this and didn't even know you opened an issue about it, I was going to reach out. Would you still be ok to lend your support/approval? I can do the necessary work to integrate if so :)

[2022-04-07 10:56] cb372 commented on #1459
Hi Fabio! That would be great. I haven't touched cats-retry in months so it's slowly rotting. I'd love to see it integrated into std where it can be properly maintained.

[2022-04-07 16:56] djspiewak opened #2950 "Ensure `SupervisorSpec` is covering all cases"
Right now, we're only testing the async branch. We need to ensure that we're explicitly covering both the async and concurrent implementations.

[2022-04-12 09:04] bplommer opened #2956 "mdoc task should fail on warnings of broken links"
#2955 fixes some broken links in the docs - mdoc warns about this, but it's a runtime warning log rather than a compiler warning so fatal warnings don't catch it. I'm not sure whether failing on warnings can be configured here or if this needs an issue in mdoc.