[2020-11-17 08:58] dependabot-preview[bot] opened #1427 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/55211450).

[2020-11-17 21:00] mbore commented on #1396
if it's still open, i'd like to try this one.

[2020-11-19 06:58] #1427 closed, assigned to nobody

[2020-11-19 07:52] adamw opened #1433 "Delays when using Stream.awakeEvery"
This is a follow-up to https://github.com/http4s/http4s/issues/3879

I've got the following simple program:

[code]

*sometimes* this produces results as follows:

[code]

This happens locally, and on travis & jenkins (though on CI I only observed it indirectly through http4s & websockets). The jenkins jobs run pods on top of a GCP-managed k8s. Locally a system restart (macos 11) helps, at least f

[2020-11-19 16:52] #1421 closed, assigned to nobody

[2020-11-19 19:08] rossabaker commented on #1433
We already peeled off http4s.  Maybe the next step is to peel off fs2: Can you reproduce it with something like (uncompiled, untested):

[code]

And if cats-effect isn't to blame, try all the way down to a Java Executor?

[2020-11-19 21:59] djspiewak commented on #1433
[code]

I'm running this locally right now and will report back

**Update**: It's definitely not a cats effect issue. @adamw I would recommend running the above program on your machine and see if it reproduces the issue. My upper bound was 1008 milliseconds, and most ticks are either 1000 millis or 1001.

It may be worth checking whether fs2's `awakeEvery` is using `monotonic` or `realTime`. If it

[2020-11-20 02:04] mpilquist commented on #1433
I'm not seeing any significant variance using @adamw's test program (though I did notice `awakeEvery` and `fixedRate` are behaving more like `awakeDelay` and `fixedDelay` than they should).

[2020-11-20 06:55] dependabot-preview[bot] opened #1432 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/55735502).

[2020-11-20 13:30] adamw commented on #1433
After restarting my laptop the problem disappeared when running the example code.

It's still there when running the full test suite. In fact, when running the full test suite in the background, the example code also reports large delays (separate JVM of course):

[code]

so maybe it's simply a matter of the host system being under load, and during my previous tests maybe it was some mac kernel_ta

[2020-11-20 15:23] mpilquist commented on #1433
@adamw FYI, just opened typelevel/fs2#2144 to address the slight clock drift I noticed.

[2020-11-20 20:02] djspiewak commented on #1433
@adamw Can you try the pure Cats Effect implementation and see if it similarly exhibits issues on your system under load?

[2020-11-20 21:01] adamw commented on #1433
@djspiewak yes, the output above was from the code you posted, slightly modified to output both duration & bound

[2020-11-21 00:49] djspiewak commented on #1433
Alright, so then this is a Cats Effect (or lower) issue, as @rossabaker suggested. I'm trying to reproduce this by putting the system under load right now. I know you've gone through this dance a few times now, but would you mind filing this on the Cats Effect repo so we can track it there? I don't believe fs2 is responsible for this one.

My *guess* is that this is either an issue with the defaul

[2020-11-21 04:23] rossabaker commented on #1433
I'll transfer the issue so the context isn't lost and so Adam doesn't have to bother opening a third issue.

[2020-11-21 05:27] djspiewak commented on #1433
Follow up: I let this run on my laptop for about 5 hours, during which time it was under intermittent extreme load (enough to trigger thermal throttling), as well as longer downtime periods. I even put it to sleep at one point. The maximum tick differential was 1018 milliseconds. (macOS 11.0.1, GraalVM CE 20.3.0 targeting JDK 8, Scala 2.13.3, 16 physical threads over 8 cores)

[2020-11-21 08:02] adamw commented on #1433
Thanks, I even didn't know that you can transfer issues ;)

I've got similar hardware: macos 11.0.1, 6-core i9, using either java `8.0.232-zulu`, `11.0.5-zulu` or `20.2.0.r11-grl` (from sdkman).

But I suppose this is neither a cats-effect nor even a scala issue - if it's an issue at all. Running this code using pure java:

[code]

while the build is running in the background, gives the same resul

[2020-11-21 09:25] vasilmkd commented on #1433
I've heard folklore about `kernel_task` on macOS, but please don't laugh about this. It shows up when the system is thermally throttling, and can slightly be mitigated if you plug in the laptop in the usb c ports on the right hand side, for whatever reason. I haven't been able to scientifically verify this, but I do _feel_ I have seen this happen with my own computer. :laughing:

[2020-11-21 10:00] adamw commented on #1433
@vasilmkd Yes, I know that's for cooling reasons, but I blame this particular case on the recent BigSure upgrade ;) However, I've got power plugged in on the left-hand side, so maybe that's it :D

[2020-11-21 10:02] vasilmkd commented on #1433
@adamw I have to reiterate that this is _extreme_ folklore and I'm not sure if I believe in it myself. 🤣

[2020-11-21 20:02] wemrysi commented on #1345
I'll work on this if nobody minds, I've had need for something similar and it'd be nice to have a standard implementation.

[2020-11-23 16:34] djspiewak commented on #1433
I think this ultimately comes down to the fact that we aren't using a real time operating system, language, or even hardware. :-) 18 seconds is a *huge* variance and I honestly wouldn't have expected anything close to that, but it's still technically within the bounds of what the OS and language and runtime and such consider acceptable.

[2020-11-23 16:34] #1433 closed, assigned to nobody

[2020-11-23 19:45] adamw commented on #1433
@djspiewak yes, these huge numbers definitely took me by surprise as well. Thanks for helping in the investigation :)

[2020-11-24 09:19] jatcwang commented on #1373
#1382 has been merged. Thanks :)

[2020-11-24 09:19] #1373 closed, assigned to nobody

[2020-11-24 16:06] mpilquist opened #1438 "Easy laws testing in downstream projects"
We need a way for projects like fs2 & monix to test compliance with CE3 typeclasses, without requiring those projects to define a bunch of machinery. We had this in CE2 via some combination of imports. This currently lives in CE3's test suite under the `Runners` trait, but that's dependent on specs2. The support should be in the laws or testkit JAR and should interoperate with popular test framewo

[2020-11-24 16:10] djspiewak commented on #1438
This is tricky because **core** contains the tests for `IO`. I rather like the ergonomics of that, but it does make it difficult to publish an `IO`-dependent testkit without code duplication. One possibility here might be symlinks into another project. Will think about this.

[2020-11-25 06:52] #1432 closed, assigned to nobody

[2020-11-25 14:34] mpilquist commented on #1438
Maybe we need a new core-testkit project and then move the IO tests in to the tests source of that?

[2020-11-25 16:28] djspiewak commented on #1438
That's just a pain though. I hate having tests not in the same project as the sources they're testing. I know we already do that a bit but I hate to make it even worse.

[2020-11-26 10:17] scf37 opened #1447 "enhancedExceptions can remove exception origin from stack trace"
cats-effect 2.2.0

Expected: printed stack trace contains file and line of `require` invocation.

Actual: it is stripped

https://scastie.scala-lang.org/XH9jhuuRTWSAAFlh01QqBQ

[code]

[code]

[2020-11-26 11:07] scf37 commented on #1447
Same issue with `Predef.???`

[2020-11-27 04:11] djspiewak opened #1451 "Raise exception when main fiber is canceled"
An application implemented by IO.canceled should result in an exception when run, since nontermination is simply weird and unnecessary behavior here.

[2020-11-27 04:12] djspiewak commented on #1447
Interesting. Looks like it's stripping one too many frames? @RaasAhsan?

[2020-11-27 04:29] RaasAhsan commented on #1447
I recall there being weird interactions with functions that were annotated
with @inline, can you verify that? Also I think we should just enable
cached tracing for delay

On Thu, Nov 26, 2020 at 10:12 PM Daniel Spiewak <notifications@github.com>
wrote:

[2020-11-27 06:59] scf37 commented on #1447
I believe the problem is in `val prefix = dropRunLoopFrames(stackTrace)`

It is supposed to preserve exception raise point by taking stack frames until `scala.*` or `cats.effect.*` encountered.
Obviously that does not work if exception is thrown by standard scala library.

Another example:
[code]

[2020-11-27 22:25] #1337 closed, assigned to majk-p

[2020-11-27 22:27] #1116 closed, assigned to nobody

[2020-11-27 22:30] #1291 closed, assigned to nobody

[2020-11-27 22:32] #921 closed

[2020-11-27 22:45] #1451 closed, assigned to nobody

[2020-11-27 22:54] djspiewak opened #1456 "Add value forwarders for *Throw aliases"
…which we will promptly deprecate once typelevel/cats#3696 finds its way into a stable release. :-) They'd be very nice for now though.

[2020-11-28 05:20] kubukoz commented on #1048
If nobody beats me to it, I'll take this one of these days and make something structured.

Note to self: start with the new artifacts.

[2020-11-28 05:26] kubukoz commented on #1330
A note for anyone passing by, if you want to help, there's no official migration guide yet, but some useful information is being gathered in https://github.com/typelevel/cats-effect/issues/1048 - should be a good place to start.

[2020-11-28 05:36] kubukoz commented on #802
This is probably fixed in ce3, right?

[2020-11-28 05:39] kubukoz commented on #802
Checked 10 times and it didn't hang, and in 2.x it would do so after 2-3 runs.

[2020-11-28 09:36] RaasAhsan commented on #1447
good catch, we should be more precise about which packages we are filtering in the `scala.*` namespace. there are some very specific ones, will pull them out in a bit

[2020-11-28 14:07] cb372 opened #1459 "Fold cats-retry into CE 3?"
Would there be any interest in folding the features of [cats-retry](https://github.com/cb372/cats-retry) (i.e. a few combinators for retrying effectful actions + a DSL for building retry policies) into CE 3? Would this be a good fit for the `std` module?

I have to admit up front that I probably wouldn't have time to lead this, but I'd be happy to support such an effort.

[2020-11-28 18:58] #748 closed

[2020-11-28 18:59] djspiewak commented on #1459
I think this could be very interesting! Retry is an extremely common use-case.

[2020-11-28 19:03] djspiewak commented on #1345
@wemrysi I totally missed your comment. Take it. :-)

[2020-11-28 20:16] sergeykolbasov opened #1460 "Rely on Instant.now instead of System.currentTimeMillis() inside of Clock"
Hello there

At the moment, `Clock[F].realTime` is platform-independent and relies on `System.currecurrentTimeMillis()`. It means, that the maximum precision for getting wall-clock time is limited to milliseconds.

I'd suggest having a JVM-specific implementation that relies on `java.time.Instant.now()` instead, as starting from Java 9 it's up to the nanoseconds precise time resolution.

An exampl

[2020-11-28 21:41] djspiewak commented on #1460
I like this idea!

[2020-11-28 21:59] sergeykolbasov commented on #1460
I can land a PR later if it's okay

[2020-11-28 22:03] djspiewak commented on #1460
And I can merge said PR, if that's okay. 😉

[2020-11-28 22:03] SystemFw commented on #1460
Shouldn't we add an additional op that returns Instant?

On Sat, Nov 28, 2020, 22:00 Sergey Kolbasov <notifications@github.com>
wrote:

[2020-11-28 22:17] sergeykolbasov commented on #1460
~@SystemFw I think it would mean some troubles with scala.js and lack of `Instant` type there~

It already does 🤔 , although it builds it from millis

[2020-11-28 23:18] SystemFw commented on #1460
Yeah I'm thinking whether it's worth introducing a platform specific op.
But maybe not :)

On Sat, Nov 28, 2020, 22:17 Sergey Kolbasov <notifications@github.com>
wrote:

[2020-11-29 07:11] RaasAhsan commented on #1460
IIRC the trouble there was that it bloats the scala.js builds because it pulls in some pretty heavy dependencies ?

[2020-11-29 09:18] Baccata opened #1463 "Hanging behaviour when lifting `promise.future` in certain conditions"
* Scala 2.13.3
* cats-effect 2.3.0
* jdk 8

Hey folks. I'm currently performing a massive overhaul of weaver in preparation for CE3. I spent the last couple days trying to hunt down some non-deterministic behaviour (CE2) that was making some "dog-food" tests (ie testing weaver with weaver) hang forever.

After hours  of random stabs in the dark (I should really add that to my CV, it seems to be my

[2020-11-29 21:59] djspiewak commented on #1463
Whelp…

Random stabs in the dark are definitely a CV entry btw. The more senior you are, the more likely your random desperation stabs are to surface some undiscovered weirdness. Never a guarantee though.

This is immensely strange. I want to stick some printlns in fromFuture to see if it's hanging before or after we enter that point.

[2020-11-30 05:05] RaasAhsan commented on #1463
Out of curiosity, what is the configuration of the underlying `ContextShift`? We've certainly seen plenty of hanging and starvation bugs caused by lack of fairness

also, just to confirm: the program non-deterministically hangs without the `map` call, but deterministically succeeds when it is present?

[2020-11-30 06:34] dependabot-preview[bot] opened #1468 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/57023075).

[2020-11-30 09:08] Baccata commented on #1463
global EC. I should probably switch it to something else before next version, but right now I'm just trying to get the new runner on par with the current.

I'd say it non-deterministically succeeds without the map call (like, such a low rate of success that calling non-deterministic is not accurate, hence why I renamed the issue), but seems to succeed all the time with the map call.

#### Other th

[2020-11-30 15:47] #1447 closed, assigned to nobody

[2020-11-30 19:58] DomWos commented on #1395
Hey @djspiewak, I can take care of this one ;)

[2020-11-30 20:46] djspiewak commented on #1395
@DomWos go for it!

[2020-11-30 22:25] djspiewak opened #1471 "Generalize interruptible hints to overlap with blocking rather than implying it"
Interruptibility of a blocking action is a useful feature to have even when that action is *not* meant to be on the blocking thread pool. An example of this is `Selector#select()`, which is a blocking call which can and should be interrupted when the server is to be shut down. This use-case is not currently possible within Cats Effect 3 (without a ton of manual work that basically replicates `inte

[2020-12-01 15:34] djspiewak opened #1473 "Add iteration combinators to IO"
- `foreverM`
- `untilM`
- `whileM`
- `iterateWhile`/`iterateUntil`
- others-that-i've-probably-forgotten

Should have the same signatures and semantics as their counterparts within cats core.

[2020-12-02 06:31] #1468 closed, assigned to nobody

[2020-12-02 06:32] dependabot-preview[bot] opened #1474 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/57420024).

[2020-12-03 13:43] Baccata commented on #1463
Here's a branch that exhibits the behaviour. `Async#fromFuture` was copied, with a minimal "immediate" EC on which the future's callback runs, mirroring CE's behaviour.

https://github.com/disneystreaming/weaver-test/blob/ce2-promise-bug/modules/framework/src-jvm/PlatformRunner.scala#L56

The following sbt command can be ran a couple times, usually it hangs after 2 or 3 tries.

[2020-12-03 19:07] pkowalcze commented on #1473
I'd like to give it a go, if it's ok with you

[2020-12-03 20:48] djspiewak commented on #1473
Do it!!

[2020-12-03 22:55] ChristopherDavenport opened #1479 "Davenverse components into std"
#### For Consideration

- [x] [unique](https://github.com/christopherdavenport/unique)
- [x] [random](https://github.com/christopherdavenport/random)
- [ ] [FUUID](https://github.com/christopherdavenport/FUUID) -> UUID (what to do about literal macros)
- [ ] [cats-effect-time](https://github.com/christopherdavenport/cats-effect-time) - java-time instances. Considerations are scala-js artifact size

[2020-12-04 03:42] rossabaker commented on #1479
A few principles:

- Favor inclusion it if it's small enough to be a "solved problem" and unlikely to evolve until CE4 or have interesting alternatives.  Example: unique

- If multiple implementations exist, can we reconcile them before inclusion?  If not, maybe the design space is still unsettled.  Example: circuit, which also exists in Monix.

- Are the more complex ones used in major libraries

[2020-12-04 04:18] RaasAhsan commented on #1479
It's worth considering #1459 under those principles as well

[2020-12-04 04:35] RaasAhsan commented on #1479
It's also worth recognizing that even if multiple implementations don't happen to exist, the design space may still be apt for innovation. Retries comes to mind; afaik cats-retry is the only Cats library for them, but I've seen wildly different APIs that work just as well if not better

FWIW, I and likely others see/will see the `std` module as the de facto way of doing things, so I second a dilig

[2020-12-06 09:36] RaasAhsan commented on #1463
Alright, I believe I have a grasp on what's going on here, so let me jot it down before I forget it :) I can also produce a minimization if you want.

This hanging behavior is really a deadlock that manifests when the `onComplete` callback for the `promise.future` is registered _before_ the promise is completed. So assuming that condition, this bug manifests deterministically. That, along with the

[2020-12-06 13:30] Baccata commented on #1463
Thanks for the write up, this makes it a lot clearer 😸 . The lack of `EC` constraint of `Promise#future` did raise the question of "where the hell does does the callback run ?" in the case of an immediate EC, and the while-loop was the obvious suspect in  "who hung that thread ?", but I was unable to connect the dots between the two.

I'm happy with no action being taken by the cats maintainers, t

[2020-12-06 15:09] djspiewak commented on #1463
Jesus, Raas… This is impressive as hell.

I agree that, given the circumstances, the best approach is for Weaver to bounce through global on the callback (or really, any pool). I also concur it would be impossible to fix this from CE's side without breaking the API, and CE3 does exactly that and (broadly) implements the fix that would be needed.

[2020-12-06 15:09] #1463 closed, assigned to nobody

[2020-12-07 06:41] #1474 closed, assigned to nobody

[2020-12-07 15:07] Daenyth opened #1486 "Document 'non-daemon thread' debug print features"
- sys property to enable/disable
- sys property to control the check interval

All configs defined in here: https://github.com/typelevel/cats-effect/blob/series/2.x/core/jvm/src/main/scala/cats/effect/internals/NonDaemonThreadLogger.scala

This can probably be a section on the `IOApp` doc page

[2020-12-08 02:56] mpilquist commented on #1396
https://github.com/typelevel/fs2/pull/2174 deprecates `fs2.concurrent.Queue` in favor of `cats.effect.std.Queue`, but the former had `fs2.concurrent.{Enqueue, Dequeue}` as supertypes. It would be nice to have similar for `cats.effect.std.Queue`, along with `map`/`contramap` functions.

More specifically, `Stream.fromQueue*` should take a `Dequeue` and there should be a `Functor[Dequeue[F, *]]` ins

[2020-12-08 06:32] dependabot-preview[bot] opened #1489 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/58253567).

[2020-12-09 20:15] kubukoz commented on #1479
Are we considering getting a Logger algebra in there as well? It would be a big win to have it as a "primitive" that other libraries will implement instances for - e.g. @gvolpe's redis4cats has a [minimal interface with an interop module for log4cats](https://github.com/profunktor/redis4cats/blob/v0.11.0/modules/log4cats/src/main/scala/dev/profunktor/redis4cats/log4cats.scala). Something like that

[2020-12-09 20:33] mcanlas opened #1492 "CE3: Document that the requirements for `Resource.use` have changed"
Was playing around with the upgrade to `M4` and noticed that the following doesn't work anymore.

[code]

The call to `use` is now looking for `MonadCancel[F, Throwable]` which `Sync[F]` does not satisfy.

Offline chat with @RaasAhsan and @djspiewak indicates this is by design.

Maybe there are improvements that could be made to the migration guide and documentation indicating that this change hap

[2020-12-09 20:40] djspiewak commented on #1492
The `Sync with MonadCancel` bit is a rather significant usability wart in the hierarchy, IMO. @oleg-py ran into something similar in monix-catnap. I'm becoming increasingly convinced that we need something above `MonadCancel` which lacks `canceled` but has everything else, so you can write cancelation-safe code without *forcing* the underlying type to support cancelation.

[2020-12-09 21:03] RaasAhsan commented on #1492
The issue here becomes lawfulness, right? If you don't have `canceled`, you can't say much if anything about `onCancel` or `uncancelable`. I think that's purely academic though and not of much interest to the majority of users :)

Addressing this in the hierarchy seems to be the right approach (writing cancellation-safe code w/o having to deal with cancellation), but would be nice to get a refresh

[2020-12-10 03:26] RaasAhsan opened #1494 "Finalizer error semantics"
There was a discussion the other day on Gitter about the semantics of finalizers in the presence of errors. Capturing the gist here so we don't forget about it.

The semantics of the following two effects were considered (current behavior is commented above each respective example):
[code]

The behavior of the first example is sensible and is consistent with Cats Effect 2 and Java's try-with-resou

[2020-12-11 06:07] RaasAhsan opened #1497 "Multiplexed Dispatcher"
`Dispatcher` hasn't yet been benchmarked but I had an idea that could reduce contention on the singular queue. Basically, the idea is to create another `Dispatcher` implementation which itself dispatches to one of N `Dispatcher`s in a roundrobin fashion. I'm having a hard time reasoning about how performance would change. On one hand, there is less contention and waiting in the queue, but on the o

[2020-12-11 06:34] #1489 closed, assigned to nobody

[2020-12-11 09:54] vasilmkd opened #1499 "How much do you value the ability to block freely on the compute pool?"
This is a slightly long read, but please bear with me, I believe it's a worthwhile topic to be discussed. Thank you in advance.

As an exercise, please replace the following code in `IORuntimeCompanionPlatform` on the JVM.

[code]

What this does, is it makes the default compute pool for the IO runtime to be a single threaded fixed size pool (think Javascript runtime).

If you now run `coreJVM/tes

[2020-12-11 10:13] vasilmkd commented on #1499
In the meantime, I have engineered the worst case scenario I described in my post. We have it in the tests even.

[code]

This is current behavior on `series/3.x` as of today.

This hangs on my machine. Who is at fault here?

[2020-12-12 14:31] SystemFw opened #1500 "Consider renaming methods in Fiber"
The current naming is descriptive, but a bit longwinded and maybe scary, I propose to replace

[code]

with

[code]

The work would involve renaming those methods, and changing the relevant tests, docs, and scaladoc. A pretty easy first contribution for someone :) (assuming the naming gets agreement)

[2020-12-12 15:28] djspiewak commented on #1500
I think this is a decent naming convention, and certainly a lot less scary. 😃

[2020-12-12 19:55] djspiewak opened #1501 "Remove self-cancelation from SyncIO"
We actually don't need it! `SyncIO` forms a lawful `MonadCancel` even without short-circuiting on `canceled`. All we need to do is define `canceled = unit`.

[2020-12-12 19:57] djspiewak opened #1502 "Define Sync to inherit from MonadCancel"
I believe this should nicely solve the `: Sync: MonadCancel` issue referenced in #1492, as well as raised by @oleg-py. This will work solely because `canceled` isn't *forced* by law to short-circuit. A law like `canceled *> raiseError(e) <-> canceled` would break that, but we have no such law, nor should we (since it only would hold if *not* wrapped in `uncancelable`).

[2020-12-12 20:24] vasilmkd commented on #1501
Always down to delete my own code.

[2020-12-12 20:28] mpilquist commented on #1501
@djspiewak We tried this originally: https://github.com/mpilquist/cats-effect/blob/9381478e70f1e5168e24be867fa4d5008c57c6b9/core/shared/src/main/scala/cats/effect/SyncIO.scala#L534-L543

That failed a couple of laws tests. I don't remember which ones exactly but I'm curious what we were missing back then?

[2020-12-12 23:48] #1460 closed, assigned to nobody

[2020-12-13 03:50] nigredo-tori opened #1504 "Add Resource.allocatedCase"
The idea seems to have been [floating around for a while](https://github.com/typelevel/cats-effect/search?q=allocatedcase&type=issues), but only in (closed) merge requests, and none of the implementations have made it into the 2.x and 3.x branches.

The problem I see with `allocated` is that it's inherently lossy. Consider:
[code]

After `allocated`, we can only release resources with `ExitCase.Su

[2020-12-13 05:32] djspiewak commented on #1501
So it seems likely that @wemrysi's work on the generators will re-expose whatever you previously saw in the earlier attempt. However, I have a contingency plan there. 😃 It's possible to formalize the nature of the root scope, which would allow us to declare, rigorously, that certain cancelation semantics simply don't apply to SyncIO. This would be represented optionally in the types, but invisibly

[2020-12-13 16:55] wemrysi commented on #1501
I can confirm that the following tests fail on my branch with the fixed generators when redefining `SyncIO.canceled` to be `SyncIO.unit`:

[code]

[2020-12-13 21:04] djspiewak commented on #1501
Looking at the laws, this is intuitive. Those laws only hold in the root scope. So in order to resolve this ticket, we'll need to existentially parameterize scope. I think that's doable.

[2020-12-14 06:41] dependabot-preview[bot] opened #1505 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/59112269).

[2020-12-15 19:37] keynmol commented on #1499
Gonna reference a conversation that just happened on Gitter:

https://gitter.im/typelevel/cats-effect?at=5fd90c9e6c2aad2754074f74

@vasilmkd I unintentionally engineered your worst case scenario in unrelated CE2 -> CE3 conversion.

I was using CE3 to simulate parallelism to test a library's ability to resolve a deadlock-inducing situation. (code under test uses `Await.result`)

Under CE2, running

[2020-12-15 19:45] Daenyth commented on #1499
It seems reasonable that `IO(someIO.unsafeRunSync())` risks a deadlock in principle. However..

In my experience with CE2, that shape is pretty likely to happen indirectly in a codebase that uses *some* cats-effect but doesn't use it across the entire stack.

Some interfaces might use IO, some might not, and if they call each other, it's easy to arrive in that shape accidentally.

Having that brea

[2020-12-15 19:54] SystemFw commented on #1499
I'm torn on this. My main worry is that users that are just trying it out cats-effect (which would often happen in a mixed codebase), would get a deadlock out of this, and never use cats-effect again (and probably bad press it with "tried it once, locked up my whole app in 5 minutes")

I'd say that 30x faster and completely safe is a better default than 42x faster but unsafe and requires disciplin

[2020-12-15 19:56] vasilmkd commented on #1499
Completely agree that the runtime should be as safe as possible. But not even work stealing or any fixed thread pool is safe for that matter. I hope that people are at least aware of that.

[2020-12-15 19:57] keynmol commented on #1499
I have a fair amount of experience with CE2 (as a user), and having a deadlock in CE3 made me gasp :) Which is not a scientific measure by all means, but I'm spending a considerable amount of time to understand why it is happening.

And tbh I'm only doing this because I'm helping maintain a testing framework for CE2/CE3 so distinguishing between user/library/framework errors is important for us.

[2020-12-15 19:58] vasilmkd commented on #1499
@keynmol I'm working on resolving that specific deadlock at the moment.

[2020-12-17 06:37] #1505 closed, assigned to nobody

[2020-12-17 06:38] dependabot-preview[bot] opened #1510 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/59686948).

[2020-12-17 20:52] djspiewak opened #1513 "Over-aggressive Stack Trace Enhancement"
Original:

[code]

Enhanced:

[code]

Origin: https://github.com/keynmol/weaver-classloader-repro/tree/237e3bcdfb190b49b8360ea8b68ba6f5a15b24e2

Seems a bit aggressive

[2020-12-18 15:30] Daenyth commented on #1029
I'd really like if it we had *at least* this, because when I get async locks, I often end up in visualvm trying to analyze a heap dump from the live system.

[2020-12-18 22:53] djspiewak opened #1519 "Proper handling for self cancelation in memoize"
`F.memoize(F.canceled)` deadlocks and… really shouldn't.

[2020-12-19 00:42] djspiewak opened #1521 "Flaky Resource test"
[code]

This is probably a legitimate bug being surfaced by our newly-fixed generators.

[2020-12-19 01:36] djspiewak commented on #1521
Another seed:

[code]

[2020-12-19 04:20] djspiewak opened #1522 "Add IO.bracketFull"
The easy route here is to just delegate to `MonadCancel#bracketFull`

[2020-12-19 04:20] djspiewak commented on #1521
Minimized:

[code]

[2020-12-19 20:47] wemrysi opened #1525 "Attempt to restore raceNeverIdentity{Left,Right} laws"
As discussed in #1484, we should be able to restore the `GenSpawnLaws#raceNeverIdentity{Left,Right}` laws using `onCancel`.

[2020-12-19 20:48] wemrysi commented on #1525
I'm looking into this.

[2020-12-20 03:31] #1521 closed, assigned to nobody

[2020-12-20 18:07] djspiewak opened #1527 "Explicitly compile prior to running the example app timeout script"
Sometimes Zinc freaks out and we don't want to include compilation in the example app timing.

[2020-12-20 20:55] #1525 closed, assigned to nobody

[2020-12-21 06:38] #1510 closed, assigned to nobody

[2020-12-21 06:39] dependabot-preview[bot] opened #1529 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/60102336).

[2020-12-22 06:35] #1529 closed, assigned to nobody

[2020-12-22 06:36] dependabot-preview[bot] opened #1531 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/60300626).

[2020-12-23 06:34] #1531 closed, assigned to nobody

[2020-12-23 18:55] RaasAhsan opened #1535 "Uncaught error within bracketFull"
We've got a bit of a problem in our default definition of `bracketFull` that's also causing problems for `Resource` and other projects downstream. The offending code:
[code]
A minimized example that illustrates how it's breaking:
[code]
Running this program produces the following output:
[code]
As you can see, the message `B` is never printed, meaning that the finalizer is never being run! The roo

[2020-12-23 19:21] RaasAhsan commented on #1535
we should review all other cases like this

[2020-12-23 21:56] RaasAhsan commented on #1396
Slightly related, should we implement batching calls on `Queue`? i.e. `takeAll` or `takeN`. FS2 had these in the API (http4s relies on these a little bit)

[2020-12-23 22:08] mpilquist commented on #1396
[`Stream.fromQueueNoneTerminated`](https://github.com/typelevel/fs2/blob/adee17b9579bad2a355af6ed1c2eee849862d05e/core/shared/src/main/scala/fs2/Stream.scala#L3217-L3264) pumps the queue via `tryTake` to get this behavior back

[2020-12-24 06:40] dependabot-preview[bot] opened #1539 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/60626697).

[2020-12-25 23:34] jyoo980 commented on #1395
Is this still being worked on? I could push a branch with this change right now.

[2020-12-26 07:22] #1500 closed, assigned to nobody

[2020-12-26 18:46] djspiewak commented on #1395
I'm guessing it isn't being worked on at present; take it!

[2020-12-26 20:39] #1397 closed, assigned to nobody

[2020-12-26 21:29] #1527 closed, assigned to nobody

[2020-12-26 21:29] #1535 closed, assigned to nobody

[2020-12-26 23:03] RaasAhsan opened #1548 "Side channel report on failed handleErrorWith"
I'm thinking we should probably side channel report the original failed error here:
https://github.com/typelevel/cats-effect/blob/1bd09ed0b2481267c3d7e2d760001200bf6e796c/core/shared/src/main/scala/cats/effect/IOFiber.scala#L1059

[2020-12-27 04:11] djspiewak commented on #1548
That's basically what `failed` does though. Side-channeling fatal errors is really tricky because you can't reliably allocate. `failed` actually does one better than this and reliably side-channels to stderr, then *attempts* to relocate the error back to the `unsafeRun`* call-site. In most cases, this should succeed, which provides the UX that I think most people would expect if they don't think a

[2020-12-27 04:47] RaasAhsan commented on #1548
Sorry, I'm not sure if I clearly described the motivation, take a look at the whole function:
https://github.com/typelevel/cats-effect/blob/1bd09ed0b2481267c3d7e2d760001200bf6e796c/core/shared/src/main/scala/cats/effect/IOFiber.scala#L1054-L1061

That's the continuation for error handlers: if invoking the error handler itself produces an error, we relocate _that_ error back to the runloop, which i

[2020-12-27 04:52] RaasAhsan commented on #1548
Maybe this might not make sense at all, now that I think about it. Functions like `adaptError` are implemented in terms of `handleErrorWith`, but we don't want to report in that case. The user should be responsible for catching errors for the handler if they need to. I think we're good here then

[2020-12-27 04:53] #1548 closed, assigned to nobody

[2020-12-27 09:58] heka1024 commented on #1522
I'll work on this.

[2020-12-27 16:42] djspiewak commented on #1522
Take it!

[2020-12-27 17:27] RaasAhsan commented on #1522
I think we need to reimplement `IO.bracketFull` with side channel reporting (take a look at `bracketCase`). The `Async[IO]` instance should then override `bracketFull` and point to the new implementation and use the default `bracketCase` implementation

[2020-12-28 06:32] #1539 closed, assigned to nobody

[2020-12-28 19:45] djspiewak opened #1551 "Attempt to generalize Cont even further"
It should be possible to move the callback value into an entirely existential context, giving us an even more general construct:

[code]

[2020-12-29 23:56] mpilquist commented on #1438
FYI, I'm working on this in https://github.com/typelevel/cats-effect/compare/series/3.x...mpilquist:topic/new-testkit?expand=1

[2020-12-30 06:35] dependabot-preview[bot] opened #1558 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/61317401).

[2020-12-30 08:44] rkrzewski opened #1560 "CE3 IOApp always forcibly terminates JVM, even on ExitCode.Success"
Compare:
CE2: https://github.com/typelevel/cats-effect/blob/series/2.x/core/jvm/src/main/scala/cats/effect/internals/IOAppPlatform.scala#L28
CE3: https://github.com/typelevel/cats-effect/blob/v3.0.0-M5/core/jvm/src/main/scala/cats/effect/IOApp.scala#L82

I've run into it because there's a direct invocation of `IOApp.main` from mdoc in Doobie documentation.
https://github.com/tpolecat/doobie/blame/

[2020-12-30 10:03] ashwinbhaskar commented on #1344
Can I give this a shot? If it's okay, please assign the issue to me.

[2020-12-30 17:13] djspiewak commented on #1344
Go for it!

[2020-12-30 23:45] djspiewak opened #1564 "GuaranteeCase syntax doesn't seem to type infer in general"
[code]

In the above, the compiler will give an error like `missing parameter type for expanded function` or something similar related to type inference. Directly invoking the function on `MonadCancel` by way of `F.guaranteeCase` circumvents this problem entirely. We should try to find a way to smooth this over for users if possible.

Scala 2.13

[2020-12-31 06:35] #1558 closed, assigned to nobody

[2020-12-31 07:43] joroKr21 commented on #1564
That's a bit tricky. I guess other type classes might have the same problem. I can take a look.

[2020-12-31 18:16] #1501 closed, assigned to vasilmkd

[2020-12-31 18:16] #1502 closed, assigned to nobody

[2020-12-31 18:17] #1494 closed, assigned to nobody

[2020-12-31 18:27] #1141 closed, assigned to nobody

[2020-12-31 18:27] #1255 closed, assigned to SystemFw

[2020-12-31 18:27] #1336 closed, assigned to SystemFw

[2020-12-31 21:16] Daenyth commented on #1238
I'd also request that we need *some* way to do more overriding to the pool than just counts. For example, it's very important for me at least that the pool has mxbeans exposed for metric collection. If those aren't built in, I'd need to swap in a pool that had them

[2020-12-31 21:24] djspiewak commented on #1238
@Daenyth Would you mind opening an issue for what you would like to see exposed in the mxbeans?

[2020-12-31 22:22] Daenyth opened #1568 "Add JMX beans for IOApp thread pool metrics"
Spinning this off from #1238

I think metric collection is an important feature (it is for me, at the very least), so we should enable users to either enrich on their own beans, or build in ones that could be useful.

For example, this is what I'm using right now, building on a standard thread pool:

[code]

And then I register beans of that for both my main compute EC (backing ContextShift) as we

[2020-12-31 22:36] djspiewak commented on #1568
Wdyt, @vasilmkd ?

[2020-12-31 22:45] vasilmkd commented on #1568
It should be doable. Is there an expectations that these metrics should be dynamic? I'm asking because the thread pool on the JVM uses `Runtime#availableProcessors()`, but they are configured to sleep if there is no work to go around. Again, it should be doable, there's just going to be some discussion as to what metrics are useful and how they should be reported. Otherwise, the the pool is fiber

[2021-01-01 01:07] Daenyth commented on #1568
Things like `getActiveThreads`, it's definitely important that it be at least *relatively* up to date. Whether that's updated at the time the method is polled, or independently on a schedule, or constantly updated in a field, doesn't matter so much to me at least

[2021-01-01 06:00] ashwinbhaskar commented on #1344
@djspiewak I have done a very basic benchmarking wrapping a large loop inside an IO and calling `unsafeRunSync` using ce2 and ce3.
ce2 result
[code]
ce3 result
[code]

[This](https://github.com/ashwinbhaskar/ce2-vs-ce3-benchmark) is the repo. Please correct me if I am not in the right direction.

[2021-01-01 06:32] dependabot-preview[bot] opened #1569 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/61625942).

[2021-01-01 07:05] RaasAhsan opened #1571 "Possible generalization for Dispatcher#unsafeToFutureCancelable"
From
[code]
To
[code]
It kind of looks like an odd signature... The caller would just run the cancel token through the `Dispatcher` again, which is precisely what's being done right now anyways; we're just now being explicit that cancellation is an effect in `F`. One quirk of this is you can now cancel the cancellation of another effect. It's probably not useful in practice but it gives you that p

[2021-01-01 07:08] RaasAhsan commented on #1571
One awkward consequence of this is that the signature of `unsafeRunCancelable` in #1570 would now look like
[code]
which gives the false impression that this function is pure

[2021-01-01 08:59] vasilmkd commented on #1568
Cool, I'm working on a large rewrite of the whole pool which should reduce the code footprint a lot, I've just been busy with other things these weeks. I'd like to get that relatively stable and then I can look into adding configuration for this. It would be an awesome addition, even for us, as we continue to tune and upgrade the pool.

[2021-01-01 18:14] #1564 closed, assigned to nobody

[2021-01-01 18:37] #1560 closed, assigned to nobody

[2021-01-01 18:38] RaasAhsan commented on #1344
For microbenchmarks, usually it's a good idea to use a framework like JMH (both series/2.x and series/3.x should have it set up), but I think it's probably safe enough to take those measurements at face value for now

That's quite a hit! I think the margin would be even larger if there were multiple, concurrent threads submitting effects (the multiplexed Dispatcher may probably help out there). Th

[2021-01-01 18:51] djspiewak commented on #1344
I was thinking about this, and I think `unsafeRunSync` is a bit deceptive by its very nature. CE2's `unsafeRunSync` is unshifted, and running it naively within `Dispatcher` (in CE3 obviously) entails blocking a compute thread.

I think it might be more useful to try to benchmark `Dispatcher` against itself. Basically, try to see how it scales with load by using `unsafeToFuture()`, accumulating tho

[2021-01-01 23:20] rkrzewski commented on #1310
I think it's just `sbt` being slow on the CI worker node. ae91deb4 should mitigate this problem.

[2021-01-01 23:55] djspiewak commented on #1310
I'm hopeful this is the case. I certainly couldn't reproduce it locally.

[2021-01-02 01:23] #1310 closed, assigned to nobody

[2021-01-02 19:17] djspiewak opened #1576 "Decide what we're going to do with Resource#parZip"
It's somewhat redundant with `both` (defined in `Concurrent`) now, though it is *probably* slightly faster. The real problem though is that `parZip` is actually *inconsistent* with `both` in that it runs finalizers in parallel, whereas `both` runs them sequentially.

[2021-01-02 19:23] #1522 closed, assigned to nobody

[2021-01-02 21:51] Daenyth commented on #1576
Why does `both` run finalizers in sequence? Can that be fixed?

[2021-01-03 01:05] SystemFw commented on #1576
I kinda would have expected the Parallel newtypes to be CommutativeApplicative, and that, for Resource, order of finalisation is part of equivalence, which make sequential release on `both` weird.

Validated breaks the CommutativeApplicative assumption admittedly , but I think not having resources released in parallel actually has practical consequences and breaks the principle of least surprise

[2021-01-03 16:27] djspiewak commented on #1576
I agree with the commutative applicative argument. It's also worth noting that Validated does work here so long as the inner E forms a commutative monoid. But at any rate…

What I don't see is how to make this happen with Resource without bespoke overrides, which make me nervous in this case. The problem is that we flatMap inside Fiber#joinWith, and we don't have any knowledge of the other fibers

[2021-01-04 06:39] #1569 closed, assigned to nobody

[2021-01-04 06:40] dependabot-preview[bot] opened #1578 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/61863157).

[2021-01-04 09:34] TimWSpence commented on #1471
I'll have a go at this

[2021-01-04 16:51] mpilquist opened #1580 "Investigate replacing ScheduledExecutorService with a HashedWheelTimer"
Netty, Akka, Blaze, and other libraries all use a variant of a hash wheel timer for scheduling lots of non-blocking tasks:

- [Netty's HashWheelTimer](https://github.com/liaokailin/netty/blob/master/common/src/main/java/io/netty/util/HashedWheelTimer.java)
- [Akka's LightArrayRevolverScheduler](https://github.com/akka/akka/blob/a4acf23d0541471ecf81b9ba5dd97c2e97670814/akka-actor/src/main/scala/akk

[2021-01-05 06:36] #1578 closed, assigned to nobody

[2021-01-05 06:37] dependabot-preview[bot] opened #1581 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/62075200).

[2021-01-05 08:47] TimWSpence commented on #1473
@pkowalcze are you still planning to work on this? If so that's fantastic! :) Let me know if you need a hand with anything.
If you're not then I might pick this up in a couple of days.

[2021-01-05 12:14] pkowalcze commented on #1473
@TimWSpence Very sorry for the delay, I'm going to get it done as soon as possible. Could you verify that I understood the intent of this task correctly? Is it to have something like:

[code]

in the `IO` object?

[2021-01-05 14:44] TimWSpence commented on #1473
Hey @pkowalcze no worries at all!! :)  Yes, exactly - it's so we have convenient syntax like `IO.untilM` instead of `Monad[IO].untilM`

Note that we want to be sure that it has the same semantics as the methods defined on the monad instance for `IO`. I _think_ the best way to do that is
[code]
so the implementation on `IO` just forwards to the `Monad` instance. @djspiewak might have a better idea

[2021-01-05 17:34] djspiewak commented on #1473
I think it's better to make these instance methods, rather than putting them on the object. Basically, take the following example:

[code]

Right now, that example requires `import cats.syntax.all._`. Make it so that example (and others like it involving Cats iteration combiantors) works without requiring the import. That's the task!

[2021-01-08 15:33] kubukoz commented on #1513
I'd go as far as to say we should be able to skip fs2 internals too ;D

[2021-01-08 15:44] djspiewak opened #1585 "Audit all error discard and side-channel semantics"
We should be able to enumerate all the cases in which errors are discarded and ensure they're appropriately side-channeled (and documented).

[2021-01-08 16:08] mpilquist commented on #1513
Yes please!

[2021-01-09 19:26] djspiewak opened #1587 "Proposed Unique class in the hierarchy"
[code]

Then, `Spawn <: Unique` and `Sync <: Unique`. Note that `Spawn` already has a notion of uniqueness in evaluation due to the existence of `start` and the fact that `join`s on distinct `Fiber`s yield distinct results. Uniqueness, fundamentally, implies lazy evaluation and non-memoization. Note that this is a stronger implication than `Defer`, which really just implies safe recursion indirect

[2021-01-09 19:55] SystemFw commented on #1587
## Unique in cats.effect.std

This is an alternative proposal that keeps `Unique` outside of the hierarchy, without introducing any cheating.

It would be identical to https://github.com/typelevel/cats-effect/pull/1477, except for the fact that the concurrent constructor wouldn't rely on lazy `map` to do `().map(_ => Token`), but rather `F.deferred.map(WrapperThatDoesEqualityOnTheDeferred)`, there

[2021-01-12 12:19] jbwheatley opened #1592 "Change to Clock[F].instantNow in 2.3.1"
change due to https://github.com/typelevel/cats-effect/pull/1461

More of a PSA for anyone else who suddenly got tests failing when upgrading to CE 2.3.1. If you had something like this in your test suites:

[code]

and anything you are testing used Clock[F].instantNow to give the current time as an instant, it now gives you `EPOCH + 123456 nanos`, not `EPOCH + 123456millis`

[2021-01-13 15:29] mpilquist opened #1593 "Set setRemoveOnCancelPolicy(true) on ScheduledExecutorService"

[2021-01-13 18:25] kory33 opened #1594 "Law of Ref.access has an unnecessary .map(_.isDefined)"
In both of [2.x](https://github.com/typelevel/cats-effect/blob/c8969cf448eb0bd9247b29a540ba64a9f3f467b1/core/shared/src/main/scala/cats/effect/concurrent/Ref.scala#L94) and [3.x](https://github.com/typelevel/cats-effect/blob/c8969cf448eb0bd9247b29a540ba64a9f3f467b1/core/shared/src/main/scala/cats/effect/concurrent/Ref.scala#L94), `Ref.access` describes a law

[code]

but the `.map(_.isDefined)` le

[2021-01-14 06:33] #1581 closed, assigned to nobody

[2021-01-14 06:34] dependabot-preview[bot] opened #1595 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/63333353).

[2021-01-15 22:24] kubukoz commented on #1115
Some users are going to be hit by this when migrating - what should we tell them? "Use queue(1)" isn't going to cut it if someone's currently using `modify` and other methods from `MVar2` (I know of one such example at $JOB already).

[2021-01-16 20:53] djspiewak commented on #1115
The answer really is "use Ref and Deferred". In most cases, the domain will break down nicely and the code will honestly be cleaner and easier to maintain. In rarer cases, you'll need a Ref *of* a Deferred and it will be slightly more involved, but still about the same as an MVar (just more explicit).

[2021-01-18 06:20] ashwinbhaskar commented on #1344
@djspiewak  apologies for the delay. Where would this differ from when calling `unsafeRunSync` on an IO? `unsafeRunSync` itself converts the IO to future and then calls `Await`

[2021-01-18 06:33] #1595 closed, assigned to nobody

[2021-01-18 06:33] dependabot-preview[bot] opened #1602 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/63752274).

[2021-01-18 13:36] kubukoz commented on #1115
Can't say that's the best migration UX ;)

There should probably be at least a library one can use for the transition period, while they're busy figuring out changes related to new signatures, the disappearances of ExitCase, etc. (without having to come up with exhaustive test cases and whatnot) - someone will probably make one, let's hope 😅

[2021-01-18 17:26] djspiewak commented on #1115
I mean, I'm definitely not averse to a micro library which provides the functionality. Putting it into CE itself though would mean we're stuck with it forever.

[2021-01-19 06:28] #1602 closed, assigned to nobody

[2021-01-20 06:32] dependabot-preview[bot] opened #1611 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/64104141).

[2021-01-20 06:54] RaasAhsan opened #1613 "Add startOn combinator"
This is pretty much an alias of `evalOn` plus `start`. We should define it on `IO` and `Async`. Whether it should be `fa.evalOn(ec).start` or `fa.start.evalOn(ec)`, I'm not sure yet, but they do commute

`backgroundOn` might also be a good one

[2021-01-21 06:27] #1611 closed, assigned to nobody

[2021-01-21 11:24] alexandru commented on #1115
Just a note ... `MVar` is cool nonetheless and will continue to be exposed in the `monix-catnap` sub-project.

`monix-catnap` is the Monix sub-project with Cats-Effect related utilities.

[2021-01-22 06:27] dependabot-preview[bot] opened #1617 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/64464031).

[2021-01-22 14:30] Wosin commented on #1613
Will happy to work on that :)

[2021-01-22 17:55] TimWSpence opened #1618 "Laws testing for queue functor instances"
We have `{Functor, Invariant, Contravariant}` instances for `{Q, Deq, PQ}ueue` in `cats.effect.std` but they currently have no laws tests. We should correct this :)

[2021-01-24 05:25] djspiewak opened #1619 "Remove join scope weirdness in Async[Resource]"
The current implementation has a rather bizarre semantic, wherein if you `join` on a `Fiber`, the finalizer scope for the fiber is forwarded into the `join` scope, but *via* the `Outcome`. If you don't `join`, then the relevant finalizer scope is the one which arose originally from `start`.

In retrospect, I think this is a little counter-intuitive. The only situation under which `join` could term

[2021-01-24 18:47] djspiewak opened #1620 "Memoize on Resource is weird"
Or rather, it's weird if you `use` the results. For example:

[code]

The second `use` will end up accessing the resource *after* the finalizers have already run. It's not entirely clear what the ideal semantic here, but this seems… not great. One possible answer would be that the memoization needs to be re-run once the first `use` happens, but there's no way to do this generically, since `memoize

[2021-01-24 19:21] djspiewak commented on #1587
As a note: making `Token` fully abstract is basically pointless. It's pleasing from a theoretical point of view, but it does cause some ergonomics issues (it means every implicit has to be `val`), and it doesn't gain anything because of boxing. Like in theory, it would be nice if some implementation could choose to instantiate `Token = Long`, but even if we make that possible, it doesn't *gain* an

[2021-01-25 06:29] #1617 closed, assigned to nobody

[2021-01-26 06:28] dependabot-preview[bot] opened #1623 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/64907072).

[2021-01-26 22:23] #1551 closed, assigned to nobody

[2021-01-28 06:28] #1623 closed, assigned to nobody

[2021-01-28 19:34] djspiewak opened #1629 "Roll back ScalaJS version for compatibility"
As we're an upstream library, we should always default to the oldest major/minor ScalaJS line on which we can run successfully.

[2021-01-29 06:29] dependabot-preview[bot] opened #1631 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/65410100).

[2021-01-31 03:09] #1587 closed, assigned to nobody

[2021-01-31 04:05] djspiewak commented on #1580
Based on what I can find, this is definitely something that is worth doing. If we can get it in for 3.0, it would be ideal, but it's technically something that can land afterward if necessary.

[2021-01-31 04:06] #1519 closed, assigned to nobody

[2021-01-31 04:07] djspiewak commented on #1497
I've done some general measurements of this in fs2-netty and the conclusion I've come to is: it's more than fast enough the way it is. :-) It's still worth benchmarking and playing around with this idea, so I'll leave this open, but the performance seems extremely good in practice.

[2021-01-31 04:08] #1492 closed, assigned to nobody

[2021-01-31 04:08] #1471 closed, assigned to nobody

[2021-02-01 06:34] #1631 closed, assigned to nobody

[2021-02-01 06:35] dependabot-preview[bot] opened #1639 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/65659926).

[2021-02-05 11:01] Baccata opened #1645 "`Concurrent` implying `Parallel` breaks coherence"
#### Using CE 3.0.0-M5

See [gitter discussion](https://gitter.im/typelevel/cats-effect?at=601d0e0aa0246860dc32a6a8)

In case of monad stacks, the potential parallel nature of each layer should be respected : par-traversing EitherT when the error type is semigroupal and the `F` layer succeeds but several `Eithers` fail ought to give an aggregate of errors.

This behaviour is encoded in cats [here]

[2021-02-06 00:44] djspiewak commented on #1645
Does this actually result in different semantics though? They should be consistent even though they're different instances.

[2021-02-06 04:00] #1639 closed, assigned to nobody

[2021-02-06 04:03] #1118 closed, assigned to nobody

[2021-02-06 04:07] #216 closed

[2021-02-06 04:09] djspiewak opened #1646 "Write a new readme"
Need to describe the state of Cats Effect as of 3.0.0 final.

[2021-02-06 04:11] #666 closed

[2021-02-06 04:17] djspiewak commented on #369
As a random thought on this... If we define `Traverse` instances *on the `IO` companion* for specific things like `List`, will those take precedence over the general ones in Cats? I *think* so but this needs experimenting. If so then it's worth doing this this allows us to handle the far-and-away most common case in a more optimized fashion.

[2021-02-06 04:19] djspiewak commented on #512
@Adam-Kurzawa Did you have a chance to look at the `SemigroupK` solution? I can definitely see value in what you're proposing here (only two years later!).

[2021-02-06 04:32] #1046 closed, assigned to nobody

[2021-02-06 04:33] #1102 closed, assigned to nobody

[2021-02-06 04:34] #1438 closed, assigned to mpilquist

[2021-02-06 04:34] #1499 closed, assigned to nobody

[2021-02-06 04:43] djspiewak commented on #749
Going to close this because there's not much that can be done within Cats Effect itself. It's on the radar of the Scala 3 team though, and BMF is a viable solution in Scala 2. We just need to bring more visibility to each.

[2021-02-06 04:43] #749 closed

[2021-02-06 05:12] djspiewak opened #1647 "Get unidoc integrated into the build"

[2021-02-06 05:14] djspiewak commented on #1302
To note, the only async-anything support within scala-native comes via libuv and https://github.com/scala-native/scala-native-loop. We could technically do something like this, but it's an open question as to whether or not it would be worthwhile.

[2021-02-06 08:47] Baccata commented on #1645
I'm afraid it does 😞 . Here's an ammonite script that shows the difference in behaviour

[code]

prints

[code]

[2021-02-06 13:15] Adam-Kurzawa commented on #512
@djspiewak After all have not tried it. Although I still think raceMany would be a nice addition to IO API. What has changed though regarding your interest in it?

[2021-02-06 18:15] djspiewak commented on #1110
Okay almost everyone disagrees with me on this one. I'm going to put this one in the bucket of "would make Daniel happier but probably make everyone else less happy" and close it.

[2021-02-06 18:15] #1110 closed, assigned to nobody

[2021-02-06 21:11] #1396 closed, assigned to nobody

[2021-02-07 02:35] djspiewak commented on #1645
Why do you have to make me sad, Oli?

[2021-02-07 02:58] djspiewak commented on #1629
@sjrd If you have a moment can you weigh in on whether or not this issue is the right thing to do? I can see arguments both ways.

[2021-02-07 06:12] djspiewak commented on #1330
@kubukoz If you've got some time to spare, do you think you could chase down current status on some of this? It'd be good to get a table going in the OP to indicate status and blockers if there are any.

[2021-02-07 06:13] djspiewak commented on #1568
@vasilmkd Any updated thoughts on this in light of #1609?

[2021-02-07 06:15] djspiewak commented on #1619
Btw @wemryrsi, if you have some time and inclination, this is a good one to jump on. :-)

[2021-02-07 06:50] djspiewak opened #1652 "Add Resource#race"
Mostly we want to add this to the `Resource` class and companion object (similar to `IO`) for discoverability reasons. The implementation is already available on the `Concurrent` instance, and thus the methods added here would just delegate to that implementation, similar to what `IO` does.

[2021-02-07 07:07] sjrd commented on #1629
Did you ever have any complaint from a user of cats-effects that you use a too recent version of Scala.js? If not, then don't roll back.

Are you mindlessly upgrading to minor versions of libraries that you depend on? If yes, this is literally no different, and there's no rational reason to roll back either.

[2021-02-07 07:09] djspiewak opened #1653 "Set up apiURL in the build"

[2021-02-07 07:11] djspiewak commented on #1629
Okies. Then I'll close this and we'll continue tracking the upstream version.

[2021-02-07 07:11] #1629 closed, assigned to nobody

[2021-02-07 07:36] djspiewak commented on #1645
So in a way, this is very similar to the #1576 issue: the effect stack has a desired side-channel semantic which is inconsistent with the semantics which simply emerge from the primitives as defined. However, it's also being done for exactly the same reason: `CommutativeApplicative`, which IMO is a compelling reason. It puts us into a bind though.

I think it is very, *very* intuitive that `Concur

[2021-02-07 07:39] #1647 closed, assigned to nobody

[2021-02-07 08:41] Baccata commented on #1645
I'm failing to understand what commutativity has to do with the issue, and #1576 does not give enough context to understand.

I'm [not seeing that it does](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Parallel.scala#L64-L69). Commutativity matters to parallel for a subset of [its operations](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Parallel.s

[2021-02-07 09:23] TimWSpence commented on #1330
https://github.com/TimWSpence/cats-stm is running on CE3 :)

[2021-02-07 09:33] Baccata commented on #1645
Right, I'm starting to link the dots after looking at [gitter](https://gitter.im/typelevel/cats-effect-dev?at=601f54ea84e66b7f7ed8e6c7). Still would like some more explanation around what commutativity has to do with this.

I think that now that cats-core typeclass instances for stdlib types are no-longer orphan, that particular issue would be greatly mitigated if `GenSpawn[EitherT...]` was depend

[2021-02-07 12:50] larsrh commented on #1645
Did you close this issue by accident?

[2021-02-07 17:01] Baccata commented on #1645
I did yeah, that'll teach me to watch github from my phone ...

[2021-02-07 17:02] kubukoz commented on #1330
oof, thanks for the reminder @djspiewak - I'll do the rounds now.

[2021-02-07 17:36] kubukoz commented on #1330
Ney @felixbr, are you planning on updating the catbird repository to the latest milestones (no rush though)? I can't comment there, since I'm blocked 😅

[2021-02-07 17:58] kubukoz commented on #1330
Added a table to clean this all up, now thinking of creating a project to track this instead - it'll be easier to spot which projects need attention. Thoughts?

[2021-02-07 18:41] kubukoz commented on #1048
I have... a branch! And a heading!

![image](https://user-images.githubusercontent.com/894884/107156084-7e414500-697c-11eb-9076-78ec1cc77e7f.png)

[2021-02-07 19:06] #1646 closed, assigned to nobody

[2021-02-07 19:58] djspiewak commented on #1330
The table is great! Also I can report that munit-cats-effect already releases for CE3, which is good because it has a bunch of downstream dependencies. In that vein, cats-effect-testing is also now also fully updated.

[2021-02-07 20:05] kubukoz commented on #1330
Oh, it releases for both. I guess my cmd+f only showed me the last version here and I gave up. Good, good. Thanks!

![image](https://user-images.githubusercontent.com/894884/107158107-2e687b00-6988-11eb-97fb-c774ca3ee720.png)

[2021-02-07 20:34] djspiewak commented on #1330
Yeah the munit-cats-effect build is unique to my knowledge. The only one remotely close to it is Weaver. Most projects are just maintaining separate series branches because so much source has to be changed.

[2021-02-07 20:36] djspiewak commented on #1048
The heading and first sentence are always the hardest part

[2021-02-07 20:57] felixbr commented on #1330
I will try to update the PR from M2 to M5. It will probably not be ready for a merge into master for a while until we decide how to go about making the switch. We also haven't checked yet if my PR still covers all use-cases of downstream libraries (e.g. `finch`).

[2021-02-07 22:06] felixbr commented on #1330
I'm a bit concerned that `Monix` doesn't even seem to have a WIP migration to CE3. It's one of the few actual implementers of the full CE spec and finalizing CE3 without seeing if other implementers can follow suite with `IO` would not be ideal in my mind. If a library like `Monix` could not implement CE3 fully, it would also lose access to (some of) the `fs2` ecosystem.

Not trying to push anyone

[2021-02-07 23:22] djspiewak commented on #1330
Agreed. I think the blocker there has mostly been people's time and availability. It is believed that the major new elements will be straightforward to implement, but no one has.

They definitely are. Kind of sucks for projects like catbird, but it makes the ecosystem a bit tighter and more generic, which was the goal.

[2021-02-08 02:50] vasilmkd opened #1655 "Hierarchy background in readme"
The hierarchy diagram in the README needs a background color. Here's a screenshot in dark mode.

![image](https://user-images.githubusercontent.com/7115459/107170516-d13ceb80-69c0-11eb-89ac-cfbae7474210.png)

[2021-02-08 03:55] djspiewak commented on #1655
lol Okay I'll rerender it

[2021-02-08 04:01] djspiewak commented on #1645
You're correct. I went through and read it last night but didn't loop back here. This discovery honestly leads me to the following pair of conclusions:

- `Resource#both` doesn't *need* to evaluate its finalizers in parallel
- The existing `Parallel[EitherT` instances (given `Semigroup[E]`) are simply broken

Why is that intuitive? It doesn't happen for `IO`, for example:

[code]

You're basically

[2021-02-08 06:33] dependabot-preview[bot] opened #1657 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/66711533).

[2021-02-08 06:42] larsrh commented on #1645
PR is at typelevel/cats#3777, please everyone take a look.

[2021-02-08 06:51] #1657 closed, assigned to nobody

[2021-02-08 08:16] Baccata commented on #1645
Replying in https://github.com/typelevel/cats/issues/3776

[2021-02-08 09:29] Baccata commented on #1645
This I agree with. I do not agree with your solution of changing the existing semantics of EitherT's parallel.

I did mention it was intuitive "on `par`" (parallel) operations. My bad for using the prefix as opposed to the whole thing. It's intuitive because it means the properties of the EitherT layer match the one of a mere Either.

The only reason for which I'd personally use `EitherT[IO, E, ?]

[2021-02-08 10:10] TimWSpence commented on #1456
Is this not already done? https://github.com/typelevel/cats-effect/blob/series/3.x/core/shared/src/main/scala/cats/effect/package.scala#L51-L52

[2021-02-08 11:13] kubukoz opened #1659 "Dark mode doesn't like typeclass diagram"
We should add backgrounds or something...

![image](https://user-images.githubusercontent.com/894884/107212276-01a77880-6a07-11eb-83e1-1c530b19770f.png)

[2021-02-08 11:31] TimWSpence commented on #1580
This looks fun! Happy to have a stab at it at least

[2021-02-08 13:21] vasilmkd commented on #1659
Duplicate of #1655.

[2021-02-08 13:21] #1659 closed, assigned to nobody

[2021-02-08 13:35] kubukoz commented on #1659
oh, sorry

[2021-02-08 13:43] vasilmkd commented on #1659
No problem just cleaning up 😄

[2021-02-08 14:07] djspiewak commented on #1659
You guys and your dark modes... 😃

[2021-02-08 15:35] djspiewak commented on #1456
Those are the type forwarders, but it would be nice to have `object`s as well to allow for summoning. I want to be able to do something like `ApplicativeThrow[F].raiseError(e)` :-)

[2021-02-08 15:41] djspiewak opened #1660 "IO#foreverM and IO.never are inconsistent"
The former returns `IO[Nothing]` while the latter is of type `[A]IO[A]`. This works out to be the same thing in most cases (e.g. the expression `IO.never` will infer to have type `IO[Nothing]`) but there are some differences. The reason `IO.never` takes a type parameter is to make it easier to ascribe a particular type to help the type inference along in some cases. Rather than needing to do somet

[2021-02-08 16:31] #1473 closed, assigned to pkowalcze

[2021-02-08 16:32] #1655 closed, assigned to nobody

[2021-02-08 17:18] TimWSpence commented on #1456
https://github.com/typelevel/cats-effect/pull/1662

[2021-02-08 17:39] kubukoz commented on #1659
Light mode users be like

![image](https://user-images.githubusercontent.com/894884/107259129-ebb4aa80-6a3c-11eb-8b86-bf2adc8e4a33.png)

[2021-02-08 18:59] #1456 closed, assigned to nobody

[2021-02-08 21:36] djspiewak opened #1664 "Extract polyfill executor into a separate project"
This is the Cats Effect side of scala-js/scala-js#4129. We need to pull it out into a separate (typelevel?) project. Honestly this is mostly just infrastructure work, untangling the Firefox build machinery and stuff.

[2021-02-09 00:07] vasilmkd commented on #1664
Unfortunately the firefox CI is still broken due to no fault of our own...

[2021-02-09 00:15] djspiewak commented on #1664
Two birds with one stone then! 😒

[2021-02-09 06:36] #1352 closed, assigned to nobody

[2021-02-10 06:14] benhutchison commented on #1302
🙌 If you come up with any experiments, I'd love to test them out

[2021-02-10 06:34] dependabot-preview[bot] opened #1668 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/67097228).

[2021-02-10 06:39] djspiewak commented on #1302
This is definitely one of those things that will be a little interest-driven. 😃 Also if anyone wants to dive in and start playing with getting it working, the Cats Effect side of it would actually be very straightforward (for the most part, you just need to implement an ExecutionContext that works), and I would love to help out anyone interested in trying their hand at it.

[2021-02-10 06:39] #1668 closed, assigned to nobody

[2021-02-10 15:14] fthomas commented on #1049
I've a basic skeleton for the migration scalafix ready at https://github.com/typelevel/cats-effect/compare/series/3.x...fthomas:topic/scalafix which now needs to be filled with patches.

I'm aware of the following changes, that could be added to the scalafix:
* `Bracket -> MonadCancel`
* `Bracket#guarantee(a)(b) -> MonadCancel#guarantee(a, b)`

Which other changes should it rewrite?

[2021-02-10 18:08] TimWSpence commented on #1217
I can't update the checklist but we can tick off `PriorityQueue` as well

[2021-02-10 20:12] kubukoz opened #1672 "Add utilities for measuring an effect's execution time"
Something of the sort:

[code]

After it lands in series/3.x, I think it would be a welcome addition to CE2 as well (for effects that have a `Clock[F]`, maybe - it would require a new syntax class).

[2021-02-11 00:13] djspiewak commented on #1049
Ooooooh huzzah!

Other random changes:

- `async` -> `async_` in many cases (and `cancelableF` -> `async`, as well as the other variations of it)
- `suspend` -> `defer`
- `F.uncancelable(fa)` -> `F.uncancelable(_ => fa)`
- `join` -> `joinAndEmbed` (actually `joinWithNever` - correction by @kubukoz)
- `ExitCase` -> `Outcome`
- Some package name changes (e.g. `Semaphore` was in `concurrent` and is n

[2021-02-11 02:49] #1645 closed, assigned to nobody

[2021-02-11 07:55] fthomas commented on #1049
Thanks Daniel, this will keep me busy for a while. *rolling up my sleeves*

[2021-02-11 16:04] djspiewak commented on #1049
Thank you so much for tackling this!

[2021-02-11 18:00] patseev commented on #1672
Will take this one 🙂

[2021-02-12 04:05] benhutchison commented on #1302
So I did some investigating and concluded that integrating with Scala Native & libuv may be currently possible, but it's bleeding edge and exceeds my personal bravery level.

I think it might be prudent to wait for stabilization of:
- Native interop design changes, which are part-implemented ATM https://github.com/scala-native/scala-native/issues/897
- The libuv integration, eg the [changes](https

[2021-02-12 05:30] djspiewak commented on #1217
Given the decision to cut fiber identity as a potential *generic* thing in the library, we unfortunately can't implement `ReentrantLock`, so I think I'm going to close this as **Fixed**! Well done, everyone, but particularly @TimWSpence who took on the majority of these!

[2021-02-12 05:30] #1217 closed, assigned to nobody

[2021-02-12 05:31] djspiewak opened #1678 "Think more seriously about what we're going to do with time mocking"
`TimeT`? Orphan `Clock`? `TestContext`? The first of these is my preferred option but we need to play with it more to make sure it actually works.

[2021-02-12 05:36] djspiewak commented on #1576
In light of everything with `EitherT`, I'm strongly inclined to say that `parZip` (now `both`) should just have the same semantics as the `Spawn[Resource[F, *]].both` implementation. Which is to say, sequential finalizers. Any strong objections?

[2021-02-12 05:37] djspiewak commented on #1027
I think all of this stuff is now fixed?

[2021-02-12 05:37] #1027 closed, assigned to nobody

[2021-02-12 05:45] djspiewak commented on #1238
So one thought here is that `IORuntime.global` doesn't need to be a `lazy val`. We can actually make it backed by a `var` which is only mutable within the `cats.effect` package. Then, if `global` is dereferenced before that `var` is populated, we create the `IORuntime` that we create today. However, if `IOApp` starts up *before* `global` is dereferenced, then we can set it to be whatever we have c

[2021-02-12 05:46] djspiewak commented on #1198
I think I fixed all of these in #1650

[2021-02-12 05:46] #1198 closed, assigned to nobody

[2021-02-12 06:27] dependabot-preview[bot] opened #1680 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/67489025).

[2021-02-12 07:32] patseev commented on #1652
I'd like to take this one. Should I target 2.x or 3.x or both?

[2021-02-12 09:02] viktorklang commented on #1238
@djspiewak It'd still need to be @volatile to ensure visibility of modifications (i.e. establish HB-edges). Also, it is likely that you'll risk having check-then-act problems, necessitating a critical section(s) with mutual exclusion, which introduces the risk of deadlocks. In general, using deferencing as a decision-mechanism has not been a great experience for me in concurrency settings.

[2021-02-12 09:21] SystemFw commented on #1576
it still sounds very very weird to me

[2021-02-12 13:34] patseev commented on #1652
To save time, here's a sketch of implementation. Do I understand correctly that we're racing allocations? Implementation is very similar to `Resource.both` but relies on `race` instead of `parTupled`

[code]

[2021-02-12 14:05] djspiewak commented on #1652
Just 3.x! :-) It would run into a bunch of problems on 2.x as far as I can tell.

Regarding the implementation, I think you can actually just delegate straight to the `Async` for `Resource` the same way that `IO` does with *its* `race` implementation. So really all that is needed here is a forwarder.

[2021-02-12 14:11] patseev commented on #1652
Sweet. Then I propose I'll simplify the existing `both` via delegate as well

[2021-02-12 15:37] djspiewak commented on #1238
@viktorklang It would definitely be race-condition-y, but I think that's solvable, particularly since this is one of those things that only happens once per JVM. I definitely agree with you that dereference-based decisioning is usually awful but, because this is a thing that happens right at the beginning of the JVM startup, it might be okay.

The alternative is pretty bad, tbh. Like either we don

[2021-02-12 15:39] djspiewak commented on #1576
I agree in a vacuum that parallel finalization makes *sense*, but I don't see a way that it can be derived from the more primitive semantics without totally special-casing this one specific scenario. It's basically like the whole `Parallel[EitherT[F, E` thing: one set of semantics arises naturally from base primitives, while the other set of semantics requires a bespoke specialized interpretation

[2021-02-12 17:35] SystemFw commented on #1576
there is another scarier possibility, which is that the primitive semantics of `Async[Resource` ultimately don't make sense, and we're looking at the first example of why.
I feel like in `EitherT` the balance is different, because in that case the main culprit is trying to take a syntactic convenience (`Parallel`) and building a tower of abstraction over it, and when combined with a cube of possib

[2021-02-12 18:17] djspiewak commented on #1576
Except literally no other `Parallel` is commutative! Easy example:

[code]

Commutativity just isn't a guarantee we have in this space. It's *roughly intuitive*, but it's also just not achievable unless the underlying `Applicative` is itself commutative.

And this is the crux of the issue. We have an *intuition* that `Parallel` for some type should map to a commutative applicative, but the Cats Ef

[2021-02-12 18:23] #1680 closed, assigned to nobody

[2021-02-12 18:25] SystemFw commented on #1576
[code]
this is commutative though, no? (although you are unlikely to observe it), but I think you have a strong argument, and we can discard commutativity from the discussion (e.g `Validated`).

However, I think we both agree that concurrent release is preferable if you think about `Resource` without the async instance , both  from first principles and in practice: lots of things have heavy releas

[2021-02-12 18:34] djspiewak commented on #369
I believe typelevel/cats#3790 meets this need better than anything that we can do directly in Cats Effect.

[2021-02-12 18:34] #369 closed

[2021-02-12 18:37] djspiewak commented on #1576
If we view the parallel release semantics as an optimization and implementation detail of a very common case, rather than as something that's fundamentally dictated by the model, then I'm completely okay with it. :-) That would imply that what I mentioned on #1652 was slightly backwards: we should override `both` on the `Async[Resource]` instance to point to the concrete `both` on `Resource` itsel

[2021-02-13 03:18] kubukoz commented on #1672
Closed in #1677

[2021-02-13 03:18] #1672 closed, assigned to patseev

[2021-02-13 05:38] #1395 closed, assigned to nobody

[2021-02-13 16:01] kubukoz opened #1684 "Use Unique in Supervisor instead of custom Token"
`Supervisor.apply[F]` does `val token = new Token` on its own - we can probably reuse `Unique[F].unique` instead.

[2021-02-14 09:25] JD557 commented on #1302
Would it probably make sense to just publish the kernel for scala native for now?

While it migh make sense to wait before porting cats IO, having the typeclasses available would allow:
- Library authors to still cross-publish code with CE3 to scala-native
- Application authors to plug in a simpler IO monad and use only a subset of operations (e.g. it should be simple to write an IO monad that onl

[2021-02-14 10:21] benhutchison commented on #1302
That makes sense to me. It opens the way for someone to have a go of
implementing an IO on SN.

Maintaining an IO for SN within CE is what I'd be wary of, as the
underlying libuv bindings might keep changing for a while yet ..

On Sun., 14 Feb. 2021, 8:26 pm João Costa, <notifications@github.com> wrote:

[2021-02-14 12:23] viktorklang commented on #1238
@djspiewak Indeed. I had to go through the same kind of process when I worked on the `global` ExecutionContext for Scala—which is why it is only configurable using System Properties. I guess you could pull off some ClassLoader magic if one really wanted to, but that seemed like a step too far.

[2021-02-14 17:43] djspiewak commented on #1238
In this case, I think we have one lever that you didn't have with `global`, which is that we're (usually) in control of the `main` method. So given that we know and control the very first entry point into the program, I think it should be possible to unambiguously switch between the two scenarios (we controlled `main` vs someone else controlling `main` and accessing `global` out of band).

[2021-02-14 17:58] #1576 closed, assigned to nobody

[2021-02-14 17:58] #1652 closed, assigned to patseev

[2021-02-15 03:47] kubukoz commented on #1048
Progress so far: https://github.com/typelevel/cats-effect/pull/1687

[2021-02-15 09:14] viktorklang commented on #1238
@djspiewak If you control main you could probably install a ThreadLocal to identify that you were initialized via the main method? (As opposed to having to do stack-walking to figure that out).

[2021-02-15 17:28] kubukoz commented on #1330
Note to self: we're missing on the list:

- softwaremill/tapir
- odin
- weaver

will update the list and ping the maintainers later

[2021-02-15 17:38] kubukoz opened #1690 "Add `versionScheme` to build.sbt"
Note: this is a direct copy of https://github.com/typelevel/cats/issues/3780 by @majk-p. It's merged in cats, and I think we should have it in CE too.

---

With the release of sbt 1.4.0 the versionScheme has been added.
With sbt 1.5.0 (which is on the way) a plugin called sbt-eviction-rules will be integrated into the tool.

In one of my projects I'm already playing with the plugin, and the proje

[2021-02-15 22:32] wemrysi commented on #1619
@djspiewak Just noticed this, I'm on it 👍 .

[2021-02-15 22:53] wemrysi commented on #1660
How about `foreverM[A]: IO[A]` and `foreverM_: IO[Nothing]` (and analogously for `never`)?

[2021-02-15 23:29] wemrysi commented on #1619
Also, 👍 on the proposed semantic. Defining the scope as that of the `Resource` returned by `start` is much easier to understand and side-steps the multiple `join` oddities entirely. Early finalization due to `.cancel` also works out nicely since `join` controls access to the resource, making the `start` resource an upper-bound of sorts.

[2021-02-16 01:45] kubukoz commented on #1619
I'm going to need some examples/drawings to understand what this is about 😂

[2021-02-16 06:22] dependabot-preview[bot] opened #1693 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/67975995).

[2021-02-17 01:55] vasilmkd commented on #1018
So the status on this is the following (asuming fork := false):

1. The Ctrl+C signal is properly detected by IOApps, and they stop in accordance.
2. This does not shutdown the global IORuntime because its shutdown method is a noop.
3. Running an IOApp again starts a new global IORuntime, it doesn't reuse the old one, so threads keep being spawned for each IOApp invocation in sbt.

[2021-02-17 02:01] mpilquist commented on #1018
Oh, that's no good... making shutdown a no-op was originally done to support calling `main(..)` from a REPL session. Not really a strong reason to keep that behavior as the default.

[2021-02-17 06:44] djspiewak commented on #1690
We actually get this for free! https://github.com/djspiewak/sbt-spiewak/blob/2ffe707f6dd271cc79eb4090174bec8c51310c36/core/src/main/scala/sbtspiewak/SpiewakPlugin.scala#L172-L178

[2021-02-17 06:44] #1690 closed, assigned to nobody

[2021-02-17 06:46] djspiewak commented on #1660
I think the problem is that `foreverM[A]` means that the type inference in the most common case doesn't work. 😔 #1589 was where we first hit this. Also wouldn't the cats convention for `foreverM_` be `IO[Unit]`?

[2021-02-17 06:50] djspiewak commented on #1619
@wemrysi Yeah I was thinking about it and I realized that we can just universally rely on the upper-bound and it all comes out to the same thing except when someone does `use`. The argument is similar for `memoize`: everything actually works *exactly* as you think it should except when you do `use`, at which point it kind of falls apart. I just generally think that `use` and `allocated` need to be

[2021-02-17 06:50] #1693 closed, assigned to nobody

[2021-02-17 08:33] vasilmkd commented on #1018
I'm never sure if this behavior is depedent on specific versions of sbt, which makes me vary of attempting anything...

[2021-02-17 13:29] jakubjanecek opened #1699 "Version 2.3.2 not compatible with JDK8"
The latest release `v2.3.2` does not seem to be compatible with JDK8: https://github.com/avast/scala-server-toolkit/runs/1918114288?check_suite_focus=true#step:5:159

I was looking and the sbt and Actions setup but was not able to find the problem but I think it's probably not expected to be compatible with only JDK11 and higher. Am I right?

[2021-02-17 13:38] mpilquist commented on #1699
Yeah -- fix incoming in a bit as v2.3.3.

[2021-02-17 16:27] #1699 closed, assigned to nobody

[2021-02-17 17:05] #1593 closed, assigned to nobody

[2021-02-17 17:36] wemrysi commented on #1619
💯

[2021-02-17 17:50] kubukoz commented on #1690
Nice!

[2021-02-18 01:32] wemrysi commented on #1660
Yeah, maybe `foreverM: IO[Nothing]` then. My main thought was whether having both variants is useful for ergonomics (having the unadorned `foreverM` be whichever form is most generally applicable). If the cases where ascription is necessary aren't as common, maybe we just settle for ascription in order to avoid bloat.

It would so I guess that's out, we need a suffix that evokes "just tell me the

[2021-02-18 17:19] Daenyth commented on #1143
- IO wrapping for time/randomness/uuids/logging

[2021-02-19 06:27] dependabot-preview[bot] opened #1712 "Dependabot couldn't fetch the branch/reference for versions/2.x"
Your dependency file specified a branch or reference for `versions/2.x`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/typelevel/update-logs/68529565).

[2021-02-19 15:09] bplommer commented on #1330
fs2-kafka now has a milestone release (v3.0.0-M1) on RC2.

[2021-02-19 19:49] kubukoz opened #1714 "Report error somewhere if Dispatcher is closed with pending tasks"
I think we should be guarding against this behavior:

[code]

(the println never happens)

either by printing something to stdout, or even throwing an exception. New users are likely to try this, and it would be good UX for them if they didn't have to look for documentation to find out what's wrong.

Edit:  We are already throwing an exception if someone does `.use(pure).flatMap ( /* use dispatche

[2021-02-19 19:54] kubukoz commented on #1714
Interesting, I see `throw new IllegalStateException("dispatcher already shutdown")` but I'm not seeing it in any output in either sbt or bloop...

Edit: apparently my usecase is a bit different. I'll update the issue.

[2021-02-19 20:04] kubukoz commented on #1714
To give some examples, this prints `canceled` after 1 second:

[code]

After this change it prints nothing and finishes immediately:

[code]

[2021-02-19 20:13] RaasAhsan commented on #1714
Need to look closer, but this may just be a race condition between the resource scope exiting and the effect getting executed. The effect is probably getting submitted but the dispatcher cancels before the executor fiber has a chance to spawn the submitted effect. Ideally there is some sort of backpressure before the dispatcher exits (Fs2 has several examples of this)

[2021-02-19 23:31] kubukoz commented on #1330
I'll probably do a round of updates in the post this weekend :) seeing some commits in these repos in my inbox every day!

[2021-02-20 17:37] djspiewak opened #1715 "CE3 Documentation Mega-TODO List"
It's a little easier to consolidate these things into one place. Structuring things based on the sidebar:

- **Overview**
  + [ ] Need a beginner-friendly explainer of what `IO` *is*
  + [ ] Performance page touching on some top-line general numbers and concepts
  + [ ] Tracing documentation
- [x] **Getting Started** (this whole section should probably just be ported from CE2's microsite, because

[2021-02-20 17:40] vasilmkd commented on #1715
I volunteer to do the performance page

[2021-02-20 23:21] #1344 closed, assigned to ashwinbhaskar

[2021-02-20 23:54] #1653 closed, assigned to nobody

[2021-02-20 23:56] #1684 closed, assigned to nobody

[2021-02-21 09:27] patseev commented on #1618
I'll try to add this during the next week

[2021-02-21 13:24] TimWSpence commented on #1618
Awesome, thanks!! :)

[2021-02-21 17:17] #1712 closed, assigned to nobody

[2021-02-21 17:24] djspiewak commented on #1238
@viktorklang Oh actually I was thinking of something sneakier than that!

[code]

With this setup, users can `override val ConfigOption` in their applications *or* use the system property and get the effect they expect. I didn't bother writing out the atomic variant of the `lazy val` initialization logic, but you get the idea. Basically this is exploiting the fact that no one is going to access `g

[2021-02-21 18:25] patseev opened #1719 "Replace assertions with an explicit error raising in std.Random"
Today I've asked in gitter for reasoning behind use of assertions and throwing exceptions in the open instead of using ApplicativeThrow or MonadThrow.

Examples of this are constructors of `CountDownLatch`, `CyclicBarrier` and other abstractions from `std`.

As it turns out, the primary reason is that we need to be polymorphic in error type. And it's a trade-off that is justified in fs2 originated

[2021-02-21 19:30] patseev commented on #1618
Started fiddling with it, and already have a couple of questions. Maybe you guys could help me with direction.

First, for law-tests I need `Eq[Queue[F, A]]` instance. I suppose I can derive it by taking all elements from Q/Deq/PQueue and comparing the lists. Does that make sense here?

Second, I need a `Gen` instance for `Queue[F, A]` and I suppose that I want to generate real instances - Bounded

[2021-02-21 19:50] viktorklang commented on #1238
@djspiewak I'd probably make `IORuntime._global` something more akin to `IORuntime.installGlobal(…)` so you can have it raise an error or similar if that invariant is violated (i.e. if global was initialized ahead of _global). Could save a chunk of headache in the future.

[2021-02-21 20:05] kubukoz commented on #1330
Most projects seem to be doing fine (and have updated to RC2) :)

[2021-02-21 20:06] djspiewak commented on #1238
Agreed. That's much nicer than directly mutating a var

[2021-02-21 22:59] kubukoz opened #1721 "Port IOApp.Simple to CE2"
In series/3.x, a simpler interface for IOApp is provided, for the users who don't need args or exit codes:

[code]

I think it could be backported to CE2 for the poor souls who won't be able to migrate for a while for reasons.

[2021-02-21 23:31] djspiewak commented on #1721
Great idea!

[2021-02-21 23:42] kubukoz opened #1722 "Add `Async.evalOnK`"
This would correspond to CE2's `ContextShift.evalOnK`.

Original:

[code]

CE3 proposal:

[code]

[2021-02-22 00:08] RaasAhsan commented on #1714
So I can identify at least two solutions here:
1. Either report a side channel exception like you're suggesting via the local `executionContext`
2. When we're finalizing on the effect queue, go ahead and spawn pending effects. Once the ambient `Supervisor` finalizes, if those fibers are still active, they'll be cancelled. The only thing we need to be careful about is that they aren't spawned twice

[2021-02-22 00:10] kubukoz commented on #1714
Yeah, the second option seems to be nicer because `onCancel` will be hit so we won't just forget these tasks.

[2021-02-22 01:11] kubukoz opened #1723 "Add IO#to from CE2"
Since IO is in the same module as LiftIO, we should still be able to do this:

[code]

[2021-02-22 01:12] kubukoz opened #1724 "Add IO#option from CE2"
[code]

[2021-02-22 01:14] kubukoz opened #1725 "Add <&, &> from CE2"
[code]

[2021-02-22 01:19] kubukoz opened #1726 "Missing `Align[IO]` in CE3"
I'm not sure if this is intentional, but CE2 IO has an `Align` instance, which doesn't seem to be there in CE3.

[code]

[2021-02-22 01:52] kubukoz opened #1728 "Add IO.none from CE2"
[code]

[2021-02-22 09:19] TimWSpence commented on #1618
Excellent questions! I think for laws/property testing we at some point have to depend on `unsafeRun`. If you've looked at `TestInstances` you may have already seen that we have
[code]

so I think you can piggy-back on this to get
[code]

As for `Gen`, I think I'd be inclined to pull a similar trick:
[code]

Does that make sense? Of course someone else might have a better idea! 😂

[2021-02-22 10:33] patseev commented on #1618
Thank you! Managed to make it work 🙂

[2021-02-25 15:43] seigert opened #1736 "CE3 IOApp finishes early before all finalizers"
Could be shown with a simple test case (several run may be needed):
[code]

Usually, especially when run from IDE or under load only around 7 finalizers are run
(or maybe they all run, but `stdout` cache not flushed?).

Similar code but in form of Ammonite script always runs all finalizers:

[code]

[2021-02-25 16:30] felixbr commented on #1330
Thanks to `MonadCancel.Uncancelable` it looks like it will be possible for `catbird` to support the same feature set as with `cats-effect` 2.x. 🙂

I've updated the PR to use `3.0.0-RC2` and the laws pass.

[2021-02-25 19:45] djspiewak commented on #1736
This is very very interesting! I agree this seems like `IOApp` is finishing too aggressively, but at the same time I don't exactly see how that's possible, since the `race` itself should not have fired its continuation prior to the `guarantee`s being run. Something's fishy here and it needs investigating. Thank you for the report!

[2021-02-26 01:19] vasilmkd commented on #1736
I am looking into this now, and I modified the code slightly:

[code]

This seems to be working as expected and I think it's just a race condition with flushing the system out...

[2021-02-26 17:23] #1722 closed, assigned to nobody

[2021-02-26 17:23] #1723 closed, assigned to nobody

[2021-02-26 17:23] #1724 closed, assigned to nobody

[2021-02-26 17:23] #1728 closed, assigned to nobody

[2021-02-26 17:26] djspiewak commented on #1736
Hmm. That's a lot less worrisome then. Flush race conditions seem totally reasonable. The `blocking` thing though makes me think a bit about the semantics of thread creation during VM shutdown. Like, if there are no threads available on that pool and we need to allocate a new one, does that work?

[2021-02-26 21:54] vasilmkd commented on #1736
I don't know if you're going to like what I'm proposing but I honestly don't see another way, so here goes. I think we can set the "core" pool size of the cached thread pool to be 1. That does mean that there will always be at least 1 blocking thread idling somewhere.

[2021-02-27 06:54] djspiewak commented on #1736
This is kind of horrifying :-) Not the worst thing I suppose though

I think what I was getting at is that I don't honestly know what the JVM does with thread spawning semantics under those circumstances. Probably merits some testing.

[2021-02-27 15:09] mpilquist opened #1741 "Add support for UUIDs to cats.effect.std"
Christopher's [fuuid](https://github.com/davenverse/fuuid) project is great. I'd love to have this built in to CE3, where we're encouraging folks to use capability traits and NOT pass `Sync` constraints around.

At minimum, we'd need a capability trait:
[code]

Some additional design decisions:
- Should we have our own wrapper class like `cats.effect.std.UUID`, which elides the unsafe constructors

[2021-02-28 03:38] #1619 closed, assigned to wemrysi

[2021-02-28 03:53] djspiewak commented on #1018
I *think* this is probably specific to sbt 1.4.x where x < 7. Cancelation in general didn't work on those versions. It's worth checking it on 1.4.7.

[2021-02-28 06:55] djspiewak opened #1744 "Uncancelable boundaries compose poorly"
The motivating example here:

[code]

If we imagine canceling the above where cancellation is observed within `fb`, the cancellation will be suppressed until the end of the inner `uncancelable` (within `fa`) and then immediately become visible *before* the end of the `poll`, meaning that `fc` will not run despite the fact that there's no apparent "gap" between the end of the `uncancelable` and the

[2021-02-28 10:42] vasilmkd commented on #1018
I checked this on 1.4.7

[2021-02-28 13:20] SystemFw commented on #1744
I'm going to come out and say it: we should break the Functor laws here.
The cancellation model is too important, and without the "atomicity" (for lack of a better term)  of `poll`, it doesn't work.
Plus, there is precedent in ZIO, which also blatantly breaks the functor laws there, in favour of a more predictable model, where
[code]
 does _not_ print "surely impossible".

Unfortunately this is en

[2021-02-28 14:15] Odomontois opened #1745 "Release CE 3 as separate library"
Currently cats effect 3 has same namespaces and artifact prefixes as cats effect 2 despite being heavily incompatible.
This creates a major pain for libraries depending on cats-effect 2, since they must prepare a major release replacing CE 2 to 3 and every user will be forced to choose between CE2 and CE3 ecosystems.
CE3 also brings some innovative enhancements, some of them on a very low level, w

[2021-02-28 15:10] joroKr21 opened #1746 "CE3 defaultCont can't implement cont"
The type signatures are different:
[code]

[code]

[2021-02-28 15:15] SystemFw commented on #1746
@djspiewak I'm guessing this slipped through when you generalised Cont?

[2021-02-28 15:34] Wosin commented on #1741
Happy to take a look at that.

[2021-02-28 15:51] djspiewak commented on #1746
It did. For whatever reason I thought we had tests which checked this exact case. I'll fix

[2021-02-28 15:57] joroKr21 commented on #1746
Opened #1747

[2021-02-28 15:57] djspiewak commented on #1744
I'll respond more in a bit, but just quickly pointing out… Making interruption visible on each bind would not violate the functor laws at all. What would be a more blatant violation is making it visible every-other bind, because now you can shift semantics by adding identity transformations. I called out our case because we are breaking the laws, but you would need to add 512 identities to see it.

[2021-02-28 15:59] vasilmkd commented on #1744
What if we (I) benchmark making interruption visible every iteration?

[2021-02-28 16:33] djspiewak commented on #1744
You can do that fairly directly by adding `@volatile` to `canceled` and removing the artificial memory barrier check (since it's no longer necessary). The last time I did this, it was quite a significant impact, though it depended on which benchmark you trusted.

[2021-02-28 16:34] vasilmkd commented on #1744
I'll think about it.

[2021-02-28 17:02] SystemFw commented on #1744
that's sort of orthogonal though, having a safe interruption model would break that law anyway I think

[2021-02-28 17:04] djspiewak commented on #1744
Well, yes and no. As an matter of implementation, if we just artificially saw cancelation constantly at every interleaving point, then we wouldn't need the trailing check on `uncancelable`, which is what makes it a closed region rather than an open one.

[2021-02-28 17:28] djspiewak commented on #1745
This concept has been discussed a few times over the years. I could dig up some issue references, but I believe no fewer than two others. In general, I'm unconvinced.

The idea of putting major versions into groupIds certainly isn't new. Rich Hickey most notably advocated for it strongly in a talk a few years ago. Specs2 used to actually be Specs. Notably, Specs2 now has major version 4.x, which… 

[2021-02-28 17:29] SystemFw commented on #1744
spoke about this in private convos, but leaving it here for clarity. Imagine a bounded structure (e..g a queue) implemented with a normal queue and a semaphore, where you essentially need these semantics:
[code]
that basically translates to:
[code]
the inner `uncancelable` is the definition of `acquire`, which you cannot touch,  and the current model, because of the artificial check after `uncance

[2021-02-28 17:30] #1746 closed, assigned to nobody

[2021-02-28 18:25] #1613 closed, assigned to Wosin

[2021-02-28 18:26] #1083 closed, assigned to nobody

[2021-02-28 18:27] #1238 closed, assigned to nobody

[2021-02-28 23:04] mpilquist commented on #1741
@Wosin Awesome, I assigned to you. Feel free to ask any questions here or on cats-effect-dev on Gitter.

[2021-03-01 01:41] djspiewak commented on #1744
I think I'm basically convinced that it's better to not do the check at the end of the `uncancelable` region. The only trick is to adjust things so that we can sweet-talk the laws

[2021-03-01 09:10] Odomontois commented on #1745
Can you propose a solution or technique for the library that depends on cats-effect 2, and will be for some time due to compatibility guarantees, still wants to provide a cats-effect-3 integration module, that is easily usable by the majority of library users?

[2021-03-01 13:47] alexandrustana commented on #1725
I can give this a try :)

[2021-03-01 15:23] alexandrustana commented on #1721
I could  try and solve this one

[2021-03-01 16:46] djspiewak commented on #1721
Go for it!

[2021-03-01 16:48] #1725 closed, assigned to alexandrustana

[2021-03-01 16:52] djspiewak commented on #1745
What most of the ecosystem has been doing is parallel release branches. Look at cats-effect-testing for a trivial example. We have a `series/0.x` branch which is for CE2, and a `series/1.x` branch for CE3. Http4s and Fs2 are doing something similar. Actually, Cats Effect *itself* is also doing something similar.

munit-cats-effect and weaver both demonstrate a different semantic, which is that the

[2021-03-01 17:10] djspiewak commented on #1726
I can't remember if this was intentional or not. Try and see?

[2021-03-01 17:19] riccardocorbella opened #1754 "Fix factorial function in docs"
Fix factorial function under section named Fibers in [Thread Model](https://github.com/typelevel/cats-effect/blob/series/3.x/docs/thread-model.md) doc page.

[2021-03-01 19:06] kubukoz commented on #1745
@Odomontois we're going to try and make the migration as smooth as possible, and CE2 will still be maintained for some time in case a critical fix is needed. We're looking at public projects and their efforts to migrate, there's a Scalafix migration coming which should take care of most changes, and a migration guide in works.

I know this will be a pain to migrate for some, but in this case, and

[2021-03-02 03:36] djspiewak commented on #1744
Okay I have a start pushed to `bug/uncancelable-gap` on [djspiewak/cats-effect](https://github.com/djspiewak/cats-effect). A ton of law tests are still failing, and the diff will give you a bit of an idea of the chaos that ensues when you decide to conditionally break the functor laws… That's honestly probably the root of the problem with the transformers. I'm also unsure of whether or not it's fi

[2021-03-02 10:21] TimWSpence commented on #1098
I attempted to explain the advantages of polymorphic effects here: https://timwspence.github.io/blog/posts/2020-11-22-polymorphic-effects-in-scala.html

Hopefully someone has done a better job somewhere but if not then we can link to this 😂

[2021-03-02 10:23] TimWSpence commented on #1099
Adopter: ITV https://www.itv.com/

[2021-03-02 10:31] lavrov commented on #1099
Adopter: BUX https://getbux.com/

[2021-03-02 11:30] TimWSpence commented on #1050
If we have a concensus on what we want to achieve with these docs then I can have a go at them. I think a principle that was previously thrown around but never formalized was that high-level understanding and motivation belonged in mdoc and scaladoc would (and usually already does) have the gnarly details. Which I _think_ roughly aligns with what you've both said?

[2021-03-02 18:05] vasilmkd commented on #1568
I have completely missed this comment, I'm sorry. Adding new features to `WorkStealingThreadPool` is done, I'm now working on some code refactoring which will make surfacing this information very easy and straightforward. It's my highest priority to have this in place for stable 3.0.0. No worries.

[2021-03-02 18:18] vasilmkd commented on #1568
One quick question, where should these MBean interface and class live? Should we have a special subpackage or something?

[2021-03-02 22:13] kubukoz commented on #1050
Can we sync the scaladoc with the website? 🤔

[2021-03-02 22:23] kubukoz commented on #1330
the table is growing! Added some tpolecat and tracing libs.

[2021-03-02 22:59] kubukoz commented on #1115
@alexandru I noticed this today, `modify` seems to be missing from monix-catnap. If it were to be added, that'd be binary breaking (new abstract method, I think), so it's probably a good idea to add it when the CE3.0 breakage happens (if ever)?

[2021-03-03 12:07] TimWSpence commented on #1050
I've started this work [here](https://github.com/TimWSpence/cats-effect/tree/split-typeclass-docs) for those who want to follow along

[2021-03-03 21:34] Daenyth commented on #1568
I don't have any opinions on that point

[2021-03-05 06:57] catostrophe opened #1762 "Provide access to the default blocking EC from Async[F]"
1. There's a recommendation to use a single blocking pool created as a resource on App startup.
2. There's a method in `Sync` that allows suspending a computation on the blocking pool. Although it's just a hint for the runtime, this implies that some blocking pool will probably be available (except for running simple single-threaded IOs such as `SyncIO`).
3. There's a method in `Async` for extract

[2021-03-06 23:26] chuwy commented on #1741
Just a random (pun not intended) thought on this - it would be great to have a more general `Random` capability rather than UUID-specific, like [rng](https://github.com/NICTA/rng/), but more TF-like.

[2021-03-07 00:14] Wosin commented on #1741
Hey @mpilquist, just a few things to clarify :)
Were any such wrappers introduced in the past ? IMHO, this shouldn't be needed, but happy to discuss here, also IMHO if we were to introduce one I think we should keep the naming consistent and just call it `UUID`.
As for the last question, does the original lib have the literal macros ? I haven't seen that in the docs, but I may be wrong here. Addin

[2021-03-07 15:17] vasilmkd commented on #1568
I'm curious how you expect the MBeans to be instantiated when the only thing we expose through `IORuntime` are `ExecutionContext` instances (and furthermore the blocking EC is not even publicly available). On top of that, the `WorkStealingThreadPool` and the accompanying classes are all internal API. Would we need to expose them for this?

[2021-03-07 18:53] #1754 closed, assigned to nobody

[2021-03-07 18:57] djspiewak opened #1765 "Follow up on suspend -> defer: update ce2 scalafix"
Follow up to #1761

[2021-03-07 19:05] djspiewak commented on #1762
Hmm, this was something that was considered and then explicitly rejected in favor of keeping the API simpler and avoiding thread pool leaks. Can I understand the use-cases a bit more? If we go this route, then we *definitely* need to push the 3.0.0 final release date, because we would need another month at least to let the new axioms marinate.

[2021-03-07 19:06] djspiewak commented on #1741
@chuwy We already have `Random` in the std module. :-)

[2021-03-07 19:15] djspiewak commented on #1568
MBeans in general tend to be instantiated via remote monitoring, not by any internal application access. So I think it's fine to protect the binary interfaces (so they *can't* be instantiated within in-process userspace) and just expose them externally for monitoring purposes. It's all a very dynamic framework, and users would need to be responsible for ensuring that they don't make assumptions in

[2021-03-07 20:27] catostrophe commented on #1762
I liked the new simple API with `Sync[F].blocking(...)`. And actually, I did manage to migrate my use-cases of blockers (`F.evalOn(delayedBlockingComputation(), blocker)`) to wrapping impure blocking code in `F.blocking { ... }` at the deepest level of integration.

But my concern is that I cannot be sure that this holds true for some IO-monad that implements the CE3 interfaces:
[code]

This is im

[2021-03-07 20:56] chuwy commented on #1741
Thanks @djspiewak, it looks awesome. I urgently need to get on CE3 train.

I'm wondering though why we'd have a separate `UUIDGen` capability then, if it's just a subset of `Random`

[2021-03-07 20:58] djspiewak commented on #1762
We do actually!

[code]

We have this law for any `fa`, including `F.blocking(...)`. Honestly, one of the motivations for `blocking` taking a `=> A` rather than a `F[A]` is precisely to avoid the problems you're talking about: it's *impossible* for any deeply nested code within a `blocking` action to mess up the current thread pool, if only because `blocking` simply doesn't give you that expressiv

[2021-03-07 20:58] djspiewak commented on #1741
Technically `Random` is more complex than `UUID`, meanwhile `UUID` offers some guarantees that `Random` doesn't.

[2021-03-07 21:16] catostrophe commented on #1762
Hmm, ok. We do test that `fa` doesn't leak its EC. Agree.

But how do I know that `blocking` actually switches to some blocking pool?

[2021-03-07 21:22] djspiewak commented on #1762
We don't! This is intentionally left up to implementors. There's probably no way around this though. Honestly, even if we exposed `blockingEC`, we would *still* be in that situation since there's nothing preventing implementors from defining `blockingEC == executionContext`.

[2021-03-07 21:25] #1745 closed, assigned to nobody

[2021-03-07 21:26] #1719 closed, assigned to nobody

[2021-03-08 09:01] ahjohannessen commented on #1714
I am getting a lot of `"dispatcher already shutdown"` in tests that use `fs2.Stream.concurrently`, e.g.

[code]

I am using cats-effect-testing with specs2. Not sure if has something to with usage of `Dispatcher` in fs2-grpc, the test runtime or some change in fs2.

[2021-03-08 09:53] joroKr21 commented on #1762
I guess that's exactly what happens on Scala.js

[2021-03-08 10:45] catostrophe commented on #1762
@djspiewak thanks for clarification!

Probably the last scenario that comes to my mind: some TF library provides a builder that requires an explicit blocking EC for performing blocking io operations.

To integrate with this lib I have to manage a EC manually and cannot use the default blocker. This is doable but we cannot keep only 1 blocking pool for  an app.

[2021-03-08 13:48] kubukoz commented on #1714
Thanks for reporting! I think that's concerning, but hopefully it's only an issue in fs2-grpc or how the tests are written...

[2021-03-08 13:55] ahjohannessen commented on #1714
I think it boils down to grpc's ManagedChannel/Executor invoking callbacks *after* dispatcher resource is released. It manifested in a test where a client opens up an infinite subscription on a grpc server and not sending a cancel to the server on a successful exit, e.g. take(10) or similar, and then the grpc runtime does the onClose after the dispatcher is dead. I have a fix for fs2-grpc to issue

[2021-03-08 21:25] kubukoz commented on #1721
Closed in #1759, no idea why github didn't figure that one out.

[2021-03-08 21:25] #1721 closed, assigned to alexandrustana

[2021-03-10 10:06] alexandrustana commented on #1726
I could give this a try if nobody minds :)
I've looked a bit and saw that there already is an `Align` instance for `ParallelF`(#957).
So I guess to only places where this should be added is `IO` and `SyncIO`.

[2021-03-11 13:45] catostrophe opened #1779 "Ticker works not as expected"
There are 2 cases:

[code]

[2021-03-12 11:10] oleg-py opened #1780 "Dual-effect Dispatcher constructor?"
Not sure if it's possible, but would be nice if there was way to construct a `Resource[F, Dispatcher[G]]`. Having a hypothetical constructor like this would trivialize conversion between different `Async` effect types.

[2021-03-13 22:11] djspiewak commented on #1780
It's not possible. The best you could do would be to add a `mapK` to `Dispatcher`, which I *believe* is something that works, but you still have to provide the function `F ~> G`. Ultimately, `Dispatcher` boils down to an impure non-blocking bounded queue of type (roughly speaking) `Queue[(F[E], E => Unit) forSome { type E }]` where `F` is the type under evaluation. These `F[E]` values are then pic

[2021-03-13 22:11] #1780 closed, assigned to nobody

[2021-03-13 22:17] djspiewak commented on #1779
The first one here is definitely expected. I'm not so sure about the second.

Let's start with the first. `tickAll` is slightly different from `tick` in that it continually loops on the task queue until that queue is empty, provided that the task queue has any entries which are scheduled within the given time parameter. In the first one, you said `tickAll(1.second)` and your only sleep is `100.sec

[2021-03-13 22:20] djspiewak commented on #1762
I mean, you technically can via `Dispatcher`, but I'm not convinced it's going to be a good idea. It certainly will have some performance overhead.

In general though, TF-enabled libraries shouldn't be taking explicit ECs unless they absolutely need them (e.g. for interop with external ecosystems). In this case, the `Async[F].executionContext` function is a far more preferable way of encoding it,

[2021-03-14 07:14] catostrophe commented on #1762
Ok. Thanks for the explanation.

[2021-03-14 07:14] #1762 closed, assigned to nobody

[2021-03-14 07:21] catostrophe commented on #1779
Thanks

[2021-03-14 07:21] #1779 closed, assigned to nobody

[2021-03-15 14:56] #1726 closed, assigned to alexandrustana

[2021-03-17 02:12] kubukoz opened #1790 "`SyncIO` -> `IO` conversion missing"
In CE2, there used to be a `.toIO` method on `SyncIO`, but now it's gone. I  think we should add it.

[2021-03-17 02:15] kubukoz opened #1791 "Add `IORuntime#dispatcher`?"
I encountered this while upgrading a ScalaJS application: there's no default way to start a fiber and get it synchronously, which might sometimes be desirable (e.g. aforementioned JS land, as well as tests in frameworks like scalatest).

For this reason, I would've suggested adding a `.startSync` method on IO (cross-compiled, because why not), but prompted by @vasilmkd's mention of Dispatcher thou

[2021-03-17 02:17] kubukoz opened #1792 "Add `errorln`, `error` directly on IO's companion?"
`errorln` is probably the less painful one, but `error` without any extra characters would likely confuse the hell out of users mixing it with `raiseError`. Let's bikeshed over this.

[2021-03-17 02:22] kubukoz commented on #587
Is this binary breaking? Do we want it in .0.0?

[2021-03-17 02:23] kubukoz commented on #1678
Being able to control TestContext's time from within a program would be legendary.

[2021-03-17 10:31] vasilmkd opened #1793 "Console.readLine is not interruptible due to `InputStream#read`"
The produced effect should not use `IO.interruptible` but `IO.blocking` instead.

`InputStream#read` is not always an interruptible action, so our previous assumption was incorrect.

Some more details[here](https://stackoverflow.com/questions/3843363/thread-interrupt-not-ending-blocking-call-on-input-stream-read), for anyone interested, but not necessary.

[2021-03-17 16:04] alexandrustana commented on #1793
I could try and fix this if nobody minds

[2021-03-17 19:21] vasilmkd commented on #1793
Here's a small reproduction in Java that confirms this
[code]

This waits forever at `thread.join()`.

[2021-03-18 17:43] kubukoz opened #1796 "Allow suppressing default IOApp cancellation behavior"
For apps that serve as e.g. REPLs, being cancelled by `Ctrl+C` doesn't seem like abnormal behavior, so I think there should be a way to opt out of the current behavior of printing a stack trace of `CancellationException`.

I have worked around this by calling the default `main` myself and catching that exception:

[code]

but that obviously has the disadvantage of having to manually wrap the IOApp

[2021-03-18 17:45] kubukoz commented on #1790
Because SyncIO shouldn't block, I think this is just a matter of `IO(this.unsafeRunSync())`. Can someone confirm?

[2021-03-19 05:27] djspiewak commented on #1793
This is really disappointing, honestly. Does it hold true for every platform?

[2021-03-19 05:30] djspiewak commented on #1792
The reason these *aren't* on the companion is confusion with `raiseError`. If this isn't really deemed a serious problem then we can go ahead with it, but I'm skeptical. :-)

I'm going to take this out of the 3.0.0 milestone since it isn't a blocker, but we should come to a conclusion on it.

[2021-03-19 05:32] djspiewak commented on #1791
Wouldn't just adding `unsafeRunCancelable` to `IO` also achieve this same purpose?

[2021-03-19 05:33] djspiewak commented on #1790
There's some subtlety here unfortunately. What should `Sync[SyncIO].blocking(thunk).toIO` do?

[2021-03-19 05:35] djspiewak commented on #1796
Are we printing the cancellation exception unconditionally whenever the shutdown hooks are hit? I'm not quite clear on what's going on here. If that's the case then we should stop. The purpose behind the `CancellationException` was to handle the scenario where `IO#unsafeRunSync()` (or similar) was being called directly. I'm tempted to say that the right approach is to just unconditionally swallow

[2021-03-19 05:36] djspiewak commented on #587
It's not binary breaking. I kind of wanted it for 3.0.0 since it's really easy, but we can move it out.

[2021-03-19 08:46] vasilmkd commented on #1793
You mean ScalaJS?

[2021-03-19 08:53] vasilmkd commented on #1796
I have worked on this code path before, I'll see what's going on.

[2021-03-21 01:20] djspiewak commented on #1793
No I mean like Windows/Mac/Linux

[2021-03-21 09:09] vasilmkd commented on #1793
Sure, but I think we need to err on the side of caution. There is no mention of support for interruption in the Java [documentation](https://docs.oracle.com/en/java/javase/16/docs/api/java.base/java/io/InputStream.html#read()).

[2021-03-21 17:58] Wosin commented on #1741
@mpilquist What do You think about this comment ? https://github.com/typelevel/cats-effect/pull/1772#discussion_r593868748

I generally agree with that `UUIDGen` may not be the best name if we want to implement wider capabilities like `fromString` or `fromByteArray` which I think we should implement.

[2021-03-21 19:42] djspiewak commented on #1793
Well, my point is that `blocking` and `interruptible` are equivalent for anything which ignores interruption, there's just a minor performance difference between the two. If we try to interrupt something and it ignores it, we don't do anything different than we would have done otherwise. So that implies to me that if there's *any* platform for which `System.in.read()` is interruptible, then we sho

[2021-03-21 21:54] vasilmkd commented on #1793
I've never thought of the issue that way. Ok, sorry for the confusion. Thank you for the discussion, it was very helpful.

[2021-03-21 21:57] vasilmkd commented on #1793
Sorry, but I think there's a bit more than just a minor performance difference. `interruptible` runs on the `compute` pool and thus hogs a `WorkerThread`, while `blocking` is shifted on the blocking thread pool. I think that still warrants a change. Wdyt?

[2021-03-21 22:13] #1744 closed, assigned to nobody

[2021-03-21 22:47] djspiewak commented on #1793
It runs on the blocking pool. :-D Or at least… I think it does? If it doesn't we need to change it

**Update:** Confirmed it's on the blocking pool

[2021-03-21 22:49] vasilmkd commented on #1793
Ok, let's keep `readLine` as is.

[2021-03-21 23:52] #1049 closed, assigned to nobody

[2021-03-22 00:44] #1796 closed, assigned to nobody

[2021-03-22 02:40] #1793 closed, assigned to alexandrustana

[2021-03-22 02:41] djspiewak commented on #1050
I believe this can now be closed. Amazing work, @TimWSpence!

[2021-03-22 02:41] #1050 closed, assigned to nobody

[2021-03-22 02:47] djspiewak commented on #1018
Is this still broken?

[2021-03-22 02:49] djspiewak commented on #1218
I think we've ported over everything we can at this point! This is mostly superseded by #1715

[2021-03-22 02:49] #1218 closed, assigned to nobody

[2021-03-22 03:01] #1142 closed, assigned to djspiewak

[2021-03-22 03:01] #1058 closed, assigned to nobody

[2021-03-22 03:05] djspiewak opened #1804 "Port non-daemon thread exit monitor feature to CE3"
I think we missed this bit of functionality! @Daenyth

[2021-03-23 02:15] kubukoz commented on #1330
Note to self, add:

[code]

thanks for the update @catastrophe

---

Also, we're at RC3 now - I might do a round of checks to see who's published for that milestone, but to be honest, I'd say anyone who's on RC2 already is way ahead of the curve and won't have trouble upgrading, so we might as well skip tracking that specifically and focus on the remaining libraries.

[2021-03-23 19:08] Daenyth commented on #1804
I *think* it should be straightforward. The main logic should be 100% copy-paste-able

[2021-03-23 21:18] dylemma commented on #1099
Adopter: Code Dx https://codedx.com/

[2021-03-24 01:38] vasilmkd opened #1816 "Cancelation deadlock in `IO.race`"
Just as soon as #1814 was merged, the `AsyncBenchmark.race` benchmark is deadlocking. We had this exact same issue when we had a specialized implementation of `RacePair` and `Race`. Last time we chalked it up to a bad implementation of the specialized `Race` combinator, but now I'm suspecting that something fundamental is buggy in IO.

The only idea I can think of is that somehow fibers which are

[2021-03-24 02:30] vasilmkd commented on #1816
These two code segments look strange to me, but I tried reordering the `done` and `cb(RightUnit)` and achieved nothing. My intuition here is that we should notify an external canceler of a successful cancel only when everything has been acknowledged inside the fiber (i.e. `done` is called with `OutcomeCanceled`).

[code]

[code]

[2021-03-24 08:53] vasilmkd commented on #1816
Or is it maybe as simple as a situation like this:

[code]

where the `guarantee` hasn't had a chance to run yet and this is a deadlock.

[2021-03-24 09:17] vasilmkd commented on #1816
Are these two code snippets functionally equivalent?
[code]

and

[code]

For the first one I can understand how it would be a user error, not anticipating that the `guarantee` may not even get a chance to run. But for the second one, I have no clue, and it also deadlocks.

[2021-03-24 12:37] vasilmkd commented on #1816
Not even this works:
[code]

[2021-03-24 13:13] vasilmkd opened #1818 "Global runtime installation mechanism not working in Scastie"
Reported by @oleg-py [here](https://gitter.im/typelevel/cats-effect-dev?at=605af4e7f07ffa1eb5608da3).

![image](https://user-images.githubusercontent.com/7115459/112316039-05d3e080-8cab-11eb-8874-ac6f3e8dc7c4.png)

https://scastie.scala-lang.org/gLdvaPQsRpu9Gokfz9D7FA

[2021-03-24 15:08] djspiewak commented on #1816
I think the very first thing we should do here is try to move the benchmark semantics into a unit test. It's kind of annoying that we keep discovering this in the benchmarks rather than in the test suite. Beyond that point, I think the next step would be to figure out if this is some weird race condition (probably) or if it's just a semantic issue (unlikely, but scary if so).

[2021-03-24 15:09] vasilmkd commented on #1816
Yes, I'm trying to reproduce this deterministically.

[2021-03-24 15:10] djspiewak commented on #1818
My guess is that Scastie isn't classloader-isolating applications as completely as it should be. Any ideas, @OlegYch?

[2021-03-24 16:27] OlegYch commented on #1818
scastie is just doing `sbt run` with `turbo` on
the example seems to work with `turbo` off https://scastie.scala-lang.org/LZX9fcYXSjuaNh1mHswV9Q
`turbo` is supposed to improve `run` performance by reusing already loaded library jars, but i'm not sure how useful it actually is
would be nice if cats could work with it though

[2021-03-25 04:18] djspiewak commented on #1818
Hmm, how exactly does turbo work in this context? This may be something we need to explicitly detect. It would be concerning though if there was any sharing or IORuntime instances across runs.

[2021-03-25 22:14] kubukoz commented on #1792
Makes sense, let's forget it.

[2021-03-25 22:14] #1792 closed, assigned to nobody

[2021-03-25 22:14] kubukoz commented on #1790
uhhh. so I guess we need to interpret the algebra? Shouldn't be *too* difficult... should it?

[2021-03-25 22:15] vasilmkd commented on #1790
Not sure if it needs to be expanded. E.g. there's no `SyncIO.blocking`, there's just `SyncIO.delay`.

[2021-03-25 22:20] kubukoz commented on #1790
Had me worried for a sec. I can see `suspend` ignores the hint too.

[2021-03-26 00:08] mpilquist opened #1820 "Document how to build the site/docs"
From Gitter:

[code]

[2021-03-26 14:47] #1266 closed, assigned to nobody

[2021-03-26 15:10] kubukoz opened #1821 "Add `FiberLocal.Make`"
Follow-up to #1393.

I think users will likely want to create fiber locals for an abstract effect. We can surely create them in IO and other effects that have this functionality, it is _probably_ possible for monad transformers too (I might be missing something).

It would be great to have an abstraction for this that people can depend on instead of sticking to IO:

[code]

[2021-03-27 04:29] djspiewak commented on #1821
I'm definitely not a fan of this. The problem is that this is a false abstraction: fiber locals in other `IO`s behave entirely differently from CE3's, and from each other. Users can't meaningfully write code which is generic over all of them. I would rather punt the problem downstream a bit and allow users to create a la carte abstractions (similar to `UnsafeRun` in weaver and in cats-effect-testi

[2021-03-27 05:04] RaasAhsan commented on #1821
@djspiewak Not sure if you caught it in the PR, but I ended up parameterizing `FiberLocal` over `F` and added a specialized constructor for `IO` in the companion object. That way we're not committing to creating a type class for it today, but if it becomes feasible in the future then we could without much breakage. Though I think we would need to move it into `std` for that to work. How do you fee

[2021-03-27 05:14] djspiewak commented on #1821
Uh. Hmm. I'll need to think about it a bit. I really don't think it's going to be something we want to abstract over, but I see what you're saying about binary compatibility.

[2021-03-27 05:26] RaasAhsan commented on #1821
My original thinking was that our definition of `FiberLocal` is so simple that Monix and ZIO _can_ implement it with a subset of their functionality i.e. all they need is copy-on-fork semantics, which I _think_ they have. Need to double check. `FiberRef` goes further and allows shared scopes, but in a completely compositional manner that doesn't demand any extra runtime behavior (via `Ref`)

[2021-03-27 23:36] kubukoz opened #1824 "`IO.as`"
In CE2, `IO.as` took a by-name parameter. In CE3, it's eager (like in the functor syntax). This might have an impact on the performance of users' applications due to the eager (and sometimes unnecessary) evaluation, should we change it back?

[2021-03-27 23:39] kubukoz commented on #1824
Sorry to add things to the milestone at this point, but it's potentially a BC-incompatible change after 3.0 😅

[2021-03-27 23:39] kubukoz commented on #1824
@djspiewak

[2021-03-28 16:54] oleg-py commented on #1821
We definitely don't have copy-on-fork in monix. We opted for making user isolate region explicitly to have CE2 laws like `fa.start.flatMap(_.join) <-> fa` when `fa` is mutating local context

[2021-03-28 17:15] oleg-py commented on #1824
I think it's better to have a by-value parameter there, so that there's no change if you migrate to/from `F[_]` and cats syntax.

[2021-03-28 20:58] kubukoz commented on #1824
I'll submit the fix.

[2021-03-28 22:25] kubukoz commented on #1824
Or not. Let's keep it as is, and we can add a similar method later.

[2021-03-28 22:25] #1824 closed, assigned to nobody

[2021-03-28 23:09] djspiewak opened #1834 "Add inductive materializations for Random"
We should be able to materialize over monad transformers similarly to `Console`

[2021-03-28 23:12] kubukoz commented on #1791
It would :)

[2021-03-29 00:11] #1816 closed, assigned to nobody

[2021-03-29 01:45] kubukoz opened #1838 "Dispatcher docs don't say how to get one"
(on the `docs` branch)

[2021-03-29 05:58] #1660 closed, assigned to nobody

[2021-03-29 06:07] djspiewak opened #1839 "Fix unresolved links in 2.x docs"
Run the build in `docs` and you'll see a bunch of unresolved links. They are, in fact, unresolved.

[2021-03-29 08:49] alexandrustana commented on #1834
I could give this a try if nobody minds

[2021-03-29 09:59] bjaglin opened #1843 "Fix indexed 2.x documentation links"
The first result of https://www.google.com/search?q=IO+fromFuture (https://typelevel.org/cats-effect/datatypes/io.html for me) redirects to a broken page. Could the path structure of the new docs gracefully handle existing permalinks?

[2021-03-29 13:17] djspiewak commented on #1843
This is worth digging into certainly. Maybe there's some docusaurus magic that would work?

[2021-03-29 13:52] gvolpe opened #1846 "Compile all documentation using mdoc"
In some places, you'll find docs using `scala` instead of `scala mdoc`. It should all be compiled by `mdoc`. E.g. [monadcancel](https://github.com/typelevel/cats-effect/blob/series/3.x/docs/typeclasses/monadcancel.md).

[2021-03-29 15:19] kubukoz commented on #1330
Update, 3.0.0 is out! After I'm done with the migration guide I'll start updating the table to track projects moving to that.

[2021-03-29 15:25] #1820 closed, assigned to nobody

[2021-03-29 17:01] mr-git commented on #1846
There is something wrong with layout on [MonadCancel](https://typelevel.org/cats-effect/docs/typeclasses/monadcancel), I tried to fix in my fork, but I didn't understand what causes the issue.
![image](https://user-images.githubusercontent.com/8796159/112872687-55f6dc80-90c9-11eb-804d-af545c07c89b.png)

[2021-03-29 17:46] gvolpe commented on #1846
@mr-git I already fixed that in https://github.com/typelevel/cats-effect/pull/1845 but the site needs to be published manually I think /cc @djspiewak

[2021-03-29 18:03] mr-git commented on #1846
not sure if this is the issue, but I do not see https://typelevel.org/cats-effect/docs/typeclasses/concurrent on left side menu under `Typeclasses`

[2021-03-29 18:07] mr-git commented on #1846
and https://typelevel.org/cats-effect/docs/schedulers is omitted from navigation at bottom of page - Thread Model navigates to Overview of Typeclasses, while both navigation buttons on bottom of Schedulers page navigate to same Overview of Typeclasses too

[2021-03-29 21:40] arosien opened #1856 "Old API links are broken and need redirection"
Previous scaladoc links point to https://typelevel.org/cats-effect/api/*, which are now hosted at https://typelevel.org/cats-effect/api/2.x/*. Add a redirect?

Also, perhaps the https://typelevel.org/cats-effect/api page should exist and have links to 2.x and 3.x sub-hierarchies.

[2021-03-30 08:22] gvolpe commented on #1846
@mr-git the concurrent side-menu was fixed in https://github.com/typelevel/cats-effect/pull/1844

I see that the site has now been updated. The other issue seems legit, feel free to submit a PR :)

[2021-03-30 14:47] djspiewak commented on #1846
The site updates itself automatically btw, though any changes which take place in the md files on the main branch take about a day to propagate over.

And definitely some of the links need a little work!

[2021-03-30 17:51] djspiewak commented on #1856
https://stackoverflow.com/questions/10178304/what-is-the-best-approach-for-redirection-of-old-pages-in-jekyll-and-github-page

This is the best I can find :-/

[2021-03-30 17:57] oleg-py opened #1861 "Move SyncIO to std / separate module"
fs2 uses SyncIO to implement pure streams, and since that's part of the core, it drags IO and related things with it. Given quite foundational position of fs2, that makes the idea of "not having c.e.IO on the classpath if you don't want it" that was advertised in several talks go out of the window very quickly.

Generally it seems that SyncIO has been most useful in scenarios where:
- you want a f

[2021-03-30 19:34] oleg-py opened #1862 "Provide a way to unsafeRun IO synchronously without shifting until the async boundary"
I'd like to have something like `def unsafeRunSyncStep(): Either[A, IO[A]]` on IO.

My particular scenario: in my react interop library, I'd like to get initial state for rendering from fs2 Stream as soon as possible as to not require two render passes if the state is available immediately (e.g. it's a constant stream). This is an optional optimization, but a nice one (e.g. lets library users not

[2021-03-30 20:11] oleg-py opened #1863 "Stuff in std and unsafe/dual constructors"
In `kernel`, Deferred has `unsafe` and `in` constructors. Ref has those plus `Ref.Make` typeclass constructor. In `std`, semaphore has a dual-effect constructor (though it, probably wrongly, requires `Async`) while queues, `CountDownLatch` and `CyclicBarrier` don't support any of that. They all could, since their construction effect is some combination of ref + deferred allocations. (utilities cre

[2021-03-30 20:24] RaasAhsan commented on #1863
I can sympathize with this one when it comes to Scala.js.. I was writing an munit-cats-effect integration the other day, but for it to be usable on Scala.js, we need a synchronous effect layer on the outside. The inner effect layer could be in `IO` or whatever asynchronous type you want

[2021-03-30 22:14] djspiewak commented on #1862
Maybe something like `def syncStep: SyncIO[Either[IO[A], A]]]` instead?

[2021-03-31 05:24] oleg-py commented on #1862
Well, doesn't matter really if it serves the same purpose. I thought making it unsafe would deter people from using it as it's arguably not something you should do unless you know what you're doing :)

[2021-03-31 09:30] miriarte commented on #1330
fs2 (https://github.com/typelevel/fs2/releases/tag/v3.0.0) and http4s (https://github.com/http4s/http4s/releases/tag/v1.0.0-M20) already released versions using CE 3.0.0

[2021-03-31 11:19] catostrophe commented on #1863
I strongly support being consistent and adding 2-effect constructors.

[2021-03-31 12:22] vasilmkd commented on #1863
Since the classes in `std` mostly rely on `GenConcurrent`, does this mean that the second effect should also be a `GenConcurrent` and just `F.pure` around the current `apply` constructors?

[2021-03-31 12:25] oleg-py commented on #1863
The construction effect in cases I've mentioned only need `Ref.Make` + `Functor`, no?

[2021-03-31 12:42] vasilmkd commented on #1863
As far as I can see, they all expect a `Concurrent` instance. Am I missing something? I know you can derive `Ref.Make` from `Concurrent`, but not the other way around of course.

[2021-03-31 12:51] djspiewak commented on #1862
Well, I guess what I'm getting at is it's probably not an entirely unsafe thing to do, though it would potentially result in very different evaluation semantics (when run iteratively) than just running the IO directly.

[2021-03-31 12:52] oleg-py commented on #1863
Hm, seems we're in more trouble here than I thought originally.

But for example this constructor in Queue:

[code]

to _make_ a queue, you only need the ability to allocate a `Ref[F]` in `G` and map on `G`:

[code]

Since we've decided against having a dual-construction typeclass for Ref, it has to be `Sync` on `G` and `F`, in addition to `GenConcurrent` on `F`. That kinda sucks, but would still

[2021-03-31 12:53] vasilmkd commented on #1862
But it is still side effecting right? I think that's Oleg's concern about `unsafe`.

[2021-03-31 12:53] oleg-py commented on #1862
Not if you translate to SyncIO

[2021-03-31 17:30] #1804 closed, assigned to nobody

[2021-03-31 19:53] kubukoz commented on #1330
12 libraries from the list are released ;)

[2021-04-01 04:39] rossabaker commented on #1861
If it moves, the old one would have to be deprecated, and a duplicate name on wildcard import will get tedious.  Can we give it a new name, too?

I think I like the separate module.

[2021-04-01 12:36] bjaglin commented on #1856
duplicate of https://github.com/typelevel/cats-effect/issues/1843?

[2021-04-01 21:24] kubukoz opened #1875 "`@implicitNotFound` on `Ticker` says to use `ticked` but it's not part of the testkit"

[2021-04-01 23:48] vasilmkd commented on #1862
Actually there might be a technical limitation behind this issue that we're not properly considering. As soon as a fiber is started, the runloop is coded in a way which reschedules the fiber on the runtime whenever it needs to execute an asynchronous shift. On top of that, the `outcome` of a fiber is _always_ reported asynchronously. I'm now starting to wonder if anything can be achieved without a

[2021-04-02 00:01] vasilmkd commented on #1513
Because tracing is coming to CE3, as much as I love `fs2`, I don't feel that special casing `fs2` internals inside `cats-effect` is the way to go. Ideally, we would have a JVM configuration parameter or something similar to `IORuntimeConfig` that can influence the suppressed packages. That way, `fs2` can be in charge of its own configuration (as well as other projects) and it guards against this c

[2021-04-02 00:03] vasilmkd commented on #1260
Any updates on this, in light of the new changes right up to `3.0.0` final?

[2021-04-02 01:25] kubukoz commented on #1513
Yeah, that's what I meant. I'd likely do the same for `cats.free` to get doobie's stuff out of the way, etc.... but it should definitely not be baked in.

What would be nice is if libraries could expose, like, a list of internal packages, so that the users could reuse lists from multiple libraries in their configs.

[2021-04-02 12:20] nikiforo commented on #1843
The first result of https://www.google.com/search?q=cats+effect+tutorial (https://typelevel.org/cats-effect/tutorial/tutorial.html for me) returns 404 as well

[2021-04-02 15:33] djspiewak commented on #1260
I wish I had written down what the actual idea was, rather than this opaque reference. :-P

[2021-04-02 15:35] djspiewak commented on #1862
Basically we would need to create an alternative runloop which translates synchronous prefixes into `SyncIO`. This is part of why I hinted that the semantics might not be the same as just allowing `IO` to run it.

[2021-04-02 15:36] djspiewak commented on #1513
Extensibility of semantic tracing is definitely something I want to think about. It's tricky from a number of standpoints, but either way, the first step is to get tracing reinstated within the runtime.

[2021-04-02 19:22] kubukoz commented on #1856
Yeah.

[2021-04-02 19:22] #1856 closed, assigned to nobody

[2021-04-03 03:14] RaasAhsan commented on #1260
Ill try to remember what the details of this were

On Fri, Apr 2, 2021 at 10:33 AM Daniel Spiewak ***@***.***>
wrote:

[2021-04-03 20:04] lrodero opened #1878 "Rewrite 'Dealing with cancelation' section of the tutorial"
The '_Dealing with cancelation_' section uses semaphores to prevent files to be closed while data is being read/written. Thing is, they don't make sense there as files only will be closed _after_ the transfer function is done (either because is fully run or because it is canceled). Section should be fully rewritten to get rid of the semaphores mention there.

[2021-04-04 19:19] kubukoz commented on #1821
Related: #1847

[2021-04-04 19:24] kubukoz opened #1881 "Consider customizable Supervisor/Dispatcher"
Users have expressed interest in being able to change the behavior of these abstractions when they're being shut down (i.e. waiting for tasks to complete before exiting).

It should be investigated how we can best achieve that.

[2021-04-05 05:46] m50d opened #1883 "`Sync.interruptible` `many` parameter does the reverse of what's expected?"
def interruptible[A](many: Boolean)(thunk: => A): F[A] =
      suspend(if (many) InterruptibleOnce else InterruptibleMany)(thunk)

Apologies if I'm missing something, but surely the boolean condition should be the other way round?

[2021-04-05 11:57] vasilmkd commented on #1883
Sorry where is this exactly? I'm looking at the code [here](https://github.com/typelevel/cats-effect/blob/60362ad77fdfb0ac83832eed11b9aa1966dcfb49/core/jvm/src/main/scala/cats/effect/IOCompanionPlatform.scala#L33) and it seems fine.

[2021-04-05 12:40] m50d commented on #1883
The one in `Sync`, https://github.com/typelevel/cats-effect/blob/60362ad77fdfb0ac83832eed11b9aa1966dcfb49/kernel/shared/src/main/scala/cats/effect/kernel/Sync.scala#L95

[2021-04-05 12:42] vasilmkd commented on #1883
Shoot, that is most definitely a bug. Feel free to open a PR. :)

[2021-04-05 12:59] djspiewak commented on #1883
Yeah that's definitely backwards :-P

[2021-04-05 19:56] #1883 closed, assigned to nobody

[2021-04-05 22:33] rkrzewski commented on #1330
[elastic4s](https://github.com/sksamuel/elastic4s/) has been upgraded https://github.com/sksamuel/elastic4s/pull/2351, pending relelease

[2021-04-10 00:00] kubukoz opened #1895 "Console: add `def printStackTrace(e: Throwable)`"
There should probably be a quick discussion whether we want to extend the interface of `Console` this much, or whether it belongs in logging abstractions instead.

[2021-04-10 17:23] djspiewak commented on #1895
This is a pretty common one so IMO worth it, though it's just going to delegate to `e.printStackTrace()`.

[2021-04-11 11:35] vasilmkd opened #1898 "Different exception handling on the work stealing runtime compared to a fixed thread executor"
The work stealing runtime is _safer_ when it comes to handling exceptions through running `Runnable`s through `EC#execute` than when using a different `Executor`. Throwing exceptions on the worker threads of a fixed thread pool results in the death of those threads, and depending on the configuration of the `ThreadFactory`, those same threads may or may not be replaced by new ones. Furthermore, th

[2021-04-11 11:45] vasilmkd commented on #1898
And here's the same app with the work stealing runtime:

[code]

And the Mission Control screenshot:
![Screen Shot 2021-04-11 at 13 44 27](https://user-images.githubusercontent.com/7115459/114303031-2d5ce280-9acc-11eb-9d30-71cdd444965a.png)

[2021-04-11 17:29] vasilmkd opened #1899 "`IORuntimeConfigCompanionPlatform` type is visible"
We forgot to hide this trait unfortunately.

[2021-04-11 17:44] vasilmkd commented on #1898
I guess the question I have is whether it's Cats Effect's responsibility to protect the user from potentially ruining the compute thread pool with random `Runnable`s which may throw?

[2021-04-11 19:02] djspiewak commented on #1899
Actually this is *binary* breaking too. I'm not sure we can change it. Depends on how religiously we want to hold onto that constraint in this case though

[2021-04-11 19:04] vasilmkd commented on #1899
I was missing a label.

[2021-04-13 21:41] kubukoz commented on #1899
Why is this binary breaking? Making a class `private[somePackage]` is probably fine... or is it?

[2021-04-13 21:43] vasilmkd commented on #1899
For mima, it actually might be fine (because it might be the same in terms of Java visibility), but the Scala compiler will reject to compile already written code from now on.

[2021-04-13 23:11] kubukoz commented on #1899
That's source breaking then :)

[2021-04-14 03:17] muhamadhermansya opened #1904 "Ok"

[2021-04-14 04:06] #1904 closed, assigned to nobody

[2021-04-15 16:18] djspiewak opened #1907 "Experiment with -Xasync"
According to @retronym it works with Cats Effect. Let's like… actually do it. I would very much like it if users could opt-in to this syntax for interacting with at least `IO`, and ideally any effect type.

[2021-04-16 00:50] kubukoz opened #1908 "Add `Resource#postAllocate`"
Like `preAllocate`, but runs after allocation. `postAllocate(fa)` is quivalent to `evalTap(_ => fa)`.

[2021-04-16 00:51] kubukoz commented on #1908
An interesting thing... we can do `preAllocate`, `postAllocate` and `onFinalize` (after inner cleanup), but no `preFinalize`. It's kinda sad :( @djspiewak

[2021-04-16 01:11] djspiewak commented on #1908
Are you sure we can't do `preFinalize`? :-) `applyFull` + `allocate` gives us a TON of flexibility.

[2021-04-16 01:14] kubukoz commented on #1908
ohh, right, that's pretty cool then. Someone should investigate that too :D

Update: although if you meant `allocated`, we can't set the exitcase: `def allocated[B >: A](implicit F: MonadCancel[F, Throwable]): F[(B, F[Unit])]`

[2021-04-18 08:57] Baccata commented on #1907
I've got something working. IOs are executed sequentially, and I haven't figured out why yet :

* [implementation](https://github.com/Baccata/ce3-async/blob/main/src/main/scala/cats/effect/std/IOAsync.scala)
* [example call](https://github.com/Baccata/ce3-async/blob/main/src/test/scala/com/example/HelloWorldSuite.scala#L15)

[2021-04-20 04:29] #1834 closed, assigned to alexandrustana

[2021-04-20 10:04] gvolpe opened #1918 "Initialization error when using unsafe.implicits.global within IOApp"
While updating some examples that demonstrate what *not to do*, I bumped into this issue. Here's my example.

[code]

Initializing (unsafely) the `Semaphore` fails with this error.

[code]

Even when setting `Compile / run / fork := true` in `build.sbt`.

The workaround is to make it a `lazy val` together with forking enabled in `sbt`. So this does not work in Scastie: https://scastie.scala-lang.o

[2021-04-20 11:08] oleg-py commented on #1918
What happens here seems to be the following:

- `LeakyState.<init>` forces init of the `unsafe.implicits.global` which writes the mutable global where runtime is stored
- `LeakyState.main()` tries to overwrite the mutable global and fails.

This is different from general Scastie issue which arises b/c it keeps JARs loaded and needs manually adding `turbo := false` in extra sbt settings. Both those

[2021-04-20 14:50] djspiewak commented on #1918
Hmm, we can definitely turn this into a compile error, but I'm not exactly sure how we can *fix* it without creating even more surprising behavior.

The problem here is the fact that we have implemented the ability to configure the runtime by `override`ing values in `IOApp`. This is cool, but we *also* want to make sure that people don't create redundant runtimes within their application when usin

[2021-04-20 15:20] oleg-py commented on #1918
Would initializing and setting the global runtime in `<init>` not help?

I'm 👎 on the two implicit thing. It just pushes the problem further a bit, but I can still hit the issue silently by having a global semaphore in some other `object` which uses `unsafe` runtime, and then just refer to it from IOApp in a `val` _while also_ punishing the cases where I want to use the runtime from IOApp as an im

[2021-04-21 12:47] kubukoz commented on #1330
22 libraries from the list released.

[2021-04-21 12:53] kubukoz commented on #1330
https://github.com/cb372/cats-retry/pull/305 gonna list this next

[2021-04-24 03:06] #1878 closed, assigned to nobody

[2021-04-24 18:59] djspiewak commented on #1899
Let's just fix this. :-) It's pretty obviously an internal API that is leaking out. We'll privatize it and apologize to anyone who's code is broken.

[2021-04-24 20:53] djspiewak opened #1927 "Document Semaphore"
I think this one slipped through the cracks.

[2021-04-24 22:28] vasilmkd commented on #1899
I found out why this code was written like this in the first place. This is a companion object, and therefore a type. Because the companion object is publicly visible, its superclasses need to be too. If we still want to get rid of the internal type, we have to move the companion object definition from the `shared` sources to the `jvm`/`js` sources separately, i.e. have a concrete platform specifi

[2021-04-26 17:42] #1048 closed, assigned to nobody

[2021-04-26 18:05] renghen commented on #1907
https://github.com/rssh/cps-async-connect

Have same goal as async await, hope you can take some ideas

[2021-04-28 00:56] kbreidenbachRN commented on #1330
We're using `cats-effect` in production along with `scanamo-cats-effect` for DynamoDB. At the moment I have no information on when `scanamo-cats-effect` will be updated to use CE3 so this is holding some projects back

[2021-04-28 02:00] kubukoz commented on #1330
Scanamo seems to be using Monix in the ~core~ cats module, so I'd say it'll be blocked on that until Monix gets there :/

it's in `provided` scope, but there's a `toIterant` function that touches both the CE and Monix worlds, so it seems pretty dangerous to upgrade now.

[2021-04-28 02:03] kubukoz commented on #1330
@kbreidenbachRN as a temporary alternative, I would suggest creating your own `scanamo-cats` library using the current `scanamo-cats-effect` code as the base (it's apache 2 licensed so you're allowed to do that). The migration itself should be straightforward, mostly changing the `async` call to `Async[F].fromCompletableFuture`.

[2021-04-28 14:52] kubukoz commented on #1330
Actually, hold that thought... it's just one, one-line method for the Monix interop - maybe this can just be dropped? The fs2 integration is also very thin and probably could be removed as well to avoid making the dependency graph unnecessarily deep. @regiskuckaertz I would appreciate your input here! 🙏

[2021-04-28 14:56] Baccata commented on #1907
@renghen thanks for sharing, that's pretty cool !

Unfortunately in scala-2 land the integration point is much less straightforward (if you want to tap into the mechanism enabled by the `-XAsync` flag and not write complex AST transformations from scratch, that is). I really hope that if the flag gets ported to scala-3, the underlying mechanism will be similar to the one you offer in `dotty-cps-as

[2021-04-28 15:27] renghen commented on #1907
one note this is not my work (https://github.com/rssh/cps-async-connect) I am just interested in Continuation passing style.
So I follow that repo and hope for something like suspend like in kotlin will get into scala.

I will also look into the git repo you mentioned.

cheers

[2021-04-28 15:29] Baccata commented on #1907
Hah my bad. Still, thanks for sharing 😄

[2021-04-30 11:50] kbreidenbachRN commented on #1330
@kubukoz As we are using FS2 as well, I just took your first suggestion: forked, made the `Async[F].fromCompletableFuture` change and put a SNAPSHOT version in our artifactory repo. We should be in prod with a few CE3 updated apps in a couple of days. Thanks for the help!

[2021-05-03 14:50] b-studios commented on #1907
I just want to mention that similar things can be achieved building on [monadic reflection](https://doi.org/10.1145/174675.178047)  and project loom: https://github.com/b-studios/cats-reflect

- The advantage is that you do not need a translation and it "just" works. In particular with higher-order functions like `map`.
- The disadvantage is that you need a Loom runtime -- it is much easier now si

[2021-05-04 19:50] RafalSumislawski commented on #1898
It's hard to comment on the specifics of you idea on how to solve this problem, because I don't know how the idea. So I'll stay at an abstract level, and just say which of this aspects I see as important.

The `WorkStealingThreadPool` is currently getting a large performance handicap for trying to be more protective then other `ExecutionContext`s. I would love to see it show it's full performance

[2021-05-05 13:41] vasilmkd opened #1940 "SyncIOSpec has a flaky JVM specific test"
Here's the flaky test, in a slow environment, the time difference between the two time snapshots can be larger than 30 milliseconds.

https://github.com/typelevel/cats-effect/blob/35c9e1ea45dec014e4dd4fe22f35e83de87fdd37/tests/jvm/src/test/scala/cats/effect/SyncIOPlatformSpecification.scala#L24

[2021-05-07 15:39] antonkw commented on #1839
@djspiewak
Hello,
As far as I understood branch is 2.x.
What command I need to run to observe those errors.
I mean, you wrote `Run the build in ` but it's not clear what is that "build"
Thanks

[2021-05-07 15:53] vasilmkd commented on #1839
Hi @antonkw. Please run the following commands to build the documentation:
[code]

Here you would probably see some warnings regarding unresolved links. Hope this is helpful.

[2021-05-07 16:59] antonkw commented on #1839
@vasilmkd yes, I guess I reproduced that, thanks!

[2021-05-08 16:43] #1899 closed, assigned to nobody

[2021-05-10 06:46] alexandru opened #1957 "Suggestion: override Functor's `as` and `void` for `IO` and `SyncIO`"
Cats's `Functor` provides the following utilities:

[code]

I think these should be overridden to log a warning (via whatever means) in case the value being ignored is an `IO` value.

For a motivating sample — this happened to me, and was not caught by tests 😒

[code]

[2021-05-10 06:53] alexandru commented on #1957
Feels like an issue that could be solved by a linter. But I don't know of any linter with a rule that does this.

[2021-05-10 07:10] alexandru commented on #1957
I think I need to think about this for a while, brb 😅 closing the issue in the meantime to not clutter the issue tracker.

[2021-05-10 07:10] #1957 closed, assigned to nobody

[2021-05-10 14:48] djspiewak commented on #1957
I think a linter might be a better approach in any case. :-D I actually use these methods *absolutely* all the time! Definitely wouldn't want them to just blindly warn.

What you're getting at here is the issue of linearity. You want to be able to declare that, in this particular `F[A]`, the `A` *must* be consumed, and there's simply no way to do that in Scala.

[2021-05-11 13:37] alexandru commented on #1957
I think the issue is that we don't see what we are ignoring.

[code]

And then when using it, this would lead to a compile-time error:

[code]

[2021-05-12 00:54] cquiroz opened #1959 "Restart scala.js runtime environment"
We build all our scala.js apps with cats-effect 3 starting with `IOApp` which is exported to the js runtime. e.g.
https://github.com/gemini-hlsw/explore/blob/fef6caaafdafa144b6a9ae04afad18990467e132/explore/src/main/scala/explore/Explore.scala#L61

This works fine for the regular browser case and node but has some restrictions when doing development on browser.
There we often want to use HMR (Hot

[2021-05-13 11:04] antonkw commented on #1839
The fix is just removing `.md` extensions in links.

@vasilmkd what is the branching model?

I need to fix files at `versions/2.x/docs`. As far as I understand I should raise PR against `series/2.x` branch. That's correct?

I didn't work with git submodules. What I should use to update `docs` (for testing purposes) with latest `series/2.x`?

Thanks

[2021-05-13 11:09] vasilmkd commented on #1839
Yes, open a PR against `series/2.x`.

If you want to test your solution, maybe you can try manually switching to the `docs` branch and updating the pages in `versions/2.x`? I think this is necessary because the submodules are created to link against `typelevel/cats-effect` which would not contain your changes. Not completely sure. Hope this helps.

[2021-05-13 15:57] antonkw commented on #1839
@vasilmkd
Here it is: https://github.com/typelevel/cats-effect/pull/1965
Please let me know if anything is wrong.

[2021-05-13 15:57] vasilmkd commented on #1839
I saw it, I let the CI run :)

[2021-05-15 18:10] #1497 closed, assigned to nobody

[2021-05-18 19:56] Kazark commented on #1210
There are docs for [TestContext](https://typelevel.org/cats-effect/api/3.x/cats/effect/kernel/testkit/TestContext.html), but they are out of date as they reference `Timer`, which does not exist in CE3.

Or if you mean for the migration guide, I am slowly working through how to migrate them [here](https://stackoverflow.com/a/67592671/834176).

[2021-05-19 15:45] arosien opened #1982 "CE2 concurrency Overview docs have bad links to subtopics"
https://typelevel.org/cats-effect/docs/2.x/concurrency/overview has links to "Basics", "Deferred", etc., but the links point to https://typelevel.org/cats-effect/docs/2.x/concurrency/basics.md (which is incorrect). The links in this doc should point to https://typelevel.org/cats-effect/docs/2.x/concurrency/basics.

<img width="1121" alt="Overview_·_Cats_Effect" src="https://user-images.githubuserc

[2021-05-19 16:03] vasilmkd commented on #1982
I believe this is tackled in #1965.

[2021-05-19 17:24] arosien commented on #1982
@vasilmkd ah thanks! Issue search failed me :(.

[2021-05-19 17:25] vasilmkd commented on #1982
It's fine, I have to work with the PR author to help them out. 😄

[2021-05-21 10:50] vasilmkd commented on #1982
Addressed in #1985.

[2021-05-23 21:01] djspiewak commented on #1959
This is very interesting! How would you expect this to work exactly? Just an `IOApp#reset()` or something like that?

[2021-05-24 04:24] djspiewak opened #1992 "Kill IOApp when SIGINT repeatedly"
At present, `IOApp` waits for finalizers to complete before allowing exit on <kbd>Ctrl</kbd>-<kbd>C</kbd>. This is generally a good default, but it should be overridable without having to resort to `SIGKILL` if the application is hung. Something like three INT signals within a one second time window should trigger an immediate shutdown, regardless of finalizer status.

[2021-05-24 13:04] cquiroz commented on #1959
Yes! a method on `IOApp` that could be called from the JS runtime

[2021-05-24 13:41] rossabaker commented on #1992
Wait, what?  <kbd>Ctrl</kbd>-<kbd>C</kbd>shouldn't change behavior just because we're angry.  This is why we have different signals that yield different exit codes.

[2021-05-24 13:48] djspiewak commented on #1992
Interested as to thoughts on this. The scenario here is that the user wants to kill the application, but a finalizer (or uncancelable block) is stuck and thus the application cannot be terminated. The point is that rapidly repeated TERM is likely to indicate direct user input and is almost certainly a signal that they don't care about graceful release, they just want the process to die.

[2021-05-24 14:10] rossabaker commented on #1992
Well, I guess that's fair for `SIGINT`, which is what <kbd>Ctrl</kbd>-<kbd>C</kbd> sends.  You're only communicating an intent to interrupt the process, and I suppose there's room to detect user rage.  But `SIGTERM`, the default signal of `kill`, ought to remain graceful.

Objection withdrawn.

[2021-05-24 15:14] aeons commented on #1992
Terraform attempts graceful shutdown on the first ctrl-c and forcefully aborts on the second, with a warning about what might happen. I think that's a pretty good way of doing it.

[2021-05-24 15:19] djspiewak commented on #1992
In which I betray the fact that I always forget which signal is which.

[2021-05-24 15:30] djspiewak commented on #1959
Do you *just* want it exposed to JavaScript, or is this something you would call from Scala?

[2021-05-24 15:32] cquiroz commented on #1959
I wouldn't expect to call it from java on my use case of HMR. And it would need to be a kind of `end-of-the-world` call returning `Unit` to be exported easily to js

[2021-05-24 15:37] djspiewak commented on #1907
@b-studios That is really really cool

[2021-05-24 15:54] b-studios commented on #1907
Thanks @djspiewak! FYI, we moved our experiments here: https://github.com/lampepfl/monadic-reflection

[2021-05-24 17:25] djspiewak opened #1995 "Weird fairness/scheduling issue"
Still not sure what's going on here. I've been poking at this for a little while:

[code]

If you run this, you'll see a ton of `attempting to consume`, followed by infinite `Produced` printlns, which honestly doesn't make any sense. It's like the first fiber hogs the thread for a while, then the second fiber takes over and never lets it go.

[2021-05-24 19:08] ChristopherDavenport commented on #1992
In case others needed reference like I just needed to follow this conversation:

Gnu Termination Signals - https://www.gnu.org/software/libc/manual/html_node/Termination-Signals.html

[2021-05-24 19:39] vasilmkd commented on #1995
@djspiewak I don't have a great explanation for this, but hear me out.

[code]

After a while, the `blah` counter never gets incremented, which to me signals that the evaluated function in the consumer (after the C2 compiler kicks in) is just much slower than the producer function, which wins the super tight CAS loop in `Ref`. Does this make any sense?

[2021-05-24 20:08] djspiewak commented on #1995
I've been thinking along the same lines. In theory, `dequeueOption` should actually be *faster* than `enqueue`, but perhaps it isn't. I haven't looked closely at `scala.collection.immutable.Queue` in many years.

[2021-05-24 20:32] djspiewak commented on #1995
It'd be interesting to try to verify this in some way. Tricky though. Maybe literally adding a `Thread.sleep` in the enqueue side. Hilariously though, that would imply that `IO` itself is so fast that this example is bounded by the fairness (or rather, *unfairness*) of `AtomicReference`!

[2021-05-24 20:39] vasilmkd commented on #1995
I'd love to hear some thoughts on how to better verify the behavior.

[2021-05-24 20:51] djspiewak commented on #1995
Okay I think I verified it:

[code]

If you make that change, then the *consumer* wins every time.

Basically I think this might just be a really bad example. :-) `Ref` isn't fair because `AtomicReference` itself isn't fair, so if you slam on it hard enough, you're going to get situations like this.

[2021-05-24 21:01] vasilmkd commented on #1995
Come on Daniel, say what you really mean, no reason to hide it! 😄😆🥳

[2021-05-24 22:42] rossabaker commented on #1992
My CE2 `IOApp` experience is coming back to me.  Even though the JVM exits with the expected code (signal value + 128), there's no way to distinguish `SIGTERM` (which should be graceful) from `SIGINT` within the application.  The only way (at least on Java 8) was JNI quagmire.

Furthermore, I'm not sure that repeated signals will be detectable: the shutdown hooks are triggered by the first `SIGINT

[2021-05-25 01:57] djspiewak commented on #1992
`sun.misc` has an API for this. I believe Java 11 introduced a replacement (it may have been in Java 9). But tldr we can capture actual signals.

[2021-05-25 02:06] djspiewak commented on #1995
lol Our runtime is legitimately so fast that it breaks examples like this. So for anyone following along at home, this wasn't a problem before because the runtime *used* to be slow enough that the overhead dominated the race on both sides and things were somewhat fair. Now the `Queue` operations dominate by a significant margin, meaning that it's just a pure race between two different `Queue` oper

[2021-05-25 02:08] #1995 closed, assigned to vasilmkd

[2021-05-25 02:18] rossabaker commented on #1992
It's `jdk.internal.misc.Signal` as of Java 9, which seems imprudent for a bedrock dependency.  Before that was `sun.misc.Signal`, which is banished to the unsupported module in modern JVMs.  There's always runtime reflection, but it all seems like a lot of magic to avoid `^Zkill -9 %`.

[2021-05-25 22:19] vasilmkd commented on #1839
Fixed in #2005.

[2021-05-25 22:19] #1839 closed, assigned to nobody

[2021-05-27 15:21] vasyl-zhurba commented on #1330
[circe-derivation](https://github.com/circe/circe-derivation)

[2021-05-27 15:34] kubukoz commented on #1330
This project doesn't use cats-effect.

[2021-05-27 16:15] vasyl-zhurba commented on #1330
Sorry, my mistake.
I was trying to upgrade my project to cats-effect 3 and got the following errors
[code]
What did I miss?
Looks like sttp-http4s-backend v.3.3.5 still depends on http4s v.0.23
I couldn't find explicit usage of htt4s v0.21.23 in my project.

[2021-05-28 07:47] Baccata opened #2013 "Override MonadCancel#bracketFull in monad transformers instances"
[Context](https://gitter.im/typelevel/cats-effect-dev?at=60818cf4ae90f3684098c042)

In the following example, only "goodbye" gets printed :

[code]

This is caused by the generic implementation of [bracketFull](https://github.com/typelevel/cats-effect/blob/d9285906a0b8f3c1b902549cae2781ebc4b90ee7/kernel/shared/src/main/scala/cats/effect/kernel/MonadCancel.scala#L371) which doesn't take into consid

[2021-05-31 20:02] djspiewak opened #2022 "SyncIOSpec is flaky"
[code]

[2021-05-31 21:59] vasilmkd commented on #1940
Duplicate of #2022.

[2021-05-31 22:00] #1940 closed, assigned to nobody

[2021-05-31 22:49] #1907 closed, assigned to nobody

[2021-05-31 22:49] djspiewak opened #2023 "Write up documentation for new async/await hotness"

[2021-05-31 22:50] djspiewak commented on #1940
Actually I think mine was the duplicate :-P

[2021-06-01 21:42] kubukoz opened #2032 "Support GraalVM native image on Scala 3"
To build a cats-effect 3 app with Scala 3 and GraalVM native image, one currently has to set some configuration options, otherwise the build falls back to a version that requires a JDK.

This is what the native-image agent generated for me:

[code]

(passed with `-H:ReflectionConfigurationFiles`)

Maybe we can include some version of this in the jar itself, so users don't need to bother with these

[2021-06-01 22:13] vasilmkd commented on #2032
Wait what, we absolutely do not use any Unsafe, and bitmap fields are autogenerated by the Scala compiler. There is no way we can influence them. I'm confused.

[2021-06-01 22:26] kubukoz commented on #2032
I think that one might be irrelevant. Probably just the first two are important, I'm just pasting what the program generated :)

even if that's generated by the compiler, someone needs to provide this config, and apparently dotc itself isn't capable of that

[2021-06-01 22:29] smarter commented on #2032
The lazy val runtime code uses Unsafe: https://github.com/lampepfl/dotty/blob/master/library/src/scala/runtime/LazyVals.scala

[2021-06-01 23:32] kubukoz commented on #2032
Maybe some of this could be attached to the dotty runtime? :D

[2021-06-02 12:07] smarter commented on #2032
We'd have to include all fields with `bitmap$` in their name, can we use wildcards in the graal native configuration file? Oẗherwise it sounds like something that could be hardcoded in graal itself.

[2021-06-02 22:10] kubukoz opened #2036 "Add `Dispatcher#toIO`"
This is going to be helpful for people migrating from CE2 and `Effect.toIOK`.

An example implementation:

[code]

Perhaps there's a more efficient way.

[2021-06-02 22:17] kubukoz commented on #2036
see, I'm so tired it took two renames for a proper fix.

[2021-06-02 22:19] djspiewak commented on #2036
I think the real danger of this is it might lead someone to write `OptionT[IO, *] ~> IO`, with predictable heartache. There are ways around the problems with that function, of course, but the implementation in the OP makes the bear traps really hard to avoid.

[2021-06-02 22:20] vasilmkd commented on #2036
Also, `Dispatcher` lives in `std`, which cannot point to `IO`. 😕

[2021-06-02 22:22] kubukoz commented on #2036
😭

extension method in `cats.effect.implicits`?

`OptionT[IO, *] ~> IO`

wait. How does that even end up working?

edit: ah, it deadlocks on empty options.

[2021-06-03 23:18] djspiewak opened #2039 "Adjust AsyncAwaitDsl to http4s style"
[code]

This is a bit more uniform with http4s, and also has the advantage of being more concise.

[2021-06-06 16:18] #1982 closed, assigned to nobody

[2021-06-06 16:22] djspiewak commented on #2032
@kubukoz Is there a way we could do this with some sort of wildcard? I'm definitely in favor of making it as easy as possible to use native-image with CE, so entirely amenable to tossing something in the JAR distributables if it is helpful.

[2021-06-07 00:19] #2022 closed, assigned to nobody

[2021-06-07 20:52] janstenpickle opened #2050 "`Hotswap` exposes problems with resource leaks on concurrent access"
Firstly, thanks for the amazing work on `CE3`, it really is a joy to use.

While working on [Trace4Cats](https://github.com/trace4cats/trace4cats/), I had the need to swap resources at runtime, but split the functionality of swapping and access of `Hotswap` where the resource may be swapped concurrently to access. `Hotswap` seemed perfect for this, but quickly threw up a problem: what if something

[2021-06-07 21:01] vasilmkd commented on #2050
I feel personally responsible for derailing this discussion originally on Discord. I'm sorry about that. We're spread pretty thin these days. I hope that we can reach some solution on this soon.

[2021-06-07 21:04] janstenpickle commented on #2050
No problem @vasilmkd, I hadn't fully figured this out when I messaged in Discord, this is probably a better place to raise it anyway.

For the record, I'm more than happy to raise a PR with any agreed changes, but I think we probably need to agree if there are any to be made.

[2021-06-07 21:26] bastewart commented on #2050
@janstenpickle and I had discussed this elsewhere and we would think that a safer interface for concurrent access would be taking the current interface for the `HotswapRef` linked above and using that for `Hotswap`. There may be a desire to have a simpler, non-concurrent, interface as well though, so maybe this could be a new class (also binary/source compatibility probably means `Hotswap` can't b

[2021-06-10 15:21] Daenyth commented on #1330
Fetch is now updated: https://github.com/47degrees/fetch/releases/tag/v2.0.0

[2021-06-11 09:40] catostrophe commented on #2050
@vasilmkd may I ask you to review our impl in https://github.com/janstenpickle/hotswap-ref/pull/10? 😃

[2021-06-11 14:59] kubukoz commented on #1791
So there's one thing - [Odin's slf4j interop](https://github.com/valskalla/odin/pull/273) requires you to provide a `Dispatcher[IO]` statically. This means pretty much that users need to do `Dispatcher[IO].allocated.unsafeRunSync()`... this conversion would be very helpful there.

[2021-06-11 15:05] vasilmkd commented on #1791
A `Dispatcher[IO]` can always delegate to the `unsafe` methods on `IO` itself. Are we comfortable exposing a `Dispatcher` not wrapped in a `Resource`? I guess that's fine because the `unsafe` methods on `IO` don't have a lifecycle associated to them. @djspiewak Thoughts?

[code]

[2021-06-11 15:14] kubukoz commented on #1791
yep, that's what I was thinking about. Users can do this on their own I suppose, but I think this will be a popular enough pattern eventually that we might just bake it in.

[2021-06-11 15:37] djspiewak commented on #1791
This isn't safe though. :-) A major element of `Dispatcher` is the fact that it binds the fiber lifecycles together, rather than just throwing it over the wall. The `IO` methods have no real lifecycle binding, so a `Dispatcher[IO]` which just delegates to the methods directly on `IO` would have pretty dramatically different semantics.

[2021-06-11 15:38] vasilmkd commented on #1791
It's as safe as holding onto an `IORuntime` reference...

[2021-06-11 15:40] vasilmkd commented on #1791
I guess we should just educate people that this is possible. But I'm not sure if this belongs in the documentation, it's not something we want to encourage. 😕

[2021-06-18 16:04] #1927 closed, assigned to nobody

[2021-06-18 21:33] vasilmkd opened #2066 "Add missing tracing events to `IO` constructors and combinators"
Which constructors and combinators are already covered?

- [x] `IO.delay/IO.apply`
- [x] `IO.uncancelable`
- [ ] `IO.async`
- [x] `IO#flatMap`
- [x] `IO#map`
- [x] `IO#handleErrorWith`
- [x] `IO.blocking`

Which constructors/combinators would we like to be covered, but are not at the moment?

- [ ] `IO.pure` (personally not sure about this one)
- [ ] `IO.raiseError` (ditto)
- [ ] `IO.realTime/IO.m

[2021-06-20 11:48] vasilmkd commented on #2050
With the `HotswapRef` PR merged, what do you think now is the status of this issue? @catostrophe @janstenpickle

[2021-06-20 11:51] #2039 closed, assigned to nobody

[2021-06-21 08:52] janstenpickle commented on #2050
I think the issue remains really. The edge cases that `HotswapRef` tries to mitigate could be encountered by anyone trying to do something similar, or even just running the example code.

I don't think it's clear that `Hotswap` can cause exceptions on concurrent access if another fiber has closed the resource, which makes it quite a leaky abstraction.

It would be good to see if we can include `Ho

[2021-06-21 08:57] catostrophe commented on #2050
👍 for moving to CE3, but I would prefer a better name. `Hotswap` may stay, but should probably be better documented.

[2021-06-21 09:12] lambdista commented on #1918
I stumbled upon the same problem, at least I guess. Trying to switch to http4s 0.23.0-RC1, with cats-effect 3.1.1 and Scala 2.13.6, when I run the server I get:
[code]
The server is:
[code]

[2021-06-21 12:14] vasilmkd commented on #2050
I'm copy/pasting this from the `Hotswap` scaladoc.
[code]

My personal opinion is that `Hotswap` has already documented this deficiency (or the documentation could be further improved), and I personally see the current `Hotswap` as a good basic building block for resource safety, upon which other data structures can build, much like `HotswapRef`. I honestly wouldn't push for changes to `Hotswap`,

[2021-06-21 13:09] bastewart commented on #2050
FWIW I don't personally see it an an exceptional useful building block, or at least not one that can be picked up and used easily without some careful thought beforehand. Beyond some extremely simple situations I don't think it's possible to use without also creating your own `Ref` to hold the current active resource*. This then introduces a whole host of pitfalls for a new (or even experienced!)

[2021-06-21 16:32] djspiewak commented on #1918
What is `val httpApp` doing? The OP issue arises when `IORuntime.global` is initialized prior to `main` getting a chance to run, which almost always means that some sort of `val` is hitting it.

[2021-06-21 17:03] lambdista commented on #1918
Indeed, I've just turned `val httpApp` into `def httpApp` and now the error is gone. Thanks. FTR: `lazy val` works too.

[2021-06-21 18:00] vasilmkd commented on #1918
But this situation is still far from ideal...

[2021-06-21 18:23] djspiewak commented on #1918
Very much so. I'm still thinking about ways to resolve it

[2021-06-22 13:45] Daenyth opened #2073 "Website docs are missing std page for Random"
I was looking up how to use the new `Random`, and it seems to be missing from the doc site

[2021-06-25 09:32] andreamarcolin commented on #1330
Catbird has been published for CE3 (catbird-effect3 module, version 21.5.0 https://github.com/typelevel/catbird/pull/267), also unblocking Tapir (https://github.com/softwaremill/tapir/pull/1154)

[2021-06-29 14:19] mberndt123 commented on #469
Hey @alexandru,

I'm using the `Resource` type in conjunction with JPL, the Java Prolog Bridge. I generate Prolog clauses dynamically and add them to the Prolog database using the [`assertz/2`](https://www.swi-prolog.org/pldoc/man?predicate=assert/2) predicate. To avoid leaking memory, I need to call [`erase/1`](https://www.swi-prolog.org/pldoc/man?predicate=erase/1) once I no longer need them. Si

[2021-07-03 16:09] ronanM opened #2095 "[CE3] Kleisli Stack safety"
This code is Ok with CE2, but fail with `StackOverflowError` in CE3.
[code]

[2021-07-05 15:50] vasilmkd commented on #2095
@ronanM Thanks for reporting and for the reproduction. I have a fix incoming.

[2021-07-07 17:03] #1862 closed, assigned to vasilmkd

[2021-07-07 18:30] #1895 closed, assigned to nobody

[2021-07-07 22:32] #1790 closed, assigned to nobody

[2021-07-09 17:15] #2023 closed, assigned to nobody

[2021-07-09 17:17] djspiewak commented on #1898
@vasilmkd What's the current status on this?

[2021-07-09 18:53] vasilmkd commented on #1898
I believe the discrepancy I described in the original post still exists between our own workstealing pool and a third party one, as no real work has been done. If desirable, the solution isn't too hard. We need to wrap runnables posted on the executor in our own runnable type which has a try catch block.

[2021-07-11 17:36] djspiewak opened #2116 "Add method forwarders to `Resource`"
`Resource` implements `Async`, but does so in a purely "typeclassy" way. If you want to do something like `rsrc.start` (where `rsrc: Resource[F, A]`), you actually need to `import cats.effect.syntax.all._`! This isn't a great experience.

Instead, we should flip all of this around and follow the same pattern `IO` does: move the definitions of these methods to `Resource` itself as members (taking t

[2021-07-11 20:12] djspiewak opened #2117 "Write documentation for `IOLocal`"
What it says on the tin. It needs both scaladoc and should also have a page in the site (**docs/** subdirectory).

[2021-07-12 06:54] alexandrustana commented on #2116
I could try and tackle this one

[2021-07-12 07:48] joroKr21 commented on #2116
Would that also include relaxing the constraints for each method?

[2021-07-12 17:19] djspiewak commented on #2116
Potentially yes. Do you have an example in mind?

[2021-07-12 17:25] djspiewak commented on #1959
I think this is sufficiently addressed as of #2114. If you disagree, leave a comment and I'll reopen!

[2021-07-12 17:25] #1959 closed, assigned to djspiewak

[2021-07-12 17:49] joroKr21 commented on #2116
I think there are a few examples (there might be others):
| constraint | methods |
|-|-|
| Unique | unique |
| GenSpawn | never, cede |
| ApplicativeError | attempt, handleErrorWith, raiseError |

[2021-07-12 18:05] djspiewak commented on #1875
I think the text of the `@implicitNotFound` just needs some tweaking.

[2021-07-12 19:32] #1741 closed, assigned to Wosin

[2021-07-12 19:32] #1791 closed, assigned to nobody

[2021-07-19 04:08] ScalaWilliam commented on #1302
Would be very welcome 👍

[2021-07-19 14:44] alexandrustana commented on #2116
Just to be sure I'm going in the right direction 😅
Basically, I just have to add the methods provided by the `typeclasses` which `Resource` has implementations for.
Such as:
- Semigroup, Monoid, Monad, MonadError, MonadCancel, Clock, Concurrent, Sync, Temporal, SemigroupK and Async

e.g.

[code]
Right?

P.S. Sorry this question comes so late, should have done this investigation beforehand.

[2021-07-19 14:49] vasilmkd commented on #2116
No worries! We're mostly interested in the methods that originate in the Cats Effect typeclasses.

I'd follow `IO.scala` and replicate all methods that are not currently available on `Resource` that make sense. I don't have a concrete list, but I'm sure you can figure it out and we'll review it. Hope this helps.

[2021-07-19 14:50] joroKr21 commented on #2116
I thought the idea was to move the implementations themselves and forward to them from the type class like this:
[code]

[2021-07-19 14:52] vasilmkd commented on #2116
That's also a part of this, yes. Thanks @joroKr21

[2021-07-19 14:53] vasilmkd commented on #1302
I like the proposal.

[2021-07-19 15:29] djspiewak commented on #1302
I like the proposal as well. Could also conceivably do **std** as well as **kernel**. My main concern is that Scala Native currently doesn't support Scala 3, so the build matrix gets to be… very annoying. But, regardless, PRs welcome.

[2021-07-19 15:32] djspiewak commented on #2116
You're basically both right. :-) So any implementation which is `Resource`-specific (such as `start`) should be moved out of the typeclass and into `Resource` itself, and then the typeclass should forward to `Resource` as in @joroKr21's example. However, plenty of combinators (such as `startOn`) are implemented in a generic way higher up in the hierarchy, and those could be delegated from `Resourc

[2021-07-19 18:27] alexandrustana commented on #2116
@joroKr21 @vasilmkd @djspiewak thank you for answering my question and for the examples.
I think I got the gist of it 😅

[2021-07-24 14:52] vasilmkd opened #2144 "Add tracing configuration to `IORuntimeConfig`"
Probably every configurable aspect except `cats.effect.stackTracingMode` which we need to be statically available at JVM startup.

[2021-07-24 15:29] #2013 closed, assigned to nobody

[2021-07-24 15:34] #1260 closed, assigned to nobody

[2021-07-24 20:06] djspiewak opened #2146 "Implement tracing on ScalaJS"
It should be possible given that exceptions work roughly the same.

[2021-07-24 20:12] djspiewak commented on #2144
@vasilmkd Race you! :-) I literally just started a branch on this

[2021-07-24 20:14] vasilmkd commented on #2144
Wait a minute, in light of #2146, I think we should postpone this issue after that one has been implemented.

[2021-07-24 20:16] djspiewak commented on #2144
Let me push a branch for you to look at. Tldr I think we'll be okay.

[2021-07-24 21:38] #2116 closed, assigned to alexandrustana

[2021-07-24 22:59] #2144 closed, assigned to nobody

[2021-07-25 07:00] catostrophe commented on #2095
@vasilmkd
this still fails:
[code]

[2021-07-25 07:44] catostrophe commented on #2095
Also https://github.com/typelevel/cats/issues/3947

[2021-07-25 07:56] vasilmkd commented on #2095
Even with Cats Effect 3.2.0?

[2021-07-25 07:59] catostrophe commented on #2095
Yes. And it never worked on CE2

[2021-07-25 08:01] vasilmkd commented on #2095
Bummer. I'll take a look.

[2021-07-25 13:24] vasilmkd commented on #2095
I have a fix for `parTraverse`, I'll open a PR later.

[2021-07-25 19:14] djspiewak opened #2155 "Improve performance of Parallel by overriding map2 to avoid tupling"
This is a bit of low-hanging fruit, but we currently define `Parallel[F]` given `GenSpawn[F, _]` in terms of the following construction:

[code]

That's cool but there's a lot of unnecessary boxing in here, both in `both` and in `racePair` underneath. We can actually do a lot better given `GenConcurrent[F, _]`, which will be the case quite a lot of the time in practical code. However, rather than

[2021-07-26 08:57] manufacturist commented on #2155
I'll give it a try 😄

[2021-07-26 21:14] djspiewak opened #2161 "Add `IO.trace`"
Should return something like `IO[Trace]`, which should be an immutable data type containing methods like `enhanceException(Throwable): Throwable`, `pretty: String`, `oneline: String` (or maybe just `toString`), etc. This handles use-cases like ad-hoc debugging and external exception handlers (like Sentry).

I'm labeling this as a **good first issue** even though it's going to be a *bit* involved.

[2021-07-27 11:16] vasilmkd commented on #2155
@djspiewak Why is the `mapBoth` mapping function specified as `(A, B) => F[Z]` and why not `(A, B) => Z`? I'm curious.

[2021-07-27 11:25] vasilmkd commented on #2155
Maybe I'm just being dense, but then, if `(A, B) => Z` is used, there is no difference with `map2`. I still fail to see how the boxing of one pair is not being reintroduced by the `F[Z]` in the end. Sorry again.

Are we sure that we can't just reimplement `map2` for `Parallel` directly to be more performant?

[2021-07-27 12:45] djspiewak commented on #2155
An error on my part. :-) It really should be `(A, B) => Z`. You're correct btw that this is exactly `map2`. Or rather, it is `parMap2`, which is the difference. Also, as has been pointed out in Discord, since @manufacturist realized that this can be done without `Deferred`, we're free to push the more optimized implementation up into `GenSpawn`, which IMO would be a good thing to do.

[2021-07-27 16:34] alexandrustana commented on #2161
If nobody minds, I could try and tackle this one.

If I understood correctly, when we have the following snippet
[code]
the trace should look something  like this
[code]
Calling `trace` should create a copy of the current `TracingEvents` and store it in the `immutable structure` mentioned in  the description, so the `flatMap` call will not be observed in `t`.

Are these assumptions correct?

[2021-07-27 16:59] armanbilge commented on #1302
I got that cross-build fever 😅 https://github.com/typelevel/cats-effect/pull/2168

[2021-07-27 17:20] vasilmkd commented on #2161
Yes and also feel free to look in the CE2 code, but I need to warn you, we're not looking to replicate that API, I would try to design something along the lines of what Daniel described in the first comment of this issue.

[2021-07-27 17:47] alexandrustana commented on #2161
I was thinking of extending `IO` with `TraceIO` and in the run-loop handle the newly created tag and construct a `Trace` object using the events from the `RingBuffer`.
I wasn't aware of the `trace` from CE2 😄

[2021-07-27 19:54] djspiewak commented on #2161
:+1: to all of the above. And go for it, @alexandrustana!

[2021-07-30 10:51] milanvdm opened #2178 "Add `IOLocal.unsafeApply`"
I would like to add the following code to `IOLocal`:

[code]

It would be useful for me as I use `IOLocal` creation to do byte-instrumentation to add tracing to `IO`. And I would like to prevent running an `unsafeRunSync` in the injected code.

If this makes sense, I'll gladly make the PR :)

[2021-07-30 12:26] manufacturist commented on #2117
I'd like to tackle this one 😄

[2021-07-30 14:35] djspiewak opened #2179 "Update all of the Gitter links to point to Discord"
There are more of them than I expected!

[2021-07-30 19:01] #2095 closed, assigned to vasilmkd

[2021-07-30 19:01] #2155 closed, assigned to manufacturist

[2021-08-04 11:33] vasilmkd opened #2195 "Cats Effect 2.5.2 is slightly botched"
We have not included the `SyncIO.defer` and `IO.defer` additions.

The `v2.5.2` tag is made at this [commit](https://github.com/typelevel/cats-effect/commit/cfb40e69810f586b227fd9db17e99e9839ef421f), but the aforementioned changes landed in a PR _after_ it.

@djspiewak You are my only hope.

[2021-08-04 11:34] vasilmkd commented on #2195
The scalafix tests are understandably [angry](https://github.com/typelevel/cats-effect/runs/3240386094?check_suite_focus=true).

[2021-08-04 11:53] yanns opened #2196 "Should Console[F].printStackTrace reports stacktrace with tracing feature"
CE provides a tracing functionality, given developers much more useful stack traces: https://typelevel.org/cats-effect/docs/tracing

When using `Console[F].printStackTrace` however, the tracing functionality is not used.

Should we use the tracing functionality for this?
Or should we provide another way to get access to those enhanced stack traces?

[2021-08-04 11:55] vasilmkd commented on #2196
We are working on it. This will be available through `IO.trace` sometime soon.

[2021-08-04 11:58] yanns commented on #2196
Thanks for the quick answer!
Duplicated of https://github.com/typelevel/cats-effect/issues/2161 then

[2021-08-04 11:59] vasilmkd commented on #2196
I'll keep it open because we can still discuss the `Console` integration.

[2021-08-04 12:21] Daenyth commented on #2196
Related; will the tracing be visible in MonadError-based handling?

A common example would be:
I want to `log.error` an exception, and the exception would be received by a logback appender, which submits the exception to a tracking service (like Sentry).

That exception needs to have the tracing info

[2021-08-04 12:36] vasilmkd commented on #2196
@Daenyth Do you know if CE2 exhibits this behavior? If yes, CE3 should already support that.

[2021-08-04 13:49] yisraelU opened #2197 "Exception thrown when using attempt"
I am on version 2.2.0
I've been playing around with essential effects repo running the code titled ParMapNErrors
[code]
running this code both from Intellij and Sbt with (ThisBuild / fork := true) multiple times resulted in some occurrences generating the following stack trace
[code]
For reference the "in debug mode..." is from a helper class
[code]

[2021-08-04 13:55] vasilmkd commented on #2197
Do you mind trying with the latest Cats Effect 2 version `2.5.2`?

[2021-08-04 14:11] yisraelU commented on #2197
will do

[2021-08-04 14:17] yisraelU commented on #2197
@vasilmkd I received the same results

[2021-08-04 14:20] vasilmkd commented on #2197
Thanks for the reproduction.

[2021-08-04 14:55] arosien commented on #2196
I'd like a method to (idempotently) add the tracing info to an exception, rather than trying to ensure all code paths have the tracing upstream.

[2021-08-04 15:20] arosien commented on #2197
I think runtime is printing the stacktrace of the loser of the race between `ko1` and `ko2`, and this has nothing to do with the use of `attempt`.

[2021-08-04 16:27] djspiewak commented on #2197
I'm almost positive that this is printing the error; the error is not being thrown past the `attempt`. This is expected behavior in the event that the loser of a `race` raises an error despite cancelation.

[2021-08-04 16:27] #2197 closed, assigned to nobody

[2021-08-04 17:08] djspiewak commented on #2195
Uh oh. I think we need a 2.5.3 and a corresponding bump in the scalafix tests.

[2021-08-04 17:39] vasilmkd commented on #2195
Yes. Unfortunately.

[2021-08-04 17:40] djspiewak commented on #2195
Okay, on it :-)

[2021-08-04 17:46] djspiewak commented on #2195
Okay 2.5.3 is now propagating. I'm not totally sure which elements of the scalafix I need to update.

[2021-08-04 17:56] vasilmkd commented on #2195
Just to be safe find/replace every `2_5_2` reference with `2_5_3`, `252` with `253`, `2.5.2` with `2.5.3` including renaming files and directories. I wish this comment that I'm typing at the moment was a joke.

We also need to amend release notes.

[2021-08-04 19:05] vasilmkd commented on #2195
Confirming that with `2.5.3`, the scalafix tests all pass properly.

[2021-08-04 20:01] Daenyth commented on #2196
I'd *really* prefer the opposite. Out of the box behavior should be maximally useful; if the best practice is "every time you handle an exception, add the trace info", then that becomes a LOT of noise and bloat for application programmers.

To the best of my experience, yes CE2 fiber traces are basically "always on". It's always just worked. Specifically the behavior I mentioned of using `onError`

[2021-08-04 21:09] arosien commented on #2196
Yeah, you're totally right.

[2021-08-05 11:41] manufacturist commented on #2117
Unfortunately I lack the time to invest into this task 😭 I've unassigned myself. If it'll still be open in the mid future, I'll be able to pick it up again.

[2021-08-05 11:42] vasilmkd commented on #2117
No worries.

[2021-08-05 15:41] armanbilge opened #2201 "Improve `sbt test` experience for JS"
- [ ] check for required dependencies (geckodriver etc.) and fail with nice error messages
- [x] auto-generate the CI command, see https://github.com/typelevel/cats-effect/pull/2191#discussion_r681273946
- [x] Add `scalafmtSbtCheck` to platform specific CIs (`ciJVM`, `ciJS` and friends)

[2021-08-05 23:14] #2195 closed, assigned to nobody

[2021-08-06 17:15] djspiewak commented on #2196
I actually think that, with the most recent changes @vasilmkd made, we don't really need this anymore. `printStackTrace` is more general than printing exceptions which involve Cats Effect traces, so I think it's better to keep it compartmentalized.

[2021-08-06 17:15] #2196 closed, assigned to nobody

[2021-08-06 17:15] #2036 closed, assigned to nobody

[2021-08-06 17:29] #1918 closed, assigned to nobody

[2021-08-08 02:31] ghostdogpr commented on #1330
Caliban interop for cats-effect 3 and http4s 0.23 was just released ✅

[2021-08-09 00:07] #2161 closed, assigned to alexandrustana

[2021-08-09 15:19] #2073 closed, assigned to nobody

[2021-08-12 19:07] rehanone opened #2220 "Loss of the ability to mock Clock in version 3"
I am currently in a process of upgrading a relatively large code base that uses Cats Effect and FS2 as building blocks for implementing many micro-service. One thing that is causing too much trouble is the changes made to Clock in the version 3. We have a large number of unit tests that mock the Clock in version 2 to control the timing and test various aspects of the code.

Now it might be my lack

[2021-08-12 21:40] djspiewak commented on #2220
Yeah this is an excellent point to raise, and I agree the current experience is highly suboptimal. One approach to this that can help, though it's extremely manual, is to bring in the **testkit** project and use `TestContext`. This *works*, but it's not the most ergonomic thing. I would like us to implement a smoother approach, more tightly integrated into the runtime, but I haven't had time to wo

[2021-08-12 21:50] vasilmkd commented on #2220
Indeed, please do not think that anyone is against it. We also think that it's a very important and welcome feature and we will support it, we just don't have a firm timeline as to when.

Staying on Cats Effect `2.x` is also fine in the foreseeable future, I'm personally taking care of bug fixes and updates for the project, of course, without any guarantees of new feature development, which only h

[2021-08-13 02:49] armanbilge opened #2225 "Cached tracing for `IO.delay` is broken in Scala 3"
As uncovered by a [discord discussion](https://discord.com/channels/632277896739946517/839263556754472990/875532566508212294) with @vasilmkd.

[Code in question](https://github.com/typelevel/cats-effect/blob/series/3.x/core/shared/src/main/scala/cats/effect/IO.scala#L932-L935):
[code]

On Scala 3, `fn.getClass` is a constant regardless of the value of `thunk`. Thus, all uses of `delay` end up with

[2021-08-13 15:19] djspiewak commented on #2220
Btw for anyone following along, a good way to help would be to add ideas here (or on the other issue if you prefer) for how you would imagine time mocking would work in CE3. The CE2 approach of just providing a new instance of `Clock` definitely isn't coming back, but imagine something more integrated into the `IORuntime`.

[2021-08-13 15:50] rehanone commented on #2220
Thanks for the feedback @djspiewak, @vasilmkd!

I have not used or looked at testkit so perhaps that is what I would do in the fullness of time. In the meanwhile, Since I have already made good progress in conversion, it feels right to just conclude this CE2 to CE3 conversion asap as getting time allocated for tech debt is hard to comeby. I am currently using a copy of the CE2 Clock and it seams t

[2021-08-13 16:06] tomverran commented on #2220
Hi, I ran into this issue today migrating to CE3 and ended up with this temporary workaround to allow tests to manipulate the global time (We're still using Scalatest currently): https://gist.github.com/tomverran/0615a73ccd2d1eaf005f348b956a9512. I'm very sure that what I've done is a bad idea though and do feel free to tell me why! :sweat_smile: I've never really touched the internals of Cats Eff

[2021-08-15 11:27] vasilmkd commented on #2032
https://github.com/sshark/text-draw

This setup seems fairly straightforward.

[2021-08-15 11:27] vasilmkd commented on #2225
Fixed in #2226.

[2021-08-15 11:27] #2225 closed, assigned to nobody

[2021-08-15 23:04] djspiewak commented on #2032
Agreed. I think this works fine.

[2021-08-15 23:04] #2032 closed, assigned to nobody

[2021-08-16 01:59] japgolly opened #2236 "`IO.fromPromise` should accept `js.Thenable`, instead of `js.Promise`"
`js.Thenable` is a super-type of `js.Promise`

[2021-08-16 06:12] vasilmkd commented on #2236
I'm not knowledgeable enough to determine if there is a specific reason why only `Promise` was implemented and not `Thenable`.

I'm a bit worried by the API docs for [`Thenable`](https://www.scala-js.org/api/scalajs-library/latest/scala/scalajs/js/Thenable.html) and [`Promise`](https://www.scala-js.org/api/scalajs-library/latest/scala/scalajs/js/Promise.html), particularly about the fact that `the

[2021-08-16 13:14] armanbilge commented on #2236
Here is the [`toFuture`](https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/js/Thenable.scala#L48-L70) implementation in Scala.js and [`fromPromise`](https://github.com/typelevel/cats-effect/blob/series/3.x/kernel/js/src/main/scala/cats/effect/kernel/AsyncPlatform.scala#L23-L40) in CE. Maybe I'm missing something, but looks like essentially the same code to me.