[2022-04-12 09:59] armanbilge commented on #2956
~Note there are two steps on site generation: mdoc and Laika, and AFAIK Laika fails on broken links. Have you found a broken link that slipped through?~

Edit: woops, wrong project :) Usually see Ben over one http4s! But, this is good reason to consider switching to sbt-typelevel-site plugin ;)

[2022-04-12 11:56] SystemFw commented on #1459
Great, I'll open a PR then :)

[2022-04-12 17:15] djspiewak commented on #1881
@iRevive Sorry for overlooking your comment here! Please feel free to jump on this!

I've already implemented the `Supervisor` side of it (mostly because I didn't catch your comment), and that's merged in `series/3.x`. I've also implemented an SPSC mode for `Dispatcher` which is in a still-open PR at #2854. The missing piece here is to extend the scope termination functionality from `Supervisor` t

[2022-04-12 17:20] iRevive commented on #1881
@djspiewak thanks for the suggestion! I will make an update soon

[2022-04-14 04:40] pakkeiC commented on #2909
Hello @armanbilge , I would like to help on this issue. I am pretty new to the project. Could you give me some guidance on how to proceed? Thanks!

[2022-04-14 04:51] armanbilge commented on #2909
Hi @pakkeiC :) that's wonderful, thank you very much and welcome!

The first goal of this issue is to add more tests for `Random` to `RandomSpec`. So far, there is only one test there:
https://github.com/typelevel/cats-effect/blob/f51d87df608cabeb781f0eb2d131236d0aa408c8/tests/shared/src/test/scala/cats/effect/std/RandomSpec.scala#L23-L30

I added that test in https://github.com/typelevel/cats-eff

[2022-04-14 04:57] pakkeiC commented on #2909
Thanks! @armanbilge It totally make sense to me. Let me get back to you when I add more method in the `RandomSpec` test

[2022-04-14 04:58] armanbilge commented on #2909
Sounds good! Feel free to open a (draft) PR whenever you have some questions or want feedback, and I'd be more than happy to help :)

[2022-04-14 16:30] djspiewak opened #2961 "`IO#unsafeRunAsync` and `unsafeRunAndForget` eat fatal errors"
What happens here is `unsafeRunFiber` sets up the fatal error callback relocation thing, but then `unsafeRunAsync` has to box the error into a `Left`. This *may* work, but even if it works, `unsafeRunAndForget` is just going to drop it on the floor and the `IORuntime` silently dies. That seems like a bad experience.

I think what should probably happen here is we should register the callback as us

[2022-04-14 20:14] margussipria opened #2962 "using timeout prints stack trace to console if effect throws exception"
[code]
does seem to work as expected, but does print exception to console
[code]

Affected cats-effect version are 3.3.8+

example project for bug https://github.com/margussipria/cats-effect-timout-bug

[2022-04-14 22:30] djspiewak commented on #2962
This is reproducible with the following unit test:

[code]

[2022-04-15 16:02] durban commented on #2962
See #2963, which fixes this specific case. However, it is still possible to do a start/join and observe a similar reporting of an error.

[2022-04-16 20:45] djspiewak commented on #2962
Leaving this open for the moment to track the `start`/`join` investigation and brainstorm. Honestly this might just be a race condition, but I can't remember exactly how that call chain comes together.

[2022-04-22 11:51] durban commented on #2962
I think it's just a race between the started fiber and `join`. If we do this:
[code]

There is a race between `something` and the `.join`. If `something` is quick enough, it may finish before `.join` is invoked. In that case `IOFiber#done` finds no callbacks, and reports the exception. Later `.join` is executed, but by then it's already too late. (`RacePair` avoids this problem by using an interna

[2022-04-25 06:58] iRevive commented on #2962
Can https://github.com/valskalla/odin/issues/364 be related to this issue?

[2022-04-25 13:21] armanbilge commented on #2962
@iRevive it looks like that issue pre-dates CE 3.3.8? This behavior is due to changes in https://github.com/typelevel/cats-effect/pull/2868.

[2022-04-26 20:06] He-Pin commented on #2381
Affinity pool is lives in akka now, super cool to see it lands in ce too

[2022-04-26 20:13] armanbilge commented on #2381
@hepin1989 I assume you mean the pool introduced in https://github.com/akka/akka/pull/23104, which pins actors to threads?

Note that the Work Stealing Thread Pool in Cats Effect provides high affinity of fibers to threads. You can read about it here:
https://typelevel.org/cats-effect/docs/thread-model#work-stealing-pool

The goal of this issue is to experiment with pinning JVM threads to physical

[2022-04-26 20:16] armanbilge commented on #2381
Oh, I'm sorry, I didn't realize that Akka is also using https://github.com/OpenHFT/Java-Thread-Affinity. Interesting :)

Edit: Nope, nevermind, seems it was removed during review of that PR in https://github.com/akka/akka/pull/23104#discussion_r123489400.

[2022-04-26 23:15] #2768 closed, assigned to nobody

[2022-04-27 04:21] armanbilge opened #2973 "High-precision time test broken on Firefox?"
Maybe a GitHub Actions software change? I can look into this first thing tomorrow.

[code]

[2022-04-27 04:46] armanbilge commented on #2973
Hmm, not consistent, just flaky.

[2022-04-30 17:25] #2973 closed, assigned to nobody

[2022-05-04 17:29] armanbilge opened #2977 "Document `cats.effect.tracing.mode`"
It's missing from our config page 😕
https://typelevel.org/cats-effect/docs/core/io-runtime-config

[2022-05-05 15:10] fernandomora commented on #2962
This bug collapsed our logging system with million of errors in the stderr. 🙈

With cats-effect 3.3.11:
[code]

With cats-effect 3.3.7:
[code]

We have reverted to cats-effect 3.3.7 until there is a new release that solves the problem.
[code]

Thanks for the report.

[2022-05-05 15:44] armanbilge commented on #2962
Sorry for your problems and thanks for the report. At this point there's been multiple complaints about this, I've opened https://github.com/typelevel/cats-effect/pull/2978 to revert it 😕 @djspiewak wdyt?

[2022-05-05 15:49] armanbilge commented on #2962
Oh, I missed the fact that https://github.com/typelevel/cats-effect/pull/2963 has not been released yet. As mentioned, that fixes a special case, but this problem could still arise in general. Still, maybe it doesn't deserve a complete revert ...

[2022-05-06 14:18] flipp5b opened #2980 "Unsafe run sync in CE3"
I'm trying to migrate my library (FP-friendly wrapper for [hbase-client](https://github.com/apache/hbase/tree/master/hbase-client)) from CE2 to CE3. Some part of the library is built on top of an impure callback-based Java API. This API has a restriction: actions inside the callbacks should be executed synchronously on a caller thread. Here you can see an interface I'm trying to implement: [Advanc

[2022-05-06 14:25] armanbilge commented on #2980
@flipp5b and I discussed this a bit on Discord. What's interesting is that the `unsafeRun` method in the snippet above is essentially what I implemented for JS in https://github.com/typelevel/cats-effect/pull/2846. So the question is whether we should make that available for JVM as well.

[2022-05-07 15:59] kpodsiad opened #2982 "Wrong async stacktrace"
### Discussed in https://github.com/typelevel/cats-effect/discussions/2981

<div type='discussions-op-text'>

<sup>Originally posted by **kpodsiad** May  7, 2022</sup>
The following snippet
[code]
produces following stacktrace
[code]
`at void @ a.Main$.run(Stacktraces.scala:13)` looks wrong to me, shouldn't it be line 14 instead?</div>

[2022-05-07 16:03] armanbilge commented on #2982
If anyone wants to fiddle with this, it would probably be in this file:
https://github.com/typelevel/cats-effect/blob/76d2602ea651a6f0035bef4f9aa506773a335c95/core/shared/src/main/scala/cats/effect/tracing/Tracing.scala

[2022-05-10 00:49] SystemFw opened #2983 "Behaviour of MonadCancelThrow[EitherT[IO, Throwable, *]]"
This issue sounds somewhat familiar, and apologies if I forgot the exact discussion, however I stumbled on it in the wild in the context of https://github.com/typelevel/fs2/pull/2895 and found it pretty confusing.

In particular:
- the behaviour of `MonadThrow` and `MonadCancelThrow` is inconsistent
- the behaviour of `MonadCancelThrow` is weird: excluding cancelation, if something short circuits

[2022-05-11 13:01] SystemFw opened #2985 "Supervisor is underpowered"
I feel like some of the internal machinery inside Supervisor would be quite useful to expose in its external interface too. The current api has the advantage of mimicking the `start` api, but it means that Supervisor is useful in fewer cases than it could. In particular, I think it would be useful to be able to cancel a specific Fiber from Supervisor, but currently to do that you have to rebuild t

[2022-05-17 03:48] rossabaker opened #2988 "Release v2.5.5 and EOL 2.x?"
I [drafted release notes](https://github.com/typelevel/cats-effect/releases/edit/untagged-430fad767ab1ced3d968).  There are a couple bugfixes there that someone cared enough to PR against 2.x.  I propose we get those fixes out there, turn off Steward on that branch, and leave it for security fixes and other tales of woe.

[2022-05-18 14:57] armanbilge opened #2989 "Cats Effect + scala-cli example"
It's annoying that we need this, but this trips everyone up, most recently @TimWSpence. We should add something to the docs demonstrating how to use CE with scala-cli by explicitly creating an `IOApp` in a `.scala` file, since stuff like `unsafeRunSync()` at the top-level of a `.sc` file will just hang.

[2022-05-18 14:58] Daenyth commented on #2989
Somebody wrote this, idk seems pretty good ;)

https://github.com/armanbilge/http4s-cli

[2022-05-19 13:22] armanbilge opened #2992 "Use `js.typeOf` checks for JS feature tests instead of try/catch"
This is my fault. I've been lazily using `Try(js.Dynamic.global....)` when I should be writing idiomatic code like this:
https://github.com/typelevel/cats-effect/blob/76d2602ea651a6f0035bef4f9aa506773a335c95/std/js/src/main/scala/cats/effect/std/JavaSecureRandom.scala#L77-L78

Today in the Discord there were reports of `ReferenceError: Can't find variable: process`.  So time to fix this.

[2022-05-19 16:54] rossabaker commented on #2988
I'm willing to turn the crank, but I've stepped back from maintenance on this project and don't know what it's going to do to the documentation.  I'd like to get it in for http4s-0.22's sendoff.

[2022-05-19 16:58] armanbilge commented on #2988
Updating the site is not an automatic part of the release process, so should be fine. In any case it hasn't been updated even for 2.5.4 anyway.
https://typelevel.org/cats-effect/docs/2.x/getting-started

[2022-05-19 18:05] rossabaker commented on #2988
Then fuck it.  I'm turning the crank.

[2022-05-19 18:15] armanbilge commented on #2988
Btw, there is no CI release here, in case that was part of turning the crank 😅

[2022-05-19 18:41] rossabaker commented on #2988
The plugin is obstinately overwriting my change to the credentials host.  I'll try again later today, but I'm on it.

[2022-05-19 18:44] armanbilge commented on #2988
Ah, shoot. Plopping in this autoplugin will help:
https://github.com/typelevel/fs2/blob/1ac0af74301cdb305115ebc6b96a75a1177bf228/project/Publish.scala

And probably good to set sbt-sonatype to 3.9.11 (3.9.12 has been broken for months ...)
https://github.com/typelevel/fs2/blob/1ac0af74301cdb305115ebc6b96a75a1177bf228/project/plugins.sbt#L10

[2022-05-19 20:33] rossabaker commented on #2988
I already tagged it, but I was able to publish changing the credential host and then running a `+clean; +publish; sonatypeBundleRelease`.

[2022-05-19 20:33] #2988 closed, assigned to nobody

[2022-05-20 13:37] armanbilge commented on #2992
So I forgot, there _was_ a reason for this besides my laziness.

https://github.com/typelevel/cats-effect/pull/2207#issuecomment-899543589

The problem is that some env-setting bundler tooling expects it to be written in full form, so laddered `undefined` checks will not work 😕

[2022-05-20 15:32] djspiewak commented on #2985
Sounds exactly like this: #1345 :-)

[2022-05-21 15:52] #2601 closed, assigned to nobody

[2022-05-21 15:54] #2950 closed, assigned to nobody

[2022-05-21 16:42] djspiewak opened #2999 "Add `tryTakeN` to `PQueue`"
This is a pretty quick change, and basically copy/paste from `Queue`'s implementation.

[2022-05-22 18:13] caiormt commented on #2999
Hi, I would like to try this one

[2022-05-23 12:30] DavidGregory084 opened #3005 "Update documentation or add an FAQ entry to note changes in the way that blocking tasks are executed"
I don't think that there is an existing issue for this, please close if there is!

Folks on Discord frequently ask why their tasks are not running on the blocking pool, e.g.

Perhaps the [existing documentation](https://typelevel.org/cats-effect/docs/thread-model#blocking) should be updated or perhaps we should add an FAQ entry to document that `IO.blocking` does not necessarily shift tasks onto t

[2022-05-23 12:39] djspiewak commented on #3005
Agreed! We really should update the documentation on this.

[2022-05-23 13:27] DavidGregory084 commented on #3005
I think the confusing thing is that it's not immediately apparent that the behaviour of `IO.blocking` has changed unless you read this part of the 3.3.2 release notes very carefully:

I presume that this means that `IO.blocking` and `IO.interruptible` have indeed been updated to receive these perfomance benefits. 😛 Is there an up-to-date summary of the new model somewhere? When is the blocking poo

[2022-05-23 17:58] vasilmkd commented on #3005
Sorry for being away for some time.

The `blocking` pool exists in all runtimes, as a backup option. If you don't use the default runtime, or create a runtime with a custom (meaning, it is not an instance of `cats.effect.unsafe.WorkStealingThreadPool`) `compute` thread pool, then all `IO.blocking`, `IO.interruptible` and `IO.interruptibleMany` calls incur a switch to and from the `blocking` pool.

[2022-05-23 18:36] DavidGregory084 commented on #3005
This is incredible detail, thanks so much for this @vasilmkd!

[2022-05-24 02:51] neko-kai opened #3006 "Using the finalizer from `createDefaultComputeThreadPool` inside IO hangs subsequent `unsafeRunSync`s even on unrelated `IORuntime`s"
The following code always hangs:
[code]
https://scastie.scala-lang.org/C5KdSm1xQOq9gkl9vrxNLQ

Note that hang reproduces if the finalizer is called inside IO, as in `IO(finalizer.apply())`, if `finalizer.apply()` is moved outside, a different error emerges on subsequent `unsafeRunSync`:

[code]

It does not seem immediately obvious whether `cpuPool` above and `IORuntime.global` are connected by gl

[2022-05-24 03:20] djspiewak commented on #3006
Wow that's absolutely fascinating. Would you mind getting a thread dump of the hang? The only global mutable state that I can think of which would connect unrelated runtimes would be mbeans. Would you mind running with `-Dcats.effect.tracing.mode=none` just to see?

[2022-05-24 03:33] neko-kai commented on #3006
@djspiewak
Well, in the thread dump the only non-VM thread is the one waiting on `unsafeRunSync`. Disabling tracing had no effect. The only other global state I can think of is the MBean setup stuff inside `createDefaultComputeThreadPool`.
[code]

[2022-05-24 03:45] djspiewak commented on #3006
Disabling tracing should have disabled the mbeans. That's really interesting. Will investigate more…

[2022-05-24 21:18] sbly commented on #2961
I'm interested in picking this up! I'll take a look and see if I'm able to figure it out on my own

[2022-05-24 21:37] djspiewak commented on #2961
Give it a shot!

[2022-05-29 12:41] martinprobson commented on #3005
I have raised a PR to add the new blocking behaviour to the faq section that also links [comprehensive detail](https://github.com/typelevel/cats-effect/issues/3005#issuecomment-1134974318)  above

[2022-05-29 18:15] djspiewak opened #3010 "Change thread name when it becomes a "blocker""
Simple thing, but when a thread transmutes into a blocking agent, we should change its name from `io-compute` to `io-blocker` or something like that. This seems to come up a lot in Discord and it's not a difficult solve. :-)

[2022-05-29 18:19] djspiewak commented on #3010
This requires a bit of introspection of the WSTP, but it's not that crazy and @vasilmkd has written us all a novella in the comments.

[2022-05-29 18:47] #2999 closed, assigned to caiormt

[2022-05-29 18:49] vasilmkd commented on #3010
Should be limited to `WorkerThread.scala`, off the top of my head, the name should be set to "blocker" in `blockOn`. It can probably be reset to "compute" in the method that transfers data structures, probably called `init` something.

[2022-05-29 20:25] #3005 closed, assigned to nobody

[2022-05-29 22:28] djspiewak commented on #2983
What's the thing overriding `handleErrorWith` in the `MonadError` derivation pathway?

[2022-05-30 16:31] SystemFw commented on #2983
[code]

In particular [this](https://github.com/typelevel/cats/blob/main/core/src/main/scala/cats/data/EitherT.scala#L1089) takes precedence over [this](https://github.com/typelevel/cats/blob/main/core/src/main/scala/cats/data/EitherT.scala#L1143)

[2022-05-30 17:53] djspiewak commented on #2983
Oh I see what's going on. This is super annoying.

So inside of `EitherTMonadCancel`, we have this:

[code]

Viewed locally, this is kind of the only thing we *could* have (more on this in a moment), since we don't know anything specific about `E0` vs `E`. The problem comes when `E0` and `E` are compatible, at which point our derivation paths diverge. Cats defaults to putting the error into the in

[2022-05-31 07:53] henricook commented on #1330
@kubukoz When you get a moment would you mind updating the table? Thanks for your work thus far

[2022-05-31 07:55] henricook commented on #1330
Hey @kubukoz - would you mind updating this table when you get a second? Thanks for your work thus far

[2022-05-31 11:22] aeons commented on #3010
I took a quick look at this, but I'm stuck on getting a test in place that can check that the thread name gets reset correctly. How can I force a thread out of "blocking mode"?

[2022-05-31 16:02] djspiewak commented on #3010
You mean for something like this? `IO.blocking(()) *> IO(Thread.currentThread().getName())`? I *think* if you toss an `IO.cede` between those two, it'll kick things back into compute.

[2022-05-31 16:29] armanbilge commented on #3010
Won't that just move the fiber back into compute? But it won't make the thread back into a compute thread.

In fact, I'm a bit fuzzy on when/if exactly that happens. If blocking threads do indeed sometimes become compute threads, it would only be because another compute thread has itself become a blocking thread. So seems that would be the way to trigger it.

[2022-05-31 16:39] djspiewak commented on #3010
I think it forces the fiber back onto a compute thread. I don't believe that threads can ever transmute back into compute agents, but I'm not 100% sure of this.

[2022-05-31 17:41] vasilmkd commented on #3010
It does move the fiber back to a compute thread (it works as if scheduled externally, because the blocking thread is no longer a part of the compute pool).

Cached threads are threads that blocked at some time in the past, but can become compute threads again, instead of spawning a new thread.

All of this is because of the signature of `blockOn` which forces you to run the blocking code synchrono

[2022-06-01 13:52] aeons commented on #3010
The `cede` was enough to kick it back to a compute thread.

[2022-06-02 13:18] Daenyth commented on #1330
circe-fs2 is released https://github.com/circe/circe-fs2/releases/tag/v0.14.0

[2022-06-04 18:21] armanbilge commented on #2284
V8 performance notes, but might be a bit dated: https://github.com/thlorenz/v8-perf

[2022-06-07 13:38] matthughes commented on #1302
@armanbilge  3.1.2 fixes the referenced problem.  It seems like scalacheck has been updated as well.  Can you summarize the current ecosystem blockers?

[2022-06-07 17:38] armanbilge commented on #1302
Ah yes, update time :)

1. Projects are now bumping straight to Scala 3.1 and dropping 3.0, so 3.1.2 is no longer special.
    - Cats will do so in https://github.com/typelevel/cats/pull/4221
    - Hopefully Cats Effect will admit the same in https://github.com/typelevel/cats-effect/pull/3017#pullrequestreview-995787930
2. We still need the following dependencies, but they should be straightforwar

[2022-06-07 18:02] JD557 commented on #1302
Just to bump my previous point that (if it doesn't make te build matrix too weird), it might also make sense to just not publish any native runtime for now (publishing just std and kernel). That would allow for libraries to start being ported and some applications could still be written, but with custom runtimes.

Maybe there could be a dummy runtime like the one proposed, but without being "the o

[2022-06-07 18:09] keynmol commented on #1302
FWIW, I agree with @JD557 and hope that CE publishes all the modules that _can_ be published without having to add any dummy implementations.

CE's typeclasses sit at the top of the hierarchy for a lot of libraries that don't exercise runtime in the **library** code, so it would be best to have all the auxillary modules published and ready to go, so that when (not if, there's _a lot_ of Highly Mot

[2022-06-07 18:20] armanbilge commented on #1302
Thanks for raising this! It's important we cross-publish Cats Effect core, because fs2 depends on it, particularly `SyncIO`. Also the `IO` runloop implements highly non-trivial logic that would be a burden to implement elsewhere.

It sucks to delegate `IO.blocking` to `IO.delay` but until Scala Native supports multi-threading this is literally the only viable implementation. Scala.js does the same

[2022-06-07 18:20] mpilquist commented on #1302
Amazing status update. :)

Note fs2-core relies on `SyncIO` (for the compiler of `Pure`, `Id`, `Fallible` streams).

[2022-06-07 19:40] armanbilge commented on #1302
Just to clarify, I'm skeptical that we will ever have an official Cats Effect runtime for Native 0.4.
- Native 0.4 is single-threaded, so we cannot natively implement this runtime.
- We can integrate with libuv or Tokio, but this requires a coordinated effort between fs2-io, http4s, ip4s, etc. etc.
- I don't think this should be libuv, due to poor support for multi-threaded compute and TLS
- Tokio

[2022-06-07 22:29] vasilmkd commented on #1302
Out of curiosity, does anyone know what would be a blocker to implementing `java.lang.Thread` on top of pthreads?

[2022-06-07 22:34] armanbilge commented on #1302
That's exactly what's been done in https://github.com/WojciechMazur/scala-native/pull/23 :) there's a lot of good stuff in that branch, worth checking out!

The real blocker for multi-threading is Garbage Collection. IIUC the Native 0.4 runtime will crash if managed memory is accessed/modified by an external thread, but I haven't tried this at all.

[2022-06-09 19:53] antunonline opened #3022 "Issue compiling code with view bounds Sync and Spawn present in the same method"
When compiling the code with Sync and Spawn view bounds I get an compiler error

[code]

The actual error is:
[code]

[2022-06-09 19:55] armanbilge commented on #3022
This is due to an ambiguity, since both `Spawn` and `Sync` extend `Functor`. The recommendation in this situation is to replace both of those instances with `Async`, like so:
[code]

Note that `Async` extends both `Spawn` and `Sync`.

[2022-06-09 19:57] antunonline commented on #3022
That was quick. Thanks!

[2022-06-09 19:57] #3022 closed, assigned to nobody

[2022-06-11 17:25] armanbilge commented on #1302
I had a very informative chat with @lolgab on the [Scala Native Discord](https://discord.gg/ZSab7XkwVE) (thank you so much 🙏 ) who was supportive of my proposal here.

https://discord.com/channels/632150470000902164/635668881951686686/985223897706266745

We agree that ideally an event loop runtime would eventually live in Scala Native core itself.

[2022-06-11 17:46] djspiewak opened #3025 "Find a way to integrate fiber dumps with test frameworks"
Probably related to #2580. It's usually much more useful to have fiber dumps during unit testing, but the current solution is baked into `IOApp`. We need to find a composable way of integrating this into the test runtimes such as munit or cats-effect-testing.

[2022-06-11 17:49] armanbilge commented on #3025
Yes. I constantly need this and end up re-writing tests as scala-cli apps.

[2022-06-11 20:15] djspiewak commented on #3025
Exactly. I still am not totally sure what form this can take but I want it quite badly

[2022-06-12 18:59] armanbilge commented on #2983
Runnable reproduction.

[code]

[2022-06-13 13:19] djspiewak opened #3029 "Nondeterministic failures in `DispatcherSpec`"
Seems to happen much more often in CI. I have yet to reproduce locally. Example output:

[code]

No indication of which test is failing. The NPE itself seems to indicate a `Skipped` with a `null` message, but I don't see how such a thing could come to exist.

[2022-06-14 19:30] zetashift opened #3030 "GraalVM native image errors out with `TypeNotPresentException` on Scala 3"
I'm trying to run a small `http4s` example with `scala-cli` and for fun I was trying to package it through GraalVM, but I'm running into an error into (what looks like) a cats-effect error.
### Steps to reproduce

If one has `scala-cli` installed, the following can be run to reproduce the error:

[code]

Code is located here: https://gist.github.com/zetashift/bdefce3d692e6a626e6bf2ecaf218f48

###

[2022-06-14 19:45] armanbilge commented on #3030
Here's a minimization. Switching to Scala 2.13.8 makes the problem go away, so it seems to be specific to the Scala 3 encoding. If further minimized might even be a dotty issue.

[code]

[2022-06-14 22:11] armanbilge opened #3031 "Emphasize programs-as-values in the documentation"
Following an extensive [discord discussion](https://discord.com/channels/632277896739946517/632278585700384799/986295968389562418), it seems we can be better at teaching the program-as-values paradigm in the Cats Effect documentation, and that this should be given priority over concurrency concepts (which presumably build on that knowledge anyway).

Personally, it hadn't really struck me until tha

[2022-06-16 03:38] #1714 closed, assigned to nobody

[2022-06-16 03:38] #1881 closed, assigned to nobody

[2022-06-16 03:39] #2933 closed, assigned to nobody

[2022-06-16 03:55] #2961 closed, assigned to sbly

[2022-06-16 15:41] mljohns89 commented on #3031
I think we should put a "Hello World" example at the very beginning of the documentation and call it "Hello Flatmap" or "Hello IO.Flatmap"

[2022-06-17 18:39] djspiewak commented on #3029
Still seeing this :-( (at least on the macOS runners)

[2022-06-17 18:56] armanbilge commented on #3029
Oh no! 😢

[2022-06-17 22:12] #2920 closed, assigned to nobody

[2022-06-18 01:58] armanbilge commented on #3029
Got another, slightly different message though. This is on ubuntu-latest.
[code]

https://github.com/typelevel/cats-effect/runs/6944865251?check_suite_focus=true#step:17:3897

[2022-06-18 18:00] armanbilge commented on #1302
@keynmol thank you so much for volunteering! To support the Cats Effect effort please port the following Java lib to Scala Native. Scala.js has them, so there's no reason Scala Native can't have them either.

- `java.lang.ThreadLocal` (including `withInitial`, which Scala.js is missing)
- `java.util.concurrent.ConcurrentMap`
- `java.util.concurrent.ConcurrentHashMap`
- `java.util.concurrent.Concur

[2022-06-18 19:52] #2771 closed, assigned to djspiewak

[2022-06-18 19:52] #2886 closed, assigned to nobody

[2022-06-18 20:13] armanbilge commented on #1302
I put up a PR against my own repo. Locally, the entire test suite is passing on Native :)

- https://github.com/armanbilge/cats-effect/pull/180

I experimented with two runtimes:

First I tried a sort of [event-loopy `ExecutionContext`](https://github.com/armanbilge/cats-effect/blob/8fe1977f014e3252e4f6430e429388f4c9cef149/core/native/src/main/scala/cats/effect/unsafe/QueueExecutorScheduler.scala)

[2022-06-18 20:34] armanbilge commented on #1302
https://s01.oss.sonatype.org/content/repositories/snapshots/com/armanbilge/cats-effect_native0.4_3/3.4-904a40b-SNAPSHOT/

Also published for 2.12 and 2.13 Native.

[2022-06-18 21:24] #2855 closed, assigned to nobody

[2022-06-18 21:45] armanbilge commented on #1302
Remaining blockers:
1. https://github.com/typelevel/cats-mtl/pull/429
2. https://github.com/typelevel/coop/pull/123
3. [missing `java.util.concurrent` APIs](https://github.com/typelevel/cats-effect/issues/1302#issuecomment-1159525054)
    - https://github.com/scala-native/scala-native/pull/2674
    - https://github.com/scala-native/scala-native/pull/2675
    - https://github.com/scala-native/scala

[2022-06-19 03:23] #2615 closed, assigned to nobody

[2022-06-19 15:58] armanbilge opened #3040 "`ciJVM` isn't enforcing scalafmt"
[code]

[2022-06-19 17:38] djspiewak commented on #2448
I'm going to take this out of 3.4.0 since it really requires a lot more thought.

The problem is that the OP is describing a mechanism for algebraically splitting effect layers. This isn't always possible, and even when it is possible, it creates some subtle commutativity issues. It's definitely not something we can solve in short order. We do have a more robust API for `Dispatcher` though in this

[2022-06-19 19:05] #3040 closed, assigned to nobody

[2022-06-19 19:06] armanbilge commented on #3029
Still getting this.

[2022-06-19 19:26] #2890 closed, assigned to nobody

[2022-06-19 19:28] djspiewak commented on #2980
So `syncStep` and `SyncIO` definitely feel like the right tools for resolving this. Just out of curiosity, is there a reason you can't be more explicit about this, by expressing the `controller.suspend()` in a `SyncIO` rather than in an `IO`?

[2022-06-19 20:41] #2444 closed, assigned to nobody

[2022-06-20 08:13] flipp5b commented on #2980
@djspiewak, I agree that `SyncIO` would probably be a better choice here. The snippet above is a simplified version. In the full version of the code, the suspension part also includes some `Ref`-based machinery. For now, it's of type `Ref[IO, T]` so the `controller.suspend()` is also expressed in `IO`. But I suppose I can use `Ref[SyncIO, T]` instead of `Ref[IO, T]` and rewrite the `onNext` method

[2022-06-23 00:50] odenzo commented on #512
I like this idea, because the (I think common?) case of having a solution space where there is one solution (or you want any valid solution). Say find a prime.

Each worker may or may not find a prime. You want to stop all workers once one succeeds. It is possible None succeed.
You may or may not have a timeout.

[2022-06-23 00:57] odenzo commented on #512
[code]
is my approach.  The cancelation is odd and would iterate down instead of blasting N cancels depending on which of the sub-Race completes.

This assumes any error in any fibre means life is bad and they all get killed and leaves done fibres which found no answers having around with an IO.never

So, I think a dedicated parCollectFirst could be implemented faster, and actually let the fibres

[2022-06-23 04:30] armanbilge commented on #2551
We can now fix this by merging https://github.com/scala-js/scala-js-macrotask-executor/pull/58 and publishing macrotask v1.1.0.

[2022-06-23 13:38] rmgk commented on #3030
Note, I had a similar issue involving https://ben.kirw.in/decline/ and cats.Applicative.F.
I do not have a minimization, but for me the issue only occurred on native image 22.1.0 (not on 22.0.0.2) so I considered it a regression in native image (which are pretty common).
All on Scala 3.1.2

[2022-06-23 13:53] armanbilge commented on #3030
I still wonder if this can be classified as a regression in Scala 3 relative to Scala 2. Specifically that the backend is emitting some bytecode Graal doesn't like. There are many backend fixes in 2 that need to be ported to 3 so this could be one of them.

[2022-06-25 18:49] #2117 closed, assigned to nobody

[2022-06-26 14:27] TonioGela opened #3051 "Unable to compile an hello world example with GraalVM native-image on any 3.3.x using `sbt-native-image`"
Hello 👋!

As per the title, I've tried compiling a dead stupid Hello World

[code]
using [sbt-native-image](https://github.com/scalameta/sbt-native-image) 0.3.1 with these configurations

[code]
and while for `CE_VERSION` in `2.5.5` to `3.2.9` I get a native executable that works flawlessly, for `CE_VERSION`s in `3.3.0` to `3.3.12` I consistently get these errors 👇

<details>
<summary>Stacktraces<

[2022-06-26 15:44] djspiewak commented on #3051
Ah this is surprising! We currently have a known issue with GraalVM Native Image and Scala 3, but this is the first I've heard of it on Scala 2. Will investigate.

[2022-06-26 16:29] TonioGela commented on #3051
I've managed to make it work, but what I found is stranger than the problem itself.

Using java 17 and native image 22.1.0 I'm able to build the native-image if and only if I use the `--no-fallback` flag. In both `sbt + sbt-native-image` and `scala-cli` cases.

So this is working:
[code]

While this is not:

[code]

The same behaviour can be obtained with scala-cli using
[code]
vs
[code]

I'm more

[2022-06-26 17:19] djspiewak commented on #3051
That is very very interesting. I was able to reproduce this locally btw, exactly as you said.

[2022-06-26 17:29] vasilmkd commented on #3051
Ok, so, first things first, support for `MethodHandles` was added in GraalVM version 21.0, so no previous release (including the default 20.2 used by `sbt-native-image`) can build Cats Effect.

[2022-06-26 18:11] vasilmkd commented on #3051
I was able to successfully build a native image using the following `build.sbt` configuration:

[code]

For the record, I installed GraalVM and `native-image` manually, and provided the config to `sbt-native-image`. I don't like when Coursier messes with my setup.

[2022-06-26 18:21] vasilmkd commented on #3051
The way the configuration file is written is indeed a bit different than ours. I think it's a good change to make.

https://www.graalvm.org/22.1/reference-manual/native-image/DynamicProxy/#manual-configuration

This config file exists in `core/jvm/src/main/resources/META-INF/native-image/org.typelevel/cats-effect/sun-misc-signal-proxy-config.json`.

It's contents are currently:
[code]

and should

[2022-06-26 18:23] armanbilge commented on #3051
I think a 3.3.13 release makes sense. The 3.4 RC is still cooking and even after released will be at least a couple weeks before a final. Meanwhile a fix for this and also https://github.com/typelevel/cats-effect/pull/3012 can land in 3.3.x.

[2022-06-26 18:23] vasilmkd commented on #3051
And I guess we need to update the docs that GraalVM 21.0 and later must be used to build Cats Effect.

[2022-06-26 18:24] vasilmkd commented on #3051
And let's please test that the changed config can be built successfully, by using a snapshot. Are we releasing snapshots on PRs?

[2022-06-26 19:17] TonioGela commented on #3051
Thanks @vasilmkd! I'll ship a PR with the syntax change and the doc change asap. Just to be sure: do I have to open a PR to `series/3.x` right?

I sincerely don't know, it will be my first PR on CE. Isn't a local publish enough to test it's working?

[2022-06-26 19:19] armanbilge commented on #3051
@TonioGela you can target your PR to `series/3.3.x` :)

[2022-06-26 19:37] djspiewak commented on #3051
We're not, but we can add a stage to the CI build on GraalVM which publishes locally and then checks that the native image build works, similar to how we try to run the example app.

[2022-06-27 07:35] TonioGela commented on #3051
@vasilmkd can I ask you more details on how you managed to make it work? I modified `sun-misc-signal-proxy-config.json` according to the syntax shown in [manual-configuration](https://www.graalvm.org/22.1/reference-manual/native-image/DynamicProxy/#manual-configuration) and I published locally but the produced jar was not useful to make the native-image build work.

A further test I did was trying

[2022-06-27 07:39] vasilmkd commented on #3051
A resource is a file that is saved in a `resources` subdirectory.

I'll run everything again, maybe I missed something.

[2022-06-27 07:43] vasilmkd commented on #3051
@TonioGela Here's my project.
[graal-reflection.zip](https://github.com/typelevel/cats-effect/files/8989644/graal-reflection.zip)

Make sure to change the path to your GraalVM directory in `build.sbt`. I just ran `sbt nativeImage`.

[2022-06-27 07:44] vasilmkd commented on #3051
This is the correct approach if you're using a file (external to the jar) somewhere on your file system.

[2022-06-27 07:45] TonioGela commented on #3051
Thanks @vasilmkd I'll try asap!

[2022-06-27 07:47] vasilmkd commented on #3051
It's possible that I'm misinterpreting results, is this stack trace hinting that a fallback will be built?

[code]

[2022-06-27 07:48] TonioGela commented on #3051
It is absolutely, where did you take it specifically?

[2022-06-27 07:49] vasilmkd commented on #3051
Just run `nativeImage`. This is not a Cats Effect issue. We don't use `scala.Enumeration` anywhere. This can also be solved, but I suspect it's Scala version specific.

[2022-06-27 07:57] vasilmkd commented on #3051
I suspect it's very difficult to create a manual reflection configuration for this method. https://github.com/scala/scala/blob/4b2151cbe4c857d49556b70c3fa0f5e236fd7754/src/library/scala/Enumeration.scala#L190-L215

We should probably open an upstream ticket.

[2022-06-27 08:00] TonioGela commented on #3051
Keeping Scala 2.13.8 and GraalVM 22.1.0 but downgrading to CE 3.2.9 doesn't seem to make the build work if not as a fallback image, so you're probably right.

I'm wondering if it's a Cats Effects, Scala or GraalVM issue.

BTW at the moment the only way to make a non fallback build work is to use CE < 3.2.9 and GraalVM < 21, do you confirm? (or using `--no-fallback`)

[2022-06-27 08:06] TonioGela commented on #3051
To whom? `sbt-native-image` usually brings in the reflection config needed to make a vanilla Scala app compile with GraalVM. I can't figure out if it's a scala version specific issue tbh.

[2022-06-27 08:07] vasilmkd commented on #3051
No. I don't see a way to create _any_ Scala native-image without `--no-fallback` strictly because of this stack trace:

[code]

I got this stack trace with Cats Effect 3.2.9.

The only difference that Cats Effect 3.3.x makes is that it adds support for using POSIX signals to dump fiber trace information to stdout. The way this is implemented is using MethodHandles, which _require_ GraalVM 21.0 or

[2022-06-27 08:11] vasilmkd commented on #3051
I just removed Cats Effect from the project and trying to build the following `HelloWorld.scala`:
[code]

GraalVM 22.1.0, Scala 2.13.8, native image still uses fallback, with the same stack trace.

[code]

This is because of the following method https://github.com/scala/scala/blob/v2.13.8/src/library/scala/Enumeration.scala#L190-L215.

I don't think that a static configuration can be created for t

[2022-06-27 08:11] TonioGela commented on #3051
Damn, I get the same stacktrace even without CE, just with a plain scala Hello world using `graalvm-java11 22.1.0`. Both using `sbt-native-image` both using `scala-cli`.

It seems Scala related.

EDIT. @vasilmkd we posted at the same time, I got the same results.

[2022-06-27 17:40] #3010 closed, assigned to nobody

[2022-06-27 23:35] armanbilge commented on #1302
PR is up:
- https://github.com/typelevel/cats-effect/pull/3057

[2022-06-28 17:26] #3051 closed, assigned to vasilmkd

[2022-06-29 19:41] armanbilge commented on #1302
Based on my PR, a very small demo of async I/O: https://github.com/armanbilge/epollcat

[2022-06-30 04:38] armanbilge commented on #2983
So I tried doing the fix as described in https://github.com/typelevel/cats-effect/issues/2983#issuecomment-1141381332 but quickly ran into law failures in https://github.com/typelevel/cats-effect/pull/3028. Then I tried various other things without success.

My current feeling is it's not possible to fix this by introducing another implementation of `MonadCancel` for `EitherT`; we already have the

[2022-06-30 15:17] #2551 closed, assigned to nobody

[2022-07-02 13:40] TonioGela commented on #2989
There's the [FAQ](https://typelevel.org/cats-effect/docs/faq#scala-cli) section of the documentation that contains an example. Is it worth extracting in its own subsection? And maybe adding a section that shows the usage of decline-effect + CE to write a command-line tool. What do you think?

[2022-07-04 20:38] msiegenthaler opened #3073 "Application locks up and fiber dumps don't work anymore"
My application completely locks up after some time of running fine. Symtopms:
* Nothing gets processed anymore
* Fiber dumps (kill -USR1 <pid>) give an error (see below)
* Thread dump shows no io-compute threads anymore, only the io-scheduler is still there. Also no io-compute-blocker
* Nothing shown on the application log - I have a Resource around everything that logs on termination

The applica

[2022-07-04 21:13] djspiewak commented on #3073
I think I know what might be causing this.

So `interruptibleMany` spams interruption in a loop, specifically to circumvent scenarios where someone is catching and swallowing `InterruptibleException`. Unfortunately, exactly such a situation arises in the implementation of `interruptible` itself. We catch and swallow the exception, then shut off the interruption loop in the ensuing `finally` block.

[2022-07-04 21:15] msiegenthaler commented on #3073
can confirm `blocking` and `interruptible` do not have the issue

[2022-07-04 21:46] msiegenthaler commented on #3073
https://github.com/msiegenthaler/cats-effect-3073-isolation does trigger it

[2022-07-04 22:47] djspiewak opened #3075 "Break up some of the busy-waits in `interruptibleImpl`"
The busy waits are necessary, but `while` loops wrapped in `IO.apply` are definitely not ideal. We can do a bit better by threading the looping through the monadic context, which should improve the granularity of tasks on the pool. This is almost certainly a minor issue in practice (if it's an issue at all) since the busy waits should be *very* short.

[2022-07-04 22:50] djspiewak opened #3076 "Handle `ClosedByInterruptException` in `interruptible`"
Minor loophole, but this is something we don't handle correctly today. The exception should be treated the same as an `InterruptedException`, if I understand correctly.

[2022-07-06 19:02] VzxPLnHqr opened #3077 "`IO.readLine.timeoutTo(...)` not cancelling the `readLine` after timeout."
This might be related to the decision made here regarding `readLine` https://github.com/typelevel/cats-effect/issues/1793

In the following simple program, the expected behavior (I think?) is that it should still terminate after the timeout, since a default value has been supplied. However, instead it seems to hang waiting for something to be input by the user (only to ignore it later). I am not s

[2022-07-06 19:45] armanbilge commented on #3077
Ah, thanks for linking to https://github.com/typelevel/cats-effect/issues/1793, I wasn't aware of that issue. Indeed it seems like `IO.readLine` is not always cancelable, for reasons outside of our control.

This can be observed in many ways: here, by `timeoutTo` hanging since it is awaiting cancelation of an uncancelable op.

We do have a `timeoutAndForget` combinator that wouldn't hang, but it w

[2022-07-06 20:07] VzxPLnHqr commented on #3077
Thanks. I can confirm that the following "works" properly but then starts doing weird things on subsequent calls to `readLine` as you said:
[code]

[2022-07-06 20:11] armanbilge commented on #3077
Thanks for giving that a try! Yeah, I wouldn't recommend it anyway due to the whole leaking-a-thread thing.

I'm afraid this is a can't-fix on our end. If the JDK did support interruption here it would work as expected, I wonder if its worth filing a bug report with OpenJDK or something.

[2022-07-06 20:17] VzxPLnHqr commented on #3077
Yeah, I am not deeply familiar with the jdk itself. It seems like this should be a pretty common use-case though....a console app that expects some input but if it is not supplied after a certain time it moves on with a sensible default. I have not yet looked at how any scala libraries for building console apps handle it.

[2022-07-06 20:30] VzxPLnHqr commented on #3077
fs2 seems to have the same problem:
[code]

[2022-07-06 20:50] armanbilge commented on #3077
@VzxPLnHqr so here's something, just winging it here without the compiler:

[code]

The idea is you make a `betterReadLine` once at the beginning of your program, and use that everywhere else. It will require at most one blocking thread and have non-hanging cancellation without causing problems for subsequent `betterReadLine` ops.

It may still hang on program termination, which is annoying.

@djs

[2022-07-06 23:13] VzxPLnHqr commented on #3077
@armanbilge thanks. This is an interesting approach and may suffice in the interim for me.

[2022-07-07 14:33] seigert opened #3079 "`Resource[F, A]#memoize` releases right after first use"
Scastie link: https://scastie.scala-lang.org/wxfOvT64RDSGkjRfeAqWgA

Memoized resource allocates just before the first use (as expected), but releases right after it neither holding resource until 'memo release' nor allocating anew before second usage:

[code]

Cats-Effect 3.3.13, Scala 2.13.8

[2022-07-07 15:58] djspiewak commented on #3079
Okay @SystemFw, you can say I told you so. 😛

This is a known issue. Or rather, it's actually defined this way in general. The problem is that this definition of memoize follows directly from the definition of scoping in Resource itself. It isn't really "solvable" per se.

The long and short of the problem is the use of `use`. There isn't a good way for that function to work in these kinds of cont

[2022-07-07 16:53] armanbilge commented on #3079
Yeah, why is that? Seems straightforward enough to override the implementation to do the right thing, I tried this in https://github.com/typelevel/cats-effect/pull/3080.

[2022-07-07 16:56] armanbilge commented on #3079
Ah, this issue looks like a dupe of https://github.com/typelevel/cats-effect/issues/1620.

[2022-07-07 17:09] armanbilge commented on #1620
I'm not sure. I feel like whether `Concurrent[Resource]` makes sense is being conflated with whether `memoize` can be implemented generically.

I don't remember seeing laws for `memoize`, but it seems like some could be written in terms of `Ref`. Namely, that the effect in question is run at most once, since that is what `memoize` is fundamentally about AFAICT.

So long as it is possible for `Reso

[2022-07-07 17:17] seigert commented on #3079
@djspiewak, I'm not sure I follow. :( `Resource#use` scaladoc contains requirement "The resource is released as soon as the resulting `F[B]` is completed, whether normally or as a raised error", but it could be interpreted as 'the actual holder of resource is the memo, and internal resource is just a shallow copy of it'. This way `use` of memo need to release actual resource, but 'inner' resources

[2022-07-07 17:26] vasilmkd commented on #3077
I'm not opposed to deprecating `readLine`.

[2022-07-07 17:27] seigert commented on #3079
I mean, for every `val r: Resource[F, A]` I can do `val memoR = r.map(a => Resource.eval(R.pure(a)))` and it seems to me it would be equivalent to `memoize` in everything but lazy allocation (edit: the same as `fa.map(a => F.pure(a))` is equivalent of `fa.memoize` in everything but lazy evaluation).

And if we have `def foo(r: Resource[F, A): F[B] = ???` we actually have no means to guarantee that

[2022-07-08 13:15] don41382 opened #3083 "IO.blocking doesn't run on a io-blocking thread"
I have a simple cats app, which calls `IO.blocking` for a blocking task. When I inspect it with visualvm, I see that it is actually running on a `io-compute-x`. Am I missing something? Should it be on a thread named `io-blocking-x`:

[code]

I am using Cats-Effect 3.3.12

[2022-07-08 13:24] armanbilge commented on #3083
Yes, this is expected due to an optimization. See this FAQ (unfortunately it got merged to the wrong branch so is not live on the website 😕 ).
https://github.com/typelevel/cats-effect/blob/e618a7760130b73783e9223ac4951ef15fe08472/docs/faq.md#blocking-behaviour

Although note that as of 3.3.13 the name should change thanks to this PR:
- https://github.com/typelevel/cats-effect/pull/3012

[2022-07-08 13:30] don41382 commented on #3083
Thanks for the fast response. And yes, the `io-compute` was strangely behaving like a blocking one.  Now I know why ...

But having different names makes debugging much easier. Let's wait for 3.3.13 :-)

[2022-07-08 13:30] #3083 closed, assigned to nobody

[2022-07-08 13:31] armanbilge commented on #3083
@don41382 https://github.com/typelevel/cats-effect/releases/tag/v3.3.13 😉

[2022-07-08 16:55] djspiewak commented on #3077
I think the problem is that everyone wants to use it for their first hello world. It's actually literally in our "Try it now!" snippet. I definitely don't mind clarifying that it's very dangerous in non-trivial apps, but outright deprecating it seems dicy.

[2022-07-08 17:03] armanbilge commented on #3077
I mean ... how many methods in Cats Effect fall into this category? The fact that we're shipping a footgun among a bunch of production-robust methods seems much more dicey to me.

[2022-07-09 15:11] armanbilge opened #3085 "Quash more unhandled errors"
Specifically the solution proposed in https://github.com/typelevel/cats-effect/pull/2978#issuecomment-1133449561. I don't think we did that yet.

[2022-07-09 20:09] #2536 closed, assigned to nobody

[2022-07-10 09:41] lavrov opened #3086 "Racing Resource causes exception to be printed in standard error"
Reproduction script (scala-cli):
[code]
Running `scala-cli run main.scala` gives the following output:
[code]
where exception stacktrace comes from standard error.

[2022-07-10 09:44] armanbilge commented on #3086
Thanks for reporting. I think this may be related to https://github.com/typelevel/cats-effect/issues/2962 and https://github.com/typelevel/cats-effect/issues/3085.

[2022-07-10 16:59] djspiewak opened #3087 "Consider an `Async` utility to encapsulate double-check registration"
A relatively common pattern in lock-free structures is something like the following:

1. Check a condition. If true, then return a value
2. Register a callback for when the condition becomes true
3. Check condition again. If true, unregister the callback and return the value
4. If false, asynchronously suspend

The problem with doing this using `async`/`async_` is there are two race conditions her

[2022-07-12 14:52] ChristopherDavenport opened #3094 "Error Building Native Image on 3.3.13"
Building results in the following error.

[code]

[2022-07-12 14:53] armanbilge commented on #3094
Chris didn't include it here but this is the config he pasted on Discord:
[code]

[2022-07-12 14:55] armanbilge commented on #3094
Ok, confirmed to work in 3.3.12. So it's a regression due to https://github.com/typelevel/cats-effect/pull/3053. Probably we mucked up the format. Annoying but we probably want to build an image in CI to avoid these sorts of errors...

[2022-07-12 14:55] ChristopherDavenport commented on #3094
I rolled back to 3.3.12 and it did not hit this issue, meaning the likely culprit is https://github.com/typelevel/cats-effect/pull/3053

[2022-07-12 16:12] vasilmkd commented on #3094
Damn it, it's literally written as in the website. 😡

[2022-07-12 16:12] VzxPLnHqr commented on #3077
just chiming back in here quickly. @armanbilge I never quite got your little `betterReadLine` snippet to work (but admittedly, I did not have time to try very hard). However, the more I think about it, it does seem to make sense, from a use-case standpoint, to somehow abstract `readLine` out like that.

New users (whether to Scala or to cats-effect), need something like `readLine` to "just work" f

[2022-07-12 16:16] VzxPLnHqr commented on #3077
Also, for some context, what I actually ended up doing was basically making some helper methods like these:
[code]
This did not solve the original issue presented here at all, but from a practical standpoint at least allowed me to just hit enter to accept the default value and thereby quickly progress through what might otherwise be a tedious manual testing process.

[2022-07-12 16:28] armanbilge commented on #3077
@VzxPLnHqr sorry about that! I took 5 minutes to run it through a compiler, here's a working example that demonstrates timeouts and that `betterReadLine` still works a second time, even if its cancelled.

[code]

[2022-07-12 16:39] armanbilge commented on #3077
@VzxPLnHqr thanks again for your feedback ... would you mind qualifying what "just work" means for you? E.g. is the current `readLine` acceptable and (assuming we can't fix it) do you still think we should keep it as-is or deprecate it? Appreciate your input!

[2022-07-12 17:23] VzxPLnHqr commented on #3077
In this context, it means, to me at least, that if `readLine` is presented to me as an effect which is interruptable/cancellable like any other similar effect, then it should behave as so. But, in this circumstance, it seems there is an issue outside of `cats-effect` control which is causing the inconsistency.

Playing around with @armanbilge 's workaround solution there (thanks again!), it did at

[2022-07-12 23:24] vasilmkd commented on #3094
I was able to build a native image using `cats-effect` `3.3.14` using GraalVM 22.1.0. The config is correct. It could be the case that it only works with latest GraalVM. Sorry about that. I guess #3053 should be reverted.

[2022-07-13 03:09] djspiewak commented on #3094
Can GraalVM 22.1.0 build a native image using 3.3.12? I would rather bias in favor of more recent versions.

[2022-07-13 05:59] armanbilge commented on #3030
So there was a very similar issue reported and fixed in dotty:
- https://github.com/lampepfl/dotty/issues/15091
- https://github.com/lampepfl/dotty/pull/15093

That fix first shipped in 3.2.0-RC1. Unfortunately, it doesn't seem to fix my minimization above 😕

[2022-07-13 13:50] arixmkii commented on #3094
There is another issue with native image. Reported in:
https://github.com/oracle/graal/issues/4530
https://github.com/lampepfl/dotty/issues/15091

This is fixed in Scala 3.2.0-RC1, but I have to rebuild CE libraries locally to have it working.

At least it hints, that if you want to test native image - you should test both Scala 2 and Scala 3 separately, which looks really unfortunate.

Should I o

[2022-07-13 13:51] armanbilge commented on #3094
@arixmkii thanks for chiming in, see https://github.com/typelevel/cats-effect/issues/3030#issuecomment-1182798741.

[2022-07-13 14:03] arixmkii commented on #3030
Do you mean it didn't work with released version of Scala and cats-effect? Something like
[code]

For me to fix it I had to first rebuild cats-effect snapshot using Scala 3.2.0-RC1 (as the issue is in bytecode of the library).

[2022-07-13 14:05] armanbilge commented on #3030
Oh, right! D'oh, that makes sense 😄 thanks!

[2022-07-14 13:26] vladislavsheludchenkov opened #3100 "IO.race doesn't propagate winner's IOLocal context"
We're using IOLocal for trace id propagation. It worked for us perfectly as expected when dealing just with IO instances. However, currently we can't use IOLocal magic with fs2 streams, due to them using IO.race to handle interruptions.

Here's a cats-effect example:

[code]

Scastie for this code snippet: https://scastie.scala-lang.org/jshavzY0STWiAESgLgTqHg

Wrapping `IOLocal.set` statement in `

[2022-07-14 13:39] armanbilge commented on #3100
Thanks for reporting. Currently this is by-design.

We also encountered this when investigating tracing for `Stream`s. See
- https://github.com/typelevel/fs2/issues/2842

See also some discussion on more sophisticated semantics for `IOLocal`s.
- https://github.com/typelevel/cats-effect/pull/1393#discussion_r571985239

[2022-07-14 14:03] vladislavsheludchenkov commented on #3100
So it's a "can't fix" from fs2 side and "won't fix" from cats-effect side? That's sad, IOLocals are amazing when they work properly.

But I didn't see a discussion about race semantics in the initial merge request, which is not exactly the same as fork/join. Since `racePair` is already handled within `IOFiber#runLoop`, it looks like `localState` may be handled there as well. It will introduce some

[2022-07-14 15:44] vladislavsheludchenkov commented on #3100
I've taken a closer look on a `racePair`, and it looks like it's also used for situations where there is no clear winner (e.g. `both`), so always propagating `localState` there is not an option, as it'll make these situations a lot more confusing.

So it's a bit more complexity than I expected initially, but we can still reimplement `race` and `raceOutcome` so they preserve `localState` somehow, b

[2022-07-16 15:08] djspiewak commented on #3100
So the general solution that was envisioned for this when we decided the local semantics is actually IOLocalRef, which ironically wasn't implemented at the time because no one could come up with a practical scenario where it was needed. Fast forward a bit and this is actually the first time I've heard of this interaction with Fs2! Whoops.

The problem in general with IOLocal itself having special

[2022-07-16 16:20] armanbilge commented on #3100
This is the first I heard about `IOLocalRef` :) what exactly are its semantics? It sounds a lot like putting a `Ref` inside an `IOLocal` which I'm not sure would work for tracing.

[2022-07-16 19:49] djspiewak commented on #3100
@armanbilge That's exactly what it was proposed to be. Like I said, we never actually implemented it. :-) But basically, it was intended to be `Local`'s API, but with a `Ref` inside of it and an explicit `fork` (or something) operator. This would give you the ability to share state arbitrarily around fibers.

[2022-07-17 18:49] #3075 closed, assigned to nobody

[2022-07-17 18:56] #3079 closed, assigned to nobody

[2022-07-19 23:29] satorg opened #3111 "Resource#race: late looser release"
Consider a snippet:
[code]
When I run it, I may get the following output:
[code]

* **Expected** behavior:
only a winner resource is kept until the end of the `use` block.
* **Actual** behavior:
some of looser resources may be kept (not every time though but quite often) until the end of the `use` block along with the winner one.
* Build info:
  - Scala: 2.13.8
  - Cats Effect: 3.3.14
* System pro

[2022-07-20 16:30] djspiewak commented on #3111
This surprises me immensely. I have the same expectation as you do.

[2022-07-20 22:34] durban commented on #3111
I think this is related to this comment on `Resource#start`:
[code]

It seems that `.cancel` can indeed lose the race (and it does for H, E and A in the example), and so they are not finalized eagerly. Unless I'm misunderstanding something, the "finalize naturally when the containing scope ends" part means exactly what is observed in the example. (I have no idea what is the reason for this behavio

[2022-07-21 10:11] DavidGregory084 commented on #3077
I wonder if it would be sufficient to check `in.available() > 0` before calling `in.read()` in [SyncConsole](https://github.com/typelevel/cats-effect/blob/series/3.x/std/shared/src/main/scala/cats/effect/std/ConsoleCrossPlatform.scala#L194=)? That should at least tell us whether `read()` will block.

[2022-07-21 14:01] armanbilge commented on #3077
@DavidGregory084 I was thinking along those lines too, except what should we do in the case when `available() == 0`? If we block, we run into the same problem. Instead we could `IO.cede` and loop, effectively busy-waiting. But at least cancelable.

[2022-07-21 14:53] DavidGregory084 commented on #3077
[code]

I'm tempted to put :trollface: but I think it actually would work? It would throw an IOException if `System.in` was closed and it should be able to be interrupted. On Java 9+ we could put a `Thread.onSpinWait` inside the loop.

[2022-07-23 04:25] armanbilge commented on #1302
Cross-linking to the FS2 ticket. I did some preliminary investigations to see what Scala Native is missing to support FS2 and wrote a summary.
- https://github.com/typelevel/fs2/issues/2319#issuecomment-1193056569

[2022-07-31 07:50] floating-cat opened #3118 "The `factorial` sample code in the Thread Model documentation is a little misleading"
Page: https://typelevel.org/cats-effect/docs/thread-model#fibers
Documentation parts:

[code]

The documentation says the above code won't yield control of the CPU which is not true.
In CE3 with the above code sample, there is no need to insert the fairness boundary with `IO.cede` because the CE3 will insert an `IO.cede` every fixed number of iterations of the runloop mentioned in the [later docum

[2022-07-31 11:46] floating-cat opened #3119 "The "Only Once" sample code in the Deferred documentation is outdated"
Page: https://typelevel.org/cats-effect/docs/std/deferred#only-once
Parts:

[code]

As far as I know, the latter one calls the `complete` and it would just return false wrapped in `F` and there is no error throws and it seems the code doesn't need to use the  `.attempt.void` there too.
Looks like this documentation is incorrect here.
From my checking, the CE2's `complete` [raise an error](https://

[2022-08-15 08:15] blondacz opened #3125 "WorkStealingThreadPool#shutdown interrupts a calling thread"
`WorkStealingThreadPool#shutdown` interrupts a calling thread by calling `Thread.currentThread().interrupt()` as a last call in the method.

This might not be an issue if the main class is an `IOApp` but when called outside of it, It sets an interrupted flag of the calling thread which might not be desirable as the pool does not own it.
The interrupt for instance wakes up any latches later on.

[2022-08-15 08:16] armanbilge commented on #3125
The change was made in https://github.com/typelevel/cats-effect/commit/a7f3c97b64edffab1fa8ee527d303606a6a6028d as part of https://github.com/typelevel/cats-effect/pull/1764. Perhaps @vasilmkd can shed some light?

[2022-08-21 22:06] armanbilge commented on #1302
After extensive bootlegging, I've published a fully async, non-blocking http4s-curl client.

https://github.com/http4s/http4s-curl

[2022-08-25 17:05] inanme opened #3131 "Dispatcher.unsafeToFuture reporting errors"
CE3/Dispatcher/Future/Exceptions.

I have some `IO`s and convert them Futures (Enforced by Play) using `Dispatcher.unsafeToFuture`. In certain cases I raise errors using `IO.raiseError` to be handled in the unsafe region. The issue is that I see unwanted stacktraces in the console for these potentially expected errors printed by CE runtime(`WorkStealingThreadPool`) as they are rightfully considere

[2022-08-25 17:06] armanbilge commented on #3131
Thanks for the report. What is your version of Cats Effect?

[2022-08-25 17:09] inanme commented on #3131
Thanks for looking at this, it is `3.3.14`.

[2022-08-25 17:40] armanbilge commented on #3131
As a workaround you can do something like this:

[code]

This is most likely due to https://github.com/typelevel/cats-effect/pull/2868. I'm not sure if this should count as an unhandled error, since it is being reported to the `Future` and thus should be handled there. It seems like we should be able to fix this.

[2022-08-26 14:11] armanbilge commented on #3111
That comment seems to have been added/updated in:
- https://github.com/typelevel/cats-effect/pull/1733

[2022-08-27 21:59] armanbilge commented on #3031
More extensive discussions today 😅

---

Priority may be too strong here. @BalmungSan suggests (paraphrased in my own words) that starting from the main page we should be explicit about:
1. the value of `IO` for practical, concurrent programming
2. that using `IO` successfully will involve adopting the mindset of the programs-as-values paradigm

Furthermore, the "Concepts" page would benefit from

[2022-08-27 22:12] armanbilge opened #3132 "Tutorial demonstrating how to structure programs"
This is related to https://github.com/typelevel/cats-effect/issues/3031, since sharing state and composing resources is tangled with understanding programs-as-values :)

@davesmith00000 for example points to the [documentation for `Queue`](https://typelevel.org/cats-effect/docs/std/queue): it doesn't do a bad job demonstrating how to make a `Queue` and how to use it. But figuring out how to work i

[2022-08-27 22:25] armanbilge opened #3133 "A little more `IO` and a little less `F[_]`"
I think we've all converged on the idea that beginners should definitely start with concrete `IO`. And that there's no harm in continuing to use concrete `IO` indefinitely; indeed many teams are doing this.

So this is all well and good. Except our docs are full of stuff like this:

https://github.com/typelevel/cats-effect/blob/3da61a59438da30f9bb01192fec9e690aacc3ce4/std/jvm/src/main/scala/cats/e

[2022-08-28 00:45] armanbilge commented on #3031
One more thought about this: programs-as-values is not _entirely_ foreign. IIUC a lambda is a sort of program-as-a-value, and any sort of streaming framework where you build-up/express a compute graph/flow before executing it is also a program-as-a-value. These sorts of APIs are very common and frequently mixed with impure code.

So perhaps the challenge with Cats Effect is that we essentially dic

[2022-08-29 06:27] iRevive commented on #3133
I can work on this one

[2022-08-29 16:28] BalmungSan commented on #3133
On a similar but wider note, what do folks think about having additional type alias / wrappers / subtypes of common data types specific to `IO`; e.g. `ResourceIO`, `RefIO`, `FiberIO`, etc _(better naming welcome)_?
If many people think this would be a good idea, we could also do the same for `fs2.Stream` and `http4s.HttpRoutes`

[2022-08-29 16:32] armanbilge commented on #3133
@BalmungSan you mean like these? :)
https://github.com/typelevel/cats-effect/blob/27307cfe6cd9ea3cb230a8f9be5e16f624a914cd/core/shared/src/main/scala/cats/effect/package.scala#L72-L74

[2022-08-29 17:29] BalmungSan commented on #3133
After a little chat with @armanbilge we came to the realization that the type alias is not enough and probably hurtful in the long run. And having wrappers / subtypes or other alternatives may lead to a lot of work from the maintainers with little reward.
So, we both concluded that indeed the best is just to improve the docs to use more concrete `IO` as a default _(it could be good to still preser

[2022-08-30 20:34] nullhappens commented on #1459
@SystemFw I just recently [made a contribution](https://github.com/cb372/cats-retry/pull/410) that adds one of the examples in the docs as a convenience for a RetryPolicy that is fairly common to use.  Hope this makes it either into cats-retry or the next milestone of CE.  Thanks for your hard work!

[2022-08-30 20:57] SystemFw commented on #1459
I guess an official update is needed on this work as well. I've struggled with motivation for months trying to get the api to be slightly smaller (to have the appropriate footprint for CE), but I think I've finally hit a turning point, hopefully this isn't far away from completion. I'll try to include the example as well :)

[2022-08-30 21:36] nlchar commented on #2930
@armanbilge may I work on it as my first contribution to CE?

[2022-08-30 21:43] vasilmkd commented on #2930
Go for it!

[2022-08-31 09:17] SystemFw commented on #3132
I think we need a standalone section incorporating some of the concepts in my "State in Pure FP" talk, i.e. regions-of-sharing, `F[Thing[F]]` and passing stateful things in. We could then refer to it in the docs of all the stateful stuff (`Queue`, `Semaphore`, `Ref`)

[2022-09-02 21:44] rossabaker commented on #3133
I should keep my mouth shut because I don't have time right now to stay and defend my position, but for posterity: I dissent from the first statement because I vigorously dissent from the second.

[2022-09-05 00:29] armanbilge commented on #1459
For anyone following along here: draft PR is up and seeking feedback :)
- https://github.com/typelevel/cats-effect/pull/3135

[2022-09-05 22:37] nlchar opened #3137 "Revise CE2 docs and transfer some of its contents into CE3"
There are some docs on CE2 that are not transferred into the CE3 section that are good and not actually related to CE2 only. So, it might be a good idea to revise these and do the transfer.

[2022-09-11 17:59] armanbilge opened #3140 "Custom `IOApp#runtime` is not installed as `IORuntime.global`"
The scaladoc specifically says that `IOApp#runtime` is guaranteed to be equal to `IORuntime.global`.

https://github.com/typelevel/cats-effect/blob/3da61a59438da30f9bb01192fec9e690aacc3ce4/core/jvm/src/main/scala/cats/effect/IOApp.scala#L157-L159

However, if `runtime` is overridden by the user, then it will _not_ be installed as the global `IORuntime`.

https://github.com/typelevel/cats-effect/bl

[2022-09-13 00:47] armanbilge commented on #1302
Probably the final update on this issue in https://github.com/typelevel/cats-effect/pull/3138#issuecomment-1242470003.

**tl;dr** we have a viable ecosystem on Cats Effect Native, including http4s ember and skunk, and plenty more to follow. So I am ready to begin publishing this stuff :)

[2022-09-13 15:11] armanbilge opened #3142 "Add `Mutex` to cats-effect-std"
Following a [Discord tutorial on mutex](https://discord.com/channels/632277896739946517/632278585700384799/1019252614589841449) by Fabio :)

The interface would be:
[code]

And it can be implemented in terms of a semaphore with a single permit.

Ok, more ideas incoming 😛  with this in place we can get a `MutexRef[F[_], A]` which enables effectual modification:
[code]

[2022-09-14 23:05] armanbilge commented on #1302
Back-published as 3.3.14.

https://repo1.maven.org/maven2/org/typelevel/cats-effect_native0.4_2.12/3.3.14/
https://repo1.maven.org/maven2/org/typelevel/cats-effect_native0.4_2.13/3.3.14/
https://repo1.maven.org/maven2/org/typelevel/cats-effect_native0.4_3/3.3.14/

[2022-09-14 23:05] #1302 closed, assigned to nobody

[2022-09-16 06:35] iRevive opened #3146 "Scala Native. Document platform limitations"
I'm experimenting with Scala Native and cats-effect. @armanbilge thank you for your work to make it possible!

~TLDR: `unsafeRunSync()` is missing~
The Scala Native platform has limitations, for example, the runtime is single-threaded. It would be nice to document that.

**scala-cli**: 0.1.12
**Scala**: 3.2.0, 3.1.3
**CE**: 3.1.3
**Scala Native**: 0.4.7

The snippet:
[code]

`compile` and `run` co

[2022-09-16 06:39] armanbilge commented on #3146
I'm afraid `unsafeRunSync()` is simply not possible :) like Scala.js, the Scala Native runtime is currently single-threaded (due to limitations of Scala Native itself).

`unsafeRunSync()` is implemented by blocking the current thread while the `IO` is run on other threads in the compute pool. With only one thread this simply is not an option.

[2022-09-16 06:47] iRevive commented on #3146
Makes sense to me. Is it worth mentioning this somewhere in the documentation? I can add a paragraph

[2022-09-16 06:51] armanbilge commented on #3146
Good point. This is applicable to JavaScript as well. Do you think it may make a good FAQ?

https://typelevel.org/cats-effect/docs/faq

I also thought of this page, which should be updated for Native.

https://typelevel.org/cats-effect/docs/schedulers

If you open a PR, please target the `series/3.3.x` branch. Thanks! :)

[2022-09-17 17:47] ronanM opened #3148 "[Performance] Implement IO `redeem()` and `redeemWith()` without Either allocation ?"
Implement `IO` `redeem()` and `redeemWith()` _"directly"_ without `Either` allocation (via `attempt`).

Actual:
[code]

[2022-09-17 20:28] keynmol opened #3149 "`ioMain` annotation for blazing fast getting started experience (Scala 3.2+)"
How'd you like them buzzwords.

Scala 3.2 added an experimental support for custom `@main` annotations, see here: https://dotty.epfl.ch/docs/reference/experimental/main-annotation.html#

It would be excellent to experiment with a `@ioMain` annotation (or even `@io`?) in Cats Effect or any auxiliary project.

I went ahead and wrote a demonstrator to hwet your appetite:

[code]

Run this program wit

[2022-09-17 20:34] samspills commented on #3133
Hi hello 👋🏻 I just merged #3134, which added IO examples alongside the `F[_]` examples in a couple of places and was set to resolve this issue. That said, reading through this conversation it seems like there are still open actions? For that reason I'm going to reopen the issue (but please do feel free to close if these are already addressed or would be better addressed independently)

The actions

[2022-09-17 21:17] durban commented on #3076
This probably should be closed, since #3110 have been merged.

[2022-09-17 21:30] armanbilge commented on #3076
Thanks! Stupid Github 😝

[2022-09-17 21:30] #3076 closed, assigned to nobody

[2022-09-18 17:56] #3125 closed, assigned to nobody

[2022-09-19 06:59] #3118 closed, assigned to nobody

[2022-09-19 07:03] #3119 closed, assigned to nobody

[2022-09-19 07:12] djspiewak commented on #3149
This is great! I would bikeshed a bit on the annotation itself (the camel case looks super ugly to me), but I love the concept and it absolutely scratches the buzzword itch.

[2022-09-19 07:14] djspiewak commented on #3148
This definitely seems worth doing! I vaguely remember us looking at this a while back though and discovering the `attempt` implementation was actually the fastest route, but it was like two years ago. We already have `RedeemBenchmark`, so this should be a relatively straightforward experiment!

[2022-09-19 07:16] djspiewak commented on #3140
Oh, this seems like a code bug to me. Should be fixed.

[2022-09-19 07:59] djspiewak opened #3151 "Allow configuration of unhandled fiber error messages"
This has proven to be quite annoying, and while the annoyance is probably healthy in some sense, it's also very annoying in a lot of common frameworks (notably, Ember). The easiest and most direct fix, particularly prior to 3.4, is to introduce a system property which makes it possible for users to disable this globally.

[2022-09-19 08:05] djspiewak opened #3152 "Add a combinator which eats unhandled errors"
Ultimately this would need to be added in Cats as well as in Cats Effect, but we can start here with `IO`. The motivating use-case is when someone has a fiber with the following sort of definition:

[code]

If `fa` produces an error, that error will be correctly shifted into the `Deferred` and (presumably) handled, but this indirect process is invisible to Cats Effect, and thus it will consider an

[2022-09-19 10:03] keynmol commented on #3149
Yep, name is not great - `@iomain` IMO will be closer to the default `@main` annotation on Scala 3. I would also consider `@runit`, `@ioapp`, `@innit`, `@dunnit`

If CE was on Scala 3.2.0, then we could've just put the annotation in CE and iterate aggressively on it - it cannot be used anywhere outside of experimental scope, so it's a conscious decision by the users to use something that can break

[2022-09-19 11:12] armanbilge commented on #3149
I think we should add this to 3.4.0 and not worry about bincompat.

The whole point of bincompat is for _libraries_. Libraries typically don't have `main`s in them, and woe be upon the libraries that decided to use an experimental annotation to implement main methods that then somehow get involved in a diamond dependency downstream.

[2022-09-19 18:55] djspiewak commented on #3149
What about `@IO.main`?

[2022-09-19 19:39] keynmol commented on #3149
I like it.

Taking it further - `@IOApp.main`? To stick with `IOApp` being the thing hosting all methods of actually launching nuclear rockets

[2022-09-19 19:40] armanbilge commented on #3149
Then should it be `@IOApp.run` ?

[2022-09-19 19:45] keynmol commented on #3149
It's like Daniel knew that people would have opinions on names for things!
Never seen this before... incredible powers of prediction

[2022-09-19 19:46] keynmol commented on #3149
I'd stick with `main` name tbh, to match as close as possible the naming on the Scala 3 side.
Supports the argument of "hey, just add `IOApp.` to the annotation on your main method, wrap it in IO and boom - you've got yourself a pure FP thing"

[2022-09-19 19:57] #3140 closed, assigned to nobody

[2022-09-19 20:18] djspiewak commented on #3149
I don't mind this, though I had another idea, which was `cats.effect.main`. Counter-point on the `IOApp` idea: isn't `IOApp` just an implementation detail of `IO`? Where are new users more likely to look?

[2022-09-19 20:19] armanbilge commented on #3149
This might be dangerous with a `import cats.effect.*` at the top ... oh wait you condemn that 😛

[2022-09-20 05:57] armanbilge commented on #3146
The live website should sync in the next ~24 hours.

[2022-09-20 05:57] #3146 closed, assigned to nobody

[2022-09-20 21:06] djspiewak commented on #1585
I think we're probably in good shape here. If anything, our error reporting has become *too* prolific.

[2022-09-22 11:47] keynmol commented on #3149
top-level cats-effect (+std) import is the only way to live.

After thinking long and hard, I think I like `IO.main` the best.

[2022-09-22 19:50] rossabaker commented on #3133
Thanks to @samspills for the action items.  I think duplicating the examples without offering more guidance only muddies the waters.

To contribute effectively at all layers of the current Cats Effect ecosystem -- applications and libraries -- one needs a grounding in both type classes machinery _and_ `IO`.  We can start in concrete IO, but the newcomer still encounters polymorphic signatures in t

[2022-09-22 20:01] ChristopherDavenport commented on #3133
I use my polymorphism a lot. I argue heavily that we should **NOT** give up using the style.

It is immensely useful in regards to the skill ceiling of the language, while in my opinion not meaningfully increasing the skill floor if you just treat the F as IO as was mentioned.

[2022-09-22 20:03] morgen-peschke commented on #3133
This reminds me of how the standard collections library documentation was prior to the rewrite, and at least for me, it never really helped.

[2022-09-22 20:48] iRevive commented on #3133
My 2 cents. Even if my target effect is `IO` I use `F[_]` in the vast majority of my projects. The major benefit is that I can switch to a different effect **any** time. Am I using `Ask` in a new module? No problem, let's switch from `IO` to `Kleisli[IO, A, _]` at any moment.

I prefer using specific constraints, for example, function `def summary[F[_]: Functor]` requires `Functor`, while `def fin

[2022-09-23 10:56] SystemFw commented on #3133
I've changed my stance on this and, in the context of my company, I recommend using concrete `IO`, paired with some guidelines around interfaces to avoid `IO(...)` everywhere.

I've found two issues with explaining code using `F[_]`.
1) The first is that the idea you need to harp on is that you have these datatypes that compose, rather than side-effects that execute, and it's harder to see that wh

[2022-09-23 13:28] BalmungSan commented on #3133
My two cents.

1. Nobody is suggesting that the libraries ecosystem should embrace concrete `IO`; I did propose having some kind of alias or something to help users of concrete `IO` but quickly realized that it was more bad than good. Thus, I rather proposed having a FAQ about it _(more about that later)_.
2. We should accept that applications being written using a concrete data type is not just a

[2022-09-24 07:48] ronanM commented on #2762
With this code
[code]

I always have two questions:
1. What is the acceptable limit for `computeWithLotOfCpuAndMemory()` ?
2. When the limit is exceeded which operator use (`delay()`, `blocking()`, new one `compute()`) ?

[2022-09-24 10:01] djspiewak commented on #2762
@ronanM Fundamentally, there is no easy way to answer that question. Unfortunately. If there were, then we would make a combinator which does it for you!

The reason there's no easy approach here mostly stems from the fact that it's highly dependent on your scenario. The shortest possible answer to your question is to first try to break `computeWithLotOfCpuAndMemory(a)` into multiple steps, each o

[2022-09-24 10:03] #3142 closed, assigned to nobody

[2022-09-24 10:06] #1585 closed, assigned to nobody

[2022-09-24 10:21] He-Pin commented on #2762
Just use fs2 and mapAsync I think.

[2022-09-24 12:03] ronanM commented on #2762
:+1:
So, as a rule of thumb, can I say that :point_down: ?
- _"Small pieces of effects should also be combined together when the pure computation is not trivial (not only in case of side-effects)."_

[2022-09-24 20:28] #3151 closed, assigned to djspiewak

[2022-09-25 02:12] armanbilge opened #3167 "Tracing for Scala Native"
Like, serious bounty for whoever figures this out 😛 cause I'm getting hella annoyed trying to debug stack traces like this:

[code]

The lack of line numbers hurts too, but Anton is already working on that with his LSPs 💪

In all honesty I have not really investigated this. The important pieces are:
1. Some strategy for uniquely identifying lambdas. On the JVM we use its class, on JS its source co

[2022-09-25 09:25] djspiewak commented on #3167
Poking @WojciechMazur for async thoughts.

[2022-09-26 11:06] djspiewak commented on #2983
I think @armanbilge has convinced me that this is fundamental. I think the best we can do is probably swap the precedence order in Cats (which is arbitrarily for the *outer* rather than the *inner*) to make this type of thing less jarring. In theory this would fix `EitherT[IO, Throwable, *]` at the cost of breaking a hypothetical `IOT[Either[Throwable, *], *]`. However, the latter type is impossib

[2022-09-26 13:46] armanbilge opened #3169 "Run the `IOAppSpec` on Native"
Another one I punted from my original PR.

In principle this is quite straightforward: we can re-use the existing technique of actually running the spec on the JVM but pointing it at either a JVM / JS / Native executable.

Because you cannot select a main method at runtime like JVM, it will also need to copy the JS technique of having a special `main` that emulates this behavior to choose from the

[2022-09-27 10:17] WojciechMazur commented on #3167
In most cases, lambdas are represented as an anonymous class, however, their naming is stable only within a single compilation unit - changing the order of their definition changes their name (within Scala compiler).

Example of invocation in nir:
[code]
In general for gathering positions we use [libunwind](https://www.nongnu.org/libunwind/). It traverses the call chain of the current thread and a

[2022-09-27 11:58] armanbilge commented on #3167
Thanks for that! I will have to digest that a bit.

This sounds really interesting. If we can get the information we want without having to create an entire stack trace then that will be a big win for performance I think.

[2022-09-27 12:02] djspiewak commented on #3167
This does all sound promising, though just to reiterate quickly so we don't get lost in the details of *how* we implemented this on the JVM, what we need are two things:

- The ability to get the source information for the caller of the current function
- The ability to *very efficiently* introspect a function value into a cache key such that all closures instantiated from that same lambda will sh

[2022-09-27 15:22] #2767 closed, assigned to nobody

[2022-09-27 15:22] #3030 closed, assigned to nobody

[2022-09-29 00:23] samspills commented on #3133
I volunteered myself and @valencik to attempt to write some more documentation about this! I think there's _a lot_ to potentially cover here, and I think both the concrete `IO` and abstract `F[_]` approaches are reasonable given different constraints. To scope down a bit, we were just going to focus on a slightly tweaked idea of the second action item in my comment above.

The current proposed pla

[2022-09-29 18:46] djspiewak opened #3181 "Specialize primitive `Ref`s during construction"
If we check `getClass` on the initial value passed to the constructor, we should be able to sort out whether it's actually a primitive ref, and then use `AtomicInteger`/`AtomicLong`/`AtomicBoolean`/etc instead. Once we do *that*, we can further specialize operations like `update` since `Function1` is specialized on primitives, meaning that we can get fully unboxed `Ref` operations in the normal ca

[2022-10-03 23:37] durban commented on #3181
I might misunderstood this, but then if I do this:

[code]

it will try to store a `String` in an `AtomicInteger`, doesn't it?

[2022-10-03 23:48] djspiewak opened #3187 "MPSC race condition in `Queue`"
[code]

The weirdest bit is this hangs both with the `Concurrent` version and the new `Async` one.

[2022-10-04 01:05] djspiewak commented on #3181
This is a good point. Subtyping ruins lives. I wonder if there's a sneaky way we can avoid this?

[2022-10-04 01:07] armanbilge commented on #3181
Why don't we just do overloads, the good old-fashioned way?

We can implement it directly on `Concurrent` with a default implementation that delegates to the reference based implementation. But on implementations we control we can actually return an `AtomicInteger`-backed ref.

[2022-10-04 01:08] mpilquist commented on #3181
Or an alternative that takes a class tag constraint.

[2022-10-04 15:24] djspiewak commented on #3181
I really like this tbh. The `ClassTag` also works but actually doesn't work *as well* since the overload allows us to avoid the boxing even in the constructor.

[2022-10-05 00:02] m50d opened #3191 "Kamon traces aren't connected for 3.4.0-RC1"
This is probably not really an "issue" on the cats side since Kamon is using AOP joinpoints in the cats-effect internals, but reporting here for completeness: we recently put together an implementation for propagating kamon tracing spans through cats-effect IO https://github.com/kamon-io/Kamon/pull/1196 and this does not work under 3.4.0-RC1, presumably because of changes to the `IOFiber` internal

[2022-10-05 00:11] armanbilge commented on #3191
I don't know what AOP is, but here's the `IOFiber` diff.
https://github.com/typelevel/cats-effect/compare/v3.3.14...v3.4.0-RC1#diff-dae47b1f42daf4824416a2d89b3f610f460a6af01d2c974e924de13f4279e85a

[2022-10-05 00:12] armanbilge commented on #3191
If you need to narrow it down, maybe you can try bisecting?

[2022-10-05 00:13] m50d commented on #3191
Sure - hopefully it'll be something simple/obvious when I get a chance to look in detail, just wanted to flag it up early.

[2022-10-05 14:18] durban commented on #3187
I think the deadlock in this test is due to `offerer` not being `replicateA_`'d. At least this version seems to work:

[code]

[2022-10-06 20:36] djspiewak commented on #3187
Oooooooh associativity

[2022-10-07 16:31] djspiewak commented on #3187
Confirming that the test is just incorrect. Nuts.

[2022-10-07 16:31] #3187 closed, assigned to djspiewak

[2022-10-09 00:11] djspiewak commented on #3191
My guess is that this should be pretty easy to update. Taking a quick glance at the join points, it actually surprises me a bit that this broke in 3.4.

[2022-10-10 03:18] He-Pin commented on #1580
I think this is really needed. I was fired an issue https://github.com/reactor/reactor-core/issues/2965 and switch to Akka just because of this.

[2022-10-10 03:20] armanbilge commented on #1580
@He-Pin see the following discussions regarding plans for 3.5.0:
- https://github.com/typelevel/cats-effect/discussions/3101
- https://github.com/typelevel/cats-effect/discussions/3070

[2022-10-10 23:00] durban opened #3199 "Incorrect Async scaladoc"
I think the `Async` scaladoc contains incorrect information since #3002 was merged. I've already commented on that PR about this issue, but the problem is basically that (contrary to its scaladoc) `async_` does _not_ return an uncancelable effect (and I don't think it's intended to, i.e., the scaladoc is mistaken):

[code]

And similary for `async` when it returns `None`. (The note about `async` b

[2022-10-10 23:04] armanbilge commented on #3199
I've been confused about this before. For some reason I was under the impression that `async_` returns an uncancelable effect, but I recently realized it returns a cancelable effect with no finalizer.

Edit: fwiw, at least to me it really seemed like it should be uncancelable by default unless explicitly made cancelable.

[2022-10-11 09:51] gatear opened #3201 "IOApp hangs in Databricks 10.4LTS"
**The issue** a simple IOApp executes all required code but then hangs indefinitely on `3.3.14`.
[code]

The issue is somehow fixed on `3.4-4c07d83` where first time it runs successfully. The second run it hangs and I also get:
[code]

For context on CE2 there were no such issues.
Now I assume it could be related to the way the lifetime of Spark containers is managed in Databricks, the shutdown ho

[2022-10-11 14:02] armanbilge commented on #3201
It looks like it's not actually shutting down the JVM but instead re-invoking `main`. That's why you are getting the warning about the global runtime already being initialized: initializing the global runtime one of the first steps in `main`, and can only be initialized exactly once.

[2022-10-11 16:22] djspiewak commented on #3201
So I haven't used Databricks except for Spark jobs and notebooks… is this type of `main` runnable app usage common on the platform? In order to make this work, `IOApp` would need to detect Databricks specifically and behave differently. That's not without precedent (we detect sbt, for example), but we would need a way to test and maintain that.

[2022-10-12 09:19] gatear commented on #3201
@armanbilge initially on `3.3.14` it was hanging from the first main call and afterwards on `3.4-4c07d83` I was experimenting in Databricks notebooks. In a notebook the JVM will never stop after running a cell with an IOApp. Re-running a cell means re-invoking main here.

So by design an IOApp shouldn't be re-runnable in such a context?

@djspiewak I've used initially jar jobs (you need to specify

[2022-10-12 11:01] TimWSpence commented on #3199
Oh really? I thought basically everything was "cancelable by default"? The only exception I can think of is `Resource` acquisition, where it's just too likely to lead to bugs if people aren't very careful

[2022-10-12 12:37] iRevive opened #3203 "AbstractMethodError exception in `IOApp` in 3.4.0-RC2"
It seems that any class that extends IOApp from 3.3.x has this issue.

CE: **3.4.0-RC2**
Scala: **2.13.8**, **3.2.0**

The snippet:
[code]

Execution:
[code]

[2022-10-12 13:05] SystemFw commented on #3199
There's a subtler point at play here as well. You can think of `async` as being "callback registration" + "waiting for callback to fire", `async_` and `async` both offer cancelation* of the "waiting", with the latter also giving you the ability to attach a finaliser.
*The issue here is one of cancelation vs interruption, for lack of better terminology. Both let you "disconnect", but you cannot als

[2022-10-12 13:37] armanbilge commented on #3203
Thanks for the report. Looks like we broke bincompat on Scala 3.

[2022-10-12 13:39] armanbilge commented on #3203
Looks like someone was very naughty 😛
https://github.com/typelevel/cats-effect/blob/f847eb82c68bbc33e98ac13246943d99fb344f4d/build.sbt#L554-L558

[2022-10-12 13:45] armanbilge commented on #3199
Yes, this. It feels very strange to me that you can cancel an async effect and move on without actually interrupting it. This seems very wrong, and as far as I know is the only place where these concepts are disconnected: everywhere else, cancellation means the fiber is interrupted and there is backpressure until it has done so.

[2022-10-12 13:54] armanbilge commented on #3201
I don't think `IOApp` is the right thing to use for notebooks. Instead you should use `IO#unsafeRun*` with `IORuntime.global`. A notebook is effectively a REPL.

@gatear it was not clear to me from your comment: do you have this issue when using jar jobs as well? That seems like a more serious issue in my opinion.

[2022-10-12 15:01] gatear commented on #3201
@armanbilge I see you're right a notebook is effectively a REPL however jar jobs can be configured with a job cluster (dedicated compute and JVM initialised for that particular job run) or an all-purpose one (which wouldn't necessarily shutdown after the job run and could actually try to run the jar job multiple times)

I will test if a jar job hangs the second time it runs on the same all-purpose

[2022-10-12 15:11] djspiewak commented on #3201
This definitely seems like the one where `IOApp` would need to do some environment detection. Let's see though.

Just to confirm, I agree with @armanbilge here. In a notebook, you should just `import cats.effect.unsafe.implicits._` and call `unsafeRunSync()` on your `IO`s. It's moderately ugly, but in a notebook context, `IOApp` isn't actually *doing* anything for you. You can't trigger fiber dump

[2022-10-12 16:23] djspiewak commented on #3203
🥺👉👈

[2022-10-12 17:21] ivantopo commented on #3191
Indeed, it is a simple update. Just a tiny change on the number of arguments in IOFiber's constructor. We got it covered :muscle:

[2022-10-12 17:49] SystemFw commented on #3199
Honestly, I see where you're coming from (in my previous message I hadn't realised you meant `async_` specifically). The semantics of `async_` are not that weird in the Java world, but definitely inconsistent with the way cats-effect works in general. The question is which one is more confusing, and I don't have a great answer to that.

[2022-10-12 18:48] armanbilge commented on #3199
It's a question, but I'm not sure if it is _the_ question 😛 I think my main observations are:

1. the backpressure-on-cancelation semantic is already confusing e.g.
    - https://github.com/typelevel/cats-effect/discussions/1979
    - https://github.com/typelevel/cats-effect/discussions/3190

2. if I've got an `IO[Whatever]` that does some I/O, then I expect the model to abstract me from whether i

[2022-10-12 19:31] #3203 closed, assigned to nobody

[2022-10-12 19:38] djspiewak commented on #3199
This is a really interesting point. When I originally wrote `async_`, I was thinking of it more like `flatMap`, which is just… cancelable. But it's not really the same, since there is always some other thing that is holding the callback which is now pointing to a canceled fiber that hasn't been GC'd.

You can extend this argument further though, since even when you provide a finalizer using `async

[2022-10-12 19:50] armanbilge commented on #3199
Sure, but IMHO that's only because of bullshit APIs in-between. My work on fs2-io_uring convinces me that if we start from the primitives we can do this [Right™](https://github.com/armanbilge/fs2-io_uring/blob/2d7df694371cb0fa0fdd33e8966b72274106f8d7/uring/src/main/scala/fs2/io/uring/Uring.scala#L35-L78).

In any case, regardless of what most people may do, I'm staring at this.
https://github.com/

[2022-10-12 19:53] SystemFw commented on #3199
I think historically, `async_` comes from older cats-effect and Monix, i.e. Alex's previously held opinion that backpressuring on finalisers is not a good idea (or at least not a good default)

[2022-10-12 19:55] SystemFw commented on #3199
Rereading the whole thread though, I think I actually agree with Arman

[2022-10-12 20:49] djspiewak commented on #3199
Does anybody have any good intuition about what would happen if we just… flipped the switch? Specifically, making `async_` uncancelable.

[2022-10-12 20:53] armanbilge commented on #3199
If you think the `Queue` changes needed an RC, this _definitely_ would need one. I'd be surprised if I haven't depended on this behavior in various places. For example fixing https://github.com/typelevel/fs2/pull/2968 broke http4s which was actually another FS2 bug in https://github.com/typelevel/fs2/pull/2972,

[2022-10-12 21:00] djspiewak commented on #3199
Oh this would *definitely* need a dedicated RC cycle and a lot of communication. It's out for 3.4. Also just playing around with it quickly on a branch, it breaks Cats Effect itself. Probably just a bunch of bad assumptions in a few places, but it's illustrative that even in CE itself we are leaning on this semantic.

[2022-10-14 09:29] gatear commented on #3201
Ok so I can confirm the following on  `cats-effect 3.4-4c07d83`
- a JAR job using an all-purpose cluster will only run the first time; the 2nd run it hangs indefinitely
- a JAR job using a job cluster will run multiple times with no issue as each run creates a new cluster

So I guess we can agree here the way to fix this is with specific platform support for Databricks?
If yes I would like to look

[2022-10-15 14:54] djspiewak commented on #3201
I think it is indeed worth doing the platform specific Databricks detection and support for JAR jobs. Here's what I'm thinking:

1. Let's do the thing you suggest with the environment variables. Help on this would be immensely appreciated! The ideal thing is if we can also set up some sort of automated test for it in CI, but I understand that's going to be dodgy
2. We need a new documentation page

[2022-10-17 08:30] gatear commented on #3201
Ok I'll start a PR fixing this issue

[2022-10-26 18:28] djspiewak commented on #3191
Given that kamon-io/Kamon#1214 is now merged, I think we can close this issue!

[2022-10-26 18:28] #3191 closed, assigned to nobody

[2022-10-26 19:40] djspiewak opened #3216 "`WorkerThreadNameSpec` is sometimes flaky in CI"
[code]

[2022-10-26 19:44] armanbilge commented on #3216
https://github.com/typelevel/cats-effect/blob/1c6d348ff33beabc86bcec44c4ff0b0933bf5890/tests/jvm/src/test/scala/cats/effect/unsafe/WorkerThreadNameSpec.scala#L70-L73

[2022-10-26 19:45] armanbilge commented on #3216
Actually, I'm not sure if this is testing a valid thing. I thought that @vasilmkd said somewhere that a blocking thread never rejoins the compute pool 🤔

[2022-10-26 19:59] armanbilge commented on #3216
Ah nevermind, I had an incorrect recollection of this comment.

https://github.com/typelevel/cats-effect/pull/3012#discussion_r887038768

[2022-10-27 07:09] aeons commented on #3216
I created #3217 to maybe help figuring out which part it is that fails.

[2022-10-29 19:08] djspiewak commented on #3148
This was a cool idea! It looks like it doesn't make a huge difference though, and the impact on *other* operations is meaningful enough that it isn't worth it.

[2022-10-29 19:08] #3148 closed, assigned to nobody

[2022-10-29 19:24] djspiewak commented on #2537
This is actually done in 3.4.0

[2022-10-29 19:24] #2537 closed, assigned to nobody

[2022-10-29 19:26] djspiewak commented on #1620
Arman went and fixed this because that's what he does

[2022-10-29 19:26] #1620 closed, assigned to nobody

[2022-10-29 19:28] #368 closed

[2022-10-29 19:28] #418 closed

[2022-10-29 19:28] #579 closed

[2022-10-29 19:28] #582 closed

[2022-10-29 19:28] #585 closed

[2022-10-29 19:28] #619 closed

[2022-10-29 19:28] #663 closed

[2022-10-29 19:28] #699 closed

[2022-10-29 19:28] #745 closed

[2022-10-29 19:28] #755 closed

[2022-10-29 19:28] #802 closed

[2022-10-29 19:28] #823 closed

[2022-10-29 19:28] #878 closed

[2022-10-29 19:28] #880 closed

[2022-10-29 19:28] #893 closed

[2022-10-29 19:28] #907 closed

[2022-10-29 19:28] #1161 closed, assigned to nobody

[2022-10-29 19:28] #1293 closed, assigned to kubukoz

[2022-10-29 19:28] #1386 closed, assigned to nobody

[2022-10-29 19:28] #1504 closed, assigned to nobody

[2022-10-29 19:28] #1592 closed, assigned to nobody

[2022-10-29 19:28] #1594 closed, assigned to nobody

[2022-10-29 19:28] #1765 closed, assigned to nobody

[2022-11-06 02:56] armanbilge commented on #3094
I guess we can close this.
- https://github.com/typelevel/cats-effect/pull/3097.

[2022-11-06 02:56] #3094 closed, assigned to nobody

[2022-11-06 02:58] armanbilge commented on #3029
Haven't seen this for a while. I think we're good.

[2022-11-06 02:58] #3029 closed, assigned to nobody

[2022-11-06 03:30] armanbilge commented on #3111
After staring at this a bit I have a feeling it's like https://github.com/typelevel/cats-effect/issues/1620#issuecomment-1177947475. I don't think there's anything fundamentally _wrong_ going on here per se, this is just another example of a method which has more than one lawful implementation and that we'll need to override the default implementation to get the particular semantics we want.

[2022-11-07 04:33] armanbilge commented on #2684
Regretfully I've started shaving this yak. I am frustrated I cannot benchmark some of my recent Scala.js performance PRs. And I expect further frustration when we start to explore Native-specific optimizations.

https://github.com/armanbilge/scala-jmh

Let's see if it pans out. 😩

[2022-11-14 10:30] iRevive opened #3249 "Update `Standard Library` section"
There are a few missing and outdated pages in the [Standard Library](https://typelevel.org/cats-effect/docs/std/countdown-latch) section on the site.

Missing:
- [x] AtomicCell
- [x] Backpressure
- [x] Console
- [x] Env
- [x] MapRef
- [x] Mutex

Outdated:
- [x] Supervisor - `await` strategy is not described

[2022-11-14 10:30] iRevive commented on #3249
I will add some pages over the week.

[2022-11-14 15:51] djspiewak commented on #3249
This would be great thank you!

On a broader note, we should probably be stricter about ensuring that standard library additions also add their corresponding documentation page, so it doesn't drift like this in future.

[2022-11-14 17:34] #3087 closed, assigned to nobody

[2022-11-17 08:02] wjoel commented on #3201
It might be worth checking Azure Synapse, Apache Zeppelin, and other Spark notebook environments to see if they run into similar problems. It might not be that specific to only Databricks.

[2022-11-18 15:04] etspaceman opened #3268 "Failed to register Cats Effect CPU starvation MBean"
Some of our projects seem to be running into a non-deterministic error with Cats Effect 3.4.1:

[code]

[2022-11-18 15:06] armanbilge commented on #3268
Huh, I thought we fixed this in https://github.com/typelevel/cats-effect/pull/3243.

[2022-11-19 06:25] iRevive opened #3270 "Make runtime metrics publicly available"
As discussed on Discord, having a public interface that provides access to the runtime metrics would be nice.

Who would benefit:
- Third-party libraries. E.g., https://github.com/typelevel/otel4s
- Users with established monitoring tools (Prometheus, Datadog, OpenTelemetry)

[2022-11-19 06:26] iRevive commented on #3270
I can work on this one.

[2022-11-20 00:45] djspiewak commented on #3270
Am very much in favor!

[2022-11-20 01:45] djspiewak opened #3271 "Specialize `Deferred` for `IO` to use `CallbackStack`"
The `get` function on `Deferred` relies on notifying listeners of the fulfillment of a write-once memory slot. This is startlingly similar to the implementation of `join` in `IOFiber`, except that `IOFiber` uses a dramatically more optimized data structure than what we find in `Deferred`. In theory, it should be possible for us experiment with overriding `Concurrent[IO].deferred` with a custom imp

[2022-11-20 04:16] armanbilge commented on #3271
Is there a reason we can't / shouldn't move `CallbackStack` into `cats-effect-kernel` and use it in the default `Deferred` implementation?

[2022-11-20 06:51] djspiewak commented on #3271
It increases the public API unnecessarily. There isn't really any benefit to it in most cases, anyway, since the construction always indirects through the typeclass anyway, so we can ensure this always applies for IO.

[2022-11-24 23:50] chenharryhua opened #3279 "AtomicCell issue"
code: (version 3.4.1)
https://scastie.scala-lang.org/vU5FLiLoRQqwp4ZgGw02TQ

difference between cell and cell2 is I add a dummy IO(()).
cell output 1 which is not what I expect.
cell2 output 3 which looks good.
[code]

[2022-11-25 00:19] armanbilge commented on #3279
Thanks for the report. This is a bug because of an unsuspended access:
https://github.com/typelevel/cats-effect/blob/3c27ad9fe5ac5387b332491da41651c1459b65c8/std/shared/src/main/scala/cats/effect/std/AtomicCell.scala#L171

That should be wrapped in `F.delay(...)`.

[2022-11-25 00:36] chenharryhua commented on #3279
Thank you. so quick.

[2022-11-25 20:46] armanbilge opened #3283 ""Only Once" example hangs"
Example from https://typelevel.org/cats-effect/docs/std/deferred#only-once

This is a regression since 3.3.14. It seems to run the first time, and then hang after for all subsequent invocations.

[code]

[2022-11-25 22:29] armanbilge commented on #3283
Seems to be specific to Scala 3.

[2022-11-25 22:43] mbesida commented on #3283
@armanbilge some pecularities how scala 3 is compiled to bytecode? Because even compiled jar started with `java -jar` reproduces this

[2022-11-25 23:04] armanbilge commented on #3283
I just reproduced with 3.3.12 🤔  edit: and 3.3.14. So maybe it's not a regression.

[2022-11-26 02:42] armanbilge commented on #3283
So after more investigation, I think I've traced this as far back as CE 3.2.1. This must be some sort of a race condition since it's tricky to reproduce: I tested each version by executing the program on loop until it hangs, often taking several minutes. So far I have not seen it hang with CE 3.2.0. I have also never seen it hang with Scala 2.13.

This is the exact code I last reproduced with.
<de

[2022-11-26 05:16] armanbilge commented on #3283
One more datapoint: assuming it is Scala 3 specific, the issue is not with the published artifacts, but something about the code itself. It still hangs even when using the 2.13 Cats Effect artifacts with the Scala 3 compiler.

[code]

[2022-11-26 22:48] djspiewak commented on #2381
Fwiw, I think we have fairly solid evidence at this point that dynamic soft pinning behaves a lot better, particularly since the JIT and GC will always wander around and contend us away from things.

[2022-11-26 22:48] #2381 closed, assigned to nobody

[2022-11-26 22:49] #1210 closed, assigned to nobody

[2022-11-26 22:49] djspiewak commented on #1210
We have `TestControl` pretty well documented at this point.

[2022-11-26 22:50] djspiewak commented on #1085
Fwiw, we are now doing exactly this.

[2022-11-26 22:50] #1085 closed, assigned to nobody

[2022-11-26 22:50] djspiewak commented on #1057
For posterity, @vasilmkd has done some experimentation on this branch: https://github.com/vasilmkd/cats-effect/tree/loom

[2022-11-27 09:15] vasilmkd commented on #1057
To avoid setting high expectations, the branch that Daniel has linked to above is a very stupid implementation where every "schedule a fiber on a thread pool" operation (including resuming from async points, not just when starting new fibers) is executed on a _new_ virtual thread, which has huge overhead.

There is no 1:1 mapping between fibers and virtual threads on that branch, like a real Loom

[2022-11-27 20:06] djspiewak opened #3288 "Blocked worker thread detector"
Vert.x does something a bit like this.

The starvation detector added by @TimWSpence does a really good job of detecting when the compute runtime is starving for *some* reason, but that reason could be anything from poor task granularity to hard-blocked threads and anything in between, and there simply is not enough information to take action. There is no way to drive to a root cause, much less a

[2022-11-28 09:46] TimWSpence commented on #3288
@djspiewak You assume that the problem isn't just excessive GC and nobody noticed 😅 Hpyothetically peaking of course 😉 I can have a go at this if people want? It would be super useful for us as we wrap a load of Java libraries for various things and its not always obvious when they block

[2022-11-28 15:41] djspiewak commented on #3288
Go for it!

[2022-11-28 23:12] durban commented on #3283
This is interesting :-)

The important part is this:
[code]

I think what happens is that:

1. Let's say `attemptCompletion(1)` is faster, changes the contents of the `AtomicReference`.
2. `attemptCompletion(2)` runs on another thread, sees the completed state of the `Deferred`, so it succeeds with a `false` result, and _wins the `race`_.
3. `attemptCompletion(1)` is cancelled (because it lost the

[2022-11-28 23:19] djspiewak commented on #3283
@durban Wow… Stunning work. `complete` does indeed need to be uncancelable. You wanna PR so you get the credit? Otherwise I have it up right now. Mad kudos on the diagnosis.

[2022-11-29 00:06] durban commented on #3283
@djspiewak Thank you for the kind words. I've created #3290.

[2022-11-29 11:33] SystemFw commented on #3283
I've generally defaulted to making the whole "write path" of things (which tend to complete deferreds) uncancelable, but given that the cost of nested uncancelables is low, having `complete` be uncancelable sounds like a better default

[2022-11-29 16:39] #3283 closed, assigned to nobody

[2022-11-29 16:39] #3279 closed, assigned to nobody

[2022-11-30 18:46] sbuzzard opened #3295 "functions used by the CE scalaJS version of the scheduler realTime values are flaky in recent versions of Chrome"
In recent versions of Chrome (not sure how far back but definitely 107.0.5304.121 on Mac), the functions used here [SchedulerCompanionPlatform](https://github.com/typelevel/cats-effect/blob/series/3.x/core/js/src/main/scala/cats/effect/unsafe/SchedulerCompanionPlatform.scala#L67) - specifically, the `performance.pointOrigin + performance.now` calls - return stale times under certain circumstances.

[2022-11-30 18:55] armanbilge commented on #3295
This is what the value of `performance.timeOrigin` generally is. So if that's the value you are getting, it suggests that `performance.now()` is returning 0, would you be able to check that?

Also, how long before you observe this behavior?

[2022-11-30 19:02] matthughes commented on #3295
<img width="614" alt="Cursor_and_DevTools_-_github_com_typelevel_cats-effect_issues_3295" src="https://user-images.githubusercontent.com/173132/204885626-99c822ef-14ab-45e8-9a6b-8f9a2b641225.png">

This was taken when system clock is Wed Nov 30 2:00 PM EST.

[2022-11-30 19:04] armanbilge commented on #3295
I see, thanks, that's helpful 🤔

[2022-11-30 19:08] matthughes commented on #3295
It is possible that putting your laptop to sleep causes this.  With newly opened browser (not just tab, but quit and reopen browser)

[code]

would be very close to zero.  I then put my laptop to sleep and upon waking, I now see much higher numbers.

https://stackoverflow.com/questions/73778224/performance-timeorigin-returning-a-date-in-the-past seems relevant.

[2022-11-30 19:09] matthughes commented on #3295
And the Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1365808&q=timeOrigin&can=2

[2022-11-30 19:11] matthughes commented on #3295
Looks like they are going to revert the change but it hasn't hit Chrome release train yet.

[2022-11-30 19:13] matthughes commented on #3295
Is there a way we could write a unit test in CE to verify the system is behaving as expected?  Are the CE tests run just on node or also in a browser?

[2022-11-30 19:16] armanbilge commented on #3295
There is a test for it here.
https://github.com/typelevel/cats-effect/blob/4eba1a7317ef36d48727f9d9168cc6ecf1c78920/tests/js/src/test/scala/cats/effect/unsafe/SchedulerSpec.scala#L39-L44

It's one of a handful of specs we run on browsers.
https://github.com/typelevel/cats-effect/blob/4eba1a7317ef36d48727f9d9168cc6ecf1c78920/project/CI.scala#L78-L109

[2022-11-30 19:24] matthughes commented on #3295
Very cool.  Would be neat to run in Chrome too but I doubt it would catch anything.

What is the benefit of using the performance API vs `Date.now()`?

[2022-11-30 19:26] armanbilge commented on #3295
It runs in both Chrome and Firefox, you might need to scroll the code box :)

I made the changes in https://github.com/typelevel/cats-effect/pull/2895 so we can have high-precision time. In retrospect I am not sure if it was worth it, at least in browsers.

[2022-11-30 23:01] sbuzzard commented on #3295
Thanks for looking at, Arman.  Matt beat me to it with the chrome issue data.  Solution is to never put your laptop to sleep.  Tim Cook would give the thumbs up to that I'm sure.